<div class="grid grid-cols-1 mt-5">
  <div class="mb-5 border border-slate-200 shadow-md rounded-xl">
    <div class="bg-blue-500 rounded-t-xl p-3 text-white font-semibold flex justify-between">
      <div class="pt-1">Update Population</div>
      <div>
        <select name="selected_year" id="selected_year" [(ngModel)]="selected_year" (change)="reloadData()" class="border border-slate rounded-md text-sm py-1 text-gray-800 w-28">
          <option *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select>
      </div>
    </div>

    <div class="h-[400px] overflow-y-auto overflow-x-auto">
      <table class="table-fixed w-full" *ngIf="show_form">
        <thead>
          <tr class="border-b border-slate-200 bg-gray-100 text-xs sticky top-0">
            <th class="w-36 h-12">BRGY NAME <br />(CODE)</th>
            <th class="w-24">YEAR</th>
            <th class="w-36">POPULATION</th>
            <th class="w-36">OPT</th>
            <th class="w-36">WRA</th>
            <th class="w-36">HOUSEHOLD</th>
            <th class="w-36">ZOD</th>
          </tr>
        </thead>
        <tbody *ngIf="catchment_barangays[selected_year]">
          <tr class="mb-2 border-b border-slate-100" *ngFor="let barangay of catchment_barangays[selected_year].data; let i = index">
            <td class="px-3 text-center">
              <span class="font-semibold">{{ barangay.barangay.name }}</span><br />
              <span class="italic">({{ barangay.barangay.code }})</span>
            </td>
            <td class="text-center">{{ barangay.year }}</td>
            <td>
              <input class="w-36" type="number" [(ngModel)]="catchment_barangays[selected_year].data[i]['population']" class="input" />
            </td>
            <td>
              <input class="w-36" type="number" [(ngModel)]="catchment_barangays[selected_year].data[i]['population_opt']" class="input" />
            </td>
            <td>
              <input class="w-36" type="number" [(ngModel)]="catchment_barangays[selected_year].data[i]['population_wra']" class="input" />
            </td>
            <td>
              <input class="w-36" type="number" [(ngModel)]="catchment_barangays[selected_year].data[i]['household']" class="input" />
            </td>
            <td class="flex justify-center pt-3">
              <input type="checkbox" [(ngModel)]="catchment_barangays[selected_year].data[i]['zod']" class="input-checkbox" />
            </td>
          </tr>
          <tr *ngIf="catchment_barangays[selected_year].data.length === 0">
            <td colspan="6" class="text-center italic py-5">No records to show</td>
          </tr>
        </tbody>
      </table>

      <div class="grid grid-cols-1 mt-20" *ngIf="!show_form">
        <div class="flex justify-center text-blue-500 text-xl">
          <fa-icon [icon]="faCircleNotch" spin="true"></fa-icon>
        </div>
        <div class="flex justify-center">
          Loading...
        </div>
      </div>
    </div>

    <div class="rounded-b-xl p-3 text-end border-t border-slate-300" *ngIf="catchment_barangays[selected_year] && catchment_barangays[selected_year].data.length > 0">
      <button [disabled]="is_saving || !show_form" type="button" class="btn-save" (click)="onSubmit()">
        <fa-icon [icon]="is_saving ? faCircleNotch : faSave" [spin]="is_saving" class="pr-2"></fa-icon>
        {{ is_saving ? 'Updating' : 'Update' }}
      </button>
    </div>
  </div>

  <div class="border border-slate-200 shadow-md rounded-xl">
    <div class="bg-blue-500 rounded-t-xl p-3 text-white font-semibold">
      Catchment Population
    </div>

    <div class="overflow-y-auto overflow-x-auto">
      <table *ngIf="show_pop" class="table-fixed w-full">
        <thead>
          <tr class="border-b border-slate-200 bg-gray-100 text-xs">
            <th class="w-20">YEAR</th>
            <th class="w-20">POPULATION</th>
            <th class="w-20">OPT</th>
            <th class="w-20">WRA</th>
            <th class="w-20">HOUSEHOLD</th>
            <th class="w-44">BARANGAY LIST</th>
            <th class="w-12">ACTION</th>
          </tr>
        </thead>
        <tbody>
          <tr class="mb-2 border-b border-slate-100" *ngFor="let barangay of catchment_population | keyvalue">
            <td class="px-3 text-center">
              <span class="font-semibold">{{ barangay.key }}</span><br />
            </td>
            <td class="text-center">{{ barangay.value.total_population }}</td>
            <td class="text-center">{{ barangay.value.total_population_opt }}</td>
            <td class="text-center">{{ barangay.value.total_population_wra }}</td>
            <td class="text-center">{{ barangay.value.total_household }}</td>
            <td>
              <span *ngFor="let barangay_item of barangay.value.data; let last = last">
                {{ barangay_item.barangay.name }}{{ !last ? ', ' : '' }}
              </span>
            </td>
            <td class="text-center">
              <fa-icon [icon]="faEdit" *ngIf="selected_year !== barangay.key" class="text-orange-500 hover:cursor-pointer" (click)="editPop(barangay.key)"></fa-icon>
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="!show_pop" class="grid grid-cols-1 my-20">
        <div class="flex justify-center text-blue-500">
          <fa-icon [icon]="faCircleNotch" spin="true"></fa-icon>
        </div>
        <div class="flex justify-center">
          Loading...
        </div>
      </div>
    </div>
  </div>
</div>


