<div>
<div class="grid grid-cols-12 flex item-start flex-wrap shadow-md rounded-xl mb-8 mt-8 overflow-y-auto">

  <div class="col-span-12 flex bg-blue-500 px-5 py-3 rounded-tl rounded-tr">
    <h4 class="font-bold text-white text-md mt-2 mb-2">Personal Information</h4> 
    <div class="">
      <fa-icon [icon]="faInfoCircle" class="peer text-white hover:text-white z-50 px-2"></fa-icon>
      <div
          class="absolute text-sm bg-gradient-to-b from-stone-500 to-gray-400 p-2 rounded border border-gray-500  text-white drop-shadow-lg opacity-90 border-check z-50 w-60 invisible peer-hover:visible">
          <h1 class="font-bold drop-shadow-lg">IMPORTANT</h1>
          <p class="font-light drop-shadow-lg">Once saved, the information will be displayed in the input boxes
              and shall not be editable unless Edit button is pressed.</p>
      </div>
  </div>
  </div>

  <div class="text-sm col-start-1 col-span-4 px-5 mt-4 mb-6">
    <h4 class="mb-2 text-blue-500">Number of Children:</h4>
    <input class="text-sm text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="number" name="text" formControlName="meds" required="true">
</div>

</div>

<div class="grid grid-cols-12 flex item-start flex-wrap shadow-md rounded-xl mb-8 mt-8">

  <div class="col-span-12 row-start-1 flex bg-blue-500 px-5 py-3 rounded-tl rounded-tr">
    <h4 class="font-bold text-white text-md mt-2 mb-2">History Taking</h4> 
    <div class="py-2">
      <fa-icon [icon]="faInfoCircle" class="peer text-white hover:text-white z-50 px-2"></fa-icon>
      <div
          class="absolute text-sm bg-gradient-to-b from-stone-500 to-gray-400 p-2 rounded border border-gray-500  text-white drop-shadow-lg opacity-90 border-check z-50 w-60 invisible peer-hover:visible">
          <h1 class="font-bold drop-shadow-lg">IMPORTANT</h1>
          <p class="font-light drop-shadow-lg">Once saved, the information will be displayed in the input boxes
              and shall not be editable unless Edit button is pressed.</p>
      </div>
  </div>
  </div>

  <div class="col-start-1 col-span-4 row-start-2 mt-4 px-5">
    <h4 class="mb-4 font-bold">A. OB-GYNE History</h4>
    <h4 class="mb-4 font-bold">Menstrual History:</h4>
  </div>

  <div class="col-start-1 col-span-4 row-start-3 px-5 mb-6">
    <h4 class="mb-2 text-sm">Menarche</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="number" name="text" required="true">
  </div>

  <div class="col-start-5 col-span-4 row-start-3 px-5 mb-6">
    <h4 class="mb-2 text-sm">LMP</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="number" name="text" required="true">
  </div>

  <div class="col-start-9 col-span-4 row-start-3 px-5 mb-6">
    <h4 class="mb-2 text-sm">AOG</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="number" name="text" required="true">
  </div>

  <div class="col-start-1 col-span-4 row-start-4 px-5 mb-6">
    <h4 class="mb-2 text-sm">Menstrual Bleeding Pattern</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="number" name="text" required="true">
  </div>

  <div class="col-start-5 col-span-4 row-start-4 px-5 mb-6">
    <h4 class="mb-2 text-sm">Number of Pads per Day</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="number" name="text" required="true">
  </div>

  <!--border-->
  <div class="col-start-1 col-span-12 row-start-5 border-b-2 border-gray-300 mt-2 mb-2"></div>

  <div class="col-start-1 col-span-4 row-start-6 mt-4 px-5">
    <h4 class="mb-4 font-bold">Pregnancy History:</h4>
  </div>

  <div class="col-start-1 col-span-4 row-start-7 px-5 mb-6">
    <h4 class="mb-2 text-sm">Gravidity</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="number" name="text" required="true">
  </div>

  <div class="col-start-5 col-span-4 row-start-7 px-5 mb-6">
    <h4 class="mb-2 text-sm">Parity</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="number" name="text" required="true">
  </div>

  <div class="col-start-9 col-span-4 row-start-7 px-5 mb-6">
    <h4 class="mb-2 text-sm">Full-Term</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="number" name="text" required="true">
  </div>

  <div class="col-start-1 col-span-4 row-start-8 px-5 mb-6">
    <h4 class="mb-2 text-sm">Pre-Term</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="number" name="text" required="true">
  </div>

  <div class="col-start-5 col-span-4 row-start-8 px-5 mb-6">
    <h4 class="mb-2 text-sm">Abortion</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="number" name="text" required="true">
  </div>

  <div class="col-start-9 col-span-4 row-start-8 px-5 mb-6">
    <h4 class="mb-2 text-sm">Live Births</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="number" name="text" required="true">
  </div>

  <div class="col-start-1 col-span-4 row-start-9 px-5 mb-6">
    <h4 class="mb-2 text-sm">Age at full-term pregnancy (high risk if below 17 years old)</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="number" name="text" required="true">
  </div>

  <!--border-->
  <div class="col-start-1 col-span-12 row-start-10 border-b-2 border-gray-300 mt-2 mb-2"></div>


  <div class="col-start-1 col-span-6 row-start-11 mt-4 px-5">
    <h4 class="mb-4 font-bold">Oral Contraceptives Use (Duration):</h4>
  </div>

  <div class="col-start-1 col-span-6 row-start-12 px-5 mb-6">
    <h4 class="mb-2 text-sm">Number of Years</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="number" name="text" required="true">
  </div>

  <div class="col-start-7 col-span-6 row-start-12 px-5 mb-6">
    <h4 class="mb-2 text-sm">Number of Months</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="number" name="text" required="true">
  </div>

  <!--border-->
  <div class="col-start-1 col-span-12 row-start-13 border-b-2 border-gray-300 mt-2 mb-2"></div>

  <div class="col-start-1 col-span-8 row-start-14 mt-4 px-5">
    <h4 class="mb-4 font-bold">History of Previous Cervical Cancer Screening:</h4>
  </div>

  <div class="col-start-1 col-span-4 row-start-15 px-5 mb-6">
    <h4 class="mb-2 text-sm">History of Previous Screening</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="number" name="text" required="true">
  </div>

  <div class="col-start-5 col-span-4 row-start-15 px-5 mb-6">
    <h4 class="mb-2 text-sm">VIA Result</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="number" name="text" required="true">
  </div>

  <div class="col-start-9 col-span-4 row-start-15 px-5 mb-6">
    <h4 class="mb-2 text-sm">Pap Smear Result</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="number" name="text" required="true">
  </div>

  <!--border-->
  <div class="col-start-1 col-span-12 row-start-16 border-b-2 border-gray-300 mt-2 mb-2"></div>

  <div class="col-start-1 col-span-8 row-start-17 mt-4 px-5">
    <h4 class="mb-2 font-bold">History of Abnormal Vaginal Discharge:</h4>
  </div>

  <div class="col-start-1 col-span-4 row-start-18 px-5 mb-6">
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="number" name="text" required="true">
  </div>

  <!--border-->
  <div class="col-start-1 col-span-12 row-start-19 border-b-2 border-gray-300 mt-2 mb-2"></div>

  <div class="col-start-1 col-span-8 row-start-20 mt-4 px-5">
    <h4 class="mb-2 font-bold">History of Abnormal Vaginal Bleeding:</h4>
  </div>

  <div class="col-start-1 col-span-4 row-start-21 mt-4 mb-6 px-5">
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="number" name="text" required="true">
  </div>

  <!--border-->
  <div class="col-start-1 col-span-12 row-start-22 border-b-2 border-gray-300 mt-2 mb-2"></div>

  <div class="col-start-1 col-span-4 row-start-23 mt-4 px-5">
    <h4 class="mb-4 font-bold">B. Sexual History</h4>
  </div>

  <div class="col-start-1 col-span-4 row-start-24 px-5 mb-6">
    <h4 class="mb-2 text-sm">Age at First Intercourse</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="number" name="text" required="true">
  </div>

  <div class="col-start-5 col-span-4 row-start-25 px-5 mb-6">
    <h4 class="mb-2 text-sm">Number of Sexual Partners</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="number" name="text" required="true">
  </div>

  <div class="col-start-9 col-span-4 row-start-25 px-5 mb-6">
    <h4 class="mb-2 text-sm">Spouse / Partner / s</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="number" name="text" required="true">
  </div>

  <!--border-->
  <div class="col-start-1 col-span-12 row-start-26 border-b-2 border-gray-300 mt-2 mb-2"></div>

  <div class="col-start-1 col-span-4 row-start-27 mt-4 px-5">
    <h4 class="mb-4 font-bold">STI History:</h4>
  </div>

  <div class="col-start-1 col-span-4 row-start-28 px-5 mb-6">
    <h4 class="mb-2 text-sm">Client</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="number" name="text" required="true">
    
  </div>

  <div class="col-start-5 col-span-8 row-start-28 px-5 mb-6">
    <h4 class="mb-2 text-sm">Specify</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="text" placeholder="Please Specify" name="text" required="true">
  </div>


  <div class="col-start-1 col-span-4 row-start-29 px-5 mb-6">
    <h4 class="mb-2 text-sm">Any of Spouse / Partner / s</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="number" name="text" required="true">
    
  </div>

  <div class="col-start-5 col-span-8 row-start-29 px-5 mb-6">
    <h4 class="mb-2 text-sm">Specify</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="text" placeholder="Please Specify" name="text" required="true">
  </div>

  <!--border-->
  <div class="col-start-1 col-span-12 row-start-30 border-b-2 border-gray-300 mt-2 mb-2"></div>

  <div class="col-start-1 col-span-4 row-start-31 mt-4 px-5">
    <h4 class="mb-4 font-bold">C. Family and Social History</h4>
  </div>

  <div class="col-start-1 col-span-4 row-start-32 px-5 mb-6">
    <h4 class="mb-2 text-sm">Smoking</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="number" name="text" required="true">
    
  </div>

  <div class="col-start-5 col-span-4 row-start-32 px-5 mb-6">
    <h4 class="mb-2 text-sm">Year Started</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="text" placeholder="Please Specify" name="text" required="true">
  </div>

  <div class="col-start-9 col-span-4 row-start-32 px-5 mb-6">
    <h4 class="mb-2 text-sm">Number of Cigarettes / Day</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="text" placeholder="Please Specify" name="text" required="true">
  </div>

  <div class="col-start-1 col-span-4 row-start-33 px-5 mb-6">
    <h4 class="mb-2 text-sm">Family History of Cancer</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="number" name="text" required="true">
    
  </div>

  <div class="col-start-5 col-span-4 row-start-33 px-5 mb-6">
    <h4 class="mb-2 text-sm">Year Started</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="text" placeholder="Please Specify" name="text" required="true">
  </div>

  <!--border-->
  <div class="col-start-1 col-span-12 row-start-34 border-b-2 border-gray-300 mt-2 mb-2"></div>

  <div class="col-start-1 col-span-4 row-start-35 mt-4 px-5">
    <h4 class="mb-4 font-bold">D. Medical History</h4>
  </div>

  <div class="col-start-1 col-span-4 row-start-36 px-5 mb-6">
    <h4 class="mb-2 text-sm">Current Medication</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="number" name="text" required="true">
    
  </div>

  <div class="col-start-5 col-span-8 row-start-36 px-5 mb-6">
    <h4 class="mb-2 text-sm">Specify</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="text" placeholder="Please Specify" name="text" required="true">
  </div>

  <div class="col-start-1 col-span-4 row-start-36 px-5 mb-6">
    <h4 class="mb-2 text-sm">Allergies</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="number" name="text" required="true">
    
  </div>

  <div class="col-start-5 col-span-8 row-start-36 px-5 mb-6">
    <h4 class="mb-2 text-sm">Specify</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="text" placeholder="Please Specify" name="text" required="true">
  </div>

  <div class="col-start-1 col-span-4 row-start-36 px-5 mb-6">
    <h4 class="mb-2 text-sm">Abdominal Surgery</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="number" name="text" required="true">
    
  </div>

  <div class="col-start-5 col-span-8 row-start-36 px-5 mb-6">
    <h4 class="mb-2 text-sm">Specify</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="text" placeholder="Please Specify" name="text" required="true">
  </div>

  </div>

  <div class="grid grid-cols-12 flex item-start flex-wrap shadow-md rounded-xl mb-8 mt-8">

    <div class="col-span-12 row-start-1 flex bg-blue-500 px-5 py-3 rounded-tl rounded-tr">
      <h4 class="font-bold text-white text-md mt-2 mb-2">Physical Examination</h4> 
      <div class="">
        <fa-icon [icon]="faInfoCircle" class="peer text-white hover:text-white z-50 px-2"></fa-icon>
        <div
            class="absolute text-sm bg-gradient-to-b from-stone-500 to-gray-400 p-2 rounded border border-gray-500  text-white drop-shadow-lg opacity-90 border-check z-50 w-60 invisible peer-hover:visible">
            <h1 class="font-bold drop-shadow-lg">IMPORTANT</h1>
            <p class="font-light drop-shadow-lg">Once saved, the information will be displayed in the input boxes
                and shall not be editable unless Edit button is pressed.</p>
        </div>
    </div>
    </div>

  

    <div class="col-start-1 col-span-4 row-start-3 mt-4 px-5">
      <h4 class="mb-2 font-bold">Pelvic - Bimanual Exam:</h4>
    </div>

    <div class="col-start-1 col-span-4 w-full row-start-4 px-5 mt-2 mb-4">
      <h1 class="mb-1 text-sm">Size:</h1>
      <select class="text-sm bg-white border border-gray-200 p-2.5 rounded w-full" ng-model="vm.ncd.family_hx_hypertension" name="family_hx_hypertension">
      <option ng-value="sizes.desc" *ngFor="let sizes of size" [selected]="sizes.desc == 'Small'">
      {{sizes.desc}}
      </option>    
      </select>
    </div>

    <div class="col-start-5 col-span-4 w-full row-start-4 px-5 mt-2 mb-4">
      <h1 class="mb-1 text-sm">Shape:</h1>
      <select class="text-sm bg-white border border-gray-200 p-2.5 rounded w-full" ng-model="vm.ncd.family_hx_hypertension" name="family_hx_hypertension">
      <option ng-value="shapes.desc" *ngFor="let shapes of shape" [selected]="shapes.desc == 'Small'">
      {{shapes.desc}}
      </option>    
      </select>
    </div>

    <div class="col-start-9 col-span-4 w-full row-start-4 px-5 mt-2 mb-4">
      <h1 class="mb-1 text-sm">Position:</h1>
      <select class="text-sm bg-white border border-gray-200 p-2.5 rounded w-full" ng-model="vm.ncd.family_hx_hypertension" name="family_hx_hypertension">
      <option ng-value="positions.desc" *ngFor="let positions of position" [selected]="positions.desc == 'Small'">
      {{positions.desc}}
      </option>    
      </select>
    </div>

    <div class="col-start-1 col-span-4 w-full row-start-5 px-5 mt-2 mb-4">
      <h1 class="mb-1 text-sm">Cervical Motion Tenderness:</h1>
      <select class="text-sm bg-white border border-gray-200 p-2.5 rounded w-full" ng-model="vm.ncd.family_hx_hypertension" name="family_hx_hypertension">
      <option ng-value="questions.desc" *ngFor="let questions of question" [selected]="questions.desc == 'Small'">
      {{questions.desc}}
      </option>    
      </select>
    </div>

    <div class="col-start-5 col-span-4 w-full row-start-5 px-5 mt-2 mb-4">
      <h1 class="mb-1 text-sm">Adnexal Massess or Tenderness:</h1>
      <select class="text-sm bg-white border border-gray-200 p-2.5 rounded w-full" ng-model="vm.ncd.family_hx_hypertension" name="family_hx_hypertension">
      <option ng-value="questions.desc" *ngFor="let questions of question" [selected]="questions.desc == 'Small'">
      {{questions.desc}}
      </option>    
      </select>
    </div>

    <div class="col-start-9 col-span-4 row-start-5 px-5 mt-2 mb-4">
      <h4 class="mb-1 text-sm">Recto-Vaginal</h4>
      <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
              type="text" placeholder="If bimanual is confusing write here." name="text" required="true">
    </div>
  
  </div>

  <div class="grid grid-cols-12 flex item-start flex-wrap shadow-md rounded-xl mb-8 mt-8">

    <div class="col-span-12 row-start-1 flex bg-blue-500 px-5 py-3 rounded-tl rounded-tr">
      <h4 class="font-bold text-white text-md mt-2 mb-2">Screening Results</h4> 
      <div class="">
        <fa-icon [icon]="faInfoCircle" class="peer text-white hover:text-white z-50 px-2"></fa-icon>
        <div
            class="absolute text-sm bg-gradient-to-b from-stone-500 to-gray-400 p-2 rounded border border-gray-500  text-white drop-shadow-lg opacity-90 border-check z-50 w-60 invisible peer-hover:visible">
            <h1 class="font-bold drop-shadow-lg">IMPORTANT</h1>
            <p class="font-light drop-shadow-lg">Once saved, the information will be displayed in the input boxes
                and shall not be editable unless Edit button is pressed.</p>
        </div>
    </div>
    </div>

    <div class="col-start-1 col-span-4 w-full row-start-2 px-5 mt-4 mb-6">
      <h1 class="mb-2 text-sm">VIA Findings:</h1>
      <select class="text-sm bg-white border border-gray-200 p-2.5 rounded w-full" ng-model="vm.ncd.family_hx_hypertension" name="family_hx_hypertension">
      <option ng-value="papsmears.desc" *ngFor="let papsmears of papsmear" [selected]="papsmears.desc == 'Small'">
      {{papsmears.desc}}
      </option>    
      </select>
    </div>

    <div class="col-start-5 col-span-4 w-full row-start-2 px-5 mt-4 mb-6">
      <h1 class="mb-2 text-sm">Pap Smear Result:</h1>
      <select class="text-sm bg-white border border-gray-200 p-2.5 rounded w-full" ng-model="vm.ncd.family_hx_hypertension" name="family_hx_hypertension">
      <option ng-value="papsmears.desc" *ngFor="let papsmears of papsmear" [selected]="papsmears.desc == 'Small'">
      {{papsmears.desc}}
      </option>    
      </select>
    </div>

  </div>

  <div class="grid grid-cols-12 flex item-start flex-wrap shadow-md rounded-xl mb-8 mt-8">

    <div class="col-span-12 row-start-1 flex bg-blue-500 px-5 py-3 rounded-tl rounded-tr">
      <h4 class="font-bold text-white text-md mt-2 mb-2">Counselling Given</h4> 
      <div class="">
        <fa-icon [icon]="faInfoCircle" class="peer text-white hover:text-white z-50 px-2"></fa-icon>
        <div
            class="absolute text-sm bg-gradient-to-b from-stone-500 to-gray-400 p-2 rounded border border-gray-500  text-white drop-shadow-lg opacity-90 border-check z-50 w-60 invisible peer-hover:visible">
            <h1 class="font-bold drop-shadow-lg">IMPORTANT</h1>
            <p class="font-light drop-shadow-lg">Once saved, the information will be displayed in the input boxes
                and shall not be editable unless Edit button is pressed.</p>
        </div>
    </div>
    </div>

    <div class="col-start-1 col-span-12 row-start-5 px-5 mt-4 mb-4">
      <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
              type="text" placeholder="Write here." name="text" required="true">
    </div>

  </div>

  <div class="grid grid-cols-12 flex item-start flex-wrap shadow-md rounded-xl mb-8 mt-8">

    <div class="col-span-12 row-start-1 flex bg-blue-500 px-5 py-3 rounded-tl rounded-tr">
      <h4 class="font-bold text-white text-md mt-2 mb-2">Treatment and Other Care Given</h4> 
      <div class="">
        <fa-icon [icon]="faInfoCircle" class="peer text-white hover:text-white z-50 px-2"></fa-icon>
        <div
            class="absolute text-sm bg-gradient-to-b from-stone-500 to-gray-400 p-2 rounded border border-gray-500  text-white drop-shadow-lg opacity-90 border-check z-50 w-60 invisible peer-hover:visible">
            <h1 class="font-bold drop-shadow-lg">IMPORTANT</h1>
            <p class="font-light drop-shadow-lg">Once saved, the information will be displayed in the input boxes
                and shall not be editable unless Edit button is pressed.</p>
        </div>
    </div>
    </div>

    <div class="col-start-1 col-span-12 row-start-5 px-5 mt-4 mb-4">
      <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
              type="text" placeholder="Write here." name="text" required="true">
    </div>

  </div>

  <div class="grid grid-cols-12 flex item-start flex-wrap shadow-md rounded-xl mb-4 mt-8">

    <div class="col-span-12 row-start-1 flex bg-blue-500 px-5 py-3 rounded-tl rounded-tr">
      <h4 class="font-bold text-white text-md mt-2 mb-2">Referral</h4> 
      <div class="">
        <fa-icon [icon]="faInfoCircle" class="peer text-white hover:text-white z-50 px-2"></fa-icon>
        <div
            class="absolute text-sm bg-gradient-to-b from-stone-500 to-gray-400 p-2 rounded border border-gray-500  text-white drop-shadow-lg opacity-90 border-check z-50 w-60 invisible peer-hover:visible">
            <h1 class="font-bold drop-shadow-lg">IMPORTANT</h1>
            <p class="font-light drop-shadow-lg">Once saved, the information will be displayed in the input boxes
                and shall not be editable unless Edit button is pressed.</p>
        </div>
    </div>
    </div>

    <div class="col-start-1 col-span-12 row-start-5 px-5 mt-4 mb-4">
      <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
              type="text" placeholder="Write here." name="text" required="true">
    </div>

  </div>