// .border-check{border: 1px dashed rgb(255, 0, 0);}

// .transitions{
//     height: 5rem;
//     transition: all 1000ms;
// }

input{
    padding-right: 12px;
    padding-left: 12px;
    height: 2.25rem;
    width: 100%;
}

.icon-height{
    height: 2.25rem;
}

.colButton{
    // height: 50px;
    padding-bottom: -500px;
}

h3{
    color: rgb(92, 92, 92);
    padding-top: .15rem;
    padding-bottom: .25rem;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    font-weight: 700;
}