<div class="flex w-full justify-center">
  <div class="w-2/6 rounded-lg mt-36">
    <div class="flex text-gray-700 text-xl font-semibold p-5 justify-center">
      {{ is_updated ? 'Password changed' : 'Change Password'}}
    </div>
    <div *ngIf="!is_updated" class="flex text-gray-700">
      <div class="p-5 w-full">
        <span >Create new password</span>
        <!-- <span></span> -->
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" >
          <div class="mt-5">
            <label for="password" class="input-label" [ngClass]="{'text-red-500': is_saving && f.password.errors}">Password</label>
              <div class="relative rounded-md">
                <input [type]="show_pass ? 'text' : 'password'" name="password" id="password" tabindex="1" class="input" [ngClass]="{'invalid-input': is_saving && f.password.errors}" formControlName="password">
                <button (click)="show_pass = !show_pass" class="absolute inset-y-0 right-0 flex items-center pr-2 text-gray-500" type="button">
                  <fa-icon [icon]="show_pass ? faEyeSlash : faEye"></fa-icon>
                </button>
              </div>
              <div *ngIf="!is_saving ">
                <ol class="list-disc pl-5 text-sm">
                  <li>Password must have at least 6 characters</li>
                  <li>Password must have at least 1 capital letter</li>
                  <li>Password must have at least 1 small letter</li>
                  <li>Password must have at least 1 number</li>
                  <li>Password must have at least 1 special character</li>
                </ol>
              </div>

              <div *ngIf="is_saving && f.password.errors" class="invalid-alert">
                <div *ngIf="f.password.errors?.['required']">
                  {{ required_message }}
                </div>
                <div *ngIf="f.password.errors?.['pattern']">
                  <ol class="list-disc pl-5 text-sm">
                    <li>Password must have at least 6 characters</li>
                    <li>Password must have at least 1 capital letter</li>
                    <li>Password must have at least 1 small letter</li>
                    <li>Password must have at least 1 number</li>
                    <li>Password must have at least 1 special character</li>
                  </ol>
                </div>
              </div>
          </div>

          <div>
            test {{passwordMatchError}} {{userForm.invalid}} {{!f.password_confirmation.dirty}}
            <label for="password_confirmation" class="input-label" [ngClass]="{'text-red-500': is_saving && f.password_confirmation.errors}">Password Confirmation</label>
              <input [type]="show_pass ? 'text' : 'password'" name="password_confirmation" id="password_confirmation" tabindex="2" class="input" [ngClass]="{'invalid-input': is_saving && f.password_confirmation.errors}" formControlName="password_confirmation">

              <div *ngIf="passwordMatchError" class="invalid-alert">
                <div>
                  Password does not match
                </div>
              </div>

              <div *ngIf="is_saving && f.password_confirmation.errors" class="invalid-alert">
                <div *ngIf="f.password_confirmation.errors?.['required']">
                  {{ required_message }}
                </div>
              </div>
          </div>
          <div *ngIf="submit_errors" class="bg-red-200 p-2 w-full rounded-md border border-red-300 text-sm mt-5">
            <ul class="list-disc pl-5">
              <li *ngFor="let error of submit_errors | keyvalue">{{ error.key }}: {{ error.value }}</li>
            </ul>
          </div>

          <div class="w-full pt-3">
            <button [disabled]="passwordMatchError || userForm.invalid || !f.password_confirmation.dirty" tabindex="3" type="submit" class="btn-save w-full disabled:bg-gray-400">
              <fa-icon *ngIf="is_saving" class="pr-2" [icon]="faSpinner" animation="spin"></fa-icon>
              {{ is_saving ? 'Updating' : 'Change password'}} </button>
          </div>
        </form>
      </div>
    </div>

    <div *ngIf="is_updated" class="grid grid-cols-1 text-gray-700 justify-center">
      <div *ngIf="!attempt_error" class="flex justify-center">
        <span>Your password was successfully updated! Attempting to login... </span>
        <fa-icon class="pl-2 text-blue-500 font-semibold" [icon]="faSpinner" animation="spin"></fa-icon>
      </div>

      <div *ngIf="attempt_error" class="flex justify-center">
        Login attempt failed. Try login in using the login page.
      </div>

      <div class="flex justify-center mt-3">
        <button type="button" class="btn-save" (click)="backToLogin()">
          <fa-icon class="pr-2" [icon]="faArrowLeft"></fa-icon>
          Back to login</button>
      </div>
    </div>
  </div>
</div>
