<span class="flex justify-between align-middle bg-blue-500 w-full p-2 font-semibold text-sm mb-1 text-white">
  <span class="py-1">VISIT DETAILS</span>
  <button type="button" class="px-2 py-1 bg-slate-50 text-gray-700 rounded-lg" (click)="openVisit(selected_visit)">
    <!-- <fa-icon [icon]="faEye" class="text-gray-700 text-lg"></fa-icon> -->
    Open
  </button>
</span>
<div >
  <div class="flex mx-2 text-sm">
    <span class="flex-1 text-left font-semibold">
      Date
    </span>
    <span class="flex-1 text-right">
      {{ selected_visit?.consult_date | date: 'MM/dd/yyyy hh:mm:ss a'}}
    </span>
  </div>
  <div class="flex mx-2 text-sm">
    <span class="flex-1 text-left font-semibold">
      Assessed By
    </span>
    <span class="flex-1 text-right">
      <span *ngIf="selected_visit?.user">{{ selected_visit?.user?.last_name+', ' }} {{ selected_visit?.user?.first_name }} {{ selected_visit?.user?.middle_name === 'NA' ? '' : selected_visit?.user?.middle_name }} {{ selected_visit?.user?.suffix_name === 'NA' ? '' : selected_visit?.user?.suffix_name }}</span>
    </span>
  </div>
  <div class="flex mx-2 text-sm">
    <span class="flex-1 text-left font-semibold">
      Physician
    </span>
    <span class="flex-1 text-right">
      <span *ngIf="selected_visit?.physician">{{ selected_visit?.physician?.last_name+', ' }} {{ selected_visit?.physician?.first_name }} {{ selected_visit?.physician?.middle_name === 'NA' ? '' : selected_visit?.physician?.middle_name }} {{ selected_visit?.physician?.suffix_name === 'NA' ? '' : selected_visit?.physician?.suffix_name }}</span>
    </span>
  </div>

  <div class="flex mx-2 mt-3 text-sm font-semibold">
      VITALS {{ latest_vitals?.vitals_date | date: 'MM/dd/yyyy' }}
  </div>

  <div class="block">
    <div class="flex pl-3 justify-between items-center">
      <span class="block font-medium text-xs">
        Weight
      </span>
      <span class="block text-xs">
        {{ latest_vitals?.patient_weight ? latest_vitals?.patient_weight+' kg' : '-' }}
      </span>
    </div>

    <div class="flex pl-3 justify-between items-center">
      <span class="block font-medium text-xs">
        {{ latest_vitals?.patient_weight_for_age || latest_vitals?.patient_height_for_age || latest_vitals?.patient_weight_for_height ? 'Length' : 'Height' }}
      </span>
      <span class="block text-xs">
        {{ latest_vitals?.patient_height ? latest_vitals?.patient_height+' cm' : '-' }}
      </span>
    </div>

    <div *ngIf="!latest_vitals?.patient_weight_for_age" class="flex pl-3 justify-between items-center" [ngClass]="{'text-red-500': latest_vitals?.patient_bmi ? (latest_vitals?.patient_bmi_class !== 'Normal') : false}">
      <span class="block font-medium text-xs" >
        BMI
      </span>
      <span class="block text-xs" >
        {{ latest_vitals?.patient_bmi ? latest_vitals?.patient_bmi : '-' }} {{ latest_vitals?.patient_bmi_class ? '('+latest_vitals?.patient_bmi_class+')' : '' }}
      </span>
    </div>

    <div *ngIf="latest_vitals?.patient_weight_for_age" class="flex pl-3 justify-between items-center" [ngClass]="{'text-red-500': latest_vitals?.patient_weight_for_age ? (latest_vitals?.patient_weight_for_age !== 'Normal') : false}">
      <span class="block font-medium text-xs" >
        Weight for age
      </span>
      <span class="block text-xs" >
        {{ latest_vitals?.patient_weight_for_age ? latest_vitals?.patient_weight_for_age : '' }}
      </span>
    </div>

    <div *ngIf="latest_vitals?.patient_height_for_age" class="flex pl-3 justify-between items-center" [ngClass]="{'text-red-500': latest_vitals?.patient_height_for_age ? (latest_vitals?.patient_height_for_age !== 'Normal') : false}">
      <span class="block font-medium text-xs" >
        Height for age
      </span>
      <span class="block text-xs" >
        {{ latest_vitals?.patient_height_for_age ? latest_vitals?.patient_height_for_age : '' }}
      </span>
    </div>

    <div *ngIf="latest_vitals?.patient_weight_for_height" class="flex pl-3 justify-between items-center" [ngClass]="{'text-red-500': latest_vitals?.patient_weight_for_height ? (latest_vitals?.patient_weight_for_height !== 'Normal') : false}">
      <span class="block font-medium text-xs" >
        Weight for Height
      </span>
      <span class="block text-xs" >
        {{ latest_vitals?.patient_weight_for_height ? latest_vitals?.patient_weight_for_height : '' }}
      </span>
    </div>

    <div class="flex pl-3 justify-between items-center">
      <span class="block font-medium text-xs">
        Blood Pressure
      </span>
      <span class="block text-xs">
        {{ latest_vitals?.bp_systolic ? latest_vitals?.bp_systolic+'/'+latest_vitals?.bp_diastolic : '-' }}
      </span>
    </div>

    <div class="flex pl-3 justify-between items-center" [ngClass]="{'text-red-500': latest_vitals?.patient_spo2 ? (latest_vitals?.patient_spo2 < 95) : false }">
      <span class="block font-medium text-xs">
        Blood Oxygen (SpO2)
      </span>
      <span class="block text-xs">
        {{ (latest_vitals?.patient_spo2 ? (latest_vitals?.patient_spo2 | number: '1.0-0')+' %' : '-') }}
      </span>
    </div>

    <div class="flex pl-3 justify-between items-center" [ngClass]="{'text-red-500': (latest_vitals?.patient_temp >= 37.6)}">
      <span class="block font-medium text-xs">
        Temperature
      </span>
      <span class="block text-xs">
        {{ latest_vitals?.patient_temp ? latest_vitals?.patient_temp + ' C': '-' }}
      </span>
    </div>

    <div class="flex pl-3 justify-between items-center">
      <span class="block font-medium text-xs">
        Heart Rate
      </span>
      <span class="block text-xs">
        {{ (latest_vitals?.patient_heart_rate ? (latest_vitals?.patient_heart_rate | number: '1.0-0' )  : '-') }}
      </span>
    </div>

    <div class="flex pl-3 justify-between items-center">
      <span class="block font-medium text-xs">
        Respiratory Rate
      </span>
      <span class="block text-xs">
        {{ (latest_vitals?.patient_respiratory_rate ? (latest_vitals?.patient_respiratory_rate | number: '1.0-0') : '-')}}
      </span>
    </div>

    <div class="flex pl-3 pb-5 justify-between items-center">
      <span class="block font-medium text-xs">
        Pulse Rate
      </span>
      <span class="block text-xs">
        {{ (latest_vitals?.patient_pulse_rate ? (latest_vitals?.patient_pulse_rate | number: '1.0-0') : '-') }}
      </span>
    </div>

    <div *ngIf="latest_vitals?.patient_head_circumference" class="flex pl-3 justify-between items-center">
      <span class="block font-medium text-xs" >
        Head Circumference
      </span>
      <span class="block text-xs" >
        {{ latest_vitals?.patient_head_circumference ? latest_vitals?.patient_head_circumference+' cm' : '' }}
      </span>
    </div>

    <div *ngIf="latest_vitals?.patient_muac" class="flex pl-3 justify-between items-center">
      <span class="block font-medium text-xs" >
        Mid-Upper Arm Circumference
      </span>
      <span class="block text-xs" >
        {{ latest_vitals?.patient_muac ? latest_vitals?.patient_muac+' cm' : '' }}
      </span>
    </div>


    <div *ngIf="latest_vitals?.patient_chest" class="flex pl-3 justify-between items-center">
      <span class="block font-medium text-xs" >
        Chest Circumference
      </span>
      <span class="block text-xs" >
        {{ latest_vitals?.patient_chest ? latest_vitals?.patient_chest+' cm' : '' }}
      </span>
    </div>

    <div *ngIf="latest_vitals?.patient_abdomen" class="flex pl-3 justify-between items-center">
      <span class="block font-medium text-xs" >
        Abdominal Circumference
      </span>
      <span class="block text-xs" >
        {{ latest_vitals?.patient_abdomen ? latest_vitals?.patient_abdomen+' cm' : '' }}
      </span>
    </div>

    <div *ngIf="latest_vitals?.patient_waist" class="flex pl-3 justify-between items-center">
      <span class="block font-medium text-xs">
        Waist Circumference
      </span>
      <span class="block text-xs">
        {{ latest_vitals?.patient_waist ? latest_vitals?.patient_waist+' cm' : '-' }}
      </span>
    </div>

    <div *ngIf="latest_vitals?.patient_hip" class="flex pl-3 justify-between items-center">
      <span class="block font-medium text-xs">
        Hip Circumference
      </span>
      <span class="block text-xs">
        {{ latest_vitals?.patient_hip ? latest_vitals?.patient_waist+' cm' : '-' }}
      </span>
    </div>

    <div *ngIf="latest_vitals?.patient_limbs" class="flex pl-3 justify-between items-center">
      <span class="block font-medium text-xs" >
        Limbs Circumference
      </span>
      <span class="block text-xs" >
        {{ latest_vitals?.patient_limbs ? latest_vitals?.patient_limbs+' cm' : '' }}
      </span>
    </div>

    <div *ngIf="latest_vitals?.patient_skinfold_thickness" class="flex pl-3 justify-between items-center">
      <span class="block font-medium text-xs" >
        Skinfold Thickness
      </span>
      <span class="block text-xs" >
        {{ latest_vitals?.patient_skinfold_thickness ? latest_vitals?.patient_skinfold_thickness+' cm' : '' }}
      </span>
    </div>
  </div>

  <div class="flex mx-2 mt-3 text-sm font-semibold">
    CHIEF COMPLAINT
  </div>
  <div class="grid grid-cols-1 mx-2 ml-4 text-sm">
    <span class="flex-1 text-left">
      <span class="font-semibold">Notes:</span> {{ selected_visit?.consult_notes.complaint }}
    </span>
    <ul class="list-disc">
      <li class="ml-5" *ngFor="let complaint of selected_visit?.consult_notes.complaints">
        {{ complaint.lib_complaints.complaint_desc }}
      </li>
    </ul>
  </div>

  <div class="flex mx-2 mt-3 text-sm font-semibold">
    HISTORY OF CURRENT ILLNESS
  </div>
  <div class="flex mx-2 ml-4 text-sm">
    <span class="flex-1 text-left">
      {{ selected_visit?.consult_notes.history }}
    </span>
  </div>

  <div>
    <div class="flex mx-2 mt-3 text-sm font-semibold">
      DIAGNOSIS
    </div>
    <div class="grid grid-cols-2 mx-2 ml-4 text-sm mb-5 pb-5 border-b border-slate-200">
      <span class="col-span-1 text-left">
        Initial
      </span>
      <div class="col-span-1 grid grid-cols-1">
        <ul class="list-disc grid grid-cols-1 mb-2">
          <li *ngFor="let idx of selected_visit?.consult_notes.initialdx" class="break-all ">
            {{ idx.diagnosis.class_name }}
          </li>
        </ul>

        <div *ngIf="selected_visit?.consult_notes.idx_remarks">
          <span class="text-sm italic">remarks:</span> {{ selected_visit?.consult_notes.idx_remarks }}
        </div>
      </div>
    </div>

    <div class="grid grid-cols-2 mx-2 ml-4 text-sm">
      <span class="col-span-1 text-left">
        Final
      </span>
      <div class="col-span-1 grid grid-cols-1">
        <ul class="list-disc grid grid-cols-1 mb-2">
          <li *ngFor="let fdx of selected_visit?.consult_notes.finaldx" class="break-all ">
            <span class="italic">{{ fdx.lib_icd10.icd10_code }}:</span> {{ fdx.lib_icd10.icd10_desc }}
          </li>
        </ul>

        <div *ngIf="selected_visit?.consult_notes.fdx_remarks">
          <span class="text-sm italic">remarks:</span> {{ selected_visit?.consult_notes.fdx_remarks }}
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="flex mx-2 mt-3 text-sm font-semibold">
      PRESCRIPTION
    </div>
    <div class="flex mx-2 ml-4 text-sm">
      <span class="flex-1 text-left">
        -
      </span>
      <span class="flex-1 text-right">
        -<br />
      </span>
    </div>
  </div>

  <div class="border-b border-slate-200">
    <div class="flex mx-2 mt-3 text-sm font-semibold ">
      PHYSICAL EXAM
    </div>

    <div class="grid grid-cols-2 mx-2 ml-4 text-sm mb-5" *ngFor="let cat of physical_exam | keyvalue">
      <span class="col-span-1 text-left">
        {{ cat.key | titlecase }}
      </span>

      <div class="col-span-1 grid grid-cols-1">
        <ul class="list-disc grid grid-cols-1 mb-2">
          <li *ngFor="let pe of cat.value" class="break-all ">
            {{ pe.pe_desc | titlecase}}
          </li>
        </ul>

        <div *ngIf="selected_visit?.consult_notes.physical_exam_remarks[cat.key+'_remarks']">
          <span class="text-sm italic">remarks:</span>{{ selected_visit?.consult_notes.physical_exam_remarks[cat.key+'_remarks'] }}
        </div>
      </div>
    </div>
  </div>


</div>
