<div class="flex justify-center items-center mt-10 mb-10">

  <div class="grid flex">

    <div class="">
      <ngx-tableau
      tableauVizUrl="https://public.tableau.com/views/FACILITYSTATSECLAIMSv1/Dashboard1?"
      [filters]="{ facility_code: this.userInfo.facility_code }"
      [options]="options"
    ></ngx-tableau>
    </div>

    <div class="">
      <ngx-tableau
      tableauVizUrl="https://public.tableau.com/views/FACILITYKONSULTAv1/Dashboard3"
      [filters]="{ facility_code: this.userInfo.facility_code }"
      [options]="options"
    ></ngx-tableau>
    </div>

    <div class="">
      <ngx-tableau
      tableauVizUrl="https://public.tableau.com/views/FACILITYSTATSREGISTRATIONv1/Dashboard1"
      [filters]="{ facility_code: this.userInfo.facility_code }"
      [options]="options"
    ></ngx-tableau>
    </div>

    <div class="">
      <ngx-tableau
      tableauVizUrl="https://public.tableau.com/views/FACILITYSTATSCONSULTATIONv1/Dashboard1"
      [filters]="{ facility_code: this.userInfo.facility_code }"
      [options]="options"
    ></ngx-tableau>
    </div>

    <div class="">
      <ngx-tableau
      tableauVizUrl="https://public.tableau.com/views/FACILITYSYSTEMUSAGEv1/Dashboard1"
      [filters]="{ facility_code: this.userInfo.facility_code }"
      [options]="options"
    ></ngx-tableau>
    </div>

  </div>

</div>
