<div id="defaultModal" tabindex="-1" class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 w-full md:inset-0 h-modal md:h-full justify-center items-center flex" aria-modal="true" role="dialog" style="z-index:60">
  <div class="relative p-4 w-full max-w-3xl h-auto md:h-auto">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow">
      <!-- Modal header -->
      <div class="flex justify-between items-start py-3 px-5 rounded-t border-b bg-sky-500">
        <h3 class="text-sm font-bold text-white">
            Referral
        </h3>
      </div>
      <!-- Modal body -->
      <div class="overflow-y-auto h-96 scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100">
        <form [formGroup]="interviewForm" (submit)="onSubmit()" class="text-left text-gray-500 m-5">
          <div class="grid grid-cols-4 gap-4">
            <div class="col-span-2">
              <label for="case_number" [ngClass]="{'text-red-500': show_error && f.case_number.errors}">Date</label>
              <input type="date" name="case_number" id="case_number" formControlName="case_number" class="input" [ngClass]="{'invalid-input': show_error && f.case_number.errors}">
            </div>

            <div class="col-span-2">
              <label for="case_number" [ngClass]="{'text-red-500': show_error && f.case_number.errors}">Place</label>
              <select name="enroll_as_code" id="enroll_as_code" formControlName="enroll_as_code" class="input" [ngClass]="{'invalid-input': show_error && f.enroll_as_code.errors}">
                <option *ngFor="let enroll_as of tb_enroll_as" [value]="enroll_as.code">{{ enroll_as.desc }}</option>
              </select>
            </div>

            <div class="col-span-4">
              <label for="case_number" [ngClass]="{'text-red-500': show_error && f.case_number.errors}">Referral reason</label>
              <textarea type="text" name="case_number" id="case_number" formControlName="case_number" class="input" [ngClass]="{'invalid-input': show_error && f.case_number.errors}">
              </textarea>
            </div>

            <div class="col-span-4">
              <label for="case_number" [ngClass]="{'text-red-500': show_error && f.case_number.errors}">Services requested</label>
              <textarea type="text" name="case_number" id="case_number" formControlName="case_number" class="input" [ngClass]="{'invalid-input': show_error && f.case_number.errors}">
              </textarea>
            </div>
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="flex justify-end py-4 px-5 space-x-4 rounded-b border-t border-gray-200">
        <button type="button" class="btn-save bg-gray-400" (click)="closeModal()">Close</button>
        <button [disabled]="is_saving" type="submit" class="btn-save px-10 disabled:bg-gray-300" (click)="onSubmit()" >
          <!-- <fa-icon></fa-icon> -->
          <!-- {{ is_saving ? 'Saving' : 'Save' }} -->
          Refer
        </button>
      </div>
    </div>
  </div>
</div>

<div class="opacity-50 fixed inset-0 z-50 bg-black"></div>
