<!--<form [formGroup]="icd10forms" (ngSubmit)="onSubmit()">-->
  <div id="defaultModal" tabindex="-1" class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 md:inset-0 h-modal h-full justify-center items-center flex" aria-modal="true" role="dialog" style="z-index:60">
    <div class="relative p-4 w-full max-w- h-12 md:h-auto">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow">
        <!-- Modal header -->
        <div class="flex justify-between items-start py-3 px-5 rounded-t border-b bg-blue-500">
          <h3 class="mt-2 text-lg text-white">
            Consult ID: {{ this.consult_id }}
          </h3>
          <div class="flex justify-end">
            <div class="border border-gray-400 rounded-md bg-white">
  <!--            <input type="text" [(ngModel)]="search_patient" class="form-input border-0 text-sm p-1 m-1 border-r border-gray-400" (keyup.enter)="getList()" placeholder="Search Patient"/>-->
  <!--            <button type="button" class="text-blue-500 w-9 h-9" (click)="getList()">-->
  <!--              <fa-icon class="-ml-1" [icon]="faSearch"></fa-icon>-->
  <!--            </button>-->
            </div>

            <button type="button" class="text-white w-9 h-9" (click)="closeModal()">
              <fa-icon class="-mr-4" [icon]="faCircleXmark"></fa-icon>
            </button>
          </div>
        </div>
        <!-- Modal body -->
        <div class="overflow-y-auto md:h-96 lg:h-4/5 scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100">
  <!--        <div class="flex flex-col justify-center loading" *ngIf="is_fetching">-->
  <!--          <fa-icon class="text-blue-500 mx-auto pt-36 text-xl" [icon]="faCircleNotch" spin="true"></fa-icon>-->
  <!--          <span class="pt-4 mx-auto pb-36 select-none">Fetching Patient Info...</span>-->
  <!--        </div>-->
          <div class="overflow-x-auto relative shadow-md sm:rounded-lg m-4">
            <table class="w-full text-sm text-left text-gray-500">
              <tbody>
                <fieldset class="text-base text-black py-3 px-5 rounded-t border-black border-t border-b border-r border-l">
                  <legend>Patient Information:</legend>
                  <label>Name: {{ this.data.patient.first_name }} {{ this.data.patient.middle_name }} {{ this.data.patient.last_name }} </label>
                  <br />
                  <label>Birthdate: {{ this.data.patient.birthdate }}</label>
                  <br />
                  <label>Age: {{ getAge() }} years old</label>
                  <br />
                  <label>Consult Date: {{ this.consult_date }}</label>
                    <br />
                  <label>Address: {{ this.data.patient.household_folder.address }}, {{ this.data.patient.household_folder.barangay.name }} </label>
                </fieldset>
              <div class="flex justify-between items-start mt-2 py-2 px-5 rounded-t border-b bg-red-500">
                <h3 class="mt-2 text-lg text-white">
                  Final Diagnosis
                </h3>
              </div>
              <div class="flex">
                <div class="border rounded-md px-5 w-full py-1">
                  <div class="chips-container">
                    <ng-select class="select-chips" placeholder="search final diagnosis"
                               [items]="fdx$ | async"
                               [multiple]="true"
                               [loading]="fdxLoading"
                               typeToSearchText="search..."
                               [typeahead]="searchInput$"
                               [(ngModel)]="selectedFdx"
                               bindValue="icd10_code"
                               bindLabel="icd10_desc"
                               notFoundText="No records found">

                      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <div class="whitespace-normal">
                          <h5 class="text-gray-700" [ngOptionHighlight]="search"><strong>{{ item.icd10_code }}:</strong> {{ item.icd10_desc }}</h5>
                        </div>
                      </ng-template>
                    </ng-select>

                  </div>
                  <input type="text" class="shadow-md form-input text-sm p-2 px-2 my-5 w-full rounded border-0 -outline-offset-8" placeholder="Final Diagnosis Remarks" [(ngModel)]="fdxremarks2"/>
                  <div class="flex justify-end py-4 px-5 space-x-4 rounded-b border-t border-gray-200 items-center">
                    <button type="button" class="text-white bg-blue-500 hover:ring-2 focus:outline-none hover:ring-red-300 rounded text-sm font-medium px-6 py-2.5 transition duration-150 ease-in-out transform hover:scale-110" (click)="onSubmit()">Save</button>
                    <div class="flex items-center space-x-4">
                    </div>
                  </div>
                  <table class="table-fixed w-full text-sm text-left text-black">
                    <thead class="text-s text-black bg-white -webkit-sticky border-b"
                           style="z-index: 20; position: sticky; top: 0;">
                    </thead>
                    <tbody>
                    <tr class="shadow-md -outline-offset-8 border-b rounded-t">
  <!--                    <div *ngFor="let data of data">-->
  <!--                      <div *ngFor="let consult of data.consult">-->
  <!--                        <div *ngFor="let notes of consult.consult_notes.finaldx">-->
  <!--                          <td class="px-6 py-3" colspan="2">-->
  <!--                            {{ notes.lib_icd10.icd10_code }}-->
  <!--                          </td>-->
  <!--                          <td class="px-6 py-3" colspan="5">-->
  <!--                            {{ notes.lib_icd10.icd10_desc }}-->
  <!--                          </td>-->
  <!--                          <td class="px-6 py-3" colspan="3">-->
  <!--                            {{ consult.consult_date }}-->
  <!--                          </td>-->
  <!--                        </div>-->
  <!--                      </div>-->
  <!--                    </div>-->
                    </tr>
                    </tbody>
                  </table>
                  <div class="shadow-md -outline-offset-8">
                    <div class="border-b rounded-t bg-blue-500 mt-2 py-2 px-5">
                    <h3 class="mt-2 text-sm text-white font-bold">
                      Previous Diagnosis
                    </h3>
                    </div>
                  <table class="table-fixed w-full text-sm text-left text-black">
                    <thead class="text-s text-black bg-white -webkit-sticky border-b"
                           style="z-index: 20; position: sticky; top: 0;">
                    <tr class="w-full">
                      <th class="px-5 py-2">
                        ICD 10
                      </th>
                      <th scope="col" class="text-center py-2" colspan="5">
                        ICD 10 Description
                      </th>
                      <th scope="col" class="px-5 py-2" colspan="3">
                        Date
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                      @for(consult of previous) {
                        @if() {
                        }
                      }
                    </tbody>
                      <!--<tbody *ngFor="let consult of previous">
                          <div>
                              <td class="px-6 py-2">
                                {{ consult.final_diagnosis.id }}
                              </td>
                              <td class="items-center">
                                {{ consult.final_diagnosis.consult_id }}
                              </td>
                              <td class="px-5 py-2">
                                {{ consult.final_diagnosis.patient_id }}
                              </td>
                          </div>
                      </tbody>-->
                  </table>
                  </div>
                  </div>
                </div>
                <div class="grid grid-cols-2 justify-between">
                  <div class="grid col-span-1 mt-5 py-2 px-5 rounded-t border-b bg-gray-50">
                    <h3 class="mt-2 text-sm text-gray-500 font-bold">
                      Vitals Signs
                    </h3>
                    <div class="shadow-md grid border w-full border-1 -outline-offset-8">
                      <div class="flex text-gray-700 md:block leading-tight align-top my-1 w-full p-1 rounded-md">
                        <fieldset class="text-base text-black py-3 px-5 rounded-t">
                          <label>Blood Pressure: {{ this.data.vitals_latest?.bp_systolic ?? '-' }}/{{ this.data.vitals_latest?.bp_diastolic ?? '-' }}</label>
                          <br />
                          <label>BMI: {{ this.data.vitals_latest?.patient_bmi ?? '-' }} </label>
                          <br />
                          <label>BMI Class: {{ this.data.vitals_latest?.patient_bmi_class ?? '-' }} </label>
                          <br />
                          <label>Weight: {{ this.data.vitals_latest?.patient_weight ?? '-' }} </label>
                          <span> kg</span>
                          <br />
                          <label>Height: {{ this.data.vitals_latest?.patient_height ?? '-' }} </label>
                          <span> cm</span>
                          <br />
                          <label>Waist: {{ this.data.vitals_latest?.patient_waist ?? '-' }} </label>
                          <br />
                          <label>Temp: {{ this.data.vitals_latest?.patient_temp ?? '-' }}</label>
                          <span> ℃</span>
                          <br />
                          <label>Heart Rate: {{ this.data.vitals_latest?.patient_heart_rate ?? '-' }}</label>
                          <br />
                          <label>Respiratory Rate: {{ this.data.vitals_latest?.patient_respiratory_rate ?? '-' }}</label>
                          <br />
                          <label>Pulse Rate: {{ this.data.vitals_latest?.patient_pulse_rate ?? '-' }}</label>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                  <div class="grid col-span-1 mt-5 py-2 px-5 rounded-t border-b bg-gray-50">
                    <h3 class="mt-2 text-sm text-gray-500 font-bold">
                      Complaint
                    </h3>
                    <div class="shadow-md grid border w-full border-1 -outline-offset-8">
                      <div *ngFor="let item of this.data.consult_notes.complaints ?? '-'" class="flex text-gray-700 md:block leading-tight align-top my-1 w-full p-1 rounded-md">
                        <h3 class="text-base text-black py-3 px-5 rounded-t">
                            {{ item.lib_complaints.complaint_desc ?? '-'}}
                        </h3>
                      </div>
                      <h3 class="text-base text-black py-3 px-5 rounded-t">
                        Remarks: {{ this.data.consult_notes.complaint ?? '-' }}
                      </h3>
                    </div>
                  </div>
                </div>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="flex justify-between py-4 px-5 space-x-4 rounded-b border-t border-gray-200 items-center">
          <button type="button" class="text-white bg-red-500 hover:ring-2 focus:outline-none hover:ring-red-300 rounded text-sm font-medium px-6 py-2.5 transition duration-150 ease-in-out transform hover:scale-110" (click)="closeModal()">Close</button>
          <div class="flex items-center space-x-4">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="opacity-50 fixed inset-0 z-50 bg-black"></div>
<!--</form>-->
