<div id="defaultModal" tabindex="-1" class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 md:inset-0 h-modal md:h-full justify-center items-center flex" aria-modal="true" role="dialog" style="z-index:60">
  <div class="relative p-4 w-full max-w- h-12 md:h-auto">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow">
      <!-- Modal header -->
      <div class="flex justify-between items-start py-3 px-5 rounded-t border-b bg-blue-500">
        <h3 class="mt-2 text-lg text-white">
          Patient Name: {{ show_patient_data?.data[0].first_name }} {{ show_patient_data?.data[0].middle_name }} {{ show_patient_data?.data[0].last_name }}
        </h3>
        <div class="flex justify-end">
          <div class="border border-gray-400 rounded-md bg-white">
<!--            <input type="text" [(ngModel)]="search_patient" class="form-input border-0 text-sm p-1 m-1 border-r border-gray-400" (keyup.enter)="getList()" placeholder="Search Patient"/>-->
<!--            <button type="button" class="text-blue-500 w-9 h-9" (click)="getList()">-->
<!--              <fa-icon class="-ml-1" [icon]="faSearch"></fa-icon>-->
<!--            </button>-->
          </div>

          <button type="button" class="text-white w-9 h-9" (click)="closeModal()">
            <fa-icon class="-mr-4" [icon]="faCircleXmark"></fa-icon>
          </button>
        </div>
      </div>
      <!-- Modal body -->
      <div class="overflow-y-auto h-96 scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100">
<!--        <div class="flex flex-col justify-center loading" *ngIf="is_fetching">-->
<!--          <fa-icon class="text-blue-500 mx-auto pt-36 text-xl" [icon]="faCircleNotch" spin="true"></fa-icon>-->
<!--          <span class="pt-4 mx-auto pb-36 select-none">Fetching Patient Info...</span>-->
<!--        </div>-->
        <div class="overflow-x-auto relative shadow-md sm:rounded-lg m-4">
          <table class="w-full text-sm text-left text-gray-500">
            <tbody>
              <fieldset class="text-base text-black py-3 px-5 rounded-t border-black border-t border-b border-r border-l">
                <legend>Patient Information:</legend>
                <label>Name: {{ show_patient_data?.data[0].last_name }}, {{ show_patient_data?.data[0].first_name }} {{ show_patient_data?.data[0].middle_name }}</label>
                <br />
                <label>Birthdate: {{show_patient_data?.data[0].birthdate}}</label>
                <br />
                <label>Age: </label>
                <br />
                <label>Consult date: {{show_patient_data?.data[0].consult_date}}</label>
                <br />
                <label>Address: {{show_patient_data?.data[0].address}}</label>
              </fieldset>
<!--            <div class="flex w-3/5">-->
<!--              <div class="flex justify-center text-gray-700 md:block leading-tight align-top my-1 w-full p-1 rounded-md">-->
<!--                <span class="w-full my-0 text-base rounded-md py-2 px-3">-->
<!--                    Patient Name: {{show_patient_data?.data[0].patient_name}}-->
<!--                  <br />-->
<!--                </span>-->
<!--                <span class="w-full my-0 text-base rounded-md py-2 px-3">-->
<!--                  Birthdate: {{show_patient_data?.data[0].birthdate}}-->
<!--                  <br />-->
<!--                </span>-->
<!--                <span class="w-full my-0 text-base rounded-md py-2 px-3">-->
<!--                  Age: {{show_patient_data?.data[0].age}}-->
<!--                  <br />-->
<!--                </span>-->
<!--                <span class="w-full my-0 text-base rounded-md py-2 px-3">-->
<!--                  Consult Date: {{show_patient_data?.data[0].consult_date}}-->
<!--                  <br />-->
<!--                </span>-->
<!--                <span class="w-full my-0 text-base rounded-md py-2 px-3">-->
<!--                  Address: {{show_patient_data?.data[0].address}}-->
<!--                  <br />-->
<!--                </span>-->
<!--              </div>-->
<!--            </div>-->
            <div class="flex justify-between items-start mt-2 py-2 px-5 rounded-t border-b bg-red-500">
              <h3 class="mt-2 text-lg text-white">
                Final Diagnosis
              </h3>
            </div>
            <div class="flex">
              <div class="border rounded-md px-5 w-full py-1">
                <input type="search" class="shadow-md form-input text-sm p-2 px-2 my-5 w-full rounded border-0 -outline-offset-8" placeholder="Search Final Diagnosis"/>
                <input type="text" class="shadow-md form-input text-sm p-2 px-2 my-5 w-full rounded border-0 -outline-offset-8" placeholder="Final Diagnosis Remarks"/>
                <div class="flex justify-end py-4 px-5 space-x-4 rounded-b border-t border-gray-200 items-center">
                  <button type="button" class="text-white bg-blue-500 hover:ring-2 focus:outline-none hover:ring-red-300 rounded text-sm font-medium px-6 py-2.5 transition duration-150 ease-in-out transform hover:scale-110">Save</button>
                  <div class="flex items-center space-x-4">
                  </div>
                </div>
                <div class="shadow-md flex justify-between items-start mt-2 py-2 px-5 rounded-t border-b bg-blue-400 -outline-offset-8">
                  <h3 class="mt-2 text-sm text-white font-bold">
                    Current Diagnosis
                  </h3>
                </div>
                <div class="flex border border-1 w-full">
                  <div class="flex text-gray-700 md:block leading-tight align-top my-1 w-full p-1 rounded-md">
                  <span class="w-full font-semibold my-0 text-sm rounded-md py-2 px-3">
                    ICD 10
                  </span>
                  </div>
                  <div class="flex w-3/5">
                    <div class="flex text-gray-700 md:block leading-tight align-top my-1 w-full p-1 rounded-md">
                  <span class="w-full font-semibold my-0 text-sm rounded-md py-2 px-3">
                    ICD 10 Description
                  </span>
                    </div>
                  </div>
                  <div class="flex w-3/5">
                    <div class="flex text-gray-700 md:block leading-tight align-top my-1 w-full p-1 rounded-md">
                  <span class="w-full font-semibold my-0 text-sm rounded-md py-2 px-3">
                    Action
                  </span>
                    </div>
                  </div>
                </div>
                <div class="shadow-md -outline-offset-8">
                  <div class="border-b rounded-t bg-green-500 mt-2 py-2 px-5">
                  <h3 class="mt-2 text-sm text-white font-bold">
                    Previous Diagnosis
                  </h3>
                  </div>

                <div class="border border-b w-full grid grid-cols-6">
                  <div class="text-gray-700 md:block leading-tight align-top my-1 w-full p-1 rounded-md col-span-2">
                    <span class="w-full font-semibold my-0 text-sm rounded-md py-2 px-3">
                      ICD 10
                    </span>
                  </div>
                  <div class="grid col-span-3">
                    <div class="flex text-gray-700 md:block leading-tight align-top my-1 w-full p-1 rounded-md">
                  <span class="w-full font-semibold my-0 text-sm rounded-md py-2 px-3">
                    ICD 10 Description/Remarks
                  </span>
                    </div>
                  </div>
                  <div class="grid col-span-1">
                    <div class="flex text-gray-700 md:block leading-tight align-top my-1 w-full p-1 rounded-md">
                      <span class="w-full font-semibold my-0 text-sm rounded-md py-2 px-3">
                        Date
                      </span>
                    </div>
                  </div>
                  <div class="col-span-2" *ngFor="let data of data">
                    <div *ngFor="let notes of data.consult_notes">
                    <span *ngFor="let finaldx of notes.finaldx">
                      <ng-container *ngIf="finaldx.lib_icd10.icd10_code !== null">
                        {{ finaldx.lib_icd10.icd10_code }}
                      </ng-container>
                    </span>
                    </div>
                  </div>
                  <div class="col-span-2" *ngFor="let data of data">
                    <div *ngFor="let notes of data.consult_notes">
                    <span *ngFor="let finaldx of notes.finaldx">
                      <ng-container *ngIf="finaldx.lib_icd10.icd10_code !== null">
                        {{ finaldx.lib_icd10.icd10_desc }}
                      </ng-container>
                    </span>
                    </div>
                  </div>
                  <div *ngFor="let data of data">
                    <div *ngFor="let notes of data.consult_notes">
                      <ng-container *ngFor="let finaldx of notes.finaldx">
                        <div class="col-span-2" *ngIf="finaldx.lib_icd10.icd10_code !== null && finaldx.lib_icd10.icd10_desc !== null">
                          {{ finaldx.lib_icd10.icd10_code }} - {{ finaldx.lib_icd10.icd10_desc }}
                          <div *ngFor="let consult of data.consult">
                            <div *ngIf="consult.consult_date === notes.consult_date">
                              {{ consult.consult_date }}
                            </div>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
              <div class="grid grid-cols-2 justify-between">
                <div class="grid col-span-1 mt-5 py-2 px-5 rounded-t border-b bg-gray-50">
                  <h3 class="mt-2 text-sm text-gray-500 font-bold">
                    Vitals Signs
                  </h3>
                  <div class="shadow-md grid border w-full border-1 -outline-offset-8">
                    <div class="flex text-gray-700 md:block leading-tight align-top my-1 w-full p-1 rounded-md">
                      <fieldset class="text-base text-black py-3 px-5 rounded-t border-black border-t border-b border-r border-l">
                        <legend>Vitals Record</legend>
                        <label>Blood Pressure: {{show_patient_data?.data[0].bp_systolic ?? '-'}}/{{show_patient_data?.data[0].bp_diastolic ?? '-'}}</label>
                        <br />
                        <label>BMI: {{show_patient_data?.data[0].patient_bmi ?? '-'}}</label>
                        <br />
                        <label>Weight: {{show_patient_data?.data[0].patient_weight ?? '-'}}</label>
                        <br />
                        <label>Height: {{show_patient_data?.data[0].patient_height ?? '-'}}</label>
                        <br />
                        <label>Waist: {{show_patient_data?.data[0].patient_waist ?? '-'}}</label>
                        <br />
                        <label>Temp: {{show_patient_data?.data[0].patient_temp ?? '-'}}</label>
                        <span class=""> ℃</span>
                        <br />
                        <label>Heart Rate: {{show_patient_data?.data[0].patient_heart_rate ?? '-'}}</label>
                        <br />
                        <label>Respiratory Rate: {{show_patient_data?.data[0].patient_respiratory_rate ?? '-'}}</label>
                        <br />
                        <label>Pulse Rate: {{show_patient_data?.data[0].patient_pulse_rate ?? '-'}}</label>
                      </fieldset>
                    </div>
                  </div>
                </div>
                <div class="grid col-span-1 mt-5 py-2 px-5 rounded-t border-b bg-gray-50">
                  <h3 class="mt-2 text-sm text-gray-500 font-bold">
                    Complaint
                  </h3>
                  <div class="shadow-md grid border w-full border-1 -outline-offset-8">
                    <div class="flex text-gray-700 md:block leading-tight align-top my-1 w-full p-1 rounded-md">
                      <fieldset *ngFor="let item of show_patient_data.data[0].complaints" class="text-base text-black py-3 px-5 rounded-t border-black border-t border-b border-r border-l">
                        <legend>Complaint Date: {{show_patient_data?.data[0].consult_date ?? '-'}}</legend>
                        <label >Chief Complaint: {{item.lib_complaints.complaint_desc}}</label>
                      </fieldset>
                      <h3 class="mt-2 text-sm text-gray-500 font-bold py-3 px-5 rounded-t border-black border-t border-b border-r border-l">
                        Complaint Remarks: {{ show_patient_data.data[0].complaint_remarks }}
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="flex justify-between py-4 px-5 space-x-4 rounded-b border-t border-gray-200 items-center">
        <button type="button" class="text-white bg-red-500 hover:ring-2 focus:outline-none hover:ring-red-300 rounded text-sm font-medium px-6 py-2.5 transition duration-150 ease-in-out transform hover:scale-110" (click)="closeModal()">Close</button>
        <div class="flex items-center space-x-4">
<!--          <button [disabled]="Number(current_page)===1" (click)="getList(1)" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 enabled:bg-white disabled:bg-gray-300 text-sm font-medium text-gray-500 hover:bg-gray-50">-->
<!--            <fa-icon [icon]="faAnglesLeft" class="block h-15 w-15 text-gray-500 pr-1"></fa-icon>-->
<!--          </button>-->
<!--          <button type="button" class="text-white bg-red-500 disabled:bg-gray-300 hover:ring-2 focus:outline-none hover:ring-red-300 rounded text-sm font-medium px-6 py-2.5 transition duration-150 ease-in-out transform hover:scale-110" [disabled]="Number(current_page)===1" (click)="getList(Number(current_page)-1)">Previous</button>-->
<!--          <button type="button" class="text-white bg-red-500 disabled:bg-gray-300 hover:ring-2 focus:outline-none hover:ring-red-300 rounded text-sm font-medium px-6 py-2.5 transition duration-150 ease-in-out transform hover:scale-110" [disabled]="Number(current_page)===Number(last_page)" (click)="getList(Number(current_page)+1)">Next</button>-->
<!--          <button [disabled]="Number(current_page)===Number(last_page)" (click)="getList(last_page)" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 enabled:bg-white disabled:bg-gray-300 text-sm font-medium text-gray-500 hover:bg-gray-50">-->
<!--            <fa-icon [icon]="faAnglesRight" class="block h-15 w-15 text-gray-500 pr-1"></fa-icon>-->
<!--          </button>-->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="opacity-50 fixed inset-0 z-50 bg-black"></div>
