<form [formGroup]="prenatal_form" (ngSubmit)="saveForm(prenatal_form.value)">
    <div class="grid gap-2 relative animates-dropdown " style="grid-template-columns: repeat(16, minmax(0, 1fr));"
        *ngIf="!focused">
        <div class="sticky top-14 z-50 border border-blue-400 col-span-2 relative mx-2 px-2 py-1 rounded-t-lg text-sm bg-blue-500 text-white"
            style="grid-column: span 16 / span 16;"><button class="font-bold" type="button">Prenatal</button>
            <div class="absolute left-16 top-1">
                <fa-icon [icon]="faInfoCircle" class=" peer ml-4 text-white hover:text-gray-500 z-50"></fa-icon>
                <div
                    class="absolute text-sm bg-gradient-to-b from-stone-500 to-gray-400 p-2 rounded-md border border-gray-500  text-white drop-shadow-lg opacity-90  z-50 w-64 invisible peer-hover:visible">
                    <h1 class="font-bold drop-shadow-lg">IMPORTANT</h1>
                    <p class="font-light drop-shadow-lg">Once saved, the information will be displayed in the input
                        boxes and shall not be editable unless Edit button is pressed.</p>
                </div>
            </div>
        </div>

        <div style="grid-column: span 16 / span 16;">
            <div class="grid gap-4 hover:drop-shadow-lg drop-shadow-md bg-white rounded-b-lg hover:border border-gray-300 hover:border-pink-400 p-2 pt-4 m-2 border -mt-5"
                style="grid-template-columns: repeat(14, minmax(0, 1fr));">

                <div class="transitions col-span-2 row-span-2  relative select-none group mx-2"
                    *ngIf="!focused">
                    <h3 for="visit_sequence" class="whitespace-nowrap">Visit Count</h3>
                    <fa-icon [icon]="faCaretRight"
                        class="absolute bottom-1.5 left-2 text-gray-300 group-hover:text-pink-300"
                        *ngIf="!focused && 1 == 0">
                    </fa-icon>
                    <input type="text" formControlName="visit_sequence"
                        class="text-lg font-medium disabled:group-hover:font-semibold peer  focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none rounded border-solid border border-zinc-300 placeholder-black placeholder-opacity-100 disabled:cursor-not-allowed disabled:border-0  disabled:pl-5  disabled:typed-out disabled:group-hover:bg-gray-100 disabled:rounded-full"
                        id="visit_sequence" [value]="value" hidden>
                    <div class="text-center text-2xl font-bold py-2 border-gray-300 border rounded-lg"
                        *ngIf="!edit_bool">{{ value }}</div>
                    <!-- <div class="text-center text-2xl font-bold py-2 border-gray-300 border rounded-lg"
                        *ngIf="edit_bool">{{ prenatal_form.get('visit_sequence').value }}</div> -->
                </div>

                <div class="transitions col-span-4 col-start-3" *ngIf="!focused">
                    <h3 for="prenatal_date">Date</h3>
                    <div class="grid grid-cols-10">
                        <div class="icon-height col-span-2 p-2 pt-1 rounded-l border-solid border border-zinc-300">
                            <fa-icon [icon]="faCalendarDay" size="lg" class="text-blue-500" for="prenatal_date">
                            </fa-icon>
                        </div>
                        <input formControlName="prenatal_date" id="prenatal_date" name="prenatal_date" type="date" max="{{today.toLocaleDateString('en-CA')}}"
                            class="col-span-8 rounded-r border-solid border border-l-0 border-zinc-300 focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none disabled:cursor-not-allowed"
                            width="auto"
                            (keyup.escape)="$event.target.value = ''; onKeyUp($event.target.value, $event.target.id)"
                            (change)="onKeyUp($event.target.value, $event.target.id)">
                    </div>
                </div> 

                <div class="transitions col-span-4 col-start-7  relative select-none" *ngIf="!focused">
                    <h3 for="fetal_presentation_id">Fetal Presentation</h3>
                    <select formControlName="fetal_presentation_id" id="fetal_presentation_id"
                        class="text-ellipsis bg-white text-align-left drop_btn  focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none rounded border-solid border border-zinc-300 placeholder-black placeholder-opacity-100 disabled:cursor-not-allowed"
                        (change)="onKeyUp($event.target.value, $event.target.id);">
                        <option *ngFor="let fetal of fetals" class="p-2 flex-wrap"
                            [selected]="fetal.desc === 'Mass Palpable - NA'"
                            value="{{fetal.desc}}">
                            {{ fetal.desc }}
                        </option>
                    </select>
                </div>

            </div>
        </div>

        <div class="row-span-3 col-span-4">
            <div
                class="grid gap-2 grid-cols-4 rounded-lg hover:drop-shadow-lg drop-shadow-md bg-white rounded-lg hover:border border-gray-300 hover:border-pink-400 mx-2 border">
                <div class="transitions col-span-4  relative select-none group mx-2 mt-2" *ngIf="!focused">
                    <h3 for="fundic_height">Fundic Height</h3>
                    <fa-icon [icon]="faCaretRight"
                        class="absolute bottom-1.5 left-2 text-gray-300 group-hover:text-pink-300"
                        *ngIf="!focused && 1 == 0">
                    </fa-icon>
                    <input type="number" formControlName="fundic_height" min="0"
                        class="font-medium disabled:group-hover:font-semibold peer invalid:border-red-500  focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none rounded border-solid border border-zinc-300 placeholder-black placeholder-opacity-100 disabled:cursor-not-allowed disabled:border-0  disabled:pl-5  disabled:typed-out disabled:group-hover:bg-gray-100 disabled:rounded-full"
                        (keyup)="onKeyUp($event.target.value, $event.target.id)"
                        (keyup.escape)="clearForm($event.target.id)" id="fundic_height"
                        (change)="onKeyUp($event.target.value, $event.target.id);">
                    <small class="hidden peer-invalid:block text-red-400 ">error_message</small>

                </div>
                <div class="transitions col-span-4  relative select-none group mx-2" *ngIf="!focused">
                    <h3 for="fhr">FHR</h3>
                    <fa-icon [icon]="faCaretRight"
                        class="absolute bottom-1.5 left-2 text-gray-300 group-hover:text-pink-300"
                        *ngIf="!focused && 1 == 0 ">
                    </fa-icon>
                    <input type="number" formControlName="fhr" min="0"
                        class="font-medium disabled:group-hover:font-semibold peer invalid:border-red-500  focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none rounded border-solid border border-zinc-300 placeholder-black placeholder-opacity-100 disabled:cursor-not-allowed disabled:border-0  disabled:pl-5  disabled:typed-out disabled:group-hover:bg-gray-100 disabled:rounded-full"
                        [class]="0 >= prenatal_form.get('fhr').value?'mb-2':''"
                        (keyup)="onKeyUp($event.target.value, $event.target.id)"
                        (keyup.escape)="clearForm($event.target.id)" id="fhr"
                        (change)="onKeyUp($event.target.value, $event.target.id)">
                    <small class="hidden peer-invalid:block text-red-400 ">error_message</small>

                </div>
                <div class="transitions col-span-4  relative select-none mx-2 mb-2" *ngIf="!focused"
                    [hidden]="0 >= prenatal_form.get('fhr').value">
                    <h3 for="fhr_location_id">FHR Location</h3>
                    <select formControlName="fhr_location_id" id="fhr_location_id"
                        class="text-ellipsis bg-white text-align-left drop_btn  focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none rounded border-solid border border-zinc-300 placeholder-black placeholder-opacity-100 disabled:cursor-not-allowed"
                        (change)="onKeyUp($event.target.value, $event.target.id)">
                        <option *ngFor="let fhr of fhr_lib" class="p-2 flex-wrap" [selected]="fhr.desc === 'N/A'" [value]="fhr.code">
                            {{ fhr.desc }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-span-4 relative h-max border border-gray-300 drop-shadow-md hover:drop-shadow-lg rounded-md">
            <label *ngFor="let lib of fhr_lib" for="{{lib.code}}" class="{{lib.code == 'NA'?'hidden':''}}">
                <div class="absolute {{lib.code == 'NA'?'hidden':''}} {{lib.code == 'LUQ'?'top-0 z-40':''}} {{lib.code == 'LLQ'?'bottom-0 z-40':''}} {{lib.code == 'RUQ'?'top-0 right-0 z-40':''}} {{lib.code == 'RLQ'?'bottom-0 right-0 z-40':''}} w-1/2 hover:bg-gray-400/75 rounded-tl-md border-t border-l  cursor-pointer group"
                   [style]="lib.code == 'LUQ' || lib.code == 'RUQ'?'height: 62.5%':'height: 37.5%'" >
                    <input type="checkbox"
                        class="z-50 rounded-md {{lib.code == 'NA'?'hidden':''}} {{lib.code == 'LUQ'?'fhr_chart_u translate-x-full rounded-tl-full':''}} {{lib.code == 'LLQ'?'fhr_chart rounded-bl-full translate-x-full':''}} {{lib.code == 'RUQ'?'rounded-tr-full fhr_chart_u':''}} {{lib.code == 'RLQ'?'fhr_chart rounded-br-full':''}} bg-white/25 checked:text-pink-400/75 disabled:opacity-25 border-dashed border border-pink-500 checked:border-dashed checked:border checked:border-pink-300 focus:ring-1 focus:ring-pink-400 group-hover:bg-gray-300 group-hover:checked:bg-pink-400 focus:ring-offset-0"
                        [style]="lib.code == 'LUQ'?'transform: translate(100%,150%);':lib.code == 'RUQ'?'transform: translateY(150%);':''"
                        (change)="onKeyUp($event.target.value, $event.target.id); quadrant(lib.code)"
                        [checked]="prenatal_form.get('fhr_location_id').value == lib.code && prenatal_form.get('fhr').value != ''"
                        [disabled]="0 >= prenatal_form.get('fhr').value" id="{{lib.code}}" [value]="lib.code">
 
                </div>
            </label>
            <img src="assets\img\abdomen.png"
                class="w-24 lg:w-60 md:w-40 sm:w-24 object-contain rounded-lg hover:drop-shadow-lg drop-shadow-md rounded-lg"
                [class]="prenatal_form.get('fhr').value != ''? '': 'opacity-25'" alt="...">
        </div>

        <div style="grid-column: span 7 / span 7; grid-column-end: 17;">
            <div class="grid gap-2 rounded-lg hover:drop-shadow-lg drop-shadow-md bg-white rounded-lg hover:border border-gray-300 hover:border-pink-400 mx-2  border group"
                style="grid-template-columns: repeat(6, minmax(0, 1fr));">
                <div class="text-pink-500  px-2 py-1 text-sm font-bold border border-dashed border-gray-300 border-t-0 border-l-0 border-r-0 group-hover:border-pink-400"
                    style="grid-column: span 6 / span 6;">
                    <h1 class="select-none">
                        Vitals
                    </h1>
                </div>
                <div class="transitions col-span-2  relative select-none group mx-2" *ngIf="!focused">
                    <h3 [hidden]="cm_value" for="patient_height">Height</h3>
                    <h3 *ngIf="cm_value">({{ cm_value }})</h3>
                    <fa-icon [icon]="faCaretRight"
                        class="absolute bottom-1.5 left-2 text-gray-300 group-hover:text-pink-300"
                        *ngIf="!focused && 1 == 0">
                    </fa-icon>
                    <input type="text" formControlName="patient_height"
                        class="font-medium disabled:group-hover:font-semibold peer invalid:border-red-500  focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none rounded border-solid border border-zinc-300 placeholder-black placeholder-opacity-100 disabled:cursor-not-allowed disabled:border-0  disabled:pl-5  disabled:typed-out disabled:group-hover:bg-gray-100 disabled:rounded-full"
                        (keyup)="onKeyUp($event.target.value, $event.target.id)"
                        (keyup.escape)="clearForm($event.target.id)" id="patient_height"
                        (input)="onKeyUp($event.target.value, $event.target.id); cmCatcher($event.target.value)">
                    <small class="hidden peer-invalid:block text-red-400 ">error_message</small>
                </div>

                <div class="transitions col-span-2  relative select-none group ml-2 mb-2" *ngIf="!focused">
                    <h3 for="bp_systolic">Systolic</h3>
                    <fa-icon [icon]="faCaretRight"
                        class="absolute bottom-1.5 left-2 text-gray-300 group-hover:text-pink-300"
                        *ngIf="!focused && 1 == 0">
                    </fa-icon>
                    <input type="number" formControlName="bp_systolic" min="0"
                        class="font-medium disabled:group-hover:font-semibold peer invalid:border-red-500  focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none rounded border-solid border border-zinc-300 placeholder-black placeholder-opacity-100 disabled:cursor-not-allowed disabled:border-0  disabled:pl-5  disabled:typed-out disabled:group-hover:bg-gray-100 disabled:rounded-full"
                        (keyup)="onKeyUp($event.target.value, $event.target.id)"
                        (keyup.escape)="clearForm($event.target.id)" id="bp_systolic"
                        (change)="onKeyUp($event.target.value, $event.target.id)">
                    <small class="hidden peer-invalid:block text-red-400 ">error_message</small>
                </div>

                <div class="transitions col-span-2  relative select-none group mr-2 mb-2" *ngIf="!focused">
                    <h3 for="bp_diastolic">Diastolic</h3>
                    <fa-icon [icon]="faCaretRight"
                        class="absolute bottom-1.5 left-2 text-gray-300 group-hover:text-pink-300"
                        *ngIf="!focused && 1 == 0">
                    </fa-icon>
                    <input type="number" formControlName="bp_diastolic" min="0"
                        class="font-medium disabled:group-hover:font-semibold peer invalid:border-red-500  focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none rounded border-solid border border-zinc-300 placeholder-black placeholder-opacity-100 disabled:cursor-not-allowed disabled:border-0  disabled:pl-5  disabled:typed-out disabled:group-hover:bg-gray-100 disabled:rounded-full"
                        (keyup)="onKeyUp($event.target.value, $event.target.id)"
                        (keyup.escape)="clearForm($event.target.id)" id="bp_diastolic"
                        (change)="onKeyUp($event.target.value, $event.target.id)">
                    <small class="hidden peer-invalid:block text-red-400 ">error_message</small>
                </div>

                <div class="transitions col-span-2 col-start-1  relative select-none group mx-2"
                    *ngIf="!focused">
                    <h3 for="patient_weight">Weight</h3>
                    <fa-icon [icon]="faCaretRight"
                        class="absolute bottom-1.5 left-2 text-gray-300 group-hover:text-pink-300"
                        *ngIf="!focused && 1 == 0">
                    </fa-icon>
                    <input type="number" formControlName="patient_weight" min="0"
                        class="font-medium disabled:group-hover:font-semibold peer invalid:border-red-500  focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none rounded border-solid border border-zinc-300 placeholder-black placeholder-opacity-100 disabled:cursor-not-allowed disabled:border-0  disabled:pl-5  disabled:typed-out disabled:group-hover:bg-gray-100 disabled:rounded-full"
                        (keyup)="onKeyUp($event.target.value, $event.target.id)"
                        (keyup.escape)="clearForm($event.target.id)" id="patient_weight"
                        (change)="onKeyUp($event.target.value, $event.target.id)">
                    <small class="hidden peer-invalid:block text-red-400 ">error_message</small>
                </div>

                <div class="transitions col-span-4   relative select-none group mx-2 mb-2" *ngIf="!focused">
                    <h3 for="remarks">Remarks</h3>
                    <fa-icon [icon]="faCaretRight"
                        class="absolute bottom-1.5 left-2 text-gray-300 group-hover:text-pink-300"
                        *ngIf="!focused && 1 == 0">
                    </fa-icon>
                    <textarea type="text" formControlName="remarks"
                        class=" remarks font-medium disabled:group-hover:font-semibold peer invalid:border-red-500  focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none rounded border-solid border border-zinc-300 placeholder-black placeholder-opacity-100 disabled:cursor-not-allowed disabled:border-0  disabled:pl-5  disabled:typed-out disabled:group-hover:bg-gray-100 disabled:rounded-full"
                        (keyup)="onKeyUp($event.target.value, $event.target.id)"
                        (keyup.escape)="clearForm($event.target.id)" id="remarks"
                        (change)="onKeyUp($event.target.value, $event.target.id)">
                    </textarea>
                    <small class="hidden peer-invalid:block text-red-400 ">error_message</small>
                </div>

            </div>
        </div>
        <div class="relative w-auto  mb-10 w-12/12" *ngIf="!focused && prenatal_form.enabled" style="grid-column: span 16 / span 16;">
            <div class="absolute inline-flex right-0 ">
                <div (click)="cancel()"
                    class="cursor-pointer flex  bg-white hover:drop-shadow-md hover:bg-gray-400 py-1 rounded-full text-gray-400 hover:text-white pl-2 pr-2 peer">
                    <fa-icon [icon]="faTimes" size="lg" class="mr-2">
                    </fa-icon>
                    <button type="button" class="font-bold button-out -red">Cancel</button>
                </div>
                <div (click)="saveForm(prenatal_form.value)"
                    class="cursor-pointer flex  hover:drop-shadow-md bg-green-300 hover:bg-green-400 py-1 rounded-full text-white px-3 peer-hover:bg-white peer-hover:text-green-400">
                    <fa-icon [icon]="faSave" size="lg" class="mr-2">
                    </fa-icon>
                    <button type="button" class="font-bold button-out -red">Save</button>
                </div>
            </div>
        </div>
        <div *ngIf="catch_array.length > 0" style="grid-column: span 16 / span 16;">
            <div class="mb-5 grid rounded-lg hover:drop-shadow-lg drop-shadow-md bg-white rounded-lg hover:border border-gray-300 hover:border-blue-400 mx-2  border group"
                style="grid-template-columns: repeat(11, minmax(0, 1fr));">
                <div class=" px-2 py-1 text-sm font-bold border border-dashed border-gray-300 border-t-0 border-l-0 border-r-0 group-hover:border-blue-400"
                    style="grid-column: span 11 / span 11;">
                    <h1 class="select-none">
                        Visits
                    </h1>
                </div>

                <div class="text-sm grid grid-cols-11 pb-1 font-medium" style="grid-column: span 11 / span 11;">
                    <div class="transitions  relative select-none mx-2"><h3>No.</h3></div>
                    <div class="transitions col-span-2 relative select-none mx-2"><h3>Date</h3></div>
                    <div class="transitions  relative select-none mx-2"><h3>Height</h3></div>
                    <div class="transitions  relative select-none mx-2"><h3>FHR</h3></div>
                    <div class="transitions col-span-2  relative select-none mx-2"><h3>FHR Location</h3></div>
                    <div class="transitions col-span-3  relative select-none mx-2"><h3>Fetal Presentation</h3></div>
                    <div class="transitions  relative select-none mx-2"><h3>Action</h3></div>
                </div>

                <div class="text-sm grid grid-cols-11 hover:bg-blue-100 hover:font-medium" style="grid-column: span 11 / span 11;" *ngFor="let prenatal of catch_array">
                    <div class="transitions  relative select-none mx-2"><h3>{{prenatal.visit_sequence}}</h3></div>
                    <div class="transitions col-span-2 relative select-none mx-2"><h3>{{prenatal.prenatal_date}}</h3></div>
                    <div class="transitions  relative select-none mx-2"><h3>{{prenatal.fundic_height}}</h3></div>
                    <div class="transitions  relative select-none mx-2"><h3>{{prenatal.fhr}}</h3></div>
                    <div class="transitions col-span-2  relative select-none mx-2"><h3>{{prenatal.fhr_location_id}}</h3></div>
                    <div class="transitions col-span-3  relative select-none mx-2"><h3>{{prenatal.fetal_presentation_id}}</h3></div>
                    <div class="transitions  relative select-none mx-2">
                        <button type="button" class="w-full">
                            <fa-icon [icon]="faPencil" size="lg" class="mr-2 hover:text-orange-300"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</form>