<div class="rounded-xl text-gray-600 border border-slate-100">
  <div class="block m-0 p-0 divide-y-2 divide-gray-200 divide-solid">
    <div class="flex justify-items-start">
      <div class="m-3">
        <img src="./assets/img/profile_2.jpg" class="rounded-full w-16 h-16 mx-auto m-2" />
      </div>
      <div class="mt-4 leading-tight">
        <span class="block text-blue-500 font-medium">
          Seo, Dal-mi
        </span>

        <span class="block text-xs">
          10/10/1994 [26 years old]
        </span>

        <div class="flex pt-2">
          <fa-icon class="mx-0 my-0 text-gray-500 mr-2" [icon]="faHeart" size="lg"></fa-icon>
          <fa-icon class="mx-0 my-0 text-green-500 mr-2" [icon]="faFlask" size="lg"></fa-icon>
          <fa-icon class="mx-0 my-0 text-blue-500 mr-2" [icon]="faNotesMedical" size="lg"></fa-icon>
          <fa-icon class="mx-0 my-0 text-red-500 mr-2" [icon]="faExclamationCircle" size="lg"></fa-icon>
        </div>
      </div>
    </div>

    <div class="block justify-items-start mx-5 mb-5">
      <div class="mt-4 leading-tight">
        <span class="block text-blue-500 font-medium text-sm">
          ADDRESS
        </span>
        <span class="block text-xs">
          Gwangju, South Korea
        </span>
      </div>

      <div class="mt-4 leading-tight">
        <span class="block text-blue-500 font-medium text-sm">
          CONTACT NUMBER
        </span>
        <span class="block text-xs">
          +63917-777-7777
        </span>
      </div>

      <div class="mt-4 leading-tight">
        <span class="block text-blue-500 font-medium text-sm">
          PHILHEALTH
        </span>
        <span class="block text-xs text-red-500">
          00-000000000-0 (12/31/2019)
        </span>
      </div>
    </div>

    <div class="block pt-4 justify-items-start mx-5 mb-5">
      <div class="flex justify-between items-center">
        <span class="block text-blue-500 font-medium text-sm">
          VITALS
        </span>
        <fa-icon (click)="toggleModal()" class="mx-0 my-0 text-blue-500 mr-2 hover:cursor-pointer" [icon]="faPlusCircle"></fa-icon>
      </div>

      <div class="block">
        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            Weight
          </span>
          <span class="block text-xs">
            56 kg
          </span>
        </div>

        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            Height
          </span>
          <span class="block text-xs">
            168 cm (5ft 6in)
          </span>
        </div>

        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            BMI
          </span>
          <span class="block text-xs">
            19.8 (Normal)
          </span>
        </div>

        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            Temparature
          </span>
          <span class="block text-xs">
            -
          </span>
        </div>
      </div>
    </div>

    <div class="block pt-4 justify-items-start mx-5 mb-5">
      <div class="flex justify-between items-center">
        <span class="block text-blue-500 font-medium text-sm">
          ALLERGIES
        </span>
        <fa-icon class="mx-0 my-0 text-blue-500 mr-2" [icon]="faPlusCircle"></fa-icon>
      </div>

      <div class="block">
        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            Peanuts (direct contact)
          </span>
          <span class="block text-xs">
            -
          </span>
        </div>
      </div>
    </div>

    <div class="block pt-4 justify-items-start mx-5 mb-5">
      <div class="flex justify-between items-center">
        <span class="block text-blue-500 font-medium text-sm">
          MEDICATION
        </span>
        <fa-icon class="mx-0 my-0 text-blue-500 mr-2" [icon]="faPlusCircle"></fa-icon>
      </div>

      <div class="block">
        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            Lozartan
          </span>
          <span class="block text-xs">
            3x a day
          </span>
        </div>
      </div>
    </div>

    <div class="block pt-4 justify-items-start mx-5 mb-5">
      <div class="flex justify-between items-center">
        <span class="block text-blue-500 font-medium text-sm">
          VACCINES
        </span>
        <fa-icon class="mx-0 my-0 text-blue-500 mr-2" [icon]="faPlusCircle"></fa-icon>
      </div>

      <div class="block">
        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            IPV
          </span>
          <span class="block text-xs">
            01/01/2019
          </span>
        </div>
      </div>
    </div>

    <div class="block pt-4 justify-items-start mx-5 mb-5">
      <div class="flex justify-between items-center">
        <span class="block text-blue-500 font-medium text-sm">
          MEDICAL HISTORY
        </span>
        <fa-icon class="mx-0 my-0 text-blue-500 mr-2" [icon]="faPlusCircle"></fa-icon>
      </div>

      <div class="block">
        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            -
          </span>
          <span class="block text-xs">
            -
          </span>
        </div>
      </div>
    </div>

    <div class="block pt-4 justify-items-start mx-5 mb-5">
      <div class="flex justify-between items-center">
        <span class="block text-blue-500 font-medium text-sm">
          FAMILY MEDICAL HISTORY
        </span>
        <fa-icon class="mx-0 my-0 text-blue-500 mr-2" [icon]="faPlusCircle"></fa-icon>
      </div>

      <div class="block">
        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            HYPERTENSION
          </span>
          <span class="block text-xs">
            150/100
          </span>
        </div>

        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            DIABETES
          </span>
          <span class="block text-xs">
            TYPE II
          </span>
        </div>
      </div>
    </div>

    <div class="block pt-4 justify-items-start mx-5 mb-5">
      <div class="flex justify-between items-center">
        <span class="block text-blue-500 font-medium text-sm">
          LIFESTYLE
        </span>
        <fa-icon class="mx-0 my-0 text-blue-500 mr-2" [icon]="faPlusCircle"></fa-icon>
      </div>

      <div class="block">
        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            SMOKER
          </span>
          <span class="block text-xs">
            No
          </span>
        </div>

        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            ALCOHOL
          </span>
          <span class="block text-xs">
            1
          </span>
        </div>

        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            ILLICIT DRUGS
          </span>
          <span class="block text-xs">
            No
          </span>
        </div>
      </div>
    </div>

    <div class="block pt-4 justify-items-start mx-5 mb-5">
      <div class="flex justify-between items-center">
        <span class="block text-blue-500 font-medium text-sm">
          DEATH RECORD
        </span>
        <fa-icon (click)="toggleDeathRecordModal()" class="mx-0 my-0 text-blue-500 mr-2 hover:cursor-pointer" [icon]="faPlusCircle"></fa-icon>
      </div>

      <div class="block">
        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            -
          </span>
          <span class="block text-xs">
            -
          </span>
        </div>
      </div>
    </div>

  </div>
</div>

<div *ngIf="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
  <div class="relative w-auto my-6 mx-auto max-w-6xl">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <!--header-->
      <div class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t">
        <h3 class="text-3xl font-semibold">
          Modal Title
        </h3>
        <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="toggleModal()">
          <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
            ×
          </span>
        </button>
      </div>
      <!--body-->
      <div class="relative p-6 flex-auto">
        <p class="my-4 text-slate-500 text-lg leading-relaxed">
          I always felt like I could do anything. That’s the main
          thing people are controlled by! Thoughts- their perception
          of themselves! They're slowed down by their perception of
          themselves. If you're taught you can’t do anything, you
          won’t do anything. I was taught I could do everything.
        </p>
      </div>
      <!--footer-->
      <div class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b">
        <button class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModal()">
          Close
        </button>
        <button class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModal()">
          Save Changes
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>


<!--Death Record -->
<div *ngIf="showDeathRecordModal" id="defaultModal" tabindex="-1" class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 w-full md:inset-0 h-modal md:h-full justify-center items-center flex" aria-modal="true" role="dialog" style="z-index:60">
  <div class="relative p-4 w-full max-w-3xl h-auto md:h-auto">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div class="flex justify-between items-start py-3 px-5 rounded-t border-b bg-blue-500 dark:border-gray-600">
              <h3 class="mt-2 text-sm font-bold text-white dark:text-white">
                  DEATH RECORD
              </h3>
              <button type="button" class="px-3 py-1.5 bg-white text-gray-600 text-sm font-medium leading-normal rounded shadow-md focus:shadow-lg focus:outline-none hover:ring-4 hover:ring-gray-300 active:shadow-lg transition duration-150 ease-in-out flex align-center transform hover:scale-110">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-printer mr-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2"></path>
                  <path d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4"></path>
                  <rect x="7" y="13" width="10" height="8" rx="2"></rect>
               </svg>Print
              </button>
          </div>
          <!-- Modal body -->
        <div class="overflow-y-auto h-96 scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100">
          <table class="w-full max-w-3xl text-left text-gray-500 dark:text-gray-400">
            
            <div class="flex item-start flex-wrap pb-5">

              <div class="flex justify-between w-full px-5 mt-3 rounded-tl rounded-tr">
                <h4 class="font-bold text-blue-500 text-sm mt-2">Registry Information</h4>
                </div>
          
                <div class="relative w-full text-sm md:w-1/2 lg:w-1/2 px-10 py-2 mt-2">
                  <label>Date of Death</label> 
              
                <div class="relative">
                  <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-time text-blue-500" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M11.795 21h-6.795a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4"></path>
                      <circle cx="18" cy="18" r="4"></circle>
                      <path d="M15 3v4"></path>
                      <path d="M7 3v4"></path>
                      <path d="M3 11h16"></path>
                      <path d="M18 16.496v1.504l1 1"></path>
                   </svg>
                  </div>
                 <input type="date" class="mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input" placeholder="Select date">
                </div>
          
                </div>
          
                <div class="relative w-full text-sm md:w-1/2 lg:w-1/2 px-10 py-2 mt-2">
                  <label>Time of Death</label> 
     
                <div class="relative">
                  <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock text-blue-500" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <circle cx="12" cy="12" r="9"></circle>
                          <polyline points="12 7 12 12 15 15"></polyline>
                       </svg>
                  </div>
                 <input type="time" class="mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input" placeholder="Select date">
                </div>
          
                </div>
          
                <div class="relative w-full text-sm md:w-1/2 lg:w-1/2 px-10 py-2">
                  <label>Type of Death</label> 
              
                <div class="relative">
                  <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-certificate text-blue-500" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <circle cx="15" cy="15" r="3"></circle>
                          <path d="M13 17.5v4.5l2 -1.5l2 1.5v-4.5"></path>
                          <path d="M10 19h-5a2 2 0 0 1 -2 -2v-10c0 -1.1 .9 -2 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -1 1.73"></path>
                          <line x1="6" y1="9" x2="18" y2="9"></line>
                          <line x1="6" y1="12" x2="9" y2="12"></line>
                          <line x1="6" y1="15" x2="8" y2="15"></line>
                       </svg>
                  </div>
                 <input type="text" class="mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input" placeholder="Input Type of Death">
                </div>
          
                </div>

                <div class="relative w-full text-sm md:w-1/2 lg:w-1/2 px-10 py-2">
                  <label>Place of Death</label> 
                 
                <div class="relative">
                  <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin text-blue-500" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <circle cx="12" cy="11" r="3"></circle>
                          <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"></path>
                       </svg>
                  </div>
                 <input type="text" class="mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input" placeholder="Input Place of Death">
                </div>
          
                </div>

            </div>

            <!--border-->
            <div class="text-gray-600 border border-slate-100 mx-5"></div>
          
            <!--Place of Occurence Section-->
            <div class="flex item-start flex-wrap pb-5">
          
              <div class="flex justify-between w-full px-5 mt-3 rounded-tl rounded-tr">
                <h4 class="font-bold text-blue-500 text-sm mt-2">Place of Occurence</h4>
                </div>
          
                <div class="relative w-full text-sm md:w-1/2 lg:w-1/2 px-10 py-2 mt-1">
                  <label>Region</label> 
   
                <div class="relative">
                  
                 <input type="text" class="mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input" placeholder="Select Region">
                </div>
          
                </div>
          
                <div class="relative w-full text-sm md:w-1/2 lg:w-1/2 px-10 py-2 mt-1">
                  <label>Province</label> 
    
                <div class="relative">
                  
                 <input type="text" class="mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input" placeholder="Select Province">
                </div>
          
                </div>

                <div class="relative w-full text-sm md:w-1/2 lg:w-1/2 px-10 py-2">
                  <label>Municipality</label> 
   
                <div class="relative">
                  
                 <input type="text" class="mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input" placeholder="Select Municipality">
                </div>
          
                </div>
          
                <div class="relative w-full text-sm md:w-1/2 lg:w-1/2 px-10 py-2">
                  <label>Barangay</label> 
       
                <div class="relative">
                 
                 <input type="text" class="mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input" placeholder="Select Barangay">
                </div>
          
                </div>
          
            </div>

            <!--border-->
            <div class="text-gray-600 border border-slate-100 mx-5"></div>
          
            <!--Cause of Death Section-->
            <div class="flex item-start flex-wrap pb-5">
          
              <div class="flex justify-between w-full px-5 mt-3 rounded-tl rounded-tr">
                <h4 class="font-bold text-blue-500 text-sm mt-2">Cause of Death</h4>
              </div>
          
            <div class="relative w-full text-sm px-10 py-2 mt-2">
                <label>Immediate Cause</label> 
              <div class="relative">
                <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-notes text-blue-500" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <rect x="5" y="3" width="14" height="18" rx="2"></rect>
                    <line x1="9" y1="7" x2="15" y2="7"></line>
                    <line x1="9" y1="11" x2="15" y2="11"></line>
                    <line x1="9" y1="15" x2="13" y2="15"></line>
                 </svg>
                </div>
               <input type="text" class="mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input" placeholder="Input Immediate Cause">
              </div>
            </div>
          
            <div class="relative w-full text-sm px-10 py-2">
              <label>Antecedent Cause</label> 
            <div class="relative">
              <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-notes text-blue-500" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <rect x="5" y="3" width="14" height="18" rx="2"></rect>
                  <line x1="9" y1="7" x2="15" y2="7"></line>
                  <line x1="9" y1="11" x2="15" y2="11"></line>
                  <line x1="9" y1="15" x2="13" y2="15"></line>
               </svg>
              </div>
             <input type="text" class="mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input" placeholder="Input Antecedent Cause">
            </div>
          </div>
          
          <div class="relative w-full text-sm px-10 py-2">
            <label>Underlying Cause</label> 
          <div class="relative">
            <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-notes text-blue-500" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <rect x="5" y="3" width="14" height="18" rx="2"></rect>
                <line x1="9" y1="7" x2="15" y2="7"></line>
                <line x1="9" y1="11" x2="15" y2="11"></line>
                <line x1="9" y1="15" x2="13" y2="15"></line>
             </svg>
            </div>
           <input type="text" class="mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input" placeholder="Input Underlying Cause">
          </div>
          </div>
          
          <div class="relative w-full text-sm px-10 py-2">
            <label>Remarks</label> 
          <div class="relative">
            <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil text-blue-500" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4"></path>
                <line x1="13.5" y1="6.5" x2="17.5" y2="10.5"></line>
             </svg>
            </div>
           <input type="text" class="mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input" placeholder="Input Remarks">
          </div>
          </div>
          
          </div>

          </table>
        </div>

          <!-- Modal footer -->
          <div class="flex justify-end py-4 px-5 space-x-4 rounded-b border-t border-gray-200 dark:border-gray-600">
              <button  type="button" class="text-white bg-red-500 hover:ring-4 focus:outline-none hover:ring-red-300 rounded text-sm font-medium px-6 py-2.5 transition duration-150 ease-in-out transform hover:scale-110" (click)="toggleDeathRecordModal()">Close</button>
              <button  type="button" class="text-white bg-blue-500 hover:ring-4 focus:outline-none hover:ring-blue-300 font-medium rounded text-sm px-6 py-2.5 text-center transition duration-150 ease-in-out transform hover:scale-110" (click)="toggleDeathRecordModal()">Save</button>
          </div>
      </div>
  </div>
</div>


<div *ngIf="showDeathRecordModal" class="opacity-50 fixed inset-0 z-50 bg-black"></div>
