<div class="rounded-xl text-gray-600 border border-slate-100" *ngIf="show_form"> <!-- overflow-y-scroll scrollbar-thin  style="height: 38rem;" -->
  <div class="block m-0 relative p-0 divide-y-2 divide-gray-200 divide-solid  scrollbar-thumb-white hover:scrollbar-thumb-blue-300 scrollbar-track-white">
    <div class="flex justify-items-start sticky top-0 bg-white">
      <div class="m-3">
        <img src="./assets/img/profile_2.jpg" class="rounded-full w-16 h-16 mx-auto m-2" />
      </div>
      <div class="mt-4 leading-tight">
        <span class="block text-blue-500 font-medium">
          {{ patient_info?.last_name }}, {{ patient_info?.first_name }} {{ patient_info?.middle_name }}
        </span>

        <span class="block text-xs">
          {{ patient_info?.birthdate | date: 'M/dd/Y' }} [{{ getAge() }}]
        </span>

        <div class="flex pt-2">
          <fa-icon class="mx-0 my-0 text-gray-500 mr-2" [icon]="faHeart" size="lg"></fa-icon>
          <fa-icon class="mx-0 my-0 text-green-500 mr-2" [icon]="faFlask" size="lg"></fa-icon>
          <fa-icon class="mx-0 my-0 text-blue-500 mr-2" [icon]="faNotesMedical" size="lg"></fa-icon>
          <fa-icon class="mx-0 my-0 text-red-500 mr-2" [icon]="faExclamationCircle" size="lg"></fa-icon>
        </div>
      </div>
    </div>

    <div class="block justify-items-start mx-5 mb-5">
      <div class="mt-4 leading-tight">
        <span class="block text-blue-500 font-medium text-sm">
          ADDRESS
        </span>
        <span class="block text-xs">
          San Rafael, Tarlac City
        </span>
      </div>

      <div class="mt-4 leading-tight">
        <span class="block text-blue-500 font-medium text-sm">
          CONTACT NUMBER
        </span>
        <span class="block text-xs">
          {{ patient_info?.mobile_number }}
        </span>
      </div>

      <div class="mt-4 leading-tight">
        <span class="block text-blue-500 font-medium text-sm">
          PHILHEALTH
        </span>
        <span class="block text-xs text-red-500">
          00-000000000-0 (12/31/2019)
        </span>
      </div>
    </div>

    <div class="block pt-4 justify-items-start mx-5 mb-5">
      <div class="flex justify-between items-center">
        <span class="block text-blue-500 font-medium text-sm">
          VITALS
        </span>
        <fa-icon (click)="toggleModal('vitals-modal')" class="mx-0 my-0 text-blue-500 mr-2 hover:cursor-pointer" [icon]="faPlusCircle"></fa-icon>
      </div>

      <div class="block">
        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            Weight
          </span>
          <span class="block text-xs">
            -
          </span>
        </div>

        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            Height
          </span>
          <span class="block text-xs">
            -
          </span>
        </div>

        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            BMI
          </span>
          <span class="block text-xs">
            -
          </span>
        </div>

        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            Temparature
          </span>
          <span class="block text-xs">
            -
          </span>
        </div>
      </div>
    </div>


    <div class="block pt-4 justify-items-start mx-5 mb-5">
      <div class="flex justify-between items-center">
        <span class="block text-blue-500 font-medium text-sm">
          ALLERGIES
        </span>
        <fa-icon (click)="toggleModal('allergies-modal')" class="mx-0 my-0 text-blue-500 mr-2 hover:cursor-pointer" [icon]="faPlusCircle"></fa-icon>
      </div>

      <div class="block">
        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            No Records
          </span>
          <span class="block text-xs">
            -
          </span>
        </div>
      </div>
    </div>

    <div class="block pt-4 justify-items-start mx-5 mb-5">
      <div class="flex justify-between items-center">
        <span class="block text-blue-500 font-medium text-sm">
          MEDICATION
        </span>
        <fa-icon (click)="toggleModal('medication-modal')" class="mx-0 my-0 text-blue-500 mr-2 hover:cursor-pointer" [icon]="faPlusCircle"></fa-icon>
      </div>

      <div class="block">
        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            No Records
          </span>
          <span class="block text-xs">

          </span>
        </div>
      </div>
    </div>

    <div class="block pt-4 justify-items-start mx-5 mb-5">
      <div class="flex justify-between items-center">
        <span class="block text-blue-500 font-medium text-sm">
          VACCINES
        </span>
        <fa-icon (click)="toggleModal('vaccine-modal')" class="mx-0 my-0 text-blue-500 mr-2 hover:cursor-pointer" [icon]="faPlusCircle"></fa-icon>
      </div>

      <div class="block">
        <div class="flex pl-3 justify-between items-center mb-3 border-b border-b-gray-100" *ngFor="let vaccine of vaccine_list">
          <span class="block text-gray-800 font-medium text-xs">
            <span class="font-bold">{{ vaccine.vaccine_id }}</span> <br />({{ vaccine.status_id === 1 ? 'Done' : (vaccine.status_id === 2 ? 'Done Outside - Private' : 'Done Outside - Public') }})
          </span>
          <span class="block italic text-xs">
            {{ vaccine.vaccine_date }}
          </span>
        </div>
      </div>
    </div>

    <div class="block pt-4 justify-items-start mx-5 mb-5">
      <div class="flex justify-between items-center">
        <span class="block text-blue-500 font-medium text-sm">
          MEDICAL HISTORY
        </span>
        <fa-icon (click)="toggleModal('history-modal')" class="mx-0 my-0 text-blue-500 mr-2 hover:cursor-pointer" [icon]="faPlusCircle"></fa-icon>
      </div>

      <div class="block">
        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            No Records
          </span>
          <span class="block text-xs">
            -
          </span>
        </div>
      </div>
    </div>

    <div class="block pt-4 justify-items-start mx-5 mb-5">
      <div class="flex justify-between items-center">
        <span class="block text-blue-500 font-medium text-sm">
          FAMILY MEDICAL HISTORY
        </span>
        <fa-icon (click)="toggleModal('fam-history-modal')" class="mx-0 my-0 text-blue-500 mr-2 hover:cursor-pointer" [icon]="faPlusCircle"></fa-icon>
      </div>

      <div class="block">
        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            No Records
          </span>
          <span class="block text-xs">

          </span>
        </div>
      </div>
    </div>

    <div class="block pt-4 justify-items-start mx-5 mb-5">
      <div class="flex justify-between items-center">
        <span class="block text-blue-500 font-medium text-sm">
          LIFESTYLE
        </span>
        <fa-icon (click)="toggleModal('lifestyle-modal')" class="mx-0 my-0 text-blue-500 mr-2 hover:cursor-pointer" [icon]="faPlusCircle"></fa-icon>
      </div>

      <div class="block">
        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            SMOKER
          </span>
          <span class="block text-xs">
            -
          </span>
        </div>

        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            ALCOHOL
          </span>
          <span class="block text-xs">
            -
          </span>
        </div>

        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            ILLICIT DRUGS
          </span>
          <span class="block text-xs">
            -
          </span>
        </div>
      </div>
    </div>

    <div class="block pt-4 justify-items-start mx-5 mb-5">
      <div class="flex justify-between items-center">
        <span class="block text-blue-500 font-medium text-sm">
          DEATH RECORD
        </span>
        <fa-icon (click)="toggleModal('death-modal')" class="mx-0 my-0 text-blue-500 mr-2 hover:cursor-pointer" [icon]="faPlusCircle"></fa-icon>
      </div>

      <div class="block">
        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            -
          </span>
          <span class="block text-xs">
            -
          </span>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- MODALS -->
<div *ngIf="vitalsModal">
  <app-vitals-modal (toggleModal)="toggleModal('vitals-modal')"></app-vitals-modal>
</div>

<div *ngIf="allergiesModal">
  <app-allergies-modal (toggleModal)="toggleModal('allergies-modal')"></app-allergies-modal>
</div>

<div *ngIf="medicationModal">
  <app-medication-modal (toggleModal)="toggleModal('medication-modal')"></app-medication-modal>
</div>

<div *ngIf="vaccineModal">
  <app-vaccine-modal (toggleModal)="toggleModal('vaccine-modal')" [patient_info]="patient_info"></app-vaccine-modal>
</div>

<div *ngIf="historyModal">
  <app-history-modal (toggleModal)="toggleModal('history-modal')"></app-history-modal>
</div>

<div *ngIf="famHistoryModal">
  <app-fam-history-modal (toggleModal)="toggleModal('fam-history-modal')"></app-fam-history-modal>
</div>

<div *ngIf="lifestyleModal">
  <app-lifestyle-modal (toggleModal)="toggleModal('lifestyle-modal')"></app-lifestyle-modal>
</div>

<div *ngIf="deathRecordModal">
  <app-death-modal (toggleModal)="toggleModal('death-modal')"></app-death-modal>
</div>

