<div class="rounded-xl text-gray-600 border border-slate-100">
  <div class="block m-0 p-0 divide-y-2 divide-gray-200 divide-solid">
    <div class="flex justify-items-start">
      <div class="m-3">
        <img src="./assets/img/profile_2.jpg" class="rounded-full w-16 h-16 mx-auto m-2" />
      </div>
      <div class="mt-4 leading-tight">
        <span class="block text-blue-500 font-medium">
          Seo, Dal-mi
        </span>

        <span class="block text-xs">
          10/10/1994 [26 years old]
        </span>

        <div class="flex pt-2">
          <fa-icon class="mx-0 my-0 text-gray-500 mr-2" [icon]="faHeart" size="lg"></fa-icon>
          <fa-icon class="mx-0 my-0 text-green-500 mr-2" [icon]="faFlask" size="lg"></fa-icon>
          <fa-icon class="mx-0 my-0 text-blue-500 mr-2" [icon]="faNotesMedical" size="lg"></fa-icon>
          <fa-icon class="mx-0 my-0 text-red-500 mr-2" [icon]="faExclamationCircle" size="lg"></fa-icon>
        </div>
      </div>
    </div>

    <div class="block justify-items-start mx-5 mb-5">
      <div class="mt-4 leading-tight">
        <span class="block text-blue-500 font-medium text-sm">
          ADDRESS
        </span>
        <span class="block text-xs">
          Gwangju, South Korea
        </span>
      </div>

      <div class="mt-4 leading-tight">
        <span class="block text-blue-500 font-medium text-sm">
          CONTACT NUMBER
        </span>
        <span class="block text-xs">
          +63917-777-7777
        </span>
      </div>

      <div class="mt-4 leading-tight">
        <span class="block text-blue-500 font-medium text-sm">
          PHILHEALTH
        </span>
        <span class="block text-xs text-red-500">
          00-000000000-0 (12/31/2019)
        </span>
      </div>
    </div>

    <div class="block pt-4 justify-items-start mx-5 mb-5">
      <div class="flex justify-between items-center">
        <span class="block text-blue-500 font-medium text-sm">
          VITALS
        </span>
        <fa-icon class="mx-0 my-0 text-blue-500 mr-2" [icon]="faPlusCircle"></fa-icon>
      </div>

      <div class="block">
        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            Weight
          </span>
          <span class="block text-xs">
            56 kg
          </span>
        </div>

        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            Height
          </span>
          <span class="block text-xs">
            168 cm (5ft 6in)
          </span>
        </div>

        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            BMI
          </span>
          <span class="block text-xs">
            19.8 (Normal)
          </span>
        </div>

        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            Temparature
          </span>
          <span class="block text-xs">
            -
          </span>
        </div>
      </div>
    </div>

    <div class="block pt-4 justify-items-start mx-5 mb-5">
      <div class="flex justify-between items-center">
        <span class="block text-blue-500 font-medium text-sm">
          ALLERGIES
        </span>
        <fa-icon class="mx-0 my-0 text-blue-500 mr-2" [icon]="faPlusCircle"></fa-icon>
      </div>

      <div class="block">
        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            Peanuts (direct contact)
          </span>
          <span class="block text-xs">
            -
          </span>
        </div>
      </div>
    </div>

    <div class="block pt-4 justify-items-start mx-5 mb-5">
      <div class="flex justify-between items-center">
        <span class="block text-blue-500 font-medium text-sm">
          MEDICATION
        </span>
        <fa-icon class="mx-0 my-0 text-blue-500 mr-2" [icon]="faPlusCircle"></fa-icon>
      </div>

      <div class="block">
        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            Lozartan
          </span>
          <span class="block text-xs">
            3x a day
          </span>
        </div>
      </div>
    </div>

    <div class="block pt-4 justify-items-start mx-5 mb-5">
      <div class="flex justify-between items-center">
        <span class="block text-blue-500 font-medium text-sm">
          VACCINES
        </span>
        <fa-icon class="mx-0 my-0 text-blue-500 mr-2" [icon]="faPlusCircle"></fa-icon>
      </div>

      <div class="block">
        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            IPV
          </span>
          <span class="block text-xs">
            01/01/2019
          </span>
        </div>
      </div>
    </div>

    <div class="block pt-4 justify-items-start mx-5 mb-5">
      <div class="flex justify-between items-center">
        <span class="block text-blue-500 font-medium text-sm">
          MEDICAL HISTORY
        </span>
        <fa-icon class="mx-0 my-0 text-blue-500 mr-2" [icon]="faPlusCircle"></fa-icon>
      </div>

      <div class="block">
        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            -
          </span>
          <span class="block text-xs">
            -
          </span>
        </div>
      </div>
    </div>

    <div class="block pt-4 justify-items-start mx-5 mb-5">
      <div class="flex justify-between items-center">
        <span class="block text-blue-500 font-medium text-sm">
          FAMILY MEDICAL HISTORY
        </span>
        <fa-icon class="mx-0 my-0 text-blue-500 mr-2" [icon]="faPlusCircle"></fa-icon>
      </div>

      <div class="block">
        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            HYPERTENSION
          </span>
          <span class="block text-xs">
            150/100
          </span>
        </div>

        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            DIABETES
          </span>
          <span class="block text-xs">
            TYPE II
          </span>
        </div>
      </div>
    </div>

    <div class="block pt-4 justify-items-start mx-5 mb-5">
      <div class="flex justify-between items-center">
        <span class="block text-blue-500 font-medium text-sm">
          LIFESTYLE
        </span>
        <fa-icon class="mx-0 my-0 text-blue-500 mr-2" [icon]="faPlusCircle"></fa-icon>
      </div>

      <div class="block">
        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            SMOKER
          </span>
          <span class="block text-xs">
            No
          </span>
        </div>

        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            ALCOHOL
          </span>
          <span class="block text-xs">
            1
          </span>
        </div>

        <div class="flex pl-3 justify-between items-center">
          <span class="block text-gray-800 font-medium text-xs">
            ILLICIT DRUGS
          </span>
          <span class="block text-xs">
            No
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
