<hr class="my-4">
<div class="grid grid-cols-10">
  <div class="col-span-2 pt-2 font-semibold">
    Management
  </div>
  <div class="col-span-8">
    <div class="rounded-md border border-solid border-gray-300">
      <span class="rounded-t-md m-0 p-2 font-semibold text-gray-50 bg-cyan-500 flex justify-between" [ngClass]="{'rounded-b' : !show_content}">
        Management/Counselling
        <button type="button" (click)="show_content = !show_content">
          <fa-icon [icon]="show_content ? faChevronCircleUp : faChevronCircleDown" class="pr-2" size="lg"></fa-icon>
        </button>
      </span>

      <div *ngIf="show_content">
        <div class="flex item-start flex-wrap pt-3 px-5 first:mt-5 last:mb-10" *ngFor="let mgmt of management_codes">

          <div class="w-4/12 flex mb-2" >
            <input [disabled]="consult_done || !allowed_to_edit" type="checkbox" [(ngModel)]="management_list.management_code[mgmt.code]"
            attr.id="management_list{{mgmt.code}}" class="disabled:bg-gray-300 flex-none mt-2 mr-2 border border-gray-300 sm:text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block p-2.5">
            <label attr.for="management_list{{mgmt.code}}" class="flex-1 mt-2 text-gray-800">{{ mgmt.desc }}</label>
          </div>

          <div class="w-8/12">
            <input type="text" class="input disabled:bg-gray-300" [disabled]="!management_list.management_code[mgmt.code]" [(ngModel)]="management_list.remarks[mgmt.code]"/>
          </div>
        </div>

        <div class="flex text-right mt-5">
          <button *ngIf="!consult_done && allowed_to_edit" [disabled]="is_saving" type="button" class="btn-save ml-auto mr-5 mb-5 px-10 disabled:bg-gray-300" (click)="onSubmit()">
            <fa-icon *ngIf="is_saving" class="mr-2" [icon]="faSpinner" spin="true"></fa-icon>
            <fa-icon *ngIf="!is_saving" class="mr-2" [icon]="faSave"></fa-icon>
            {{ is_saving ? 'Saving' : 'Save' }}
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
