<div class="mb-16 w-full">
  <div class="block shadow p-4 mt-4 rounded-xl text-gray-600">
    <span class="text-sky-500 font-bold flex justify-between py-2">
      <div>
        <span *ngIf="show_form && !program_creds" class="flex rounded-md border border-yellow-500 bg-yellow-100 text-yellow-700 text-sm font-normal p-3">
          There are no credential for the selected program
        </span>
      </div>
      <div class="text-sm font-normal"> <!--  || caserate_list?.length===0 -->
        <button [disabled]="!program_creds" type="button" class="w-32 px-3 py-2 rounded-md bg-blue-500 text-sm text-white ml-auto mr-1 disabled:bg-gray-400" (click)="toggleModal('pbef')">
          PBEF
        </button>
        <button [disabled]="!program_creds || caserate_list?.length===0" type="button" class="w-32 px-3 py-2 rounded-md bg-blue-500 text-sm text-white ml-auto mr-1 disabled:bg-gray-400" (click)="toggleModal('cf2')">
          CF2
        </button>
      </div>
    </span>

    <div class="border border-slate-200 shadow-md rounded-xl">
      <div class="w-full bg-blue-500 text-white rounded-t-xl p-3 font-semibold flex justify-between">
        <span>Eclaims</span>
      </div>

      <div class="w-full p-5 overflow-x-auto">
        <table class="table-fixed w-full text-sm text-left text-gray-500">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700">
            <tr>
              <th scope="col" class="py-3 px-3">Caserate</th>
              <th scope="col" class="py-3 w-1/5">
                1. Transmittal Number <br />
                2. Ticket Number <br />
                3. Claim Series Lhio
              </th>
              <th scope="col" class="py-3 px-3">Transmittal Date</th>
              <th scope="col" class="py-3 px-3">Claim Status</th>
              <th scope="col" class="py-3 px-3">Details</th>
              <th scope="col" class="py-3 px-3">Action</th>
            </tr>
          </thead>
          <tbody *ngIf="show_form"> <!-- *ngFor="let philhealth of philhealth_infos"  -->
            <tr *ngFor="let eclaims of eclaims_list" class="bg-white border-b last:border-0">
              <td>
                {{ eclaims.caserate.caserate_code }} <br />
                {{ eclaims.caserate.code }}
              </td>
              <td class="py-4 px-3 text-xs">
                1. {{ eclaims.pHospitalTransmittalNo }} <br />
                2. {{ eclaims.pReceiptTicketNumber ?? '-' }} <br />
                3. {{ eclaims.pClaimSeriesLhio ?? '-' }}
              </td>
              <td class="py-4 px-3">
                {{ eclaims.pTransmissionDate ?? '-' }}
              </td>
              <td class="py-4 px-3">
                {{ eclaims.pStatus ?? 'IN QUEUE'  }}
              </td>
              <td class="py-4 px-3">
                {{ eclaims.denied_reason ?? '-'  }}
              </td>
              <td class="py-4 px-3 text-center grid grid-cols-1">
                <button *ngIf="eclaims.pStatus === '' || !eclaims.pStatus" class="bg-blue-500 text-white rounded-md p-0.5 mb-3 disabled:opacity-75" type="button" (click)="toggleModal('upload-claims', eclaims)">
                  <fa-icon [icon]="faUpload"></fa-icon>
                  Upload Claim<!-- {{ eclaims.pReceiptTicketNumber ? 'Reupload Docs' : 'Upload Claim' }} -->
                </button>

                <button *ngIf="eclaims.pStatus === 'RETURN'" class="bg-blue-500 text-white rounded-md p-0.5 mb-3 disabled:opacity-75" type="button" (click)="toggleModal('upload-required-claims', eclaims)">
                  <fa-icon [icon]="faUpload"></fa-icon>
                  Upload Required Docs
                </button>


                <button *ngIf="!eclaims.pReceiptTicketNumber" class="bg-rose-500 text-white rounded-md p-0.5 mb-3 disabled:opacity-75" type="button" (click)="reopenCf2('cf2', eclaims)">
                  <fa-icon [icon]="faPenToSquare"></fa-icon>
                  Update CF2 XML
                </button>

                <button class="bg-green-500 text-white rounded-md p-0.5 mb-3 disabled:opacity-75" type="button" *ngIf="eclaims.pReceiptTicketNumber && !eclaims.pClaimSeriesLhio" (click)="checkSeries(eclaims)" [disabled]="is_refreshing">
                  <fa-icon [icon]="is_refreshing ? faRotate : faReceipt" [spin]="is_refreshing"></fa-icon>
                  Get Series Lhio
                </button>

                <button class="bg-green-500 text-white rounded-md p-0.5 mb-3 disabled:opacity-75" type="button" *ngIf="eclaims.pClaimSeriesLhio && !eclaims.denied_reason" (click)="getClaimStatus(eclaims, eclaims.pStatus)" [disabled]="is_refreshing">
                  <fa-icon [icon]="is_refreshing ? faRotate : faClipboardQuestion" [spin]="is_refreshing"></fa-icon>
                  Check {{ eclaims.pStatus === 'DENIED' ? 'Reason' : 'Status' }}
                </button>
              </td>
            </tr>
            <tr *ngIf="eclaims_list.length===0">
              <td colspan="6" class="text-center italic">
                No record found
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="!show_form">
            <tr>
              <td colspan="7">
                <div class="grid grid-cols-1 my-16">
                  <div class="flex justify-center text-blue-500">
                    <fa-icon [icon]="faCircleNotch" spin="true"></fa-icon>
                  </div>
                  <div class="flex justify-center">
                    Fetching claims...
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-pbef *ngIf="modal['pbef']"
  (toggleModal)="toggleModal($event)"
  [patient]="patient"
  [patient_philhealth]="patient_philhealth"
  [program_name]="program_name"
  [program_creds]="program_creds"
  [selected_case]="selected_case"
  [caserate_list]="caserate_list"
></app-pbef>

<app-cf1 *ngIf="modal['cf1']"
  (toggleModal)="toggleModal($event)"
  [patient]="patient"
  [patient_philhealth]="patient_philhealth"
  [program_creds]="program_creds"
></app-cf1>

<app-cf2 *ngIf="modal['cf2']"
  (toggleModal)="toggleModal($event)"
  [patient]="patient"
  [program_name]="program_name"
  [program_id]="program_id"
  [caserate_list]="caserate_list"
  [selected_case]="selected_case"
  [selected_transmittalNumber]="selected_transmittalNumber"
></app-cf2>

<app-upload-claims *ngIf="modal['upload-claims']"
  (modalToggle)="toggleModal($event)"
  [patient]="patient"
  [program_name]="program_name"
  [selected_pHospitalTransmittalNo]="selected_pHospitalTransmittalNo"
  [caserate_code]="selected_caserate_code"
  [selected_ticket_number]="selected_ticket_number"
></app-upload-claims>

<app-upload-required-claims *ngIf="modal['upload-required-claims']"
  (modalToggle)="toggleModal($event)"
  [patient]="patient"
  [program_name]="program_name"
  [selected_pHospitalTransmittalNo]="selected_pHospitalTransmittalNo"
  [caserate_code]="selected_caserate_code"
  [selected_ticket_number]="selected_ticket_number"
  [selected_series_lhio]="selected_series_lhio"
></app-upload-required-claims>
