<!-- <div class="grid grid-cols-11 mt-4 gap-4"> -->
  <div class="mb-16 w-full">
    <div class="block shadow p-4 mt-4 rounded-xl text-gray-600">
      <span class="text-sky-500 font-bold flex justify-between py-2">
        <span class="flex">
          <!-- <button class="font-normal text-sky-500 px-2 py-1 text-sm  mr-2" type="button" (click)="toggleAll()">
            <fa-icon [icon]="toggle_content ? faChevronUp : faChevronDown" size="lg"></fa-icon>
          </button> -->
          <span class="mt-2"> <span class="text-gray-500 text-sm"><!-- ({{ consult_details?.consult_date | date: 'MM/dd/yyyy hh:mm:ss a' }} | ID:{{ consult_details?.id }}) --></span></span>
        </span>
        <div class="text-sm font-normal">
          <!-- <button type="button" class="w-32 px-3 py-2 rounded-md bg-blue-500 text-sm text-white ml-auto mr-3" (click)="toggleModal('check_claims')">
            Check claims
          </button> -->
          <button type="button" class="w-32 px-3 py-2 rounded-md bg-blue-500 text-sm text-white ml-auto mr-1" (click)="toggleModal('pbef')">
            PBEF
          </button>
          <button *ngIf="caserate_list" type="button" class="w-32 px-3 py-2 rounded-md bg-blue-500 text-sm text-white ml-auto  mr-1" (click)="toggleModal('cf1')">
            CF1
          </button>
          <button *ngIf="caserate_list" type="button" class="w-32 px-3 py-2 rounded-md bg-blue-500 text-sm text-white ml-auto  mr-1" (click)="toggleModal('cf2')">
            CF2
          </button>
          <button type="button" class="w-32 px-3 py-2 rounded-md bg-green-500 text-sm text-white ml-auto " (click)="toggleModal('upload')">
            Upload
          </button>
        </div>
      </span>

      <div class="border border-slate-200 shadow-md rounded-xl">
        <div class="w-full bg-blue-500 text-white rounded-t-xl p-3 font-semibold flex justify-between">
          <span>Eclaims</span>
          <button type="button" (click)="refreshClaims()">
            <fa-icon [icon]="faRotate" [spin]="is_refreshing"></fa-icon>
          </button>
        </div>

        <div class="w-full p-5">
          <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                <th scope="col" class="py-3 px-6">Claim Series Lhio</th>
                <th scope="col" class="py-3 px-6">Transmittal Date</th>
                <th scope="col" class="py-3 px-6">Claim Status</th>
                <th scope="col" class="py-3 px-6">As of</th>
                <th scope="col" class="py-3 px-6">Action</th>
              </tr>
            </thead>
            <tbody> <!-- *ngFor="let philhealth of philhealth_infos"  -->
              <tr *ngFor="let lab of pending_list" class="bg-white border-b last:border-0">
                <td class="w-1/3 py-4 px-6">
                  <fa-icon (click)="toggleModal('delete', lab)" size="lg" class="mx-0 my-0 text-rose-400 hover:cursor-pointer flex-none mr-2" [icon]="faXmark"></fa-icon>
                  {{ lab.type }}
                </td>
                <th scope="row" class="w-1/3 py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
                  {{ lab.date_requested }}
                </th>
                <td class="w-1/3 py-4 px-6">
                  <!-- <fa-icon (click)="toggleModal('delete')" size="xl" class="mr-5 mx-0 my-0 text-rose-400 hover:cursor-pointer flex-none mr-2" [icon]="faTrash"></fa-icon> -->
                  <fa-icon (click)="toggleModal('add', lab)" size="lg" class="mx-0 my-0 text-blue-500 hover:cursor-pointer flex-none mr-2" [icon]="faEdit"></fa-icon>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
<!--
<app-ekas *ngIf="modal['ekas']" (toggleModal)="toggleModal($event)"></app-ekas>
<app-epres *ngIf="modal['epres']" (toggleModal)="toggleModal($event)"></app-epres> -->

<app-pbef *ngIf="modal['pbef']"
  (toggleModal)="toggleModal($event)"
  [patient]="patient"
  [patient_philhealth]="patient_philhealth"
  [program_name]="program_name"
  [program_creds]="program_creds"
></app-pbef>

<app-cf1 *ngIf="modal['cf1']"
  (toggleModal)="toggleModal($event)"
  [patient]="patient"
  [patient_philhealth]="patient_philhealth"
  [program_creds]="program_creds"
></app-cf1>

<app-cf2 *ngIf="modal['cf2']"
  (toggleModal)="toggleModal($event)"
  [patient]="patient"
  [program_name]="program_name"
  [program_id]="program_id"
  [caserate_list]="caserate_list"
  [selected_case]="selected_case"
></app-cf2>
