<div class="grid grid-cols-4 border border-slate-200 rounded-xl w-full shadow-md">
  <div class="bg-blue-500 rounded-t-xl p-3 col-span-4 text-white font-semibold">
    Catchment Barangays
  </div>
  <div class="col-span-4 grid grid-cols-3 gap-4 p-5 h-[600px] overflow-y-auto">
    <!-- <div class="col-span-3">
      <input class="input-checkbox" attr.id="all_selected" [(ngModel)]="all_selected" />
      <label class="pl-2 select-none" attr.for="all_selected">Select All</label>
    </div> -->
    <div *ngFor="let brgy of barangays">
      <input type="checkbox" class="input-checkbox" attr.id="selected_catchment{{brgy.code}}" [(ngModel)]="selected_catchment[brgy.code]" />
      <label class="pl-2 select-none" attr.for="selected_catchment{{brgy.code}}">{{ brgy.name }}</label>
    </div>
  </div>
  <div class="col-span-4 rounded-b-xl border-t border-slate-200 text-end">
    <button class="btn-save m-5 select-none" (click)="onSubmit()" >
      <fa-icon [icon]="faSave" class="pr-2"></fa-icon>
      Save
    </button>
  </div>
</div>
