
<div class="bg-white border border-solid border-slate-100 rounded-xl shadow-md">
  <div class="border border-solid border-slate-100 rounded-t-xl font-semibold justify-between">
    <div class="flex border border-solid border-slate-100 rounded-t-xl p-3 font-semibold justify-between">
      <div class="text-blue-500 text-lg pt-2 pl-5">
        Facility Credentials
      </div>
      <div>
        <!-- <button *ngIf="is_updating" class="text-white-500 bg-amber-500 active:bg-amber-300 hover:bg-amber-600 text-sm px-4 py-2 rounded hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
          <fa-icon class="mr-3" [icon]="faSpinner" animation="spin"></fa-icon>
          Updating
        </button> -->
      </div>

      <div class="flex">
        <!-- <div class="border border-gray-400 rounded-md">
          <input type="text" [(ngModel)]="search_item" class="form-input border-0 text-sm p-1 m-1 border-r border-gray-400" (keyup.enter)="loadList()" placeholder="Search name"/>
          <button type="button" class="text-blue-500 w-9 h-9" (click)="loadList()">
            <fa-icon class="-ml-1" [icon]="faSearch"></fa-icon>
          </button>
        </div>
        <button type="button" (click)="extractReg()" class="ml-3 text-white bg-blue-500 h-8 w-8 mt-1 rounded-md">
          <fa-icon [icon]="faRotate"></fa-icon>
        </button> -->
        <button type="button" (click)="toggleModal('add')" class="ml-3 text-white bg-blue-500 px-5 mt-1 rounded-md text-sm">
          <fa-icon [icon]="faPlus" class="mr-2"></fa-icon>Add Accreditation
        </button>
      </div>
    </div>

    <div *ngIf="submit_error" class="col-span-8 bg-red-200 rounded border border-red-300 text-red-900 text-sm">
      <div class="block p-3 pl-10" >
        <ul class="list-disc" >
          <li *ngFor="let error of submit_error | keyvalue">{{ error.value }}</li>
        </ul>
      </div>
    </div>

    <div>
      <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 mb-5">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="py-3 px-6">Facility Name</th>
              <th scope="col" class="py-3 px-6">Facility Code</th>
              <th scope="col" class="py-3 px-6">Program</th>
              <th scope="col" class="py-3 px-6">PMCC Number</th>
              <th scope="col" class="py-3 px-6">Accreditation Number</th>
              <th scope="col" class="py-3 px-6">Software Cert ID</th>
              <th scope="col" class="py-3 px-6">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let accred of accred_list; let odd = odd; let i = index" class="bg-white border-t" [ngClass]="{'bg-gray-50': odd}" >
              <th scope="row" class="py-4 px-6 font-medium whitespace-nowrap">
                {{ accred.facility_name }}
              </th>
              <td class="py-4 px-6">
                {{ accred.facility_code }}
              </td>
              <td class="py-4 px-6">
                {{ accred.program_code }}
              </td>
              <td class="py-4 px-6">
                {{ accred.pmcc_number }}
              </td>
              <td class="py-4 px-6">
                {{ accred.accreditation_number }}
              </td>
              <td class="py-4 px-6">
                {{ accred.software_certification_id }}
              </td>
              <td class="py-4 px-6">
                <fa-icon [icon]="faPenToSquare" class="text-orange-500 cursor-pointer" (click)="openEdit('add', accred)"></fa-icon>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div *ngIf="konsulta_list?.length >= 10">
    <div class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6">
      <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
        <div>
          <p class="text-sm text-gray-700">
            Showing <span class="font-medium">{{ from }}</span>
            to <span class="font-medium">{{ to }}</span>
            of <span class="font-medium">{{ total }}</span> results
          </p>
        </div>
        <div>
          <nav class="relative z-0 inline-flex shadow-sm -space-x-px" aria-label="Pagination">
            <button [disabled]="current_page===1" (click)="loadList(1)" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 enabled:bg-white disabled:bg-gray-300 text-sm font-medium text-gray-500 hover:bg-gray-50">
              <fa-icon [icon]="faAnglesLeft" class="block h-15 w-15 text-gray-500 pr-1"></fa-icon>
            </button>

              <button [disabled]="current_page===1" (click)="loadList(current_page-1)" class="relative inline-flex items-center px-4 py-2 border border-gray-300 enabled:bg-white disabled:bg-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50">
                <fa-icon [icon]="faChevronLeft" class="block h-15 w-15 text-gray-500 pr-1"></fa-icon>Previous
              </button>
              <button [disabled]="current_page===last_page" (click)="loadList(current_page+1)" class="relative inline-flex items-center px-4 py-2 border border-gray-300 enabled:bg-white disabled:bg-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50">
                Next<fa-icon [icon]="faChevronRight" class="h-5 w-5 text-gray-500"></fa-icon>
              </button>

            <button [disabled]="current_page===last_page" (click)="loadList(last_page)" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 enabled:bg-white disabled:bg-gray-300 text-sm font-medium text-gray-500 hover:bg-gray-50">
              <fa-icon [icon]="faAnglesRight" class="h-5 w-5 text-gray-500"></fa-icon>
            </button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<app-facility-form *ngIf="modals['add']" [credential_to_edit]="credential_to_edit" (toggleModal)="toggleModal($event)"></app-facility-form>
