<div class="grid gap-4 relative animates-dropdown" style="grid-template-columns: repeat(16, minmax(0, 1fr));"
   *ngIf="!focused">
   <div
      class="border border-blue-400 col-span-2 relative mx-2 px-2 py-1 rounded-t-lg text-sm bg-blue-500 text-white"
      style="grid-column: span 16 / span 16;"><button class="font-bold" type="button">{{module === 3?'Prenatal':(module === 4?'Postpartum':'Services')}} Services</button>
      <div class="absolute right-2 top-1">
         <fa-icon [icon]="faPenToSquare" size="md" class="text-white hover:text-gray-500" (click)="openModal()"
            *ngIf="service_list.length !== 0"></fa-icon>
      </div>
   </div>
   <div style="grid-column: span 16 / span 16;">
      <div class="grid gap-0" style="grid-template-columns: repeat(14, minmax(0, 1fr));">
         <div style="grid-column: span 14 / span 14;">
            <div
               class="grid gap-4 rounded-b-lg hover:drop-shadow-lg drop-shadow-md bg-white hover:border border-gray-300 hover:border-blue-400 p-2 m-2 border -mt-5"
               style="grid-template-columns: repeat(9, minmax(0, 1fr));">
               <div class="font-light col-span-4" *ngIf="service_list.length === 0">No records found.</div>
               <button *ngIf="service_list.length === 0" (click)="openModal()"
                  class="col-start-[9] bg-green-400 rounded hover:bg-green-500 font-medium text-white my-1 mx-2">Add</button>

               <div *ngIf="service_list.length !== 0" class="text-sm pb-1 font-semibold h-max  overflow-x-auto"
                  style="grid-column: span 9 / span 9;">
                  <table class="table-auto  overflow-x-auto">
                     <thead class="sticky top-0 ">
                        <tr>
                           <th class="px-2">Descriptions</th>
                           <th class="px-2">Date</th>
                           <th class="px-2">Quantity</th>
                           <th class="px-2" *ngIf="services_form.value.visit_status === 'Prenatal'">Positive</th>
                           <th class="px-2" *ngIf="services_form.value.visit_status === 'Prenatal'">Penicillin</th>
                           <th class="px-2">Visit Type</th>
                           <th class="px-2"></th>
                        </tr>
                     </thead>
                     <tbody *ngFor="let service of service_list; let i = index">
                        <tr *ngIf="service.visit_status === services_form.value.visit_status"
                           class="hover:bg-blue-100 group">
                           <td class="px-2 font-normal">{{service.service.desc}}</td>
                           <th class="px-2 font-normal">
                              <p *ngIf="edit !== i">{{service.service_date | date: 'MM/dd/yyyy':'Asia/Manila'}}</p>
                              <input [(ngModel)]="service_list[i].service_date" id="service_date" name="service_date"
                                 type="date" *ngIf="edit === i"
                                 class="calendar-style col-span-8 rounded border-solid border border-zinc-300 focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none disabled:cursor-not-allowed">
                           </th>
                           <th class="px-2 font-normal">
                              <p  >
                                 {{!service.group.qty?'-':(service.service_qty?(edit ===i?'':service.service_qty):'-')}}</p>
                              <input type="number" [(ngModel)]="service_list[i].service_qty" min="0"
                                 *ngIf="edit === i && service.group.qty"
                                 class="in-style font-medium disabled:group-hover:font-semibold peer invalid:border-red-500 border-check focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none rounded border-solid border border-zinc-300 placeholder-black placeholder-opacity-100 disabled:cursor-not-allowed disabled:border-0  disabled:pl-5  disabled:typed-out disabled:group-hover:bg-gray-100 disabled:rounded-full">
                           </th>
                           <th class="px-2 font-normal" *ngIf="services_form.value.visit_status === 'Prenatal'">
                              <fa-icon *ngIf="service.positive_result && service.group.pos && edit !== i"
                                 [icon]="faCircleCheck" size="md" class="text-red-400"></fa-icon>
                              <fa-icon *ngIf="!service.positive_result && service.group.pos && edit !== i"
                                 [icon]="faTimesCircle" size="md" class="text-green-400"></fa-icon>
                              <p *ngIf="!service.group.pos">-</p>
                              <input  [(ngModel)]="service_list[i].positive_result" min="0" type="checkbox" *ngIf="edit === i && service.group.pos"
                                 class="check-style h-6 w-6 border border-gray-400 rounded-md bg-white checked:bg-blue-400 checked:border-blue-500 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer">
                           </th>
                           <th class="px-2 font-normal" *ngIf="services_form.value.visit_status === 'Prenatal'">
                              <fa-icon *ngIf="service.intake_penicillin && service.group.pen && edit !== i"
                                 [icon]="faCircleCheck" size="md" class="text-red-400"></fa-icon>
                              <fa-icon *ngIf="!service.intake_penicillin && service.group.pen && edit !== i"
                                 [icon]="faTimesCircle" size="md" class="text-green-400"></fa-icon>
                              <p *ngIf="!service.group.pen">-</p>
                              <input [(ngModel)]="service_list[i].intake_penicillin" min="0" type="checkbox"
                                 *ngIf="edit === i && service.group.pen"
                                 class="check-style h-6 w-6 border border-gray-400 rounded-md bg-white checked:bg-blue-400 checked:border-blue-500 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer">
                           </th>
                           <th class="px-2 font-normal" style="text-transform: lowercase;">
                              <p class="capitalize" *ngIf="edit !== i">{{service.visit_type_code}}</p>
                              <select  id="visit_type_code" [(ngModel)]="service_list[i].visit_type_code"  *ngIf="edit === i"
                                    class="text-ellipsis bg-white text-align-left drop_btn border-check focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none rounded border-solid border border-zinc-300 placeholder-black placeholder-opacity-100 disabled:cursor-not-allowed">
                                    <option *ngFor="let type of visit_type" [value]="type.code">
                                       {{type.desc}}
                                    </option>
                                 </select>
                           </th>
                           <th class="px-2 font-normal">
                              <button (click)="enableEdit(i)">
                                 <fa-icon [icon]="faPencil" *ngIf="edit !== i" size="lg"
                                    class="text-gray-400 hover:text-orange-400 invisible group-hover:visible"></fa-icon>
                              </button>
                              <button (click)="enableEdit(i)">
                                 <fa-icon [icon]="faTimes" *ngIf="edit === i" size="lg"
                                    class="text-gray-400 hover:text-red-400 invisible group-hover:visible"></fa-icon>
                              </button>
                              <button>
                                 <fa-icon *ngIf="is_saving && edit === i" [icon]="faSpinner" animation="spin" class="pl-4 text-gray-400 hover:text-blue-400 invisible group-hover:visible"></fa-icon>
                                 <fa-icon [icon]="faSave" *ngIf="edit === i && !is_saving" size="lg" (click)="saveEdit(i)"
                                    class="pl-4 text-gray-400 hover:text-blue-400 invisible group-hover:visible">
                                 </fa-icon>
                              </button>
                           </th>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>



</div>

<form [formGroup]="services_form" id="defaultModal" tabindex="-1" style="z-index:210" class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 w-full md:inset-0 h-modal md:h-full justify-center items-center flex" aria-modal="true" role="dialog" *ngIf="modal">
  <div class="p-4 w-full max-w-3xl h-auto md:h-auto">
    <div class="grid animates-dropdown" style="grid-template-columns: repeat(16, minmax(0, 1fr));">
      <div class="border border-blue-400 col-span-2 p-2 py-1 rounded-t-lg text-sm bg-blue-500 text-white"
        style="grid-column: span 16 / span 16;">
        <button class="font-bold" type="button">
          Services
        </button>
      </div>

      <div style="grid-column: span 16 / span 16;"
        class="bg-gray-100 overflow-y-scroll scrollbar-thin scrollbar-thumb-white hover:scrollbar-thumb-blue-300 scrollbar-track-white h-96">
        <div *ngFor="let group of group_list w-full" class="m-4">
          <table class="table-auto border-separate border-spacing-2 border bg-white w-full {{services_form.value.visit_status === 'Postpartum'?(group.name === 'G1'?'':'hidden'):''}}">
            <thead>
              <tr>
                <th></th>
                <th>Date</th>
                <th *ngIf="group.qty">Quantity</th>
                <th *ngIf="group.pos">{{group.pos_name}}</th>
                <th *ngIf="group.pen">Penicillin</th>
                <th>Visit Type</th>
              </tr>
            </thead>
            <tbody *ngFor="let service of group.service" class="{{services_form.value.visit_status === 'Postpartum'?(service.id === 'VITA' || service.id === 'IRON'?'':'hidden'):''}}">
              <tr class="pb-2 hover:bg-blue-100">
                <td class="font-normal px-4">{{service.desc}}</td>
                <td class="font-normal px-4">
                    <input formControlName="service_date" id="service_date" name="service_date"
                      (ngModel)="getNG(service.id, 'service_date')" type="date"
                      (change)="onChange(service.desc, service.id, 'service_date')"
                      class="col-span-8 rounded border-solid border border-zinc-300 focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none disabled:cursor-not-allowed"
                      width="auto">
                </td>
                <td class="font-normal px-4" *ngIf="group.qty">
                    <input type="number" formControlName="service_qty" min="0"
                      (ngModel)="getNG(service.id, 'service_qty')"
                      (change)="onChange(service.desc, service.id, 'service_qty')"
                      class="font-medium disabled:group-hover:font-semibold peer invalid:border-red-500 border-check focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none rounded border-solid border border-zinc-300 placeholder-black placeholder-opacity-100 disabled:cursor-not-allowed disabled:border-0  disabled:pl-5  disabled:typed-out disabled:group-hover:bg-gray-100 disabled:rounded-full">
                </td>
                <td class="font-normal px-4" *ngIf="group.pos">
                    <input (change)="onChange(service.desc, service.id, 'positive_result')"
                      (ngModel)="getNG(service.id, 'positive_result')"
                      class="check-style h-6 w-6 border border-gray-400 rounded-md bg-white checked:bg-blue-400 checked:border-blue-500 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                      type="checkbox" formControlName="positive_result">
                </td>
                <td class="font-normal px-4" *ngIf="group.pen">
                    <input (change)="onChange(service.desc, service.id, 'intake_penicillin')"
                      (ngModel)="getNG(service.id, 'intake_penicillin')"
                      class="check-style h-6 w-6 border border-gray-400 rounded-md bg-white checked:bg-blue-400 checked:border-blue-500 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                      type="checkbox" formControlName="intake_penicillin">
                </td>
                <td class="font-normal px-4">
                    <select formControlName="visit_type_code" id="visit_type_code"
                      (change)="onChange(service.desc, service.id, 'visit_type_code')"
                      (ngModel)="getNG(service.id, 'visit_type_code')"
                      class="text-ellipsis bg-white text-align-left drop_btn border-check focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none rounded border-solid border border-zinc-300 placeholder-black placeholder-opacity-100 disabled:cursor-not-allowed">
                      <option *ngFor="let type of visit_type" [value]="type.code">
                          {{type.desc}}
                      </option>
                    </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


      <div style="grid-column: span 16 / span 16;" class="pr-2 bg-white rounded-b-lg">
        <div class="relative w-auto border-check mb-2 w-12/12 flex">
          <div class="inline-flex ml-auto mt-2">
            <div *ngIf="saved" class="border rounded-md bg-green-200 text-green-400 px-2 ease-in-out duration-1000">
                Successfully Saved!
            </div>
            <div (click)="closeModal()" class="mr-2 cursor-pointer flex border-check bg-white hover:drop-shadow-md hover:bg-gray-400 py-1 rounded-full text-gray-400 hover:text-white pl-2 pr-2 peer">
                <fa-icon [icon]="faTimes" size="lg" class="mr-2"></fa-icon>
                <button type="button" class="font-bold button-out border-check-red">
                  Cancel
                </button>
            </div>
            <div (click)="saveForm()" class="cursor-pointer flex border-check hover:drop-shadow-md bg-green-300 hover:bg-green-400 py-1 rounded-full text-white px-3 peer-hover:bg-white peer-hover:text-green-400">
                <fa-icon [icon]="faSave" size="lg" class="mr-2"></fa-icon>
                <button type="button" class="font-bold button-out border-check-red">
                  Save
                </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="opacity-50 fixed inset-0 bg-black " style="z-index:200" *ngIf="modal"></div>
