<div class="grid relative animate-pulse" style="grid-template-columns: repeat(16, minmax(0, 1fr));">
   <div
      class="animate-pulse sticky top-0 z-50 border border-gray-300 col-span-2 relative mx-2 px-2 py-1 rounded-t-lg text-sm bg-gray-200 text-white"
      style="grid-column: span 16 / span 16;"><button class="font-bold text-gray-200" type="button">Services</button>
   </div>

   <div style="grid-column: span 16 / span 16;" class="relative">
      <div
         class="grid gap-4 drop-shadow-md bg-white rounded-b-lg border-gray-300 p-2 pt-4 mx-2 -mt-2 border-top-0"
         style="grid-template-columns: repeat(14, minmax(0, 1fr));">

         <div class=" col-span-10 border-check relative select-none" *ngIf="!focused">
            <h3 for="factor" class="animate-pulse bg-gray-200 rounded w-max mb-2 text-gray-200">Risk Factors</h3>
            <div
               class="z-50 peer text-ellipsis bg-white text-align-left drop_btn border-check focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none rounded border-solid border border-zinc-300 placeholder-black placeholder-opacity-100 disabled:cursor-not-allowed text-white">
            TEXT
            </div>
         </div>

         <div class=" col-span-4">
            <h3 for="date" class="animate-pulse bg-gray-200 rounded w-max mb-2 text-gray-200">Date Detected</h3>
            <div class="grid grid-cols-10">
               <div class="icon-height col-span-2 p-2 pt-1 rounded-l border-solid border border-zinc-300">
                  <div class="text-blue-500 bg-gray-200" for="lmp_date">
                  </div>
               </div>
               <div
                  class="text-white col-span-8 rounded-r border-solid border border-l-0 border-zinc-300 focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none disabled:cursor-not-allowed"
                  width="auto"> TEXT
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="grid relative animate-pulse w-96  mt-5" style="grid-template-columns: repeat(16, minmax(0, 1fr));">
      <div
         class="animate-pulse sticky top-0 z-50 border border-gray-300 col-span-2 relative mx-2 px-2 py-1 rounded-t-lg text-sm bg-gray-200 text-white"
         style="grid-column: span 16 / span 16;"><button class="font-bold text-gray-200" type="button">Services</button>
      </div>
   
      <div style="grid-column: span 16 / span 16;" class="relative">
         <div
            class="grid gap-4 drop-shadow-md bg-white rounded-b-lg border-gray-300 p-2 pt-4 mx-2 -mt-2 border-top-0"
            style="grid-template-columns: repeat(14, minmax(0, 1fr));">
   
            <div class=" col-span-10 border-check relative select-none" *ngIf="!focused">
               <h3 for="factor" class="animate-pulse bg-gray-200 rounded w-max mb-2 text-gray-200">Risk Factors</h3>
               <div
                  class="z-50 peer text-ellipsis bg-white text-align-left drop_btn border-check focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none rounded border-solid border border-zinc-300 placeholder-black placeholder-opacity-100 disabled:cursor-not-allowed text-white">
               TEXT
               </div>
            </div>
   
            <div class=" col-span-4">
               <h3 for="date" class="animate-pulse bg-gray-200 rounded w-max mb-2 text-gray-200">Date Det</h3>
               <div class="grid grid-cols-10">
                  <div class="icon-height col-span-2 p-2 pt-1 rounded-l border-solid border border-zinc-300">
                     <div class="text-blue-500 bg-gray-200" for="lmp_date">
                     </div>
                  </div>
                  <div
                     class="text-white col-span-8 rounded-r border-solid border border-l-0 border-zinc-300 focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none disabled:cursor-not-allowed"
                     width="auto"> TEXT
                  </div>
               </div>
            </div>
         </div>
      </div>