<form>
    <div class="grid grid-rows-2 gap-4 cursor-pointer hover:bg-gray-100 relative"
        style="grid-template-columns: repeat(16, minmax(0, 1fr));" (click)="flip();" *ngIf="focused">
        <div class="border-check row-span-2 col-span-2 rounded-r">
            <button class="font-bold" type="button">Services</button>
        </div>

        <div class="absolute right-0 top-0">
            <!-- <fa-icon [icon]="faInfoCircle" class="peer ml-3 text-gray-300 hover:text-gray-500 z-50"></fa-icon> -->
            <div
                class="absolute text-sm bg-gradient-to-b from-stone-500 to-gray-400 p-2 rounded-md border border-gray-500  text-white drop-shadow-lg opacity-90 border-check z-50 w-64 right-0 invisible peer-hover:visible">
                <h1 class="font-bold drop-shadow-lg">IMPORTANT</h1>
                <p class="font-light drop-shadow-lg">Once saved, the information will be displayed in the input boxes
                    and shall not be editable unless Edit button is pressed.</p>
            </div>
        </div>
    </div>

    <div class="grid gap-4 relative animates-dropdown" style="grid-template-columns: repeat(16, minmax(0, 1fr));"
        *ngIf="!focused">
        <div class="border-check col-span-2 hover:bg-gray-100 rounded-r cursor-pointer relative" (click)="flip();">
            <button class="font-bold sticky top-0" type="button">Services</button>
            <div class="absolute top-0" style="left: 4.5rem;">
                <!-- <fa-icon [icon]="faInfoCircle" class=" peer ml-5 text-gray-300 hover:text-gray-500 z-50"></fa-icon> -->
                <div
                    class="absolute text-sm bg-gradient-to-b from-stone-500 to-gray-400 p-2 rounded-md border border-gray-500  text-white drop-shadow-lg opacity-90 border-check z-50 w-64 invisible peer-hover:visible">
                    <h1 class="font-bold drop-shadow-lg">IMPORTANT</h1>
                    <p class="font-light drop-shadow-lg">Once saved, the information will be displayed in the input
                        boxes and shall not be editable unless Edit button is pressed.</p>
                </div>
            </div>
        </div>
        <div style="grid-column: span 16 / span 16;" class="border border-red-500 relative">
            <canvas id="canvas" class="border border-blue-500 w-96 h-96 opacity-75"
                style="background-image: url('assets/img/human.jpg');background-repeat: no-repeat; background-size: 24rem"></canvas>
            <!-- <button id="eraser" class="absolute top-0" value="erase">{{erase}}</button> -->
            <script src="../services/services.component.ts"></script>
            <!-- <img src="assets\img\abdomen.png"
                class="z-10 absolute top-0 w-24 lg:w-44 md:w-32 sm:w-24 object-contain rounded-lg hover:drop-shadow-lg drop-shadow-md rounded-lg"
             alt="..."> -->
        </div>


    </div>
</form>