<div class="flex mx-2 mt-3 text-sm font-semibold">
  CHIEF COMPLAINT
</div>
<div class="grid grid-cols-1 mx-2 ml-4 text-sm">
  <span class="flex-1 text-left">
    <span class="font-semibold">Notes:</span> {{ selected_visit?.consult_notes?.complaint }}
  </span>
  <ul class="list-disc">
    <li class="ml-5" *ngFor="let complaint of selected_visit?.consult_notes?.complaints">
      {{ complaint.lib_complaints.complaint_desc }}
    </li>
  </ul>
</div>

<div class="flex mx-2 mt-3 text-sm font-semibold">
  HISTORY OF CURRENT ILLNESS
</div>
<div class="flex mx-2 ml-4 text-sm">
  <span class="flex-1 text-left">
    {{ selected_visit?.consult_notes?.history }}
  </span>
</div>

<div>
  <div class="flex mx-2 mt-3 text-sm font-semibold">
    DIAGNOSIS
  </div>
  <div class="grid grid-cols-2 mx-2 ml-4 text-sm mb-5 pb-5 border-b border-slate-200">
    <span class="col-span-1 text-left">
      Initial
    </span>
    <div class="col-span-1 grid grid-cols-1">
      <ul class="list-disc grid grid-cols-1 mb-2">
        <li *ngFor="let idx of selected_visit?.consult_notes?.initialdx" class="break-all ">
          {{ idx.diagnosis.class_name }}
        </li>
      </ul>

      <div *ngIf="selected_visit?.consult_notes?.idx_remarks">
        <span class="text-sm italic">remarks:</span> {{ selected_visit?.consult_notes?.idx_remarks }}
      </div>
    </div>
  </div>

  <div class="grid grid-cols-2 mx-2 ml-4 text-sm">
    <span class="col-span-1 text-left">
      Final
    </span>
    <div class="col-span-1 grid grid-cols-1">
      <ul class="list-disc grid grid-cols-1 mb-2">
        <li *ngFor="let fdx of selected_visit?.consult_notes?.finaldx" class="break-all ">
          <span class="italic">{{ fdx.lib_icd10.icd10_code }}:</span> {{ fdx.lib_icd10.icd10_desc }}
        </li>
      </ul>

      <div *ngIf="selected_visit?.consult_notes?.fdx_remarks">
        <span class="text-sm italic">remarks:</span> {{ selected_visit?.consult_notes?.fdx_remarks }}
      </div>
    </div>
  </div>
</div>

<div>
  <div class="flex mx-2 mt-3 text-sm font-semibold">
    PRESCRIPTION
  </div>
  <div class="flex mx-2 ml-4 text-sm">
    <span class="flex-1 text-left">
      -
    </span>
    <span class="flex-1 text-right">
      -<br />
    </span>
  </div>
</div>

<div class="border-b border-slate-200">
  <div class="flex mx-2 mt-3 text-sm font-semibold ">
    PHYSICAL EXAM
  </div>

  <div class="grid grid-cols-2 mx-2 ml-4 text-sm mb-5" *ngFor="let cat of physical_exam | keyvalue">
    <span class="col-span-1 text-left">
      {{ cat.key | titlecase }}
    </span>

    <div class="col-span-1 grid grid-cols-1">
      <ul class="list-disc grid grid-cols-1 mb-2">
        <li *ngFor="let pe of cat.value" class="break-all ">
          {{ pe.pe_desc | titlecase}}
        </li>
      </ul>

      <div *ngIf="selected_visit?.consult_notes?.physical_exam_remarks && selected_visit?.consult_notes?.physical_exam_remarks[cat.key+'_remarks']">
        <span class="text-sm italic">remarks:</span>{{ selected_visit?.consult_notes?.physical_exam_remarks[cat.key+'_remarks'] }}
      </div>
    </div>
  </div>
</div>
