
<div class="my-10  flex justify-center w-full">

  <div class="lg:w-4/6 md:w-5/6 bg-white border border-solid border-slate-100 rounded-xl shadow-md">
    <div class="border border-solid border-slate-100 rounded-t-xl font-semibold justify-between">
      <div class="flex border border-solid border-slate-100 rounded-t-xl p-3 font-semibold justify-between">
        <div class="text-blue-500 text-lg pt-2 pl-5">
          User accounts
        </div>
        <div>
          <button *ngIf="is_updating" class="text-white-500 bg-amber-500 active:bg-amber-300 hover:bg-amber-600 text-sm px-4 py-2 rounded hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
            <fa-icon class="mr-3" [icon]="faSpinner" spin="true"></fa-icon>
            Updating
          </button>
        </div>
      </div>

      <div *ngIf="submit_error" class="col-span-8 bg-red-200 rounded border border-red-300 text-red-900 text-sm">
        <div class="block p-3 pl-10" >
          <ul class="list-disc" >
            <li *ngFor="let error of submit_error | keyvalue">{{ error.value }}</li>
          </ul>
        </div>
      </div>

      <div>
        <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
          <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 mb-5">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                <th scope="col" class="py-3 px-6">Name</th>
                <th scope="col" class="py-3 px-6">Birthdate</th>
                <th scope="col" class="py-3 px-6">Gender</th>
                <th scope="col" class="py-3 px-6">Contact Number</th>
                <th scope="col" class="py-3 px-6">Email Address</th>
                <th scope="col" class="py-3 px-6">Active Status</th>
                <!-- <th scope="col" class="py-3 px-6">Actions</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let account of account_list; let odd = odd; let i = index" class="bg-white border-t" [ngClass]="{'bg-gray-50': odd}">
                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
                  {{ account.last_name }}, {{ account.first_name }} {{ account.middle_name === 'NA' ? '' : account.middle_name }} {{ account.suffix_name === 'NA' ? '' : account.suffix_name}}
                </th>
                <td class="py-4 px-6">
                  {{ account.birtdate | date: 'MM/dd/yyyy' }}
                </td>
                <td class="py-4 px-6">
                  {{ account.gender }}
                </td>
                <td class="py-4 px-6">
                  {{ account.contact_number }}
                </td>
                <td class="py-4 px-6">
                  {{ account.email }}
                </td>
                <td class="py-4 px-6">
                  <!-- {{ account.is_active }} -->

                  <label class="inline-flex relative items-center cursor-pointer">
                    <input type="checkbox" class="sr-only peer" [(ngModel)]="account_list[i].is_active" (change)="updateActive(account_list[i], i)" [disabled]="is_updating">
                    <div class="w-14 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300  rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[8px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-blue-600 disabled:opacity-7" [ngClass]="{'peer-checked:bg-gray-600' : is_updating}"></div>
                    <!-- <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">{{ account.is_active }}</span> -->
                  </label>
                </td>
                <!-- <td class="py-4 px-6"> -->
                  <!-- <fa-icon (click)="editVitals(vitals)" class="mx-0 my-0 text-amber-500 hover:cursor-pointer flex-none mr-2" [icon]="faPenToSquare"></fa-icon> -->

                  <!-- <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a> -->
                <!-- </td> -->
              </tr>
            </tbody>
          </table>
        </div>
        <!-- <button [ngClass]="{'bg-red-500 active:bg-red-300 hover:bg-red-600': userForm.enabled}" class="text-white-500 bg-amber-500 active:bg-amber-300 hover:bg-amber-600 text-sm px-4 py-2 rounded hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="enbaleEdit()">
          <fa-icon class="mr-3" [icon]="faPenToSquare"></fa-icon>
          {{ userForm.enabled ? 'Cancel' : 'Edit' }}
        </button> -->
      </div>
    </div>

  </div>
</div>
