<div *ngIf="show.success" id="toast-success" class="absolute top-10 right-10 z-[100] opacity-75 flex items-center p-4 mb-4 w-full max-w-xs text-gray-500 bg-green-200 rounded-lg shadow" role="alert">
  <div class="inline-flex flex-shrink-0 justify-center items-center w-8 h-8 text-green-500 bg-green-100 rounded-lg">
    <fa-icon [icon]="faCheck" size="lg"></fa-icon>
  </div>
  <div class="ml-3 text-sm font-normal">{{ message }}</div>
  <button type="button" (click)="closeToaster('success')" class="ml-auto bg-white pl-2 -pt-1 text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8">
    <fa-icon [icon]="faXmark" size="lg"></fa-icon>
  </button>
</div>
