<div class="m-5 border border-slate-200 rounded-lg" *ngIf="!show_form">
  <div class="bg-blue-500 text-sm text-white rounded-t-md py-2 pl-5 font-semibold">
   Comprehensive HEEADSSS Assessment
  </div>

<form [formGroup]="homeForm" class="mt-1 grid grid-cols-16 gap-x-4 w-full mb-10">
  <div class="grid grid-cols-12">

    <div class="col-span-12 col-start-1 grid gap-x-4">
      <div class="mt-5 px-5">
        <input type="checkbox" class="input-checkbox" id="consent_flag" formControlName="consent_flag" />
        <label for="consent_flag" class="text-sm" >
          The patient has read, fully understood, and signed the patient consent form.
        </label>
      </div>
    </div>

    <div class="col-span-6 px-5 pt-5">
        <label for="assessment_date" class="text-sm font-semibold">Assessment Date</label>
        <input type="date" name="assessment_date" id="assessment_date" class="input" formControlName="assessment_date">
    </div>

    <div class="col-span-6 px-5 pt-5">
      <div>
        <label for="status" class="text-sm font-semibold">Status</label>
        <select name="status" id="status.id" class="input" formControlName="status">
          <!-- <option [ngValue]="0" selected> </option> -->
          <option *ngFor="let status of statuses" [value]="status.name">{{ status.name | titlecase }}</option>
        </select>
      </div>

    </div>

  </div>
</form>
</div>


<div class="m-5 border border-slate-200 rounded-lg" *ngIf="!show_form">
  <div class="bg-blue-500 text-sm text-white rounded-t-md py-2 pl-5 font-semibold">
   Comprehensive HEEADSSS Assessment
  </div>



  <form [formGroup]="homeForm" class="mx-5 mb-6">

      <div class="mt-1 w-full" *ngFor="let home of compre_questions">
        <div class=""  *ngIf="home.code === 'H01'">
          <div class="text-md text-blue-500 rounded-t-md font-semibold py-4">
           {{home.desc}}
          </div>

            <div class="text-sm mb-5">
              <p>{{home.instruction}}</p>
            </div>

              <div class="mt-1 w-full border-t border-gray-200 mb-5"></div>
              <div class="columns-2">
                <div class="h-full" *ngFor="let question of home.questions" >
                  <div class="py-1">
                    <!-- <input type="checkbox" class="input-checkbox" id="consent_flag" formControlName="consent_flag" />  -->
                    <label class="text-sm"> {{question.question}}</label>
                  </div>
                </div>
                <div class="h-92">
                  <div class="py-3.5">
                    <textarea rows="13" id="home_notes" placeholder="Remarks" class="text-sm placeholder-slate-400 w-full rounded-md border-gray-300" formControlName="home_notes"></textarea>
                  </div>
                </div>
              </div>
        </div>

      </div>


      <div class="flex justify-center mt-5">
          <button class="btn-save mr-5 mt-4" [disabled]="is_saving" (click)="onSubmit()">
            <fa-icon [icon]="faSave" *ngIf="!is_saving" class="mr-2"></fa-icon>
            <fa-icon [icon]="faSpinner" *ngIf="is_saving" animation="spin" class="mr-2"></fa-icon>
            {{ selected_asrh_consult?.comprehensive?.home_notes ? (is_saving ? 'Updating' : 'Update') : (is_saving ? 'Saving' : 'Save') }}
          </button>
      </div>

  </form>

</div>



