<div class="grid grid-cols-3 gap-4 mt-4">
  <div class="shadow-md rounded-md col-span-1">
    <div class="bg-blue-500 text-white rounded-t-md p-3 flex justify-between">
      <span>Caserate List</span>
    </div>

    <div class="rounded-b-md grid grid-cols-1">
      <div class="grid grid-cols-6 border-t border-slate-200" *ngFor="let caserate of caserate_list; let i = index">
          <div class="col-span-5 m-2 text-sm">
            <strong>{{ caserate.code }} - {{ caserate.caserate_code }}</strong> <br />
            {{ caserate.caserate_date | date:'MM/dd/yyyy':'Asia/Manila'}} <br />
            {{ caserate.description }} <br />
          </div>
          <div class="col-span-1 text-orange-500 m-2">
            <button type="button" (click)="selectCaserate(i)">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>
          </div>
      </div>
    </div>
  </div>

  <div class="shadow-md rounded-md col-span-2">
    <div class="bg-blue-500 text-white rounded-t-md p-3 flex justify-between">
      <span>Caserate</span>
      <button class="bg-gray-100 text-blue-500 px-3 rounded-md" (click)="toggleModal('search-caserate')">
        <fa-icon [icon]="faSearch" class="text-sm font-semibold"></fa-icon>
        search
      </button>
    </div>

    <div class="rounded-b-md border-x border-b border-slate-200 grid grid-cols-1">
      <div *ngIf="show_form" class="flex mt-5 mx-5">
        <label class="w-1/2 mt-2" for="loaded_caserate">Select preloaded caserate</label>
        <select name="loaded_caserate" id="loaded_caserate" (change)="selectPreloadedCaserate()" [(ngModel)]="loaded_caserate" class="w-1/2 input">
          <option *ngFor="let pre_case of preloaded_caserate" [ngValue]="pre_case">{{ pre_case.caserate_code }} - {{ pre_case.code }} <span *ngIf="program_name === 'cc'">({{ pre_case.caserate_fee }})</span></option>
        </select>
      </div>

      <form class="m-5" [formGroup]="caserateForm" (ngSubmit)="onSubmit()">
        <div *ngIf="show_form" class="grid grid-cols-1 gap-2 w-full">
          <div>
              <label for="caserate_date">Caserate date</label>
              <input type="date" name="caserate_date" id="caserate_date" formControlName="caserate_date" class="input" />
          </div>

          <div>
              <label for="admit_dx">Admission Diagnosis</label>
              <input type="text" name="admit_dx" id="admit_dx" formControlName="admit_dx" class="input" />
          </div>

          <div>
            <label for="discharge_dx">Discharge Diagnosis</label>
            <input type="text" name="discharge_dx" id="discharge_dx" formControlName="discharge_dx" class="input" />
          </div>

          <div>
            <label for="icd10_code">ICD10 Code</label>
            <ng-select class="select-chips" placeholder="search"
              [items]="fdx$ | async"
              [multiple]="true"
              [loading]="fdxLoading"
              typeToSearchText="search..."
              [typeahead]="searchInput$"
              formControlName="icd10_code"
              bindValue="icd10_code"
              bindLabel="icd10_desc"
              [multiple]="false"
              notFoundText="No records found">

              <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                <div class="whitespace-normal">
                  <h5 class="text-gray-700" [ngOptionHighlight]="search"><strong>{{ item.icd10_code }}:</strong> {{ item.icd10_desc }}</h5>
                </div>
              </ng-template>


              <ng-template ng-label-tmp let-item="item" let-clear="clear">
                <div>
                  {{ item.icd10_code }}: {{ item.icd10_desc }}
                </div>
              </ng-template>
            </ng-select>
          </div>

          <div>
            <label for="caserate_code">Case Rate Code</label>
            <input type="text" name="caserate_code" id="caserate_code" formControlName="caserate_code" class="input" />
          </div>

          <div>
            <label for="code">RVS Code</label>
            <input type="text" name="code" id="code" formControlName="code" class="input" />
          </div>

          <div>
            <label for="description">Description</label>
            <input type="text" name="description" id="description" formControlName="description" class="input" />
          </div>

          <div>
            <label for="hci_fee">HCI Fee</label>
            <input type="number" name="hci_fee" id="hci_fee" formControlName="hci_fee" (change)="computeTotal('caserate_fee')" class="input" />
          </div>

          <div>
            <label for="prof_fee">Prof Fee</label>
            <input type="number" name="prof_fee" id="prof_fee" formControlName="prof_fee" (change)="computeTotal('caserate_fee')" class="input" />
          </div>

          <fieldset disabled>
            <label for="caserate_fee">Case Rate Fee</label>
            <input type="number" name="caserate_fee" id="caserate_fee" formControlName="caserate_fee" class="input" />
          </fieldset>

          <div>
            <label for="caserate_attendant">Caserate attendant</label>
            <select name="caserate_attendant" id="caserate_attendant" formControlName="caserate_attendant" class="input">
              <option *ngFor="let att of attendant" [value]="att.id">{{ att.last_name }}, {{ att.first_name }}</option>
            </select>
          </div>


          <div>
            <input type="checkbox" class="input-checkbox" name="enough_benefit_flag" id="enough_benefit_flag" formControlName="enough_benefit_flag" />
            <label for="enough_benefit_flag" class="pl-2">With Enough Benefits?</label>
          </div>

          <div class="grid grid-cols-2 gap-4" *ngIf="!caserateForm.value.enough_benefit_flag">
            <!-- HCI NOT ENOUGH -->
            <div>
              <label for="hci_pTotalActualCharges">HCI Total Actual Charges</label>
              <input type="number" name="hci_pTotalActualCharges" id="hci_pTotalActualCharges" formControlName="hci_pTotalActualCharges" (change)="computeTotal('hci_pTotalAmount')" class="input" />
            </div>

            <div>
              <label for="hci_vat_exempt">VAT Exempt (%)</label>
              <input type="number" name="hci_vat_exempt" id="hci_vat_exempt" max="100" step="1" [(ngModel)]="hci_vat_exempt" [ngModelOptions]="{standalone: true}" (change)="computeTotal('hci_pTotalAmount')" class="input" />
            </div>

            <div>
              <label for="hci_discount">Discount (%)</label>
              <input type="number" name="hci_discount" id="hci_discount" max="100" step="1" [(ngModel)]="hci_discount" [ngModelOptions]="{standalone: true}" (change)="computeTotal('hci_pTotalAmount')" class="input" />
            </div>

            <fieldset disabled>
              <label for="hci_pDiscount">Amount after HCI Discount</label>
              <input type="number" name="hci_pDiscount" id="hci_pDiscount" formControlName="hci_pDiscount" (change)="computeTotal('hci_pTotalAmount')" class="input" />
            </fieldset>

            <div>
              <label for="hci_pPhilhealthBenefit">HCI Philhealth Benefit</label>
              <input type="number" name="hci_pPhilhealthBenefit" id="hci_pPhilhealthBenefit" formControlName="hci_pPhilhealthBenefit" (change)="computeTotal('hci_pTotalAmount')" class="input" />
            </div>

            <fieldset disabled>
              <label for="hci_pTotalAmount">HCI Total Amount</label>
              <input type="number" name="hci_pTotalAmount" id="hci_pTotalAmount" formControlName="hci_pTotalAmount" class="input" disabled />
            </fieldset>

            <!-- PROF NOT ENOUGH -->
            <div>
              <label for="prof_pTotalActualCharges">Professional Total Actual Charges</label>
              <input type="number" name="prof_pTotalActualCharges" id="prof_pTotalActualCharges" formControlName="prof_pTotalActualCharges" (change)="computeTotal('prof_pTotalAmount')" class="input" />
            </div>

            <div>
              <label for="prof_vat_exempt">VAT Exempt (%)</label>
              <input type="number" name="prof_vat_exempt" id="prof_vat_exempt" [(ngModel)]="prof_vat_exempt" [ngModelOptions]="{standalone: true}" (change)="computeTotal('prof_pTotalAmount')" class="input" />
            </div>

            <div>
              <label for="prof_discount">Discount (%)</label>
              <input type="number" name="prof_discount" id="prof_discount" [(ngModel)]="prof_discount" [ngModelOptions]="{standalone: true}" (change)="computeTotal('prof_pTotalAmount')" class="input" />
            </div>

            <fieldset disabled>
              <label for="prof_pDiscount">Amount after Professional Discount</label>
              <input type="number" name="prof_pDiscount" id="prof_pDiscount" formControlName="prof_pDiscount" (change)="computeTotal('prof_pTotalAmount')" class="input" />
            </fieldset>

            <div>
              <label for="prof_pPhilhealthBenefit">Professional Philhealth Benefit</label>
              <input type="number" name="prof_pPhilhealthBenefit" id="prof_pPhilhealthBenefit" formControlName="prof_pPhilhealthBenefit" (change)="computeTotal('prof_pTotalAmount')" class="input" />
            </div>

            <fieldset disabled>
              <label for="prof_pTotalAmount">Professional Total Amount</label>
              <input type="number" name="prof_pTotalAmount" id="prof_pTotalAmount" formControlName="prof_pTotalAmount" class="input" />
            </fieldset>

            <!-- MEDICINE NOT ENOUGH -->
            <div class="mt-2">
              <input type="checkbox" class="input-checkbox" name="meds_flag" id="meds_flag" formControlName="meds_flag" />
              <label for="meds_flag" class="pl-2">With Medicine?</label>
            </div>

            <div *ngIf="caserateForm.value.meds_flag">
              <label for="meds_pDMSTotalAmount">Medicine Total Amount</label>
              <input type="number" name="meds_pDMSTotalAmount" id="meds_pDMSTotalAmount" formControlName="meds_pDMSTotalAmount" class="input" />
            </div>

            <div class="mt-2">
              <input type="checkbox" class="input-checkbox" name="meds_pExaminations_flag" id="meds_pExaminations_flag" formControlName="meds_pExaminations_flag" />
              <label for="meds_pExaminations_flag" class="pl-2">With Examination</label>
            </div>

            <div *ngIf="caserateForm.value.meds_pExaminations_flag">
              <label for="meds_pExamTotalAmount">Examitation Total Amount</label>
              <input type="number" name="meds_pExamTotalAmount" id="meds_pExamTotalAmount" formControlName="meds_pExamTotalAmount" class="input" />
            </div>

            <div class="mt-2">
              <input type="checkbox" class="input-checkbox" name="hmo_flag" id="hmo_flag" formControlName="hmo_flag" />
              <label for="hmo_flag" class="pl-2">With HMO</label>
            </div>

            <div class="mt-2">
              <input type="checkbox" class="input-checkbox" name="others_flag" id="others_flag" formControlName="others_flag" />
              <label for="others_flag" class="pl-2">Others (i.e., PCSO, Promissory note, etc.)</label>
            </div>
          </div>

          <div class="my-5">
            <div class="flex justify-center">
              <button [disabled]="caserateForm.invalid || is_saving" type="submit" class="btn-save font-semibold px-10">
                <fa-icon [icon]="faSave" *ngIf="!is_saving" class="pr-2"></fa-icon>
                <fa-icon [icon]="faCircleNotch" *ngIf="is_saving" [animation]="'spin'" class="pr-2"></fa-icon>
                {{ caserateForm.value.id ? (is_saving ? 'Updating' : 'Update') : (is_saving ? 'Saving' : 'Save') }}
              </button>
            </div>
          </div>
        </div>

        <div *ngIf="!show_form" class="grid grid-cols-1 my-20">
          <div class="flex justify-center text-blue-500">
            <fa-icon [icon]="faCircleNotch" spin="true"></fa-icon>
          </div>
          <div class="flex justify-center">
            Fetching caserate details...
          </div>
        </div>
      </form>
    </div>
  </div>


</div>

<app-search-caserate *ngIf="modals['search-caserate']"
  (toggleModal)="toggleModal($event)"
  [program_name]="program_name"
></app-search-caserate>
