<div class="block">
    <div class="px-8 py-4 ml-5 rounded-3xl text-gray-600 shadow-md">
      <div class="md:flex md:justify-between md:items-center">
        <span class="font-semibold text-xl">Todays Patient</span>
        <div class="flex items-center">
          <button type="button" class="bg-blue-400 px-3 rounded-full mr-3 text-gray-100 hover:text-indigo-500">
            today
          <fa-icon class="ml-2 my-0" [icon]="faChevronDown"></fa-icon>
          </button>
        </div>
      </div>
  
      <div class="py-12 text-3xl font-bold flex justify-center text-green-600">
        109
      </div>
    </div>
  
    <div class="px-8 py-4 ml-5 rounded-3xl text-gray-600 shadow-md">
      <div class="md:flex md:justify-between md:items-center">
        <span class="font-semibold text-xl">Todays Consult</span>
        <div class="flex items-center">
          <button type="button" class="bg-blue-400 px-3 rounded-full mr-3 text-gray-100 hover:text-indigo-500">
            today
          <fa-icon class="ml-2 my-0" [icon]="faChevronDown"></fa-icon>
          </button>
        </div>
      </div>
  
      <div class="py-12 text-3xl font-bold flex justify-center text-orange-500">
        26
      </div>
    </div>
  
    <div class="px-8 py-4 ml-5 rounded-3xl text-gray-600 shadow-md">
      <div class="md:flex md:justify-between md:items-center">
        <span class="font-semibold text-xl">Todays Claims</span>
        <div class="flex items-center">
          <button type="button" class="bg-blue-400 px-3 rounded-full mr-3 text-gray-100 hover:text-indigo-500">
            all
          <fa-icon class="ml-2 my-0" [icon]="faChevronDown"></fa-icon>
          </button>
        </div>
      </div>
  
      <div class="py-12 text-3xl font-bold flex justify-center text-orange-400">
        1,002
      </div>
    </div>
  
    <div class="px-8 py-4 ml-5 rounded-3xl text-gray-600 shadow-md">
      <div class="md:flex md:justify-between md:items-center">
        <span class="font-semibold text-xl">Todays Laboratories</span>
        <div class="flex items-center">
          <button type="button" class="bg-blue-400 px-3 rounded-full mr-3 text-gray-100 hover:text-indigo-500">
            all
          <fa-icon class="ml-2 my-0" [icon]="faChevronDown"></fa-icon>
          </button>
        </div>
      </div>
  
      <div class="py-12 text-3xl font-bold flex justify-center  text-blue-500">
        2,111
      </div>
    </div>
  </div>
  