<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 mb-5">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="py-3 px-3">Transmittal Number</th>
      <th scope="col" class="py-3 px-3" *ngIf="filter_status==='S'">Konsulta Transaction Number</th>
      <th scope="col" class="py-3 px-3 text-center w-1/12">
        SOAP | Profile | Enlistment Count
      </th>

      <th scope="col" class="py-3 px-3 text-center w-1/12">
        Konsulta Assignment Date
      </th>

      <th scope="col" class="py-3 px-3 text-center w-1/12">
        Enlistment Date
      </th>

      <th scope="col" class="py-3 px-3 text-center">Name</th>
      <th scope="col" class="py-3 px-3 text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let kon of konsulta_list; let odd = odd; let i = index" class="bg-white border-t" [ngClass]="{'bg-gray-50': odd}">
      <td scope="row" class="py-4 px-3 font-medium align-top">
        {{ kon.transmittal_number }}
      </td>
      <td scope="row" class="py-4 px-3 font-medium align-top" *ngIf="filter_status==='S'">
        {{ kon.konsulta_transaction_number }}
      </td>
      <td class="py-4 px-3 align-top text-center">
        {{ kon.total_soap }} | {{ kon.total_profile }} | {{ kon.total_enlistment }}
      </td>
      <td class="py-4 px-3 align-top text-center">
        <span class="flex flex-col" *ngFor="let patient of kon.patient">
          <span *ngIf="patient.philhealth && patient.philhealth[0]?.konsulta_registration">{{ patient.philhealth[0].konsulta_registration[0]?.assigned_date }}</span>
        </span>
      </td>
      <td class="py-4 px-3 align-top text-center">
        <span class="flex flex-col" *ngFor="let patient of kon.patient">
          <span *ngIf="patient.philhealth && patient.philhealth[0]?.enlistment_date">{{ patient.philhealth[0]?.enlistment_date }}</span>
        </span>
      </td>
      <td class="py-4 px-3 align-top text-left">
        <span *ngFor="let patient of kon.patient">
          {{ patient.last_name }}, {{ patient.first_name }} {{ patient.middle_name }} {{ patient.suffix_name === 'NA' ? '' : patient.suffix_name }} <br />
        </span>
      </td>

      <td class="py-4 px-3 flex justify-center">
        <div>
          <button [disabled]="downloading" class="text-sm text-white bg-blue-500 py-1 font-normal rounded-md px-1 mr-2 disabled:bg-gray-300" (click)="downloadXml(kon, 'enc')">
            {{ downlaoding ? '' : '.enc'}}
            <fa-icon *ngIf="downloading" [icon]="faSpinner" animation="spin"></fa-icon>
          </button>
        </div>

        <div>
          <button [disabled]="downloading" class="text-sm text-white bg-blue-500 py-1 font-normal rounded-md px-1 mr-2 disabled:bg-gray-300" (click)="downloadXml(kon, 'raw')">
            {{ downlaoding ? '' : '.raw'}}
            <fa-icon *ngIf="downloading" [icon]="faSpinner" animation="spin"></fa-icon>
          </button>
        </div>

        <div *ngIf="kon.xml_status === 'F'">
          <button class="text-sm text-white bg-red-400 py-1 w-28 rounded-md px-3 mr-2 disabled:bg-gray-300" (click)="returnData(kon.xml_errors, 0)">
            show errors
          </button>
        </div>

        <div *ngIf="kon.xml_status === 'F'">
          <button [disabled]="validating" class="text-sm text-white bg-blue-500 py-1 rounded-md px-3 mr-2 disabled:bg-gray-300" [class]="kon.xml_status === 'F' ? 'w-44' : 'w-28'" (click)="validate(kon)">
            <fa-icon [icon]="faCircleCheck" *ngIf="!validating" class="mr-2"></fa-icon>
            <fa-icon [icon]="faSpinner" *ngIf="validating" animation="spin" class="mr-2"></fa-icon>
            {{ validating ? 'loading' : 'revalidate' }}
          </button>
        </div>

        <div *ngIf="kon.xml_status === 'V'">
          <button [disabled]="submitting" class="text-sm text-white bg-green-500 py-1 w-28 rounded-md px-3 mr-2 disabled:bg-gray-300" (click)="submit(kon.transmittal_number)">
            <fa-icon [icon]="faCircleCheck" *ngIf="!validating" class="mr-2"></fa-icon>
            <fa-icon [icon]="faSpinner" *ngIf="validating" animation="spin" class="mr-2"></fa-icon>
            {{ submitting ? 'loading' : 'submit' }}
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
