<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 mb-5">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="py-3 px-6">Transmittal Number</th>
      <th scope="col" class="py-3 px-6 text-center w-3/12">
        Count <br />
        SOAP | Profile | Enlistment
      </th>
      <th scope="col" class="py-3 px-6">Errors</th>
      <th scope="col" class="py-3 px-6">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let kon of konsulta_list; let odd = odd; let i = index" class="bg-white border-t" [ngClass]="{'bg-gray-50': odd}">
      <th scope="row" class="py-4 px-6 font-medium whitespace-nowrap align-top">
        {{ kon.transmittal_number }}
      </th>
      <td class="py-4 px-6 align-top text-center">
        {{ kon.total_soap }} | {{ kon.total_profile }} | {{ kon.total_enlistment }}
      </td>
      <td class="py-4 px-6 align-top">
        <div *ngIf="kon.xml_status === 'F'">
          <button class="rounded px-2 text-sm bg-red-400 text-white" (click)="returnData(kon.xml_errors, 0)">
            show errors
          </button>
        </div>
      </td>
      <td class="py-4 px-6">
        <div *ngIf="kon.xml_status === 'F'">
          <button [disabled]="validating" class="btn-save px-5 disabled:bg-gray-300" (click)="validate(kon)">
            <fa-icon [icon]="validating ? faSpinner : faCircleCheck" [spin]="validating" class="mr-2"></fa-icon>
            {{ validating ? 'loading' : 'validate' }}
          </button>
        </div>

        <div *ngIf="kon.xml_status === 'V'">
          <button [disabled]="submitting" class="btn-save px-5 disabled:bg-gray-300" (click)="submit(kon.transmittal_number)">
            <fa-icon [icon]="submitting ? faSpinner : faCircleCheck" [spin]="submitting" class="mr-2"></fa-icon>
            {{ submitting ? 'loading' : 'submit' }}
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
