
<div id="defaultModal" tabindex="-1" class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 w-full md:inset-0 h-modal md:h-full justify-center items-center flex" aria-modal="true" role="dialog" style="z-index:60">
  <div class="relative p-4 w-full max-w-2xl h-auto md:h-auto">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex justify-between items-start py-3 px-5 rounded-t border-b bg-blue-500 dark:border-gray-600">
        <h3 class="mt-2 text-sm font-bold text-white dark:text-white">
          Upload XML
        </h3>
      </div>
      <!-- Modal body -->
      <div class="overflow-y-auto h-72 scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100">
        <div class="w-3/4 flex justify-center mx-auto py-5">
          <input (change)="readXML($event.target.files)" class="form-control
            w-full
            px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-300
            rounded-lg
            transition
            ease-in-out
            m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" type="file" id="formFile" [(ngModel)]="xmlFile">
        </div>

        <div class="w-3/4 flex justify-center mx-auto pb-5">
          <input type="text" placeholder="enter cipher key" [(ngModel)]="cipher_key" class="rounded-lg w-full px-3 py-2 border border-solid border-gray-300 text-sm placeholder-gray-400" />
        </div>
      </div>

      <!-- Modal footer  -->
      <div class="flex justify-end py-4 px-5 space-x-4 rounded-b border-t border-gray-200 dark:border-gray-600">
        <button [disabled]="is_uploading" type="button" class="btn-save bg-gray-400 px-10" (click)="closeModal()">Close</button>
        <button [disabled]="is_uploading || !file_to_upload || !cipher_key" type="button" (click)="uploadFile(file_to_upload)" class="btn-save">
          <fa-icon [icon]="is_uploading ? faCircleNotch : faUpload" [spin]="is_uploading"></fa-icon>
          {{ is_uploading ? 'Uploading' : 'Upload' }} XML
        </button>
      </div>
    </div>
  </div>
</div>

<div class="opacity-50 fixed inset-0 z-50 bg-black"></div>

<!-- TEST -->
<!-- <div class="bg-white border border-solid border-slate-100 rounded-xl shadow-md h-full">
  <div class="border border-solid border-slate-100 rounded-t-xl font-semibold justify-between h-full">
    <div class="flex flex-col justify-center w-2/5 rounded-lg border border-slate-200 mx-auto my-28 ">
      <div class="bg-blue-500 text-white text-lg rounded-t-lg p-2">
        Upload XMLs
      </div>

      <div class="w-3/4 flex justify-center mx-auto py-5">
        <input (change)="readXML($event.target.files)" class="form-control
          w-full
          px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding
          border border-solid border-gray-300
          rounded-lg
          transition
          ease-in-out
          m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" type="file" id="formFile" [(ngModel)]="xmlFile">
      </div>

      <div class="w-3/4 flex justify-center mx-auto pb-5">
        <input type="text" placeholder="enter cipher key" [(ngModel)]="cipher_key" class="rounded-lg w-full px-3 py-2 border border-solid border-gray-300 text-sm placeholder-gray-400" />
      </div>

      <div class="w-3/4 flex justify-center mx-auto">
        <button [disabled]="!file_to_upload || !cipher_key" type="button" (click)="uploadFile(file_to_upload)" class="disabled:bg-gray-400 w-full py-2 mb-5 bg-blue-500 text-white rounded-lg text-sm">
          <fa-icon [icon]="faUpload" class=""></fa-icon> Upload XML
        </button>
      </div>
    </div>

    <div class="w-full">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 mb-5 hidden">
        <thead>
          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Birthdate</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="is_uploading">
            <td colspan="2" >
              <div class="grid grid-cols-1 w-full mt-10">
                <div class="flex justify-center mt-3">
                  <fa-icon [icon]="faCircleNotch" class="text-lg mr-2 text-blue-500" spin="true"></fa-icon>
                  <div class="text-center italic pt-1"> Uploading XML... </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->

<!-- <app-uploaded-xml *ngIf="modals['uploaded-xml']" (toggleModal)="toggleModal($event)" [xml_to_view]="xml_to_view"></app-uploaded-xml> -->
