
<div class="m-5 border border-slate-200 rounded-lg">
    <div class="bg-blue-500 text-sm text-white rounded-t-md py-2 pl-3 font-semibold">
     Details
    </div>

    <div class="grid grid-cols-12">
  
    <div class="col-span-6 px-10 pt-5">
        <label for="case_number" class="text-sm font-semibold">Number of Living Childred (Actual)</label>
        <input type="text" name="case_number" id="case_number" formControlName="case_number" class="input">

        <!-- <div *ngIf="show_error && f.case_number.errors" class="invalid-alert">
          <div *ngIf="f.case_number.errors?.['required']">
            {{ required_message }}
          </div> -->

          <!-- <div *ngIf="f.case_number.errors?.['pattern']">
            Only letters and numbers are allowed.
          </div> -->
    </div>

    <div class="col-span-6 px-10 pt-5">
        <label for="case_number" class="text-sm font-semibold">Number of Living Childred (Desired)</label>
        <input type="text" name="case_number" id="case_number" formControlName="case_number" class="input">

        <!-- <div *ngIf="show_error && f.case_number.errors" class="invalid-alert">
          <div *ngIf="f.case_number.errors?.['required']">
            {{ required_message }}
          </div> -->

          <!-- <div *ngIf="f.case_number.errors?.['pattern']">
            Only letters and numbers are allowed.
          </div> -->
    </div>

    <div class="col-span-6 px-10 pb-8 pt-6">
        <label for="case_number" class="text-sm font-semibold">Birth Interval Desired</label>
        <input type="text" name="case_number" id="case_number" formControlName="case_number" class="input">

        <!-- <div *ngIf="show_error && f.case_number.errors" class="invalid-alert">
          <div *ngIf="f.case_number.errors?.['required']">
            {{ required_message }}
          </div> -->

          <!-- <div *ngIf="f.case_number.errors?.['pattern']">
            Only letters and numbers are allowed.
          </div> -->
    </div>

    <div class="col-span-6 px-10 pb-8 pt-6">
        <label for="case_number" class="text-sm font-semibold">Average Monthly Income</label>
        <input type="text" name="case_number" id="case_number" formControlName="case_number" class="input">

        <!-- <div *ngIf="show_error && f.case_number.errors" class="invalid-alert">
          <div *ngIf="f.case_number.errors?.['required']">
            {{ required_message }}
          </div> -->

          <!-- <div *ngIf="f.case_number.errors?.['pattern']">
            Only letters and numbers are allowed.
          </div> -->
    </div>

    </div>
      
</div>
  
  <!-- <app-delete-item *ngIf="modals['delete-item']"
    [delete_id]="delete_id"
    [delete_desc]="delete_desc"
    [url]="url"
    (toggleModal)="toggleModal($event)"></app-delete-item> -->
  