
<div class="m-5 border border-slate-200 rounded-lg" *ngIf="show_form">
    <div class="bg-blue-500 text-sm text-white rounded-t-md py-2 pl-3 font-semibold">
     Visit
    </div>

    <form [formGroup]="visitForm" (submit)="onSubmit()">
    <div class="grid grid-cols-12">

    <div class="col-span-6 px-10 pt-5">
        <label for="no_of_living_children_actual" class="text-sm font-semibold">Number of Living Children (Actual)</label>
        <input type="number" name="no_of_living_children_actual" id="no_of_living_children_actual" class="input" placeholder="Input Number of Children" formControlName="no_of_living_children_actual">

        <!-- <div *ngIf="show_error && f.case_number.errors" class="invalid-alert">
          <div *ngIf="f.case_number.errors?.['required']">
            {{ required_message }}
          </div> -->

          <!-- <div *ngIf="f.case_number.errors?.['pattern']">
            Only letters and numbers are allowed.
          </div> -->
    </div>

    <div class="col-span-6 px-10 pt-5">
        <label for="no_of_living_children_desired" class="text-sm font-semibold">Number of Living Children (Desired)</label>
        <input type="number" name="no_of_living_children_desired" id="no_of_living_children_desired" class="input" placeholder="Input Number of Children" formControlName="no_of_living_children_desired">

        <!-- <div *ngIf="show_error && f.case_number.errors" class="invalid-alert">
          <div *ngIf="f.case_number.errors?.['required']">
            {{ required_message }}
          </div> -->

          <!-- <div *ngIf="f.case_number.errors?.['pattern']">
            Only letters and numbers are allowed.
          </div> -->
    </div>

    <div class="col-span-6 px-10 pt-6">
        <label for="birth_interval_desired" class="text-sm font-semibold">Birth Interval Desired</label>
        <input type="number" name="birth_interval_desired" id="birth_interval_desired" class="input" placeholder="Input Interval" formControlName="birth_interval_desired">

        <!-- <div *ngIf="show_error && f.case_number.errors" class="invalid-alert">
          <div *ngIf="f.case_number.errors?.['required']">
            {{ required_message }}
          </div> -->

          <!-- <div *ngIf="f.case_number.errors?.['pattern']">
            Only letters and numbers are allowed.
          </div> -->
    </div>

    <div class="col-span-6 px-10 pt-6">
        <label for="average_monthly_income" class="text-sm font-semibold">Average Monthly Income</label>
        <input type="text" name="average_monthly_income" id="average_monthly_income" class="input" placeholder="Input Average Monthly Income" mask="separator.2" thousandSeparator="," formControlName="average_monthly_income">

        <!-- <div *ngIf="show_error && f.case_number.errors" class="invalid-alert">
          <div *ngIf="f.case_number.errors?.['required']">
            {{ required_message }}
          </div> -->

          <!-- <div *ngIf="f.case_number.errors?.['pattern']">
            Only letters and numbers are allowed.
          </div> -->
    </div>



    </div>

    <div class="flex justify-center py-5">
      <button class="btn-save mr-5 mt-4" [disabled]="visitForm.invalid || is_saving">
        <fa-icon [icon]="faSave" *ngIf="!is_saving" class="mr-2"></fa-icon>
        <fa-icon [icon]="faSpinner" *ngIf="is_saving" [animation]="'spin'" class="mr-2"></fa-icon>
        {{ visitForm.value.id ? (is_saving ? 'Updating' : 'Update') : (is_saving ? 'Saving' : 'Save') }}
      </button>
    </div>
    </form>

</div>

  <!-- <app-delete-item *ngIf="modals['delete-item']"
    [delete_id]="delete_id"
    [delete_desc]="delete_desc"
    [url]="url"
    (toggleModal)="toggleModal($event)"></app-delete-item> -->
