<div class="grid grid-cols-12 item-start flex-wrap shadow-md rounded-xl mb-8 mt-8 overflow-y-auto">

    <div class="col-span-12 row-start-1 flex bg-blue-500 px-5 py-3 rounded-tl rounded-tr">
      <h4 class="font-bold text-white text-md mt-2 mb-2">Blood Glucose Test</h4> 
      <div class="">
        <fa-icon [icon]="faInfoCircle" class="peer text-white hover:text-white z-50 px-2"></fa-icon>
        <div
            class="absolute text-sm bg-gradient-to-b from-stone-500 to-gray-400 p-2 rounded border border-gray-500  text-white drop-shadow-lg opacity-90 border-check z-50 w-60 invisible peer-hover:visible">
            <h1 class="font-bold drop-shadow-lg">IMPORTANT</h1>
            <p class="font-light drop-shadow-lg">Once saved, the information will be displayed in the input boxes
                and shall not be editable unless Edit button is pressed.</p>
        </div>
    </div>
    </div>

    <div class="relative text-sm col-start-1 col-span-6 row-start-2 px-5 mt-4 mb-4">
        <h4 class="mb-2">Date Taken:</h4>
        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon-tabler icon-tabler-calendar-event text-blue-500 mt-7 ml-5" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <rect x="4" y="5" width="16" height="16" rx="2"></rect>
            <line x1="16" y1="3" x2="16" y2="7"></line>
            <line x1="8" y1="3" x2="8" y2="7"></line>
            <line x1="4" y1="11" x2="20" y2="11"></line>
            <rect x="8" y="15" width="2" height="2"></rect>
         </svg>
        </div>
       <input type="text" placeholder="Select Date" onfocus="(this.type='date')" class="cursor-pointer mt-1 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input" placeholder="Select Date">
      
    </div>
  
    <div class="text-sm col-start-7 col-span-6 row-start-2 px-5 mt-4 mb-4">
      <h4 class="mb-2">If atleast 8 hours, record FBS (mg/dl):</h4>
      <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
              type="text" name="text" formControlName="meds" required="true">
  </div>

  <div class="text-sm col-start-1 col-span-6 row-start-3 px-5 mb-6">
    <h4 class="mb-2">Record RBS (mg/dl):</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="text" name="text" formControlName="meds" required="true">
</div>

<div class="text-sm col-start-7 col-span-6 row-start-3 px-5 mb-6">
  <h4 class="mb-2">Raised Blood Glucose:</h4>
  <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
          type="text" name="text" formControlName="meds" required="true">
</div>
  
  </div>

  <div class="col-start-1 col-span-12 row-start-1 border-b-2 border-gray-200 mt-2 mb-2"></div>

  <div class="grid grid-cols-12 item-start flex-wrap shadow-md rounded-xl mb-8 mt-8 overflow-y-auto">

    <div class="col-span-12 flex bg-blue-500 px-5 py-3 rounded-tl rounded-tr">
      <h4 class="font-bold text-white text-md mt-2 mb-2">Blood Lipid Test</h4> 
      <div class="">
        <fa-icon [icon]="faInfoCircle" class="peer text-white hover:text-white z-50 px-2"></fa-icon>
        <div
            class="absolute text-sm bg-gradient-to-b from-stone-500 to-gray-400 p-2 rounded border border-gray-500  text-white drop-shadow-lg opacity-90 border-check z-50 w-60 invisible peer-hover:visible">
            <h1 class="font-bold drop-shadow-lg">IMPORTANT</h1>
            <p class="font-light drop-shadow-lg">Once saved, the information will be displayed in the input boxes
                and shall not be editable unless Edit button is pressed.</p>
        </div>
    </div>
    </div>
  
    <div class="relative text-sm col-start-1 col-span-6 row-start-2 px-5 mt-4 mb-4">
      <h4 class="mb-2">Date Taken:</h4>
      <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon-tabler icon-tabler-calendar-event text-blue-500 mt-7 ml-5" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <rect x="4" y="5" width="16" height="16" rx="2"></rect>
          <line x1="16" y1="3" x2="16" y2="7"></line>
          <line x1="8" y1="3" x2="8" y2="7"></line>
          <line x1="4" y1="11" x2="20" y2="11"></line>
          <rect x="8" y="15" width="2" height="2"></rect>
       </svg>
      </div>
     <input type="text" placeholder="Select Date" onfocus="(this.type='date')" class="cursor-pointer mt-1 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input" placeholder="Select Date">
    
  </div>

  <div class="text-sm col-start-7 col-span-6 row-start-2 px-5 mt-4 mb-4">
    <h4 class="mb-2">Total Cholesterol (mmol/l):</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="text" name="text" formControlName="meds" required="true">
</div>

<div class="text-sm col-start-1 col-span-6 row-start-3 px-5 mb-6">
<h4 class="mb-2">Raised Blood Lipids:</h4>
<input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
        type="text" name="text" formControlName="meds" required="true">
</div>
  
  </div>

  <div class="col-start-1 col-span-12 row-start-1 border-b-2 border-gray-200 mt-2 mb-2"></div>

  <div class="grid grid-cols-12 item-start flex-wrap shadow-md rounded-xl mb-8 mt-8 overflow-y-auto">

    <div class="col-span-12 flex bg-blue-500 px-5 py-3 rounded-tl rounded-tr">
      <h4 class="font-bold text-white text-md mt-2 mb-2">Urine Test for Protein</h4> 
      <div class="">
        <fa-icon [icon]="faInfoCircle" class="peer text-white hover:text-white z-50 px-2"></fa-icon>
        <div
            class="absolute text-sm bg-gradient-to-b from-stone-500 to-gray-400 p-2 rounded border border-gray-500  text-white drop-shadow-lg opacity-90 border-check z-50 w-60 invisible peer-hover:visible">
            <h1 class="font-bold drop-shadow-lg">IMPORTANT</h1>
            <p class="font-light drop-shadow-lg">Once saved, the information will be displayed in the input boxes
                and shall not be editable unless Edit button is pressed.</p>
        </div>
    </div>
    </div>
  
    <div class="relative text-sm col-start-1 col-span-6 row-start-2 px-5 mt-4 mb-4">
      <h4 class="mb-2">Date Taken:</h4>
      <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon-tabler icon-tabler-calendar-event text-blue-500 mt-7 ml-5" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <rect x="4" y="5" width="16" height="16" rx="2"></rect>
          <line x1="16" y1="3" x2="16" y2="7"></line>
          <line x1="8" y1="3" x2="8" y2="7"></line>
          <line x1="4" y1="11" x2="20" y2="11"></line>
          <rect x="8" y="15" width="2" height="2"></rect>
       </svg>
      </div>
     <input type="text" placeholder="Select Date" onfocus="(this.type='date')" class="cursor-pointer mt-1 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input" placeholder="Select Date">
    
  </div>

  <div class="text-sm col-start-7 col-span-6 row-start-2 px-5 mt-4 mb-4">
    <h4 class="mb-2">Urine Protein in g/L:</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="text" name="text" formControlName="meds" required="true">
</div>

<div class="text-sm col-start-1 col-span-6 row-start-3 px-5 mb-6">
<h4 class="mb-2">Presence of Urine Protein:</h4>
<input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
        type="text" name="text" formControlName="meds" required="true">
</div>
  
  </div>

  <div class="col-start-1 col-span-12 row-start-1 border-b-2 border-gray-200 mt-2 mb-2"></div>

  <div class="grid grid-cols-12 flex item-start flex-wrap shadow-md rounded-xl mb-4 mt-8 overflow-y-auto">

    <div class="col-span-12 flex bg-blue-500 px-5 py-3 rounded-tl rounded-tr">
      <h4 class="font-bold text-white text-md mt-2 mb-2">Urine Test for Ketones</h4> 
      <div class="">
        <fa-icon [icon]="faInfoCircle" class="peer text-white hover:text-white z-50 px-2"></fa-icon>
        <div
            class="absolute text-sm bg-gradient-to-b from-stone-500 to-gray-400 p-2 rounded border border-gray-500  text-white drop-shadow-lg opacity-90 border-check z-50 w-60 invisible peer-hover:visible">
            <h1 class="font-bold drop-shadow-lg">IMPORTANT</h1>
            <p class="font-light drop-shadow-lg">Once saved, the information will be displayed in the input boxes
                and shall not be editable unless Edit button is pressed.</p>
        </div>
    </div>
    </div>
  
    <div class="relative text-sm col-start-1 col-span-6 row-start-2 px-5 mt-4 mb-4">
      <h4 class="mb-2">Date Taken:</h4>
      <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon-tabler icon-tabler-calendar-event text-blue-500 mt-7 ml-5" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <rect x="4" y="5" width="16" height="16" rx="2"></rect>
          <line x1="16" y1="3" x2="16" y2="7"></line>
          <line x1="8" y1="3" x2="8" y2="7"></line>
          <line x1="4" y1="11" x2="20" y2="11"></line>
          <rect x="8" y="15" width="2" height="2"></rect>
       </svg>
      </div>
     <input type="text" placeholder="Select Date" onfocus="(this.type='date')" class="cursor-pointer mt-1 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input" placeholder="Select Date">
    
  </div>

  <div class="text-sm col-start-7 col-span-6 row-start-2 px-5 mt-4 mb-4">
    <h4 class="mb-2">Urine Ketone:</h4>
    <input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
            type="text" name="text" formControlName="meds" required="true">
</div>

<div class="text-sm col-start-1 col-span-6 row-start-3 px-5 mb-6">
<h4 class="mb-2">Presence of Urine Ketone:</h4>
<input class="text-sm border border-gray-200 p-2.5 rounded bg-white w-full"
        type="text" name="text" formControlName="meds" required="true">
</div>
  
  </div>