<div class="grid grid-cols-12 item-start flex-wrap shadow-md rounded-xl mb-8 mt-8 overflow-y-auto">
  <div class="col-span-12 row-start-1 flex bg-blue-500 px-5 py-3 rounded-tl rounded-tr">
    <h4 class="font-bold text-white text-md mt-2 mb-2">Blood Glucose Test</h4>
    <!-- <div class="">
      <fa-icon [icon]="faInfoCircle" class="peer text-white hover:text-white z-50 px-2"></fa-icon>
      <div
          class="absolute text-sm bg-gradient-to-b from-stone-500 to-gray-400 p-2 rounded border border-gray-500  text-white drop-shadow-lg opacity-90 border-check z-50 w-60 invisible peer-hover:visible">
          <h1 class="font-bold drop-shadow-lg">IMPORTANT</h1>
          <p class="font-light drop-shadow-lg">Once saved, the information will be displayed in the input boxes
              and shall not be editable unless Edit button is pressed.</p>
      </div>
    </div> -->
  </div>

  <form [formGroup]="glucoseForm" (ngSubmit)="onSubmit('glucose', glucoseForm.value)" class="col-span-12 grid grid-cols-12 gap-x-5 px-5">
    <div class="text-sm col-span-4 mt-4 mb-4">
      <h4 class="mb-2">Date Taken</h4>
      <input name="date_taken" formControlName="date_taken" type="date" placeholder="mm/dd/yyyy" class="text-sm border-gray-200 border p-2.5 rounded-md w-full">
    </div>

    <div class="text-sm col-span-4 mt-4 mb-4">
      <h4 class="mb-2">If atleast 8 hours, record FBS (mg/dl)</h4>
      <input name="fbs" formControlName="fbs"  class="text-sm border border-gray-200 p-2.5 rounded w-full" (input)="raisedGlucose()" type="number">
    </div>

    <div class="text-sm col-span-4 mt-4 mb-4">
      <h4 class="mb-2">Record RBS (mg/dl)</h4>
      <input name="rbs" formControlName="rbs" class="text-sm border border-gray-200 p-2.5 rounded w-full" (input)="raisedGlucose()" type="number" >
    </div>

    <div *ngIf="glucoseForm.value.raised_blood_glucose" class="text-sm col-span-12 mb-6 p-3 rounded-lg" [ngClass]="{'bg-red-200 border border-red-300':glucoseForm.value.raised_blood_glucose === true}">
      <h4 class="mb-2">{{ glucoseForm.value.raised_blood_glucose === true ? 'Raised blood glucose' : 'Normal blood glucose'}}</h4>
      <ul class="list-disc pl-10">
        <div *ngIf="glucoseForm.value.raised_blood_glucose === true">
          <li>FBS &#62;= 126 mg/dl</li>
          <li>RBS &#62;= 200 mg/dl</li>
        </div>
        <div *ngIf="glucoseForm.value.raised_blood_glucose === false">
          <li>FBS &#60; 126 mg/dl</li>
          <li>RBS &#60; 200 mg/dl</li>
        </div>
      </ul>
      <input hidden name="raised_blood_glucose" formControlName="raised_blood_glucose" class="text-sm border border-gray-200 p-2.5 rounded w-full disabled:bg-gray-300" type="text" disabled>
    </div>

    <div class="col-span-12 flex justify-end border-t border-slate-200 pt-5"><!--    -->
      <button [disabled]="(glucoseForm.invalid || (!glucoseForm.value.rbs && !glucoseForm.value.fbs)) || is_saving['glucose']" type="submit" class=" btn-save px-10 mr-5 mb-5 disabled:bg-gray-400">
        <fa-icon *ngIf="is_saving['glucose']" [icon]="faSpinner" class="mr-2" spin="true" ></fa-icon>
        <fa-icon *ngIf="!is_saving['glucose']" [icon]="faSave" class="mr-2"></fa-icon>
        {{ is_saving['glucose'] ? 'Saving' : glucoseForm.value.id ? 'Update' : 'Save' }}
      </button>
    </div>
  </form>
</div>


<div class="grid grid-cols-12 item-start flex-wrap shadow-md rounded-xl mb-8 mt-8 overflow-y-auto">
  <div class="col-span-12 flex bg-blue-500 px-5 py-3 rounded-tl rounded-tr">
    <h4 class="font-bold text-white text-md mt-2 mb-2">Blood Lipid Test</h4>
  </div>

  <form [formGroup]="bloodLipidForm" (ngSubmit)="onSubmit('bloodLipid', bloodLipidForm.value)" class="col-span-12 grid grid-cols-12 gap-x-5 px-5">
    <div class="relative text-sm col-span-6 mt-4 mb-4">
      <h4 class="mb-2">Date Taken</h4>
      <input name="date_taken" formControlName="date_taken" type="date" placeholder="mm/dd/yyyy" class="text-sm border-gray-200 border p-2.5 rounded-md w-full">
    </div>

    <div class="text-sm col-span-6 mt-4 mb-4">
      <h4 class="mb-2">Total Cholesterol (mmol/l)</h4>
      <input name="total_cholesterol" formControlName="total_cholesterol" (input)="raisedLipids()" class="text-sm border border-gray-200 p-2.5 rounded w-full" type="number">
    </div>

    <div *ngIf="bloodLipidForm.value.raised_blood_lipid" class="text-sm col-span-12 mb-6 p-3 rounded-lg" [ngClass]="{'bg-red-200 border border-red-300':bloodLipidForm.value.raised_blood_lipid === true}">
      <h4 class="mb-2">{{ bloodLipidForm.value.raised_blood_lipid === true ? 'Raised blood lipids' : 'Normal blood lipids'}}</h4>
      <ul class="list-disc pl-10">
        <div *ngIf="bloodLipidForm.value.raised_blood_lipid === true">
          <li>Cholesterol &#62;= 200mg/100ml</li>
        </div>
        <div *ngIf="bloodLipidForm.value.raised_blood_lipid === false">
          <li>Cholesterol &#60; 200mg/100ml</li>
        </div>
      </ul>
      <input hidden name="raised_blood_lipid" formControlName="raised_blood_lipid" class="text-sm border border-gray-200 p-2.5 rounded w-full disabled:bg-gray-300" type="text" disabled>
    </div>

    <div class="col-span-12 flex justify-end border-t border-slate-200 pt-5">
      <button [disabled]="bloodLipidForm.invalid || is_saving['bloodLipid']" type="submit" class=" btn-save px-10 mr-5 mb-5 disabled:bg-gray-400">
        <fa-icon *ngIf="is_saving['bloodLipid']" [icon]="faSpinner" class="mr-2" spin="true" ></fa-icon>
        <fa-icon *ngIf="!is_saving['bloodLipid']" [icon]="faSave" class="mr-2"></fa-icon>
        {{ is_saving['bloodLipid'] ? 'Saving' : bloodLipidForm.value.id ? 'Update' : 'Save' }}
      </button>
    </div>
  </form>
</div>


<div class="grid grid-cols-12 item-start flex-wrap shadow-md rounded-xl mb-8 mt-8 overflow-y-auto">
  <div class="col-span-12 flex bg-blue-500 px-5 py-3 rounded-tl rounded-tr">
    <h4 class="font-bold text-white text-md mt-2 mb-2">Urine Test for Ketones</h4>
  </div>

  <form [formGroup]="urineKetonesForm" (ngSubmit)="onSubmit('urineKetones', urineKetonesForm.value)" class="col-span-12 grid grid-cols-12 gap-x-5 px-5">
    <div class="relative text-sm col-span-6 mt-4 mb-4">
      <h4 class="mb-2">Date Taken</h4>
      <input name="date_taken" formControlName="date_taken" type="date" placeholder="mm/dd/yyyy" class="text-sm border-gray-200 border p-2.5 rounded-md w-full">
    </div>

    <div class="text-sm col-span-6 mt-4 mb-4">
      <h4 class="mb-2">Urine Ketone</h4>
      <!-- <input name="ketone" formControlName="ketone" (input)="urineKetone()" class="text-sm border border-gray-200 p-2.5 rounded w-full" type="number"> -->
      <select name="ketone" formControlName="ketone" (change)="urineKetone()" class="text-sm border border-gray-200 p-2.5 rounded w-full">
        <option [value]="item.id" *ngFor="let item of ketones_list">{{ item.desc }}</option>
      </select>
    </div>

    <div *ngIf="urineKetonesForm.value.presence_of_urine_ketone" class="text-sm col-span-12 mb-6 p-3 rounded-lg" [ngClass]="{'bg-red-200 border border-red-300':urineKetonesForm.value.presence_of_urine_ketone === true}">
      <h4 class="mb-2">{{ urineKetonesForm.value.presence_of_urine_ketone === true ? 'Traces or amount of urine ketone was found' : 'No traces or amount of urine ketone was found'}}</h4>
      <input hidden name="presence_of_urine_ketone" formControlName="presence_of_urine_ketone" class="text-sm border border-gray-200 p-2.5 rounded w-full disabled:bg-gray-300" type="text" disabled>
    </div>

    <div class="col-span-12 flex justify-end border-t border-slate-200 pt-5">
      <button [disabled]="urineKetonesForm.invalid || is_saving['urineKetones']" type="submit" class=" btn-save px-10 mr-5 mb-5 disabled:bg-gray-400">
        <fa-icon *ngIf="is_saving['urineKetones']" [icon]="faSpinner" class="mr-2" spin="true" ></fa-icon>
        <fa-icon *ngIf="!is_saving['urineKetones']" [icon]="faSave" class="mr-2"></fa-icon>
        {{ is_saving['urineKetones'] ? 'Saving' : urineKetonesForm.value.id ? 'Update' : 'Save' }}
      </button>
    </div>
  </form>
</div>


<div class="grid grid-cols-12 item-start flex-wrap shadow-md rounded-xl mb-4 mt-8 overflow-y-auto">
  <div class="col-span-12 flex bg-blue-500 px-5 py-3 rounded-tl rounded-tr">
    <h4 class="font-bold text-white text-md mt-2 mb-2">Urine Test for Protein</h4>
  </div>

  <form [formGroup]="urineProteinForm" (ngSubmit)="onSubmit('urineProtein', urineProteinForm.value)" class="col-span-12 grid grid-cols-12 gap-x-5 px-5">
    <div class="relative text-sm col-span-6 mt-4 mb-4">
      <h4 class="mb-2">Date Taken</h4>
      <input name="date_taken" formControlName="date_taken" type="date" placeholder="mm/dd/yyyy" class="text-sm border-gray-200 border p-2.5 rounded-md w-full">
    </div>

    <div class="text-sm col-span-6 mt-4 mb-4">
      <h4 class="mb-2">Urine Protein</h4>
      <select name="protein" formControlName="protein" (change)="urineProtein()" class="text-sm border border-gray-200 p-2.5 rounded w-full">
        <option [value]="item.id" *ngFor="let item of protein_list">{{ item.desc }}</option>
      </select>
    </div>

    <div *ngIf="urineProteinForm.value.presence_of_urine_protein" class="text-sm col-span-12 mb-6 p-3 rounded-lg" [ngClass]="{'bg-red-200 border border-red-300':urineProteinForm.value.presence_of_urine_protein === true}">
      <h4 class="mb-2">{{ urineProteinForm.value.presence_of_urine_protein === true ? 'Traces or amount of urine protein was found' : 'No traces or amount of urine protein was found'}}</h4>
      <input hidden name="presence_of_urine_protein" formControlName="presence_of_urine_protein" class="text-sm border border-gray-200 p-2.5 rounded w-full disabled:bg-gray-300" type="text" disabled>
    </div>

    <div class="col-span-12 flex justify-end border-t border-slate-200 pt-5">
      <button [disabled]="urineProteinForm.invalid || is_saving['urineProtein']" type="submit" class=" btn-save px-10 mr-5 mb-5 disabled:bg-gray-400">
        <fa-icon *ngIf="is_saving['urineProtein']" [icon]="faSpinner" class="mr-2" spin="true" ></fa-icon>
        <fa-icon *ngIf="!is_saving['urineProtein']" [icon]="faSave" class="mr-2"></fa-icon>
        {{ is_saving['urineProtein'] ? 'Saving' : urineProteinForm.value.id ? 'Update' : 'Save' }}
      </button>
    </div>
  </form>
</div>
