<div class="border border-slate-200 rounded-b-lg" *ngIf="show_form">
  <div class="mx-5 m-5">
    <div class="mt-1 grid grid-cols-4 gap-x-4 w-full">
      <div class="col-span-4 grid grid-cols-1 border-slate-200 shadow-md rounded-md">
        <div class="bg-sky-500 text-white py-1 px-3 rounded-t-md flex justify-between">
          <spa>Referral</spa>
          <button type="button" (click)="toggleModal('referral')" class="bg-white text-sky-500 px-2 rounded text-xs">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
        </div>
        <div class="min-h-24">
          <span class="flex italic py-5 justify-center">
            No records to show
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<app-referral-modal *ngIf="modals['referral']"
  (toggleModal)="toggleModal($event)"
></app-referral-modal>
<!-- <app-medical-consult *ngIf="modals['medical_consult']"
  (toggleModal)="toggleModal($event)"
></app-medical-consult> -->

