<div id="defaultModal" tabindex="-1" class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 w-full md:inset-0 h-modal md:h-full justify-center items-center flex" aria-modal="true" role="dialog" style="z-index:60">
  <div class="relative p-4 w-full max-w-xl h-auto md:h-auto">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex justify-between items-start py-3 px-5 rounded-t border-b bg-rose-500 dark:border-gray-600">
        <h3 class="mt-2 text-sm font-bold text-white dark:text-white">
            Delete
        </h3>

      </div>
      <!-- Modal body -->
      <div class=" h-40">
        <div class="flex item-start flex-wrap pb-5">
          <div class="grid grid-cols-3 px-3 py-3 mt-10 mx-10 w-full rounded-lg text-center">
            <div class="col-span-3 text-left mb-2 pb-2 border-b border-slate-200 font-semibold text-lg">
              Do you really want to delete this lab?
            </div>
            <div class="col-span-3 text-left mb-2 pb-2 text-sm">
              {{ selected_lab.type }} : {{ selected_lab.date_requested | date: 'MM/dd/yyyy' }}
            </div>
          </div>
        </div>
      </div>

      <!-- Modal footer  -->
      <div class="flex justify-end py-2 px-5 space-x-4 rounded-b">

        <button  type="button" class="btn-save bg-gray-400 px-10" (click)="closeModal()">Cancel</button>
        <button  type="button" class="btn-save px-10" (click)="onSubmit()" >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<div class="opacity-50 fixed inset-0 z-50 bg-black"></div>
