<div class="flex w-full mt-4">
  
    <div class="flex-wrap w-full h-full rounded-xl text-gray-600 border border-slate-100 px-5 py-4 ml-5 mr-1" *ngIf="module==1">
  
      <div class="flex w-full flex-col sm:flex-row text-sm">
        
      <h4>Drug List</h4>

        <button class="cursor-pointer ml-auto pt-2.5 pb-2 text-white font-semibold text-md leading-normal rounded focus:shadow-lg focus:outline-none transition duration-150 ease-in-out transform hover:scale-135 bg-white flex align-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-list-search text-blue-500" width="22" height="22" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <circle cx="15" cy="15" r="4"></circle>
                <path d="M18.5 18.5l2.5 2.5"></path>
                <path d="M4 6h16"></path>
                <path d="M4 12h4"></path>
                <path d="M4 18h4"></path>
             </svg>
            </button>
      
    </div>sdfssdfsd
    
        <!--Drug List Table-->
      
    </div>
  
    
      
  
  </div>