<div id="defaultModal" tabindex="-1" class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 w-full md:inset-0 h-modal md:h-full justify-center items-center flex" aria-modal="true" role="dialog" style="z-index:60">
  <div class="relative p-4 w-full max-w-6xl h-auto md:h-auto">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex justify-between items-start py-3 px-5 rounded-t border-b bg-blue-500 dark:border-gray-600">
        <h3 class="mt-2 text-sm font-bold text-white dark:text-white">
            Search Family Folder
        </h3>

        <div class="">
          <input type="text" [(ngModel)]="search_item" class="form-input rounded-l-md border-gray-400 text-sm" (keyup.enter)="searchFamily()" placeholder="Search family"/>
          <button type="button" class="bg-white text-blue-500 w-9 h-9 rounded-r-md border-gray-400" (click)="searchFamily()">
            <fa-icon class="mr-1" [icon]="faSearch"></fa-icon>
          </button>
        </div>

      </div>
      <!-- Modal body -->
      <div class="overflow-y-auto h-96 scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 table-fixed">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="py-3 px-6">Address</th>
              <th scope="col" class="py-3 px-6">Members</th>
              <th scope="col" class="py-3 px-6 w-48 text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="family_list?.length === 0">
              <th colspan="3" class="italic text-center">No records found.</th>
            </tr>
            <tr class="bg-white border-b"*ngFor="let family of family_list" >
              <th scope="row" class="py-4 px-6 font-medium text-gray-900 align-top">
                {{ family.address }}, {{ 'Brgy. '+family.barangay.name }}, {{ family.barangay.municipality.name }}, {{ family.barangay.province.name }}
              </th>
              <td class="py-4 px-6">
                <span class="block" *ngFor="let member of family.household_member">
                  {{ member.patient.last_name }}, {{ member.patient.first_name }} {{ member.patient.middle_name === 'NA' ? '' : member.patient.middle_name }} {{ member.patient.suffix_name === 'NA' ? '' : member.patient.suffix_name }}
                </span>
              </td>
              <td class="py-4 px-6 text-center">
                <button type="button" class="bg-green-500 text-white px-3 py-2 rounded-full" (click)="selectFolder(family)">
                  <fa-icon  class="mx-0 my-0 mr-2" [icon]="faCheck"></fa-icon>
                  Select Folder
                </button>
                <!-- <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Modal footer -->
      <div class="flex justify-end py-4 px-5 space-x-4 rounded-b border-t borde r-gray-200 dark:border-gray-600">
        <button  type="button" class="text-white bg-red-500 hover:ring-2 focus:outline-none hover:ring-red-300 rounded text-sm font-medium px-6 py-2.5 transition duration-150 ease-in-out transform hover:scale-110 " (click)="closeModal()">Close</button>
        <button  type="button" class="text-white bg-blue-500 hover:ring-2 focus:outline-none hover:ring-blue-300 font-medium rounded text-sm px-6 py-2.5 text-center transition duration-150 ease-in-out transform hover:scale-110" (click)="createNewFolder()" >New</button>
      </div>
    </div>
  </div>
</div>

<div class="opacity-50 fixed inset-0 z-50 bg-black"></div>
