<div class="grid grid-cols-12" *ngIf="show_form">
  <div class="col-span-12">
    Childcare Record
  </div>
  <div class="col-span-12 grid grid-cols-2 pl-3">
    <div class="text-xs">
      Admission Date
    </div>
    <div class="text-xs text-right">
      {{ ccdev_record?.admission_date | date: 'MM/dd/yyyy hh:mm:SS a' }}
    </div>

    <div class="text-xs">
      Discharge Date
    </div>
    <div class="text-xs text-right">
      {{ ccdev_record?.discharge_date | date: 'MM/dd/yyyy hh:mm:SS a' }}
    </div>

    <div class="col-span-2 grid grid-cols-2 mt-3">
      <div class="col-span-2 font-semibold text-sm">
        Services
      </div>
      <div *ngFor="let services of ccdev_services" class="grid grid-cols-2 col-span-2">
        <div class="text-xs" >
          {{ services.services.service_name }}
        </div>
        <div class="text-xs text-right">
          {{ services.service_date ? (services.service_date | date: 'MM/dd/yyyy':'Asia/Manila') : '-' }}
        </div>

        <div *ngIf="services.service_id === 'NBSDONE'" class="pl-5 col-span-2 text-xs">
          Filter Number: {{ ccdev_record?.nbs_filter ?? '-' }}
        </div>
      </div>
    </div>

    <div class="col-span-2 grid grid-cols-2 mt-3">
      <div class="col-span-2 font-semibold text-sm">
        Breastfeeding
      </div>
      <div class="text-xs">
        Month 1 &#189;
      </div>
      <div class="text-xs text-right">
        {{ ccdev_breastfed?.bfed_month1 === 1 ? 'Yes' : 'No' }}
      </div>

      <div class="text-xs">
        Month 2 &#189;
      </div>
      <div class="text-xs text-right">
        {{ ccdev_breastfed?.bfed_month2 === 1 ? 'Yes' : 'No' }}
      </div>

      <div class="text-xs">
        Month 3 &#189;
      </div>
      <div class="text-xs text-right">
        {{ ccdev_breastfed?.bfed_month3 === 1 ? 'Yes' : 'No' }}
      </div>

      <div class="text-xs">
        5 months 29 Days
      </div>
      <div class="text-xs text-right">
        {{ ccdev_breastfed?.bfed_month4 === 1 ? 'Yes' : 'No' }}
      </div>

      <div class="text-xs pl-5">
        Date Assessed
      </div>
      <div class="text-xs text-right">
        {{ ccdev_breastfed?.ebf_date ? (ccdev_breastfed?.ebf_date | date: 'MM/dd/yyyy':'Asia/Manila') : '-' }}
      </div>
    </div>

    <div>
  </div>
</div>

<div class="w-full flex justify-center" *ngIf="!show_form">
  <fa-icon [icon]="faCircleNotch" spin="true" class="text-blue-500 pt-15"></fa-icon>
</div>
