<!-- <div class="grid grid-cols-11 mt-4 gap-4">
  <div class="mb-16 col-span-8"> -->
    <div class="block shadow p-4 mt-4 rounded-xl text-gray-600 border border-slate-100">
      <!-- <span class="text-sky-500 font-bold flex justify-between py-2">
        <span class="flex">
          <span class="mt-2"> Laboratories <span class="text-gray-500 text-sm"></span></span>
        </span>
      </span> -->
      <!-- ({{ consult_details?.consult_date | date: 'MM/dd/yyyy hh:mm:ss a' }} | ID:{{ consult_details?.id }}) -->

      <div class="border border-slate-200 shadow-md rounded-xl" *ngIf="show_form">
        <div class="w-full bg-blue-500 text-white rounded-t-xl p-3 font-semibold">
          Laboratories<!-- Pending lab requests -->
        </div>

        <div class="w-full p-5">
          <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                <th scope="col" class="py-3 px-6">Lab type</th>
                <th scope="col" class="py-3 px-6">Date requested</th>
                <th scope="col" class="py-3 px-6 text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let lab of pending_list" class="bg-white border-b last:border-0">
                <td class="w-1/3 py-4 px-6">
                  <!-- <fa-icon (click)="toggleModal('delete', lab)" size="lg" class="mx-0 my-0 text-rose-400 hover:cursor-pointer flex-none mr-2" [icon]="faXmark"></fa-icon> -->
                  {{ lab.laboratory.desc }}
                </td>
                <th scope="row" class="w-1/3 py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
                  {{ lab.request_date | date: 'MM/dd/yyyy'}}
                </th>
                <td class="w-1/3 py-4 px-6 text-center">
                  <fa-icon *ngIf="lab.result && lab.request_status_code !== 'RF'" (click)="toggleModal('add', lab)" size="lg" class="mx-0 my-0 text-green-500 hover:cursor-pointer flex-none mr-2" [icon]="faFlask"></fa-icon>
                  <fa-icon *ngIf="!lab.result && lab.request_status_code !== 'RF'" (click)="toggleModal('add', lab)" size="lg" class="mx-0 my-0 text-orange-500 hover:cursor-pointer flex-none mr-2" [icon]="faFlask"></fa-icon>
                  <fa-icon *ngIf="lab.request_status_code === 'RF'" (click)="toggleModal('add', lab)" size="lg" class="mx-0 my-0 text-red-700 hover:cursor-pointer flex-none mr-2" [icon]="faFlask"></fa-icon>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- <div class="border border-slate-200 shadow-md rounded-xl mt-5">
        <div class="w-full bg-green-500 text-white rounded-t-xl p-3 font-semibold">
          Laboratory results
        </div>

        <div class="w-full p-5">
          test content
        </div>
      </div> -->
    </div>
  <!-- </div> -->


  <!-- <div class="col-span-3">
    <app-patient-info (patientInfo)="patientInfo($event)" (reloadLabs)="reloadLabs($event)"></app-patient-info>
  </div>cancelModal
</div> -->

<app-lab-form *ngIf="modal['add']"
    (toggleModal)="toggleModal($event)"
    (cancelModal)="cancelModal($event)"
    [selected_lab]="selected_lab"
    [patient_details]="patient_details"
    [lab_statuses]="lab_statuses"
    [lab_cxray_observation]="lab_cxray_observation"
    [lab_cxray_findings]="lab_cxray_findings"
    [lab_findings]="lab_findings"
    [lab_result_pn]="lab_result_pn"
    [lab_sputum_collection]="lab_sputum_collection"
    [lab_stool_blood]="lab_stool_blood"
    [lab_stool_color]="lab_stool_color"
    [lab_stool_consistency]="lab_stool_consistency"
></app-lab-form>
<app-lab-delete *ngIf="modal['delete']" [selected_lab]="selected_lab" (toggleModal)="toggleModal($event)"></app-lab-delete>
