<div id="defaultModal" tabindex="-1" class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 w-full md:inset-0 h-modal md:h-full justify-center items-center flex" aria-modal="true" role="dialog" style="z-index:60">
  <div class="relative p-4 w-full max-w-3xl h-auto md:h-auto">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow">
      <!-- Modal header -->
      <div class="flex justify-between items-start py-3 px-5 rounded-t border-b bg-sky-500">
        <h3 class="text-sm font-bold text-white">
            Family member details
        </h3>
      </div>
      <!-- Modal body -->
      <div class="overflow-y-auto h-96 scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100">
        <form [formGroup]="interviewForm" (submit)="onSubmit()" class="text-left text-gray-500 m-5">
          <div class="grid grid-cols-4 gap-4">
            <div class="col-span-2">
              <label for="interview_datetime" [ngClass]="{'text-red-500': show_error && f.interview_datetime.errors}">Date & time</label>
              <input type="datetime-local" name="interview_datetime" id="interview_datetime" formControlName="interview_datetime" class="input" [ngClass]="{'invalid-input': show_error && f.interview_datetime.errors}">
            </div>

            <div class="col-span-2">
              <label for="interview_place" [ngClass]="{'text-red-500': show_error && f.interview_place.errors}">Place</label>
              <input type="text" name="interview_place" id="interview_place" formControlName="interview_place" class="input" [ngClass]="{'invalid-input': show_error && f.interview_place.errors}">
            </div>

            <div class="col-span-4">
              <label for="alleged_perpetrator" [ngClass]="{'text-red-500': show_error && f.alleged_perpetrator.errors}">Perpetrator</label>
              <select name="alleged_perpetrator" id="alleged_perpetrator" formControlName="alleged_perpetrator" class="input" [ngClass]="{'invalid-input': show_error && f.alleged_perpetrator.errors}">
                <option *ngFor="let loc of perpetrators" [value]="loc.id">{{ enroll_as.desc }}</option>
              </select>
            </div>

            <div class="col-span-4">
              <label for="interview_notes" [ngClass]="{'text-red-500': show_error && f.interview_notes.errors}">Phrases used to describe acts</label>
              <textarea rows="4" name="interview_notes" id="interview_notes" formControlName="interview_notes" class="input" [ngClass]="{'invalid-input': show_error && f.interview_notes.errors}">
              </textarea>
            </div>
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="flex justify-end py-4 px-5 space-x-4 rounded-b border-t border-gray-200">
        <button type="button" class="btn-save bg-gray-400" (click)="closeModal()">Close</button>
        <button [disabled]="is_saving || interviewForm.invalid" type="submit" class="btn-save px-10 disabled:bg-gray-300" (click)="onSubmit()" >
          <fa-icon></fa-icon>
          {{ is_saving ? 'Saving' : 'Save' }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="opacity-50 fixed inset-0 z-50 bg-black"></div>
