<div class="block pt-4 justify-items-start mx-5 pb-5">
  <div class="flex justify-between items-center">
    <span class="block text-blue-500 font-medium text-sm select-none" [ngClass]="{'opacity-70': !social_history}">
      <fa-icon *ngIf="social_history" (click)="toggle('lifestyle')" class="mx-0 my-0 text-gray-500 mr-2 hover:cursor-pointer" [icon]="accordions['lifestyle'] ? faChevronUp : faChevronDown"></fa-icon>
      <fa-icon *ngIf="!social_history" class="mx-0 my-0 text-gray-500 mr-2" [icon]="faMinus"></fa-icon>
      LIFESTYLE
    </span>
    <fa-icon (click)="modalToggle('lifestyle')" class="mx-0 my-0 text-blue-500 mr-2 hover:cursor-pointer" [icon]="faPlusCircle"></fa-icon>
  </div>

  <div *ngIf="!social_history" >
    <div class="p-4 mx-auto">
      <div class="animate-pulse grid grid-cols-2 gap-x-20 gap-y-4 justify-between">
        <div class="h-2 bg-slate-200 rounded"></div>
        <div class="h-2 bg-slate-200 rounded"></div>
        <div class="h-2 bg-slate-200 rounded"></div>
        <div class="h-2 bg-slate-200 rounded"></div>
        <div class="h-2 bg-slate-200 rounded"></div>
        <div class="h-2 bg-slate-200 rounded"></div>
      </div>
    </div>
  </div>
  <div *ngIf="social_history" >
    <div [@openCloseAccordion] *ngIf="accordions['lifestyle']" class="block">
      <div class="flex pl-3 justify-between items-center">
        <span class="block font-medium text-xs">
          Smoker
        </span>
        <span class="block text-xs">
          {{ social_history?.smoking }}
        </span>
      </div>

      <div class="flex pl-3 justify-between items-center">
        <span class="block font-medium text-xs">
          Pack year
        </span>
        <span class="block text-xs">
          {{ social_history?.pack_per_year ?? '-'}}
        </span>
      </div>


      <div class="flex pl-3 justify-between items-center">
        <span class="block font-medium text-xs">
          Alcohol
        </span>
        <span class="block text-xs">
          {{ social_history?.alcohol }}
        </span>
      </div>

      <div class="flex pl-3 justify-between items-center">
        <span class="block font-medium text-xs">
          Bottle per day
        </span>
        <span class="block text-xs">
          {{ social_history?.bottles_per_day ?? '-' }}
        </span>
      </div>

      <div class="flex pl-3 justify-between items-center">
        <span class="block font-medium text-xs">
          Illicit drugs
        </span>
        <span class="block text-xs">
          {{ social_history?.illicit_drugs }}
        </span>
      </div>

      <div class="flex pl-3 justify-between items-center">
        <span class="block font-medium text-xs">
          Sexually Active
        </span>
        <span class="block text-xs">
          {{ social_history?.illicit_drugs }}
        </span>
      </div>

    </div>
  </div>
</div><!--


<div class="block pt-4 justify-items-start mx-5 mb-5">
  <div class="flex justify-between items-center">
    <span class="block text-blue-500 font-medium text-sm">
      LIFESTYLE
    </span>
    <fa-icon (click)="modalToggle('lifestyle')" class="mx-0 my-0 text-blue-500 mr-2 hover:cursor-pointer" [icon]="faPlusCircle"></fa-icon>
  </div>

  <div class="block">

  </div>
</div> -->
