<div class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
  <div id="defaultModal" tabindex="-1" class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 w-full md:inset-0 h-modal md:h-full justify-center items-center flex" aria-modal="true" role="dialog" style="z-index:60">
    <div class="relative p-4 w-full max-w-3xl h-auto md:h-auto">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <!-- Modal header -->
        <div class="flex justify-between items-start py-3 px-5 rounded-t border-b bg-blue-500 dark:border-gray-600">
          <h3 class="mt-2 text-sm font-bold text-white dark:text-white">
              Health Programs
          </h3>
        </div>
        <!-- Modal body -->
        <div *ngIf="show_form" class="overflow-y-auto overflow-x-hidden scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100">
            <div *ngIf="!show_new">
              <div class="grid grid-cols-1 item-start flex-wrap pb-5" *ngFor="let list of list_modules | keyvalue">
                <div class="w-full px-5 my-3 rounded-tl rounded-tr">
                  <h4 class="font-bold text-blue-500 text-sm mt-2">{{ list.key }}</h4>
                </div>

                <div class="grid grid-cols-3 gap-4 mx-10">
                  <button *ngIf="list.key !== 'Others'" [disabled]="is_loading" type="button" class="col-span-1 text-white disabled:bg-gray-400 enabled:bg-blue-500 enabled:hover:ring-2 enabled:focus:outline-none enabled:hover:ring-blue-300 font-medium rounded text-sm px-6 py-2.5 text-center transition duration-150 ease-in-out transform hover:scale-110" (click)="onModuleSelect(itr)" >
                    <fa-icon class="mx-0 my-0 text-white mr-2" [icon]="faHouse" size="lg"></fa-icon>
                    Patient ITR
                  </button>

                  <button *ngIf="list.key !== 'Others'" [disabled]="is_loading" type="button" class="col-span-1 text-white disabled:bg-gray-400 enabled:bg-blue-500 enabled:hover:ring-2 enabled:focus:outline-none enabled:hover:ring-blue-300 font-medium rounded text-sm px-6 py-2.5 text-center transition duration-150 ease-in-out transform hover:scale-110" (click)="onModuleSelect(lab)" >
                    <fa-icon class="mx-0 my-0 text-white mr-2" [icon]="faFlask" size="lg"></fa-icon>
                    Laboratory
                  </button>

                  <button *ngIf="list.key !== 'Others'" (click)="onModuleSelect(cn)" [disabled]="is_loading" type="button" [ngClass]="{'enabled:bg-green-500 enabled:hover:ring-green-300': cn.consult_active }" class="col-span-1 text-white disabled:bg-gray-400 enabled:bg-blue-500 enabled:hover:ring-2 enabled:focus:outline-none enabled:hover:ring-blue-300 font-medium rounded text-sm px-6 py-2.5 text-center transition duration-150 ease-in-out transform hover:scale-110">
                    <fa-icon class="mx-0 my-0 text-white mr-2" [icon]="faUserDoctor" size="lg"></fa-icon>
                    Consultation
                  </button>

                  <button [disabled]="is_loading" *ngFor="let module of list.value.modules | keyvalue" type="button" [ngClass]="{'enabled:bg-green-500 enabled:hover:ring-green-300': module.value.consult_active }" class="col-span-1 text-white disabled:bg-gray-400 enabled:bg-blue-500 enabled:hover:ring-2 enabled:focus:outline-none enabled:hover:ring-blue-300 font-medium rounded text-sm px-6 py-2.5 text-center transition duration-150 ease-in-out transform hover:scale-110" (click)="onModuleSelect(module.value)" >
                    <fa-icon *ngIf="module.value.consult_active" class="mx-0 my-0 text-white mr-2" [icon]="faClipboard" size="lg"></fa-icon>
                    {{ module.value.name }}
                  </button>
                </div>
              </div>
            </div>

            <div *ngIf="show_new" class="grid grid-cols-1 item-start flex-wrap pb-5">
              <div class="flex justify-center w-full my-5">
                No active visit for&nbsp;<span class="font-semibold"> {{ selected_module.name }} </span>.
                Would you like to create a new&nbsp;<span class="font-semibold"> {{ selected_module.name }}&nbsp;</span> visit?
              </div>

              <div class="flex flex-col">
                <div class="flex justify-start pb-3 w-full ml-10">
                  <label for="consult_date" class="input-label pr-5 inline-block align-middle pt-3 w-1/4">Consultation Date</label><br />
                  <input type="date" name="consult_date" id="consult_date" class="input w-52" placeholder="mm/dd/yyyy" [max]="max_date" [(ngModel)]="consult_date">
                  <input type="time" name="consult_time" id="consult_time" class="input w-52" placeholder="HH:mm AM/PM" [(ngModel)]="consult_time">
                </div>

                <div *ngIf="philhealth_details" class="border border-slate-200 rounded-md mx-10 shadow-md">
                  <div class="flex justify-start w-full ml-5 my-3">
                    <input [disabled]="is_checking_atc" type="checkbox" class="border border-gray-400 rounded-md h-5 w-5 mr-2 disabled:bg-gray-300" [(ngModel)]="is_walk_in" />Check if patient is Walk-in
                  </div>

                  <div *ngIf="!is_walk_in" class="flex justify-start w-full ml-5 mb-3">
                    <label for="pATC"  class="input-label pr-5 inline-block align-middle pt-3 w-1/4">Konsulta ATC</label><br />
                    <input type="text" name="pATC" id="pATC" class="input w-52" placeholder="Patient ATC" [(ngModel)]="pATC">
                    <input type="date" name="pATC_date" id="pATC_date" class="input w-52" placeholder="mm/dd/yyyy" max="{{ date | date:'yyyy-MM-dd HH:mm:ss'}}" [(ngModel)]="pATC_date">

                    <button [disabled]="!pATC || !pATC_date || is_loading || is_checking_atc" type="button" class="h-9 mt-1 text-sm rounded-md text-white bg-blue-500 disabled:bg-gray-300" (click)="isATCValid()">
                      <!-- ATC -->
                      <fa-icon [icon]="is_checking_atc ? faSpinner : faCheck" class="py-1 px-2" [spin]="is_checking_atc"></fa-icon>
                    </button>
                  </div>

                  <div *ngIf="is_atc_valid !== undefined" class="flex mx-16 my-3 p-2 rounded-md bg-green-100 text-green-900 shadow-sm"
                    [ngClass]="{'bg-red-100 text-red-900': !is_atc_valid}">
                    <fa-icon class="flex-none my-0 m-2" [icon]="faCircleInfo" size="lg"></fa-icon>
                    {{ is_atc_valid ? 'ATC is valid' : 'ATC is not valid' }}
                  </div>
                </div>

                <div *ngIf="!philhealth_details" class="border border-yellow-400 text-yellow-700 rounded-md mx-10 bg-yellow-100">
                  <div class="p-3">
                    ATC checking is not available. Philhealth pin not found.
                  </div>
                </div>

                <div class="flex justify-center mt-5">
                  <button  [disabled]="is_checking_atc" type="button" class="btn-save px-10 bg-amber-500 mr-2 disabled:bg-gray-300" (click)="onCreateCancel()">Cancel</button>
                  <button [disabled]="!consult_date || is_loading || is_checking_atc" type="button" class="btn-save px-10 disabled:bg-gray-300" (click)="onCreateNew(selected_module)">Proceed</button>
                </div>
              </div>

              <div class="flex mx-16 mt-5 p-2 rounded-md bg-blue-100 border border-blue-200 text-blue-900">
                <fa-icon class="flex-none my-0 text-blue-900 m-2" [icon]="faCircleInfo" size="lg"></fa-icon>
                Consultation date default value is today. You may change the date for backencoding.
              </div>
            </div>
        </div>
        <!-- Modal footer -->
        <div class="flex justify-end py-4 px-5 space-x-4 rounded-b border-t border-gray-200 dark:border-gray-600">
          <button  [disabled]="is_loading" type="button" class="btn-save px-5 bg-gray-400" (click)="closeModal()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="opacity-25 fixed inset-0 z-40 bg-black"></div>
