<div class="fade-in" >
    <form [formGroup]="mcr_form" (ngSubmit)="saveForm()">
        <div class="grid gap-4 relative animates-dropdown " style="grid-template-columns: repeat(16, minmax(0, 1fr));"
            *ngIf="!focused">
            <div class="sticky top-14 z-50 border border-blue-400 col-span-2 relative mx-2 px-2 py-1 rounded-t-lg text-sm bg-blue-500 text-white"
                style="grid-column: span 16 / span 16;"><button class="font-bold" type="button">Maternal Care
                    Record</button>
                <div class="absolute left-40 top-1">
                    <fa-icon [icon]="faInfoCircle" class=" peer ml-4 text-white hover:text-gray-500 z-50"></fa-icon>
                    <div
                        class="absolute text-sm bg-gradient-to-b from-stone-500 to-gray-400 p-2 rounded-md border border-gray-500  text-white drop-shadow-lg opacity-90 border-check z-50 w-64 invisible peer-hover:visible">
                        <h1 class="font-bold drop-shadow-lg">IMPORTANT</h1>
                        <p class="font-light drop-shadow-lg">Once saved, the information will be displayed in the input
                            boxes and shall not be editable unless Edit button is pressed.</p>
                    </div>
                </div>
            </div>

            <div style="grid-column: span 16 / span 16;">
                <div class="grid gap-4 hover:drop-shadow-lg drop-shadow-md bg-white rounded-b-lg hover:border border-gray-300 hover:border-blue-400 p-2 m-2 mb-4 border -mt-5"
                    style="grid-template-columns: repeat(14, minmax(0, 1fr));">

                    <div class="transitions col-span-4" *ngIf="!focused">
                        <h3 for="pre_registration_date">Registration Date</h3>
                        <div class="grid grid-cols-10">
                            <div class="icon-height col-span-2 p-2 pt-1 rounded-l border-solid border border-zinc-300">
                                <fa-icon [icon]="faCalendarDay" size="lg" class="text-blue-400" for="pre_registration_date">
                                </fa-icon>
                            </div>
                            <input formControlName="pre_registration_date" id="pre_registration_date" name="pre_registration_date" type="date" max="{{today.toLocaleDateString('en-CA')}}"
                                class="col-span-8 rounded-r border-solid border border-l-0 border-zinc-300 focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none disabled:cursor-not-allowed invalid:border-red-400 "
                                width="auto"
                                (keyup.escape)="$event.target.value = ''; onKeyUp($event.target.value, $event.target.id)"
                                (change)="onKeyUp($event.target.value, $event.target.id)">
                        </div>
                        <div *ngIf="is_saving && mcr_form.controls.pre_registration_date.errors" class="invalid-alert">
                            <div *ngIf="mcr_form.controls.pre_registration_date.errors?.['required']">
                                Required field
                            </div>
                        </div>
                    </div>

                    <div class="transitions col-span-4" *ngIf="!focused">
                        <h3 for="lmp_date">LMP Date</h3>
                        <div class="grid grid-cols-10">
                            <div class="icon-height col-span-2 p-2 pt-1 rounded-l border-solid border border-zinc-300">
                                <fa-icon [icon]="faCalendarDay" size="lg" class="text-blue-400" for="lmp_date">
                                </fa-icon>
                            </div>
                            <input formControlName="lmp_date" id="lmp_date" name="lmp_date" type="date" max="{{today.toLocaleDateString('en-CA')}}"
                                class="col-span-8 rounded-r border-solid border border-l-0 border-zinc-300 focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none disabled:cursor-not-allowed"
                                width="auto"
                                (keyup.escape)="$event.target.value = ''; onKeyUp($event.target.value, $event.target.id)"
                                (change)="onKeyUp($event.target.value, $event.target.id)"
                                (change)="getEDC($event.target.value, 'input')">
                        </div>
                        <div *ngIf="is_saving && mcr_form.controls.lmp_date.errors" class="invalid-alert">
                            <div *ngIf="mcr_form.controls.lmp_date.errors?.['required']">
                                Required field
                            </div>
                        </div>
                    </div>
                
                </div>

                <div class="grid rounded-lg drop-shadow-md bg-white rounded-lg border-gray-300 m-2 border mb-4" style="grid-template-columns: repeat(13, minmax(0, 1fr));">
                    <div class="text-sm font-bold form-check p-2 font-semibold border border-dashed border-gray-300 group-hover:border-pink-400 border-t-0 border-l-0 border-r-0 "
                        style="	grid-column: span 13 / span 13;">
                        <h1 class="select-none text-pink-500">
                            Important Dates
                        </h1>
                    </div>
                    <h3 class="bg-white col-span-2 rounded-md mx-2 font-semibold text-center">EDC Date<p class="font-medium">{{edc_date.toLocaleDateString('en-CA') == today.toLocaleDateString('en-CA')?'No Date':edc_date.toLocaleDateString('en-CA') | date: 'MM/dd/yyyy'}}</p></h3>
                    <h3 class="bg-white col-span-2 rounded-md mx-2 font-semibold text-center relative">AOG (Weeks)
                        <p class="font-medium {{aog_date.includes('-')?'text-red-500':''}}">{{aog_date}}
                        </p>
                    </h3>
                   <h3 class="bg-white col-span-3 rounded-md mx-2 font-semibold text-center">End of 1st Trimester<p class="font-medium">{{first_tri.toLocaleDateString('en-CA') != today.toLocaleDateString('en-CA')?(first_tri.toLocaleDateString('en-CA')  | date: 'MM/dd/yyyy'):"No Date"}}</p></h3>
                   <h3 class="bg-white col-span-3 rounded-md mx-2 font-semibold text-center">End of 2nd Trimester<p class="font-medium">{{second_tri.toLocaleDateString('en-CA') != today.toLocaleDateString('en-CA')?(second_tri.toLocaleDateString('en-CA')  | date: 'MM/dd/yyyy'):"No Date"}}</p></h3>
                   <h3 class="bg-white col-span-3 rounded-md mx-2 font-semibold text-center">End of 3rd Trimester<p class="font-medium">{{third_tri.toLocaleDateString('en-CA') != today.toLocaleDateString('en-CA')?(third_tri.toLocaleDateString('en-CA')  | date: 'MM/dd/yyyy'):"No Date"}}</p></h3>
                </div>
      
                <div class="grid rounded-lg hover:drop-shadow-lg drop-shadow-md bg-white rounded-lg hover:border border-gray-300 hover:border-pink-400 m-2 border"
                    style="grid-template-columns: repeat(14, minmax(0, 1fr));">
                    <div class="text-sm font-bold text-pink-500 form-check p-2 font-semibold border border-dashed border-gray-300 group-hover:border-pink-400 border-t-0 border-l-0 border-r-0 "
                        style="	grid-column: span 14 / span 14;">
                        <h1 class="select-none">
                            Obstetric Score
                        </h1>
                    </div>
                    <div class="transitions col-span-4 border-check relative select-none group mx-2" *ngIf="!focused">
                        <h3>Gravidity</h3>
                        <fa-icon [icon]="faCaretRight"
                            class="absolute bottom-1.5 left-2 text-gray-300 group-hover:text-pink-400"
                            *ngIf="!focused && mcr_form.disabled">
                        </fa-icon>
                        <input type="number" formControlName="initial_gravidity"
                            class="font-medium disabled:group-hover:font-semibold peer invalid:border-red-500 border-check focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none rounded border-solid border border-zinc-300 placeholder-black placeholder-opacity-100 disabled:cursor-not-allowed disabled:border-0  disabled:pl-5  disabled:typed-out disabled:group-hover:bg-gray-100 disabled:rounded-full"
                            (keyup)="onKeyUp($event.target.value, $event.target.id)"
                            (keyup.escape)="clearForm($event.target.id)" id="initial_gravidity" min="0"
                            (change)="onKeyUp($event.target.value, $event.target.id)">
                            <div *ngIf="is_saving && mcr_form.controls.initial_gravidity.errors" class="invalid-alert">
                                <div *ngIf="mcr_form.controls.initial_gravidity.errors?.['required']">
                                    Required field
                                </div>
                            </div>
                    </div>
                    <div class="transitions col-span-4 row-start-3 border-check relative select-none group mx-2 mb-2"
                        *ngIf="!focused">
                        <h3>Parity</h3>
                        <fa-icon [icon]="faCaretRight"
                            class="absolute bottom-1.5 left-2 text-gray-300 group-hover:text-pink-400"
                            *ngIf="!focused && mcr_form.disabled">
                        </fa-icon>
                        <input type="number" formControlName="initial_parity"
                            class="font-medium disabled:group-hover:font-semibold peer invalid:border-red-500 border-check focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none rounded border-solid border border-zinc-300 placeholder-black placeholder-opacity-100 disabled:cursor-not-allowed disabled:border-0  disabled:pl-5  disabled:typed-out disabled:group-hover:bg-gray-100 disabled:rounded-full"
                            (keyup)="onKeyUp($event.target.value, $event.target.id)"
                            (keyup.escape)="clearForm($event.target.id)" id="initial_parity" min="0"
                            (change)="onKeyUp($event.target.value, $event.target.id)">
                            <div *ngIf="is_saving && mcr_form.controls.initial_parity.errors" class="invalid-alert">
                                <div *ngIf="mcr_form.controls.initial_parity.errors?.['required']">
                                    Required field
                                </div>
                            </div>
                    </div>



                    <div class="transitions col-span-4 col-start-7 border-check relative select-none group mx-2"
                        *ngIf="!focused">
                        <h3>Full-Term</h3>
                        <fa-icon [icon]="faCaretRight"
                            class="absolute bottom-1.5 left-2 text-gray-300 group-hover:text-pink-400"
                            *ngIf="!focused && mcr_form.disabled">
                        </fa-icon>
                        <input type="number" formControlName="initial_full_term"
                            class="font-medium disabled:group-hover:font-semibold peer invalid:border-red-500 border-check focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none rounded border-solid border border-zinc-300 placeholder-black placeholder-opacity-100 disabled:cursor-not-allowed disabled:border-0  disabled:pl-5  disabled:typed-out disabled:group-hover:bg-gray-100 disabled:rounded-full"
                            (keyup)="onKeyUp($event.target.value, $event.target.id)"
                            (keyup.escape)="clearForm($event.target.id)" id="initial_full_term" min="0"
                            (change)="onKeyUp($event.target.value, $event.target.id)">
                            <div *ngIf="is_saving && mcr_form.controls.initial_full_term.errors" class="invalid-alert">
                                <div *ngIf="mcr_form.controls.initial_full_term.errors?.['required']">
                                    Required field
                                </div>
                            </div>
                    </div>
                    <div class="transitions col-span-4 border-check relative select-none group mx-2" *ngIf="!focused">
                        <h3>Pre-Term</h3>
                        <fa-icon [icon]="faCaretRight"
                            class="absolute bottom-1.5 left-2 text-gray-300 group-hover:text-pink-400"
                            *ngIf="!focused && mcr_form.disabled">
                        </fa-icon>
                        <input type="number" formControlName="initial_preterm"
                            class="font-medium disabled:group-hover:font-semibold peer invalid:border-red-500 border-check focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none rounded border-solid border border-zinc-300 placeholder-black placeholder-opacity-100 disabled:cursor-not-allowed disabled:border-0  disabled:pl-5  disabled:typed-out disabled:group-hover:bg-gray-100 disabled:rounded-full"
                            (keyup)="onKeyUp($event.target.value, $event.target.id)"
                            (keyup.escape)="clearForm($event.target.id)" id="initial_preterm" min="0"
                            (change)="onKeyUp($event.target.value, $event.target.id)">
                            <div *ngIf="is_saving && mcr_form.controls.initial_preterm.errors" class="invalid-alert">
                                <div *ngIf="mcr_form.controls.initial_preterm.errors?.['required']">
                                    Required field
                                </div>
                            </div>

                    </div>

                    <div class="transitions col-span-4 col-start-7 border-check relative select-none group mx-2 mb-2"
                        *ngIf="!focused">
                        <h3>Abortions</h3>
                        <fa-icon [icon]="faCaretRight"
                            class="absolute bottom-1.5 left-2 text-gray-300 group-hover:text-pink-400"
                            *ngIf="!focused && mcr_form.disabled">
                        </fa-icon>
                        <input type="number" formControlName="initial_abortion"
                            class="font-medium disabled:group-hover:font-semibold peer invalid:border-red-500 border-check focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none rounded border-solid border border-zinc-300 placeholder-black placeholder-opacity-100 disabled:cursor-not-allowed disabled:border-0  disabled:pl-5  disabled:typed-out disabled:group-hover:bg-gray-100 disabled:rounded-full"
                            (keyup)="onKeyUp($event.target.value, $event.target.id)"
                            (keyup.escape)="clearForm($event.target.id)" id="initial_abortion" min="0"
                            (change)="onKeyUp($event.target.value, $event.target.id)">
                            <div *ngIf="is_saving && mcr_form.controls.initial_abortion.errors" class="invalid-alert">
                                <div *ngIf="mcr_form.controls.initial_abortion.errors?.['required']">
                                    Required field
                                </div>
                            </div>
                    </div>

                    <div class="transitions col-span-4 border-check relative select-none group mx-2 mb-2"
                        *ngIf="!focused">
                        <h3>Live Births</h3>
                        <fa-icon [icon]="faCaretRight"
                            class="absolute bottom-1.5 left-2 text-gray-300 group-hover:text-pink-400"
                            *ngIf="!focused && mcr_form.disabled">
                        </fa-icon>
                        <input type="number" formControlName="initial_livebirths"
                            class="font-medium disabled:group-hover:font-semibold peer invalid:border-red-500 border-check focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none rounded border-solid border border-zinc-300 placeholder-black placeholder-opacity-100 disabled:cursor-not-allowed disabled:border-0  disabled:pl-5  disabled:typed-out disabled:group-hover:bg-gray-100 disabled:rounded-full"
                            (keyup)="onKeyUp($event.target.value, $event.target.id)"
                            (keyup.escape)="clearForm($event.target.id)" id="initial_livebirths" min="0"
                            (change)="onKeyUp($event.target.value, $event.target.id)">
                            <div *ngIf="is_saving && mcr_form.controls.initial_livebirths.errors" class="invalid-alert">
                                <div *ngIf="mcr_form.controls.initial_livebirths.errors?.['required']">
                                    Required field
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="relative w-auto border-check mt-2 mb-7 w-12/12" *ngIf="!focused && mcr_form.enabled">
            <div class="absolute inline-flex right-0 ">
                <div *ngIf="saved" class="border rounded-md bg-green-200 text-green-400 px-2 ease-in-out duration-1000">Successfully Saved!</div>
                <div (click)="cancel()"
                    class="cursor-pointer flex border-check bg-white hover:drop-shadow-md hover:bg-gray-400 py-1 rounded-full text-gray-400 hover:text-white pl-2 pr-2 peer">
                    <fa-icon [icon]="faTimes" size="lg" class="mr-2">
                    </fa-icon>
                    <button type="button" class="font-bold button-out border-check-red">Cancel</button>
                </div>
                <div (click)="saveForm(mcr_form.value)"
                    class="cursor-pointer flex border-check hover:drop-shadow-md bg-green-300 hover:bg-green-400 py-1 rounded-full text-white px-3 peer-hover:bg-white peer-hover:text-green-400">
                    <fa-icon *ngIf="!is_saving" [icon]="faSave" size="lg" class="mr-2"></fa-icon>
                    <fa-icon *ngIf="is_saving" class="mr-2" [icon]="faSpinner" [spin]="true"></fa-icon>
                    <button type="button" class="font-bold button-out border-check-red"
                        (keyup.enter)="saveForm(mcr_form.value)">Save</button>
                </div>
            </div>
        </div>
        <div class="relative w-auto border-check mt-2 mb-7 w-12/12" *ngIf="!focused && mcr_form.disabled">
            <div class="absolute inline-flex right-0 cursor-pointer" (click)="edit()">
                <div class="flex border-check bg-orange-300 hover:bg-orange-400 py-1 rounded-full  text-white px-2">
                    <fa-icon [icon]="faPencil" size="lg" class="mr-2 ">
                    </fa-icon>
                    <button type="button" class="font-bold button-out border-check-red typed-out"
                        (keyup.enter)="uncheck($event.target.id + fphx_cat)">Edit</button>
                </div>
            </div>
        </div>
    </form>
</div>