
<div class="m-5 border border-slate-200 rounded-lg" *ngIf="!show_form">
  <div class="bg-blue-500 text-sm text-white rounded-t-md py-2 pl-5 font-semibold">
   Rapid HEEADSSSS Assessment
  </div>

  <form [formGroup]="adolescentForm" class="mx-5 mb-5">

      <div class="mt-1 grid grid-cols-16 gap-x-4 w-full">

          <div class="col-span-12 col-start-1 grid gap-x-4 mb-5">
              <div class="mt-5">
                <input type="checkbox" class="input-checkbox" id="consent_flag" formControlName="consent_flag" />
                <label for="consent_flag" class="text-sm" >
                  The patient has read, fully understood, and signed the patient consent form.
                </label>
              </div>
          </div>
      </div>

      <div class="mt-1 w-full border-t border-gray-200 py-5" *ngIf="adolescentForm.value.consent_flag === true">

        <div class="grid grid-cols-12 mt-2 align-middle" *ngFor="let question of rapid">
          <label for="answer" class="text-sm col-span-11 col-start-1">{{question.name}}</label>
          <select class="input align-middle text-sm col-span-1 col-start-12" id="" name="">
            <option disabled selected value> </option>
            <option value="N">Hindi</option>
            <option value="Y">Oo</option>
          </select>
        </div>







        <div class="flex justify-center mt-5">
          <button class="btn-save mr-5 mt-4" [disabled]="is_saving">
            <fa-icon [icon]="faSave" *ngIf="!is_saving" class="mr-2"></fa-icon>
            <fa-icon [icon]="faSpinner" *ngIf="is_saving" animation="spin" class="mr-2"></fa-icon>
            Save
          </button>
        </div>
      </div>

  </form>


</div>

