<div class="m-5 border border-slate-200 rounded-lg">
  <div class="bg-blue-500 text-sm text-white rounded-t-md py-2 pl-5 font-semibold select-none">
   Rapid HEEADSSSS Assessment Details
  </div>

  <div class="mx-5 mb" [ngClass]="(this.selected_asrh_consult?.done_flag === 1 && this.selected_asrh_consult?.comprehensive?.done_flag === true) || (this.selected_asrh_consult?.refused_flag === 1 || this.selected_asrh_consult?.comprehensive?.refused_flag === true) ? 'pointer-events-none select-none' : ''">

      <form [formGroup]="visitForm" (submit)="createRapid()"  class="mt-1 grid grid-cols-16 gap-x-4 w-full mb-10">
        <div class="grid grid-cols-12">

            <div class="col-span-6 px-5 pt-5">
              <label for="assessment_date" class="text-sm font-semibold">Assessment Date</label>
                <input type="date" name="assessment_date" id="assessment_date" class="input" formControlName="assessment_date" [max]="max_date">
            </div>

          <div class="col-span-6 px-5 pt-5">
            <div>
              <label for="client_type" class="text-sm font-semibold">Client Type</label>
              <select name="client_type" id="client_type" class="input" formControlName="client_type">
                <!-- <option [ngValue]="0" selected> </option> -->
                <option *ngFor="let type of type_client" [value]="type.name">{{ type.name | titlecase }}</option>
              </select>
            </div>

          </div>

          <div class="col-span-6 px-5 pt-5">
            <div>
              <label for="client_type" class="text-sm font-semibold">Referred From</label>
              <select name="client_type" id="client_type" class="input"  formControlName="lib_asrh_client_type_code">
                <!-- <option [ngValue]="0" selected> </option> -->
                <option *ngFor="let client of client_types" [value]="client.code">{{ client.desc }}</option>
              </select>
            </div>

          </div>

          <div class="col-span-6 px-5 pt-5">
            <label for="other_client_type" class="text-sm font-semibold">Please Specify if Others</label>
            <input type="input" name="other_client_type" id="other_client_type" class="input" formControlName="other_client_type">
          </div>

          <!-- <div class="col-span-6 px-5 pt-5">
            <div>
              <label for="refer_to" class="text-sm font-semibold">Referred To</label>
              <select name="refer_to_user_id" id="refer_to_user_id" class="input" formControlName="refer_to_user_id">

                <option *ngFor="let dr of physicians" [value]="dr.id">{{ dr?.last_name }}, {{ dr?.first_name }} {{ dr?.middle_name }}</option>
              </select>
            </div>

          </div>

          <div class="col-span-6 px-5 pt-5">
            <div>
              <label for="status" class="text-sm font-semibold">Status</label>
              <select name="status" id="status.id" class="input" formControlName="status">

                <option *ngFor="let status of statuses" [value]="status.name">{{ status.name | titlecase }}</option>
              </select>
            </div>

          </div> -->

            <div class="col-span-12 col-start-1 grid gap-x-4 " *ngIf="selected_asrh_consult?.done_flag !== 1">
            <div class="mt-5 px-5">
                <input type="checkbox" class="input-checkbox" id="refused_flag" formControlName="refused_flag" (change)="openModal()" />
              <label for="refused_flag" class="text-sm">
                The Patient Withdrew Consent.
              </label>
            </div>
            </div>

          <!-- <div class="col-span-6 px-5 pt-5">
            <label for="status" class="text-sm font-semibold">Status</label>
            <input type="input" name="status" id="status" class="input">
          </div> -->

        </div>




      </form>

      <div class="flex justify-center mb-10">
        <button class="btn-save" [disabled]="is_saving || visitForm.invalid || !visitForm.dirty" (click)="createRapid(); visitForm.markAsPristine();">
          <fa-icon [icon]="faSave" *ngIf="!is_saving" class="mr-2"></fa-icon>
          <fa-icon [icon]="faSpinner" *ngIf="is_saving" animation="spin" class="mr-2"></fa-icon>
          {{ selected_asrh_consult?.id ? (is_saving ? 'Updating' : 'Update') : (is_saving ? 'Saving' : 'Save') }}
        </button>
      </div>

  </div>
</div>

<div class="m-5 border border-slate-200 rounded-lg" [ngClass]="(this.selected_asrh_consult?.done_flag === 1 && this.selected_asrh_consult?.comprehensive?.done_flag === true) || (this.selected_asrh_consult?.refused_flag === 1 || this.selected_asrh_consult?.comprehensive?.refused_flag === true) ? 'pointer-events-none select-none' : ''">
  <div class="bg-blue-500 text-sm text-white rounded-t-md py-2 pl-5 font-semibold">
   Rapid HEEADSSSS Assessment Answers
  </div>

  <div class="mx-5 mb">

      <!-- <div class="mt-1 w-full border-t border-gray-200 py-5" *ngIf="adolescentForm.get('consent_flag').value === true"> -->
      <form>
        <div class="mt-1 w-full py-5 px-5">
          <div class="grid grid-cols-12 mt-2 align-middle" *ngFor="let rapid of rapid_questions">
            <label attr.for="{{ rapid.id }}" class="text-sm col-span-9 col-start-1 mt-3">{{rapid.sequence}}. {{rapid.question}}</label>
            <!-- {{rapid_ans[rapid.id]}} {{rapid.id}} -->
            <select class="input align-middle text-sm col-span-2 col-start-11" attr.id="{{ rapid.id }}" [(ngModel)]="rapid_ans[rapid.id]" name="{{ rapid.id }}" [disabled]="!selected_asrh_consult">
              <option value="x">Hindi Sumagot</option>
              <option value="2">Hindi</option>
              <option value="1">Oo</option>
            </select>
          </div>
        </div>
        <div class="flex justify-center mt-5 mb-5">
          <button class="btn-save mt-4" [disabled]="is_saving2 || !allQuestionsAnswered()" (click)="onSubmit()">
            <fa-icon [icon]="faSave" *ngIf="!is_saving2" class="mr-2"></fa-icon>
            <fa-icon [icon]="faSpinner" *ngIf="is_saving2" animation="spin" class="mr-2"></fa-icon>
            {{ selected_asrh_consult !== null && selected_asrh_consult?.answers?.length !== 0 ? (is_saving ? 'Updating' : 'Update') : (is_saving ? 'Saving' : 'Save') }}
          </button>
        </div>
      </form>
    </div>
</div>


<div *ngIf="showServiceModal" id="defaultModal" tabindex="-1" class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 w-full md:inset-0 h-modal md:h-full justify-center items-center flex" aria-modal="true" role="dialog" style="z-index:60">
  <div class="relative p-4 w-full max-w-2xl h-auto md:h-auto">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow">
      <!-- Modal header -->
      <div class="flex justify-between items-start py-3 px-5 rounded-t border-b bg-blue-500">
        <h3 class="text-sm font-bold text-white">
            Confirmation
        </h3>
      </div>
      <!-- Modal body -->
      <div class="overflow-y-auto scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100">
        <form class="text-left m-5">
          <p>Are you sure the patient refused to conduct the Rapid HEEADSSS Assessment?</p>
        </form>

      </div>

      <!-- Modal footer -->
      <div class="flex justify-end py-4 px-5 space-x-4 rounded-b border-t border-gray-200">
        <button type="button" class="btn-save bg-gray-400" (click)="toggleServiceModal()">No</button>
        <button  type="submit" class="btn-save px-10 disabled:bg-gray-300" (click)="acceptModal()">
          <fa-icon></fa-icon>
          {{ is_saving ? 'Saving' : 'Yes' }}
        </button>
      </div>
    </div>
  </div>
</div>


<div *ngIf="showServiceModal" class="opacity-50 fixed inset-0 z-50 bg-black"></div>
