<div id="defaultModal" tabindex="-1" class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 w-full md:inset-0 h-modal md:h-full justify-center items-center flex" aria-modal="true" role="dialog" style="z-index:60">
  <div class="relative p-4 w-full max-w-5xl">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow">
      <!-- Modal header -->
      <div class="flex justify-between items-start py-3 px-5 rounded-t border-b bg-sky-500">
        <h3 class="text-sm font-bold text-white">
          File Upload
        </h3>
      </div>
      <!-- Modal body -->
      <div class="overflow-y-auto h-[800px] scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100">
        <div class="grid grid-cols-1 mt-36" *ngIf="!show_form">
          <div class="flex justify-center text-sky-500">
            <fa-icon [icon]="faCircleNotch" animation="spin"></fa-icon>
          </div>
          <div class="flex justify-center">
            Retrieving File...
          </div>
        </div>

        <iframe #pdfViewer width="100%" height="100%" frameborder="0"></iframe>
      </div>

      <!-- Modal footer -->
      <div class="flex justify-end py-4 px-5 space-x-4 rounded-b border-t border-gray-200">
        <button type="button" class="btn-save bg-gray-400" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="opacity-50 fixed inset-0 z-50 bg-black"></div>
