<div id="defaultModal" tabindex="-1" class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 w-full md:inset-0 h-modal md:h-full justify-center items-center flex" aria-modal="true" role="dialog" style="z-index:60">
  <div class="relative p-4 w-full max-w-3xl h-auto md:h-auto">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow">
      <!-- Modal header -->
      <div class="flex justify-between items-start py-3 px-5 rounded-t border-b bg-sky-500">
        <h3 class="text-sm font-bold text-white">
          Consultation visits
        </h3>
      </div>
      <!-- Modal body -->
      <div class="overflow-y-auto h-96 scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100">
        <form [formGroup]="visitForm" (submit)="onSubmit()" class="text-left text-gray-500 m-5">
          <div class="grid grid-cols-3 gap-4 m-3">
            <div>
              <label for="physician" >Physician</label>
              <input type="text" name="physician" id="physician" formControlName="physician" class="input">
            </div>

            <div>
              <label for="scheduled_date">Scheduled Date</label>
              <input type="date" name="scheduled_date" id="scheduled_date" formControlName="scheduled_date" class="input">
            </div>

            <div>
              <label for="actual_date">Actual Date</label>
              <input type="date" name="actual_date" id="actual_date" formControlName="actual_date" class="input">
            </div>

            <div class="mt-5 col-span-3">
              <label for="lab_test" >Lab Test</label>
              <input type="text" name="lab_test" id="lab_test" formControlName="lab_test" class="input">
            </div>

            <div>
              <label for="date_in">Date In</label>
              <input type="date" name="date_in" id="date_in" formControlName="date_in" class="input">
            </div>

            <div>
              <label for="date_due">Date Due</label>
              <input type="date" name="date_due" id="date_due" formControlName="date_due" class="input">
            </div>

            <div>
              <label for="date_out">Date Out</label>
              <input type="date" name="date_out" id="date_out" formControlName="date_out" class="input">
            </div>
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="flex justify-end py-4 px-5 space-x-4 rounded-b border-t border-gray-200">
        <button type="button" class="btn-save bg-gray-400" (click)="closeModal()">Close</button>
        <button [disabled]="is_saving || visitForm.invalid" type="submit" class="btn-save px-10 disabled:bg-gray-300" (click)="onSubmit()" >
          <fa-icon [icon]="is_saving ? faCircleNotch : faSave"></fa-icon>
          {{ is_saving ? 'Saving' : 'Save' }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="opacity-50 fixed inset-0 z-50 bg-black"></div>
