
<div class="m-5 border border-slate-200 rounded-lg" *ngIf="!show_form" [ngClass]="this.selected_asrh_consult?.refused_flag === 1 || this.selected_asrh_consult?.comprehensive?.refused_flag === true ? 'pointer-events-none select-none' : ''">
  <div class="bg-blue-500 text-sm text-white rounded-t-md py-2 pl-5 font-semibold">
   Comprehensive HEEADSSS Assessment
  </div>

  <form [formGroup]="sexualityForm">
    <div class="mt-5 px-5 flex justify-end">
      <input type="checkbox" class="input-checkbox" id="refused_flag" formControlName="refused_flag" (change)="openModal()"/>
      <label for="refused_flag" class="text-sm" >
        The patient widrew consent.
      </label>
    </div>
  </form>

  <form [formGroup]="sexualityForm" class="mx-5 mb-6">

    <div class="mt-1 w-full" *ngFor="let home of compre_questions">
      <div class=""  *ngIf="home.code === 'S01'">
        <div class="text-md text-blue-500 rounded-t-md font-semibold py-4">
         {{home.desc}}
        </div>

          <div class="text-sm mb-4 flex justify-between">
            <p>{{home.instruction}}</p>

          </div>

          <div class="mb-5">
            <input type="checkbox" class="input-checkbox" id="seriously_injured" formControlName="risky_behavior" />
            <label for="seriously_injured" class="ml-1 text-sm" >
              Risky Behaviour for STI's
            </label>
          </div>

            <div class="mt-1 w-full border-t border-gray-200 mb-5"></div>
            <div class="columns-2">
              <div class="h-full" *ngFor="let question of home.questions" >
                <div class="py-1">
                  <!-- <input type="checkbox" class="input-checkbox" id="consent_flag" formControlName="consent_flag" />  -->
                  <label class="text-sm"> {{question.question}}</label>
                </div>
              </div>
              <div class="h-92">
                <div class="py-3.5">
                  <textarea rows="13" id="sexuality.id" placeholder="Remarks" class="text-sm placeholder-slate-400 w-full rounded-md border-gray-300" formControlName="sexuality_notes"></textarea>
                </div>
              </div>
              <!-- <div class="">
                <input type="checkbox" class="input-checkbox" id="seriously_injured" formControlName="risky_behavior" />
                <label for="seriously_injured" class="ml-2 text-sm" >
                  Risky Behaviour
                </label>
              </div> -->
            </div>
      </div>

    </div>


    <div class="flex justify-center mt-5">
        <button class="btn-save mt-4" [disabled]="is_saving || !sexualityForm.dirty" (click)="onSubmit(); sexualityForm.markAsPristine();" >
          <fa-icon [icon]="faSave" *ngIf="!is_saving" class="mr-2"></fa-icon>
          <fa-icon [icon]="faSpinner" *ngIf="is_saving" animation="spin" class="mr-2"></fa-icon>
          {{ selected_asrh_consult?.comprehensive?.sexuality_notes ? (is_saving ? 'Updating' : 'Update') : (is_saving ? 'Saving' : 'Save') }}
        </button>
    </div>

</form>

</div>

<div *ngIf="showServiceModal" id="defaultModal" tabindex="-1" class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 w-full md:inset-0 h-modal md:h-full justify-center items-center flex" aria-modal="true" role="dialog" style="z-index:60">
  <div class="relative p-4 w-full max-w-2xl h-auto md:h-auto">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow">
      <!-- Modal header -->
      <div class="flex justify-between items-start py-3 px-5 rounded-t border-b bg-blue-500">
        <h3 class="text-sm font-bold text-white">
            Confirmation
        </h3>
      </div>
      <!-- Modal body -->
      <div class="overflow-y-auto scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100">
        <form class="text-left m-5">
          <p>Are you sure the patient refused to conduct the Rapid HEEADSSS Assessment?</p>
        </form>

      </div>

      <!-- Modal footer -->
      <div class="flex justify-end py-4 px-5 space-x-4 rounded-b border-t border-gray-200">
        <button type="button" class="btn-save bg-gray-400" (click)="toggleServiceModal()">No</button>
        <button  type="submit" class="btn-save px-10 disabled:bg-gray-300" (click)="acceptModal()">
          <fa-icon></fa-icon>
          {{ is_saving ? 'Saving' : 'Yes' }}
        </button>
      </div>
    </div>
  </div>
</div>


<div *ngIf="showServiceModal" class="opacity-50 fixed inset-0 z-50 bg-black"></div>
