<div class="block pt-4 justify-items-start mx-5 pb-5">
  <div class="flex justify-between items-center">
    <span class="block text-blue-500 font-medium text-sm">
      <fa-icon *ngIf="history?.length >= 1" (click)="toggle('surgical-history')" class="mx-0 my-0 text-gray-500 mr-2 hover:cursor-pointer" [icon]="accordions['surgical-history'] ? faChevronUp : faChevronDown"></fa-icon>
      SURGICAL HISTORY <span *ngIf="history?.length >= 1">({{ history.length }})</span>
    </span>
    <fa-icon (click)="modalToggle('surgical-history')" class="mx-0 my-0 text-blue-500 mr-2 hover:cursor-pointer" [icon]="faPlusCircle"></fa-icon>
  </div>

  <div *ngIf="!history" >
    <div class="p-4 mx-auto">
      <div class="animate-pulse grid grid-cols-2 gap-x-20 gap-y-4 justify-between">
        <div class="h-2 bg-slate-200 rounded"></div>
        <div class="h-2 bg-slate-200 rounded"></div>
        <div class="h-2 bg-slate-200 rounded"></div>
        <div class="h-2 bg-slate-200 rounded"></div>
        <div class="h-2 bg-slate-200 rounded"></div>
        <div class="h-2 bg-slate-200 rounded"></div>
      </div>
    </div>
  </div>
  <div *ngIf="history" >
    <div [@openCloseAccordion] *ngIf="accordions['surgical-history']" class="block">
      <div class="flex pl-3 justify-between items-center mt-1" *ngFor="let hx of history; trackBy:identify">
        <span class="block font-medium text-xs w-10/12">
          {{ hx.operation }}
        </span>
        <span class="block text-xs w-2/12 align-top text-right">
          {{ hx.operation_date | date: 'MM/dd/yyyy'}}
        </span>
      </div>

    </div>
  </div>
</div>
