<div id="defaultModal" tabindex="-1" class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 w-full md:inset-0 h-modal md:h-full justify-center items-center flex" aria-modal="true" role="dialog" style="z-index:60">
  <div class="relative p-4 w-full max-w-4xl h-auto md:h-auto">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow">
      <!-- Modal header -->
      <div class="flex justify-between items-start py-3 px-5 rounded-t border-b bg-orange-400">
        <h3 class="text-sm font-bold text-white">
          Claim Form 1
        </h3>
        <button [disabled]="pdf_exported" class="bg-white text-orange-400 rounded-md px-2 py-1" (click)="exportP()">
          <fa-icon [icon]="faFilePdf"></fa-icon>
        </button>
      </div>
      <!-- Modal body -->
      <div class="overflow-y-auto h-[500px] scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100">

        <img src="./assets/img/philhealth-cf1.jpg" hidden />
        <div *ngIf="show_form" class="relative text-xs w-[215.9mm] h-[330.2mm]" id="mainForm">
          <img src="./assets/img/philhealth-cf1.jpg" />

          <p class="absolute top-[75.4mm] left-[92.5mm] tracking-[0.92em]">{{ patient_philhealth.philhealth_id | slice:0:2 }}</p>
          <p class="absolute top-[75.4mm] left-[103.8mm] tracking-[0.92em]">{{ patient_philhealth.philhealth_id | slice:3:11 }}</p>
          <p class="absolute top-[75.8mm] left-[145mm] tracking-[0.93em]">{{ patient_philhealth.philhealth_id | slice:11:12 }}</p>

          <p class="absolute top-[85.5mm] left-[10mm]">{{ patient_philhealth.membership_type_id === 'MM' ? patient.last_name : patient_philhealth.member_last_name }}</p>
          <p class="absolute top-[85.5mm] left-[50mm]">{{ patient_philhealth.membership_type_id === 'MM' ? patient.first_name : patient_philhealth.member_first_name }}</p>
          <p class="absolute top-[85.5mm] left-[95mm]">{{ patient_philhealth.membership_type_id === 'MM' ? (patient.suffix_name === 'NA' ? '' : patient.suffix_name) : (patient_philhealth.suffix_name === 'NA' ? '' : patient_philhealth.suffix_name) }}</p>
          <p class="absolute top-[85.5mm] left-[128mm]">{{ patient_philhealth.membership_type_id === 'MM' ? patient.middle_name : patient_philhealth.member_middle_name }}</p>

          <p class="absolute top-[85.5mm] left-[163mm] tracking-[0.87em]">{{ (patient_philhealth.membership_type_id === 'MM' ? patient.birthdate : patient_philhealth.member_birthdate ) | date:'MM' }}</p>
          <p class="absolute top-[85.5mm] left-[174mm] tracking-[0.87em]">{{ (patient_philhealth.membership_type_id === 'MM' ? patient.birthdate : patient_philhealth.member_birthdate )  | date:'dd' }}</p>
          <p class="absolute top-[85.5mm] left-[184.7mm] tracking-[0.86em]">{{ (patient_philhealth.membership_type_id === 'MM' ? patient.birthdate : patient_philhealth.member_birthdate )  | date:'yyyy' }}</p>
        </div>

        <div  *ngIf="!show_form" class="grid grid-cols-1 my-20">
          <div class="flex justify-center text-blue-500">
            <fa-icon [icon]="faCircleNotch" animation="spin"></fa-icon>
          </div>

          <div class="flex justify-center">
            Checking PhilHealth Claims Eligibility...
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="flex justify-end py-4 px-5 space-x-4 rounded-b border-t border-gray-200">
        <button type="button" class="btn-save bg-gray-400" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="opacity-50 fixed inset-0 z-50 bg-black"></div>
