<div class="grid gap-4 max-h-fit cursor-pointer hover:bg-gray-100 relative"
    style="grid-template-columns: repeat(16, minmax(0, 1fr));" (click)="flip()" *ngIf="focused">
    <div class=" border-check row-span-2 col-span-2 rounded-r "><button class="font-bold" type="button">FP HX</button>
    </div>
    <div class="absolute right-0 top-0">
        <fa-icon [icon]="faInfoCircle" class="peer ml-3 text-gray-300 hover:text-gray-500 z-50"></fa-icon>
        <div
            class="absolute text-sm bg-gradient-to-b from-stone-500 to-gray-400 p-2 rounded-md border border-gray-500  text-white drop-shadow-lg opacity-90 border-check z-50 w-64 right-0 invisible peer-hover:visible">
            <h1 class="font-bold drop-shadow-lg">IMPORTANT</h1>
            <p class="font-light drop-shadow-lg">Once saved, the information will be displayed in the input boxes and
                shall not be editable unless Edit button is pressed.</p>
        </div>
    </div>
    <!-- <div style="grid-column: span 14 / span 14;" class="">
    </div> -->
</div>
<div class="grid gap-4 max-h-fit relative" style="grid-template-columns: repeat(16, minmax(0, 1fr));" *ngIf="!focused">
    <div class=" border-check row-span-2 col-span-2 hover:bg-gray-100 rounded-r cursor-pointer" (click)="flip()"><button
            class="font-bold" type="button">FP HX</button></div>
            <div class="absolute left-16 top-0">
                <fa-icon [icon]="faInfoCircle" class=" peer ml-3 text-gray-300 hover:text-gray-500 z-50"></fa-icon>
            <div class="absolute text-sm bg-gradient-to-b from-stone-500 to-gray-400 p-2 rounded-md border border-gray-500  text-white drop-shadow-lg opacity-90 border-check z-50 w-64 invisible peer-hover:visible">
                <h1 class="font-bold drop-shadow-lg">IMPORTANT</h1>
                <p class="font-light drop-shadow-lg">Once saved, the information will be displayed in the input boxes and shall not be editable unless Edit button is pressed.</p>
            </div>
            </div>
    <div style="grid-column: span 14 / span 14;" class="">

        <div *ngFor="let fphx_cat of fp_hx_cat;  let i = index;">

            <form action="">
                <div class="grid sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 mb-2 bg-white rounded-lg border m-2"
                    [style]="module_strings.includes(i) && !saved? 'border-color: rgb(251 146 60); filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1)); margin-bottom: 1.25rem;' : ' '"
                    [class]="saved? 'hover:drop-shadow-lg drop-shadow-md hover:border border-gray-300 hover:border-orange-400':'hover:border-orange-300 border-gray-200'">
                    
                    <div (click)="showModule(fphx_cat, i)" (keyup.tab)="nextModule(fp_hx_cat[i+1], i+1);"
                        (keyup.enter)="selectAll('select' + fphx_cat)"
                        class="text-orange-500 form-check sm:col-span-1 md:col-span-3 lg:col-span-4 p-2 font-semibold"
                        [style]="module_strings.includes(i)? 'border-bottom-width: 1px; border-style: dashed; border-color: rgb(251 146 60); border-top-width: 0px; border-left-width: 0px; border-right-width: 0px;' : ''">
                        <div *ngFor="let cat_name of lib_cat_name">
                            <h1 class="select-none" *ngIf="fphx_cat == cat_name.history_cat_id">
                                {{cat_name.history_cat_name}}
                            </h1>
                        </div>
                        
                  
                        <div *ngFor="let fphx of fp_hx_symptoms">
                            <div *ngFor="let string of fphx_strings; let x = index">
                                <div *ngIf="fphx_cat == fphx.history_cat && fphx.history_text == string">
                                    <h1 class="group select-none m-0.5 border-check px-2 rounded-full text-orange-400 font-medium typed-out hover:bg-gray-100 hover:text-gray-500 hover:font-semibold"
                                        style="margin-top: 0;" *ngIf="!module_strings.includes(i)" id="test">
                                        <fa-icon [icon]="faCaretRight" *ngIf="!module_strings.includes(i)"
                                            class="group-hover:text-orange-400 text-gray-300"></fa-icon>
                                        {{fphx.history_text}}
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="absolute right-1 top-1 hover:text-white text-green-400"
                        *ngIf="module_strings.includes(i)">
                        <div class="inline-flex float-right" *ngIf="!cat_strings.includes(fphx_cat)">
                            <div class="flex hover:animate-bounce border-check bg-white hover:bg-gray-400 text-gray-300 py-1 rounded-full hover:text-white px-2"
                                (click)="selectAll('select' + fphx_cat)" (mouseover)="buttonShow('select')"
                                (mouseleave)="buttonShow()">
                                <fa-icon [icon]="faCircleCheck" size="lg" class="mr-2"
                                    *ngIf="!cat_strings.includes(fphx_cat)">
                                </fa-icon>
                                <button type="button" class="font-bold button-out border-check-red"
                                    *ngIf="buttons.includes('select') && !cat_strings.includes(fphx_cat)">Select
                                    All</button>
                            </div>
                        </div>
                        <div class="inline-flex float-right"
                            *ngIf="cat_strings.includes(fphx_cat) && fphx_strings.length > 0">
                            <div class="flex hover:animate-bounce border-check bg-white hover:bg-gray-400 text-gray-400 py-1 rounded-full hover:text-white px-2"
                                (click)="uncheck(fphx_cat)" (mouseover)="buttonShow('cancel')"
                                (mouseleave)="buttonShow()">
                                <fa-icon [icon]="faTimes" size="lg" class="mr-2">
                                </fa-icon>
                                <button type="button" class="font-bold button-out border-check-red"
                                    *ngIf="buttons.includes('cancel')">Cancel</button>
                            </div>
                        </div>
                    </div>
                    <div *ngFor="let check of check_list;">
                        <div class="border-check-red p-2 group" *ngIf="module_strings.includes(i)">
                            <input
                                class=" h-6 w-6 border border-gray-400 rounded-md group-hover:rounded-lg checked:rounded-full checked:border-2 bg-white checked:bg-blue-400 checked:border-blue-500 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                                type="checkbox" value="check" [attr.id]="check" (change)="onChange(check,fphx_cat)"
                                [checked]="fphx_strings.includes(check)" (keyup.escape)="uncheck(fphx_cat)"
                                (keyup.enter)="saveModule()" (keyup.tab)="nextModule(fp_hx_cat[i+1], i+1);">
                            <label class="text-gray-800 cursor-pointer" name="check" [attr.for]="check"
                                value="check.history_id">
                                {{ check }}
                            </label>
                        </div>
                    </div>
                </div>
            </form>

    </div>
        <div class="col-span-3">
            <div class="relative ">
                <div class="inline-flex m-2 float-right" *ngIf="saved">
                    <div class="flex hover:animate-bounce border-check bg-white hover:bg-orange-400 text-orange-400 py-1 rounded-full hover:text-white px-2"
                        (click)="editModule()" (mouseover)="buttonShow('edit')" (mouseleave)="buttonShow()">
                        <fa-icon [icon]="faPencil" size="lg" class="mr-2">
                        </fa-icon>
                        <button type="button" class="font-bold button-out border-check-red"
                            *ngIf="buttons.includes('edit')">Edit</button>
                    </div>
                </div>
                <div class="inline-flex m-2 float-right" *ngIf="fphx_strings.length > 0 && !saved">
                    <div class="flex float-left hover:animate-bounce border-check bg-white hover:bg-green-400 py-1 rounded-full text-green-500 hover:text-white px-2"
                        (click)="saveModule()" (mouseover)="buttonShow('save')" (keyup.enter)="saveModule()">
                        <fa-icon [icon]="faSave" size="lg" class="mr-2 ">
                        </fa-icon>
                        <button type="submit" class="font-bold button-out border-check-red"
                            *ngIf="buttons.includes('save')">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>