// .border-check-red{border: 1px dashed rgb(255, 0, 0);}
// .border-check-blue{border: 1px dashed rgb(0, 4, 255);}
// .border-check-black{border: 1px dashed rgb(0, 0, 0);}

label {
  color: rgb(92, 92, 92);
  padding-top: .15rem;
  padding-bottom: .25rem;
  font-size: 0.875rem;
  /* 14px */
  line-height: 1.25rem;
  /* 20px */
  font-weight: 700;
  user-select: none;
}

.containers {
  max-height: 100vh;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(5%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes type_in {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes button_in {
  from {
    width: 22%
  }

  to {
    width: 100%
  }
}

@keyframes type_out {
  from {
    width: 100%
  }

  to {
    width: 0
  }
}

.typed-out {
  overflow: hidden;
  white-space: nowrap;
  animation:
    type_in 0.68s ease-in-out forwards,
  ;
  width: 0;
}

.button-out {
  overflow: hidden;
  white-space: nowrap;
  animation:
    button_in 0.68s ease-in-out forwards,
  ;
}

.parent {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.parent > .wife {
  flex: 1 1 100%;
}

.parent > div {
  flex: 1 0 25%;
}