
    <div class="grid gap-4 max-h-fit" style="grid-template-columns: repeat(16, minmax(0, 1fr));" (click)="flip()" *ngIf="focused">
        <div class=" border-check row-span-2 col-span-2 hover:bg-gray-50 rounded-r" ><button class="font-bold" type="button">FP HX</button></div>
        <div style="grid-column: span 14 / span 14;" class="" >
        </div>
    </div>
    <div class="grid gap-4 max-h-fit" style="grid-template-columns: repeat(16, minmax(0, 1fr));" *ngIf="!focused">
    <div class=" border-check row-span-2 col-span-2 hover:bg-gray-50 rounded-r" (click)="flip()"><button class="font-bold" type="button">FP HX</button></div>
    <div style="grid-column: span 14 / span 14;" class="" >
        
            <div *ngFor="let fphx_cat of fp_hx_cat">
                <form action="" >
                    <div class="grid grid-cols-3 mb-5 rounded-lg drop-shadow-lg bg-white rounded-lg border border-orange-400" *ngIf="module_strings.includes(fphx_cat)" >
                        <div (click)="hideModule(fphx_cat)" class="text-orange-500 form-check col-span-3 p-2 font-semibold rounded-tr-lg rounded-tl-lg border border-dashed border-orange-300 border-t-0 border-l-0 border-r-0" >
                            <h1 class="select-none">{{fphx_cat}}</h1>
                        </div>
                        <div class="absolute right-1 top-1 hover:text-white text-green-400" >
                            <button type="button" class=" hover:bg-green-400 font-semibold  py-0.5 px-2 rounded-full" (click)="selectAll('select' + fphx_cat)" *ngIf="0 == fphx_strings.length">Select All</button>
                            <button type="button" class=" hover:bg-green-400 font-semibold  py-0.5 px-2 rounded-full" (click)="uncheck('cancel' + fphx_cat)" *ngIf="fphx_strings.length > 0">Unselect All</button>
                        </div>
                        <div *ngFor="let check of check_list">
                            <div class="border-check-red p-2" >
                                <input class="form-check-input appearance-none h-5 w-5 border border-orange-600 rounded-md bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" type="checkbox" value="check" [attr.id]="check" (change)="onChange(check,fphx_cat)" [checked]="fphx_strings.includes(check)" (keyup.escape)="uncheck('cancel' + fphx_cat)">
                                <label class="text-gray-800" name="check" [attr.for]="check" value="check.history_id">
                                {{ check }}
                                </label>
                            </div>
                        </div>
                        <div class="col-span-3">
                            <div class="relative ">
                                <div class="inline-flex m-2 float-right"  *ngIf="cat_strings.includes(fphx_cat) && fphx_strings.length > 0">
                                    <button class="border-check text-gray-400 font-bold py-1 px-3 rounded-full hover:bg-gray-400 hover:text-white" id="cancel" (click)="uncheck($event.target.id + fphx_cat)">Cancel</button>
                                
                                    <button type="submit" class="hover:animate-bounce border-check bg-white hover:bg-green-400 hover:text-white text-green-500 font-bold py-1 px-5 rounded-full button-out" (click)="uncheck($event.target.id + fphx_cat)" (keyup.enter)="uncheck($event.target.id + fphx_cat)"><fa-icon [icon]="faSave" size="lg" class="mr-2"></fa-icon><p class="button-out">Save</p></button>
                                </div>
                            </div>  
                        </div>
                    </div>
                </form>
                <div class=" rounded-lg mb-1 hover:bg-gray-200" (click)="showModule(fphx_cat)" *ngIf="!module_strings.includes(fphx_cat)">
                    <div class="relative flex text-orange-500 form-check col-span-3 p-2 rounded-lg border border-orange-300" >
                        <h1 class="select-none font-semibold">{{fphx_cat}}</h1>
                        <div *ngFor="let fphx of fp_hx_symptoms" > 
                            <div *ngIf="fphx_cat == fphx.history_cat">
                                <h1 *ngIf="fphx.x" class="bg-gray-100 select-none m-0.5 border-check px-2 rounded-full text-gray-500 font-medium" style="margin-top: 0;" (mouseover)="hoverPill(fphx.history_id)" [hidden]="pill_box.includes(fphx.history_id)" id="test">{{fphx.history_id}}</h1>
                                <h1 *ngIf="fphx.x"  class="select-none m-0.5 border-check px-2 rounded-full text-orange-400 font-medium typed-out" style="margin-top: 0;" [hidden]="!pill_box.includes(fphx.history_id)" (mouseout)="leavePill()" id="test">{{fphx.history_text}}</h1>
                            </div>
                        </div>
                        <div class="absolute right-1 top-1 hover:text-white text-green-500" >
                        <!-- <button type="button" class=" hover:bg-green-400 font-bold py-1 px-3 rounded-full" (click)="formCheck()"> <fa-icon [icon]="faPlus" size="lg" class=""></fa-icon> Add</button> -->
                        </div>
                    </div>
                </div>
                <div class="w-max">
                <p style="margin-top: -0.25rem;" class="mb-5 font-light text-red-400" *ngIf="cat_strings.includes(fphx_cat) && fphx_strings.length > 0 && !module_strings.includes(fphx_cat) ">**You have unsaved stuff in {{fphx_cat}}</p>
                <!-- <p style="margin-top: -1.25rem;" class="mb-5 font-light text-red-400 typed-out w-fit" *ngIf="cat_strings.includes(fphx_cat) && module_strings.includes(fphx_cat)">**You have unsaved stuff in {{fphx_cat}}</p> -->
                </div>
            </div>
    </div>




