
<div class="m-5 border border-slate-200 rounded-lg" *ngIf="!show_form">
  <div class="bg-blue-500 text-sm text-white rounded-t-md py-2 pl-5 font-semibold">
   Comprehensive HEEADSSS Assessment
  </div>

  <form [formGroup]="safetyForm" class="mx-5 mb-6">

    <div class="mt-1 w-full" *ngFor="let home of compre_questions">
      <div class=""  *ngIf="home.code === 'S03'">
        <div class="text-md text-blue-500 rounded-t-md font-semibold py-4">
         {{home.desc}}
        </div>

          <div class="text-sm mb-5">
            <p>{{home.instruction}}</p>
          </div>

            <div class="mt-1 w-full border-t border-gray-200 mb-5"></div>
            <div class="columns-2">
              <div class="h-full" *ngFor="let question of home.questions" >
                <div class="py-1">
                  <!-- <input type="checkbox" class="input-checkbox" id="consent_flag" formControlName="consent_flag" />  -->
                  <label class="text-sm"> {{question.question}}</label>
                </div>
              </div>
              <div class="h-92">
                <div class="py-3.5">
                  <textarea rows="13" id="safety.id" placeholder="Remarks" class="text-sm placeholder-slate-400 w-full rounded-md border-gray-300" formControlName="safety_notes"></textarea>
                </div>
              </div>
            </div>
      </div>

    </div>


    <div class="flex justify-center mt-5">
        <button class="btn-save mr-5 mt-4" [disabled]="is_saving" (click)="onSubmit()">
          <fa-icon [icon]="faSave" *ngIf="!is_saving" class="mr-2"></fa-icon>
          <fa-icon [icon]="faSpinner" *ngIf="is_saving" animation="spin" class="mr-2"></fa-icon>
          Save
        </button>
    </div>

</form>

</div>

