table.profiling {
  border: 1px;
  border-color: gray;
  border-style: solid;
}

table.profiling thead {
  border: 1px;
  border-color: gray;
  border-style: solid;
}

table.profiling tbody {
  border: 1px;
  border-color: gray;
  border-style: solid;
}

table.profiling tr {
  border: 1px;
  border-color: gray;
  border-style: solid;
}

table.profiling td {
  border: 1px;
  border-color: gray;
  border-style: solid;
}

table.profiling th {
  border: 1px;
  border-color: gray;
  border-style: solid;
}
