<div id="defaultModal" tabindex="-1" class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 w-full md:inset-0 h-modal md:h-full justify-center items-center flex" aria-modal="true" role="dialog" style="z-index:60">
  <div class="relative p-4 w-full max-w-3xl h-auto md:h-auto">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex justify-between items-start py-3 px-5 rounded-t border-b bg-blue-500 dark:border-gray-600">
        <h3 class="mt-2 text-sm font-bold text-white dark:text-white">
            VITAL SIGNS
        </h3>
      </div>
      <!-- Modal body -->
      <div class="overflow-y-auto h-96 scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100">
        <form [formGroup]="vitalsForm" class="w-full max-w-3xl text-left text-gray-500 dark:text-gray-400">
          <div class="flex item-start flex-wrap pb-5">
            <div class="flex justify-between w-full px-5 mt-3 rounded-tl rounded-tr">
              <h4 class="font-bold text-blue-500 text-sm mt-2">Date & Time</h4>
            </div>

            <div class="flex px-5 w-full">
              <div class="relative w-full text-sm md:w-1/2 lg:w-1/2 px-5 py-2 mt-2">
                <label class="font-semibold" for="vitals_date_temp">Date</label>
                <input name="vitals_date_temp" id="vitals_date_temp" formControlName="vitals_date_temp" max="{{ date | date: 'yyyy-MM-dd'}}" type="date" placeholder="mm/dd/yyyy" class="mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input">
              </div>

              <div class="relative w-full text-sm md:w-1/2 lg:w-1/2 px-5 py-2 mt-2">
                <label class="font-semibold" for="vitals_time_temp">Time</label>
                <input name="vitals_time_temp" id="vitals_time_temp" formControlName="vitals_time_temp" type="time" step="1" placeholder="Input Time"  class="mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input">
              </div>
            </div>
          </div>
          <div class="text-gray-600 border border-slate-100 mx-5"></div><!-- border -->

          <div class="flex item-start flex-wrap pb-5">
            <div class="flex justify-between w-full px-5 mt-3 rounded-tl rounded-tr">
              <h4 class="font-bold text-blue-500 text-sm mt-2">Details</h4>
            </div>

            <div class="flex px-5 w-full">
              <div class="relative w-full text-sm md:w-1/2 lg:w-1/2 px-5 py-2 mt-2">
                <label class="font-semibold" for="patient_weight">Weight (Kilograms)</label>
                <input name="patient_weight" id="patient_weight" formControlName="patient_weight" type="number" placeholder="Enter weight in kilograms" class="mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

                <div *ngIf="f.patient_weight.errors" class="invalid-alert">
                  <div *ngIf="f.patient_weight.errors?.['max']">
                    {{ error_message + ' (' + f.patient_weight.errors.max.max + ')'}}
                  </div>

                  <div *ngIf="f.patient_weight.errors?.['min']">
                    {{ error_message_min + ' (' + f.patient_weight.errors.min.min + ')'}}
                  </div>
                </div>
              </div>

              <div class="relative w-full text-sm md:w-1/2 lg:w-1/2 px-5 py-2 mt-2">
                <label class="font-semibold" for="patient_temp">Temperature (Celcius)</label>
                <input name="patient_temp" id="patient_temp" formControlName="patient_temp" type="number" placeholder="Enter temperature in celcius" class="mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

                <div *ngIf="f.patient_temp.errors" class="invalid-alert">
                  <div *ngIf="f.patient_temp.errors?.['max']">
                    {{ error_message + ' (' + f.patient_temp.errors.max.max + ')'}}
                  </div>
                </div>
              </div>
            </div>

            <div class="flex px-5 w-full">
              <div class="relative w-full text-sm md:w-1/2 lg:w-1/2 px-5 py-2 mt-2">
                <label class="font-semibold" for="vitals_height_ft">
                  <span *ngIf="showChildVitals">Length in ft</span>
                  <span *ngIf="!showChildVitals">Height in ft</span>
                </label>
                <div class="flex">
                  <input name="vitals_height_ft" id="vitals_height_ft" formControlName="vitals_height_ft" type="number" (input)="ftChange()" placeholder="Feet" class="md:w-1/2 lg:w-1/2 mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  <input name="vitals_height_in" id="vitals_height_in" formControlName="vitals_height_in" type="number" (input)="ftChange()" placeholder="Inches" class="md:w-1/2 lg:w-1/2 mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
              </div>

              <div class="relative w-full text-sm md:w-1/2 lg:w-1/2 px-5 py-2 mt-2">
                <label class="font-semibold" for="patient_height">
                  <span *ngIf="showChildVitals">Length in cm</span>
                  <span *ngIf="!showChildVitals">Height in cm</span>
                </label>
                <input name="patient_height" id="patient_height" formControlName="patient_height" type="number" (input)="cmChange()" placeholder="Centimeters" class="mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

                <div *ngIf="f.patient_height.errors" class="invalid-alert">
                  <div *ngIf="f.patient_height.errors?.['max']">
                    {{ error_message + ' (' + f.patient_height.errors.max.max + ')'}}
                  </div>

                  <div *ngIf="f.patient_height.errors?.['min']">
                    {{ error_message_min + ' (' + f.patient_height.errors.min.min + ')'}}
                  </div>
                </div>
              </div>
            </div>



            <div class="flex px-5 w-full">
              <div class="relative w-full text-sm md:w-1/2 lg:w-1/2 px-5 py-2 mt-2">
                <label class="font-semibold" for="bp_systolic">Blood Pressure</label>
                <div class="flex">
                  <input name="bp_systolic" id="bp_systolic" formControlName="bp_systolic" type="number" placeholder="Systolic" class="md:w-1/2 lg:w-1/2 mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  <input name="bp_diastolic" id="bp_diastolic" formControlName="bp_diastolic" type="number" placeholder="Diastolic" class="md:w-1/2 lg:w-1/2 mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
              </div>

              <div class="relative w-full text-sm md:w-1/2 lg:w-1/2 px-5 py-2 mt-2">
                <label class="font-semibold" for="patient_spo2">Blood Oxygen (SpO2)</label>
                <input name="patient_spo2" id="patient_spo2" formControlName="patient_spo2" type="number" placeholder="SpO2" class="mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input">

                <div *ngIf="f.patient_spo2.errors" class="invalid-alert">
                  <div *ngIf="f.patient_spo2.errors?.['max']">
                    {{ error_message + ' (' + f.patient_spo2.errors.max.max + ')'}}
                  </div>
                </div>
              </div>
            </div>

            <div class="flex px-5 w-full">
              <div class="relative w-full text-sm md:w-1/2 lg:w-1/2 px-5 py-2 mt-2">
                <label class="font-semibold" for="patient_heart_rate">Heart Rate</label>
                <input name="patient_heart_rate" id="patient_heart_rate" formControlName="patient_heart_rate" type="number" placeholder="Beats per minute" class="mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input">

                <div *ngIf="f.patient_heart_rate.errors" class="invalid-alert">
                  <div *ngIf="f.patient_heart_rate.errors?.['max']">
                    {{ error_message + ' (' + f.patient_heart_rate.errors.max.max + ')'}}
                  </div>
                </div>
              </div>

              <div class="relative w-full text-sm md:w-1/2 lg:w-1/2 px-5 py-2 mt-2">
                <label class="font-semibold" for="patient_pulse_rate">Pulse Rate</label>
                <input name="patient_pulse_rate" id="patient_pulse_rate" formControlName="patient_pulse_rate" type="text" placeholder="Beats per minute" class="mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input">

                <div *ngIf="f.patient_pulse_rate.errors" class="invalid-alert">
                  <div *ngIf="f.patient_pulse_rate.errors?.['max']">
                    {{ error_message + ' (' + f.patient_pulse_rate.errors.max.max + ')'}}
                  </div>
                </div>
              </div>
            </div>

            <div class="flex px-5 w-full">
              <div class="relative w-full text-sm md:w-1/2 lg:w-1/2 px-5 py-2 mt-2">
                <label class="font-semibold" for="patient_respiratory_rate">Respiratory Rate</label>
                <input name="patient_respiratory_rate" id="patient_respiratory_rate" formControlName="patient_respiratory_rate" type="number" placeholder="Breaths per minute" class="mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input">

                <div *ngIf="f.patient_respiratory_rate.errors" class="invalid-alert">
                  <div *ngIf="f.patient_respiratory_rate.errors?.['max']">
                    {{ error_message + ' (' + f.patient_respiratory_rate.errors.max.max + ')'}}
                  </div>
                </div>
              </div>
            </div>

            <div class="flex px-5 w-full">
              <div class="relative w-full text-sm md:w-1/2 lg:w-1/2 px-5 py-2 mt-2">
                <label class="font-semibold" for="patient_right_vision_acuity_distance">Visual Acuity (Right)</label>
                <div class="grid grid-cols-3">
                  <input name="patient_right_vision_acuity_distance" id="patient_right_vision_acuity_distance" formControlName="patient_right_vision_acuity_distance" type="number" placeholder="Distance" class="mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  <input name="patient_right_vision_acuity" id="patient_right_vision_acuity" formControlName="patient_right_vision_acuity" type="number" placeholder="Right eye visual acuity" class="col-span-2 mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
              </div>

              <div class="relative w-full text-sm md:w-1/2 lg:w-1/2 px-5 py-2 mt-2">
                <label class="font-semibold" for="patient_left_vision_acuity_distance">Visual Acuity (Left)</label>
                <div class="grid grid-cols-3">
                  <input name="patient_left_vision_acuity_distance" id="patient_left_vision_acuity_distance" formControlName="patient_left_vision_acuity_distance" type="number" placeholder="Distance" class="mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  <input name="patient_left_vision_acuity" id="patient_left_vision_acuity" formControlName="patient_left_vision_acuity" type="number" placeholder="Left eye visual acuity" class="col-span-2 mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
              </div>
            </div>

            <!-- <div class="flex px-5 w-full">
              <div class="relative w-full text-sm md:w-1/2 lg:w-1/2 px-5 py-2 mt-2">
                <label class="font-semibold" for="patient_right_vision_acuity">Visual Acuity (Right)</label>
                <input name="patient_right_vision_acuity" id="patient_right_vision_acuity" formControlName="patient_right_vision_acuity" type="number" placeholder="Right eye visual acuity" class="mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input">
              </div>

              <div class="relative w-full text-sm md:w-1/2 lg:w-1/2 px-5 py-2 mt-2">
                <label class="font-semibold" for="patient_left_vision_acuity">Visual Acuity (Left)</label>
                <input name="patient_left_vision_acuity" id="patient_left_vision_acuity" formControlName="patient_left_vision_acuity" type="text" placeholder="Left eye visual acuity" class="mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input">
              </div>
            </div> -->
          </div>
          <div class="text-gray-600 border border-slate-100 mx-5"></div><!-- border -->

          <div class="flex item-start flex-wrap pb-5">
            <div class="flex justify-between w-full px-5 mt-3 rounded-tl rounded-tr">
              <h4 class="font-bold text-blue-500 text-sm mt-2">Body Measurement</h4>
            </div>

            <div class="flex px-5 w-full">
              <div *ngIf="showChildVitals" class="relative w-full text-sm md:w-1/2 lg:w-1/2 px-5 py-2 mt-2">
                <label class="font-semibold" for="patient_head_circumference">Head Circumference(Centimeters)</label>
                <input name="patient_head_circumference" id="patient_head_circumference" formControlName="patient_head_circumference" type="number" placeholder="Centimeters" class="mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

                <div *ngIf="f.patient_head_circumference.errors" class="invalid-alert">
                  <div *ngIf="f.patient_head_circumference.errors?.['max']">
                    {{ error_message + ' (' + f.patient_head_circumference.errors.max.max + ')'}}
                  </div>
                </div>
              </div>

              <div *ngIf="showChildVitals" class="relative w-full text-sm md:w-1/2 lg:w-1/2 px-5 py-2 mt-2">
                <label class="font-semibold" for="patient_muac">MUAC (Centimeters)</label>
                <input name="patient_muac" id="patient_muac" formControlName="patient_muac" type="number" placeholder="Centimeters" class="mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

                <div *ngIf="f.patient_muac.errors" class="invalid-alert">
                  <div *ngIf="f.patient_muac.errors?.['max']">
                    {{ error_message + ' (' + f.patient_muac.errors.max.max + ')'}}
                  </div>
                </div>
              </div>
            </div>

            <div class="flex px-5 w-full">
              <div *ngIf="showChildVitals" class="relative w-full text-sm md:w-1/2 lg:w-1/2 px-5 py-2 mt-2">
                <label class="font-semibold" for="patient_abdomen">Abdominal Circumference(Centimeters)</label>
                <input name="patient_abdomen" id="patient_abdomen" formControlName="patient_abdomen" type="number" placeholder="Centimeters" class="mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

                <div *ngIf="f.patient_abdomen.errors" class="invalid-alert">
                  <div *ngIf="f.patient_abdomen.errors?.['max']">
                    {{ error_message + ' (' + f.patient_abdomen.errors.max.max + ')'}}
                  </div>
                </div>
              </div>

              <div *ngIf="showChildVitals" class="relative w-full text-sm md:w-1/2 lg:w-1/2 px-5 py-2 mt-2">
                <label class="font-semibold" for="patient_chest">Chest Circumference(Centimeters)</label>
                <input name="patient_chest" id="patient_chest" formControlName="patient_chest" type="number" placeholder="Centimeters" class="mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

                <div *ngIf="f.patient_chest.errors" class="invalid-alert">
                  <div *ngIf="f.patient_chest.errors?.['max']">
                    {{ error_message + ' (' + f.patient_chest.errors.max.max + ')'}}
                  </div>
                </div>
              </div>
            </div>

            <div class="flex px-5 w-full">
              <div class="relative w-full text-sm md:w-1/2 lg:w-1/2 px-5 py-2 mt-2">
                <label class="font-semibold" for="patient_hip">Hip Circumference (Centimeters)</label>
                <input name="patient_hip" id="patient_hip" formControlName="patient_hip" type="number" placeholder="Centimeters" class="mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

                <div *ngIf="f.patient_hip.errors" class="invalid-alert">
                  <div *ngIf="f.patient_hip.errors?.['max']">
                    {{ error_message + ' (' + f.patient_hip.errors.max.max + ')'}}
                  </div>
                </div>
              </div>

              <div class="relative w-full text-sm md:w-1/2 lg:w-1/2 px-5 py-2 mt-2">
                <label class="font-semibold" for="patient_waist">Waist Circumference (Centimeters)</label>
                <input name="patient_waist" id="patient_waist" formControlName="patient_waist" type="number" placeholder="Centimeters" class="mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

                <div *ngIf="f.patient_waist.errors" class="invalid-alert">
                  <div *ngIf="f.patient_waist.errors?.['max']">
                    {{ error_message + ' (' + f.patient_waist.errors.max.max + ')'}}
                  </div>
                </div>
              </div>
            </div>

            <div class="flex px-5 w-full">
              <div *ngIf="showChildVitals" class="relative w-full text-sm md:w-1/2 lg:w-1/2 px-5 py-2 mt-2">
                <label class="font-semibold" for="patient_limbs">Limbs (Centimeters)</label>
                <input name="patient_limbs" id="patient_limbs" formControlName="patient_limbs" type="number" placeholder="Centimeters" class="mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

                <div *ngIf="f.patient_limbs.errors" class="invalid-alert">
                  <div *ngIf="f.patient_limbs.errors?.['max']">
                    {{ error_message + ' (' + f.patient_limbs.errors.max.max + ')'}}
                  </div>
                </div>
              </div>

              <div *ngIf="showChildVitals" class="relative w-full text-sm md:w-1/2 lg:w-1/2 px-5 py-2 mt-2">
                <label class="font-semibold" for="patient_skinfold_thickness">Skinfold Thickness (Centimeters)</label>
                <input name="patient_skinfold_thickness" id="patient_skinfold_thickness" formControlName="patient_skinfold_thickness" type="number" placeholder="Centimeters" class="mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

                <div *ngIf="f.patient_skinfold_thickness.errors" class="invalid-alert">
                  <div *ngIf="f.patient_skinfold_thickness.errors?.['max']">
                    {{ error_message + ' (' + f.patient_skinfold_thickness.errors.max.max + ')'}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="flex justify-end py-4 px-5 space-x-4 rounded-b border-t border-gray-200 dark:border-gray-600">
        <button  type="button" class="text-white bg-orange-500 hover:ring-2 focus:outline-none hover:ring-orange-300 rounded text-sm font-medium my-2 px-6 py-2.5 transition duration-150 ease-in-out" (click)="closeModal()">Close</button>
        <button  [disabled]="vitalsForm.pristine" type="button" class="text-white bg-blue-500 enabled:hover:ring-2 enabled:focus:outline-none enabled:hover:ring-blue-300 disabled:opacity-75 font-medium rounded text-sm my-2 px-6 py-2.5 text-center transition duration-150 ease-in-out" (click)="onSubmit()" >Save</button>
      </div>
    </div>
  </div>
</div>

<div class="opacity-50 fixed inset-0 z-50 bg-black"></div>
