<div class="grid grid-cols-11 mt-4 gap-4 w-full">
  <div class="col-span-11 grid grid-cols-1">
    <app-todays-consult [date_today]="date_today"></app-todays-consult>
    <app-todays-appointment [date_today]="date_today"></app-todays-appointment>
     <app-pending-fdx *ngIf="user_designation === 'MD'"></app-pending-fdx>
    <!-- <app-todays-referral [date_today]="date_today"></app-todays-referral> -->
    <!-- <app-pending-fdx></app-pending-fdx> -->
    <!-- <app-todays-referral [date_today]="date_today"></app-todays-referral> -->
    <!-- <app-gbv-patients [date_today]="date_today"></app-gbv-patients> -->
  </div>
  <!-- <app-todays-stats [date_today]="date_today" class="hidden lg:block lg:col-span-2 lg:overflow-auto"></app-todays-stats> -->
</div>
