<div class="grid grid-cols-11 mt-4 gap-4">
  <div class="col-span-8">
    <div class="flex">
      <div class="w-1/2 shadow px-2 mr-2 py-4 rounded-xl text-gray-600 border border-slate-100">
        <div id="bp-chart">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
            [stroke]="chartOptions.stroke"
            [tooltip]="chartOptions.tooltip"
            [dataLabels]="chartOptions.dataLabels"
            [title]="chartOptions.title"
          ></apx-chart>
        </div>
      </div>
      <div class="w-1/2 shadow px-2 ml-2  py-4 rounded-xl text-gray-600 border border-slate-100">
        <div id="weight-chart">
          <apx-chart
            [series]="WeightChart.series"
            [chart]="WeightChart.chart"
            [xaxis]="WeightChart.xaxis"
            [stroke]="WeightChart.stroke"
            [tooltip]="WeightChart.tooltip"
            [dataLabels]="WeightChart.dataLabels"
            [title]="WeightChart.title"
          ></apx-chart>
        </div>
      </div>
    </div>
    <div class="block shadow px-2 py-2 mt-4 rounded-xl text-gray-600 border border-slate-100">
      <div class="grid grid-cols-3 border-b-2">
        <div class="col-span-1">Medical Journal</div>
        <div class="col-auto"></div>
        <div class="col-span-1 text-right">
          <button type="submit" class="inline-flex justify-center my-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-500 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" (click)="toggleModal()">+ New Visit</button>
        </div>
      </div>
      <div class="flex">
        <div [@halfFull]="show_details ? 'half' : 'full'" class="mr-2 flex-auto">
          <div class="last:border-0 border-b border-slate-200 pb-2" *ngFor="let journal of medical_journal">
            <div class="grid grid-cols-8 gap-2 mt-2">
              <div class="col-span-2 text-sm font-semibold h-full">
                {{ journal.visit_date | date:'MM/dd/yyyy'}} {{ journal.index}}
              </div>
              <div class="col-span-6 bg-blue-50 hover:bg-blue-200 hover:cursor-pointer p-2 text-sm col-start-3"
                *ngFor="let visit of journal.visits"
                (click)="open_details()">
                <span class="text-cyan-700 text-base font-semibold">{{ visit.visit_type }}</span><br />
                  Attended by: {{ visit.assessed_by }} <br />
                  Diagnosed by: {{ visit.diagnosed_by }}
              </div>
            </div>
          </div>
        </div>

        <div [@myInsertRemoveTrigger] *ngIf="show_details" class="my-2 flex-auto">
          <span class="block bg-blue-500 w-full p-2 font-semibold text-sm mb-1 text-white">VISIT DETAILS</span>
          <div style="overflow:hidden;white-space: nowrap;"> <!-- start -->
            <div class="flex mx-2 text-sm">
              <span class="flex-1 text-left font-semibold">
                Date
              </span>
              <span class="flex-1 text-right">
                07/01/2020
              </span>
            </div>
            <div class="flex mx-2 text-sm">
              <span class="flex-1 text-left font-semibold">
                Assessed By
              </span>
              <span class="flex-1 text-right">
                Nurse 1
              </span>
            </div>
            <div class="flex mx-2 text-sm">
              <span class="flex-1 text-left font-semibold">
                Physician
              </span>
              <span class="flex-1 text-right">
                Doctor 1
              </span>
            </div>

            <div class="flex mx-2 mt-3 text-sm font-semibold">
                VITALS
            </div>
            <div class="flex mx-2 ml-4 text-sm">
              <span class="flex-1 text-left">
                Weight
              </span>
              <span class="flex-1 text-right">
                70kg
              </span>
            </div>
            <div class="flex mx-2 ml-4 text-sm">
              <span class="flex-1 text-left">
                Height
              </span>
              <span class="flex-1 text-right">
                172cm
              </span>
            </div>
            <div class="flex mx-2 ml-4 text-sm">
              <span class="flex-1 text-left">
                BMI
              </span>
              <span class="flex-1 text-right text-orange-400">
                28.5 (Overweight)
              </span>
            </div>
            <div class="flex mx-2 ml-4 text-sm">
              <span class="flex-1 text-left">
                Blood Pressure
              </span>
              <span class="flex-1 text-right text-red-600">
                150/90 (hypertensive)
              </span>
            </div>
            <div class="flex mx-2 ml-4 text-sm">
              <span class="flex-1 text-left">
                Temp
              </span>
              <span class="flex-1 text-right">
                -
              </span>
            </div>
            <div class="flex mx-2 ml-4 text-sm">
              <span class="flex-1 text-left">
                Heart Rate
              </span>
              <span class="flex-1 text-right">
                -
              </span>
            </div>
            <div class="flex mx-2 ml-4 text-sm">
              <span class="flex-1 text-left">
                Resp Rate
              </span>
              <span class="flex-1 text-right">
                -
              </span>
            </div>

            <div class="flex mx-2 mt-3 text-sm font-semibold">
              CHIEF COMPLAINT
            </div>
            <div class="flex mx-2 ml-4 text-sm">
              <span class="flex-1 text-left">
                Sample Complaint
              </span>
            </div>

            <div class="flex mx-2 mt-3 text-sm font-semibold">
              HISTORY OF CURRENT ILLNESS
            </div>
            <div class="flex mx-2 ml-4 text-sm">
              <span class="flex-1 text-left">
                Sample History
              </span>
            </div>

            <div class="flex mx-2 mt-3 text-sm font-semibold">
              PHYSICAL EXAM
            </div>
            <div class="flex mx-2 ml-4 text-sm">
              <span class="flex-1 text-left">
                Skin
              </span>
              <span class="flex-1 text-right">
                -
              </span>
            </div>
            <div class="flex mx-2 ml-4 text-sm">
              <span class="flex-1 text-left">
                HEENT
              </span>
              <span class="flex-1 text-right">
                -
              </span>
            </div>
            <div class="flex mx-2 ml-4 text-sm">
              <span class="flex-1 text-left">
                Chest
              </span>
              <span class="flex-1 text-right">
                -
              </span>
            </div>
            <div class="flex mx-2 ml-4 text-sm">
              <span class="flex-1 text-left">
                Heart
              </span>
              <span class="flex-1 text-right">
                -
              </span>
            </div>
            <div class="flex mx-2 ml-4 text-sm">
              <span class="flex-1 text-left">
                Abdomen
              </span>
              <span class="flex-1 text-right">
                -
              </span>
            </div>
            <div class="flex mx-2 ml-4 text-sm">
              <span class="flex-1 text-left">
                Extremities
              </span>
              <span class="flex-1 text-right">
                -
              </span>
            </div>

            <div class="flex mx-2 mt-3 text-sm font-semibold">
              DIAGNOSIS
            </div>
            <div class="flex mx-2 ml-4 text-sm">
              <span class="flex-1 text-left">
                Initial
              </span>
              <span class="flex-1 text-right">
                -<br />
              </span>
            </div>

            <div class="flex mx-2 ml-4 text-sm">
              <span class="flex-1 text-left">
                Final
              </span>
              <span class="flex-1 text-right">
                -<br />
              </span>
            </div>

            <div class="flex mx-2 mt-3 text-sm font-semibold">
              PRESCRIPTION
            </div>
            <div class="flex mx-2 ml-4 text-sm">
              <span class="flex-1 text-left">
                -
              </span>
              <span class="flex-1 text-right">
                -<br />
              </span>
            </div>
          </div><!-- end -->
        </div>
      </div>
    </div>
  </div>

  <div class="col-span-3">
    <app-patient-info (patientInfo)="patientInfo($event)"></app-patient-info>
  </div>
</div>

<div *ngIf="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
  <div id="defaultModal" tabindex="-1" class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 w-full md:inset-0 h-modal md:h-full justify-center items-center flex" aria-modal="true" role="dialog" style="z-index:60">
    <div class="relative p-4 w-full max-w-3xl h-auto md:h-auto">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <!-- Modal header -->
        <div class="flex justify-between items-start py-3 px-5 rounded-t border-b bg-blue-500 dark:border-gray-600">
          <h3 class="mt-2 text-sm font-bold text-white dark:text-white">
              Health Programs
          </h3>
        </div>
        <!-- Modal body -->
        <div class="overflow-y-auto h-96 scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100">

            <div class="grid grid-cols-1 item-start flex-wrap pb-5" *ngFor="let list of list_modules">
              <div class="w-full px-5 my-3 rounded-tl rounded-tr">
                <h4 class="font-bold text-blue-500 text-sm mt-2">{{ list.group }}</h4>
              </div>

              <div class="grid grid-cols-3 gap-4 mx-10">
                <button *ngFor="let module of list.modules" type="button" class="col-span-1 text-white bg-blue-500 hover:ring-2 focus:outline-none hover:ring-blue-300 font-medium rounded text-sm px-6 py-2.5 text-center transition duration-150 ease-in-out transform hover:scale-110" (click)="onSubmit(module.location)" >
                  {{ module.name }}
                </button>
              </div>
            </div>
        </div>
        <!-- Modal footer -->
        <div class="flex justify-end py-4 px-5 space-x-4 rounded-b border-t border-gray-200 dark:border-gray-600">
          <button  type="button" class="text-white bg-red-500 hover:ring-2 focus:outline-none hover:ring-red-300 rounded text-sm font-medium px-6 py-2.5 transition duration-150 ease-in-out transform hover:scale-110 " (click)="toggleModal()">Cancel</button>
          <!-- <button  type="button" class="text-white bg-blue-500 hover:ring-2 focus:outline-none hover:ring-blue-300 font-medium rounded text-sm px-6 py-2.5 text-center transition duration-150 ease-in-out transform hover:scale-110" (click)="onSubmit()" >Save</button> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
