<div class="flex w-full">
  <div class="relative w-9/12 h-screen shadow px-2 ml-5 rounded-3xl text-gray-600 shadow-md overflow-y-scroll">
    <div class="text-sm font-medium text-center text-gray-500 ">
      <ul class="flex flex-wrap -mb-px ">
        <li class="mr-2">
          <a class="select-none inline-block p-4 rounded-t-lg border-b-2 hover:text-blue-400 hover:font-semibold hover:border-blue-400"
            [class]="module != 1? '' : 'text-blue-400 font-semibold border-blue-400'" (click)="switchTab(1)">Case
            Info</a>
        </li>
        <li class="mr-2">
          <a class="select-none inline-block p-4 rounded-t-lg border-b-2 hover:text-blue-400 hover:font-semibold hover:border-blue-400"
            [class]="module != 2? '' : 'text-blue-400 font-semibold border-blue-400'" (click)="switchTab(2)">Body
            Chart</a>
        </li>
        <li class="mr-2">
          <a class="select-none inline-block p-4 rounded-t-lg border-b-2 hover:text-blue-400 hover:font-semibold hover:border-blue-400"
            [class]="module != 3? '' : 'text-blue-400 font-semibold border-blue-400'"
            (click)="switchTab(3)">Services</a>
        </li>
        <li class="absolute right-0 ">
          <a class="select-none text-base inline-block p-2 bg-gray-300 mt-3 mr-3 text-gray-400 hover:text-white rounded-md font-bold hover:bg-orange-400"
            (click)="switchTab(4)">
            <fa-icon [icon]="faPersonWalking" size="lg" class="mx-2"></fa-icon>End Visit
          </a>
        </li>
      </ul>
    </div>
    <!-- <img src="../../../assets/img/hands_feet.png" alt="" class="w-full"> -->
    <div class="fade-in" *ngIf="module == 1">
      <div class="w-12/12 px-8 pb-10 border-solid border-2 border-zinc-100 border-l-0 border-r-0 border-t-0 p-3">
        <app-caseinfo></app-caseinfo>
      </div>
    </div>
    <div class="fade-in" *ngIf="module == 2">
      <div class="w-12/12 px-8 pb-10 border-solid border-2 border-zinc-100 border-l-0 border-r-0 border-t-0 p-3">
        <app-bodychart></app-bodychart>
      </div>
    </div>
  </div>
  <div class="w-3/12">
    <app-patient-info></app-patient-info>
  </div>
</div>