<div class="flex w-full">
  <div class="w-3/12">
    <app-patient-info></app-patient-info>
  </div>

  <div class="w-9/12 h-screen shadow px-2 py-4 ml-5 rounded-3xl text-gray-600 shadow-md overflow-y-scroll">
    <div class="text-sm font-medium text-center text-gray-500">
      <ul class="flex flex-wrap -mb-px">
          <li class="mr-2">
              <a class="inline-block p-4 rounded-t-lg border-b-2 hover:text-blue-400 hover:font-semibold hover:border-blue-400"  [class]="module != 1? '' : 'text-blue-400 font-semibold border-blue-400'" (click)="switchTab(1)">MCR</a>
          </li>
          <li class="mr-2">
              <a class="inline-block p-4 rounded-t-lg border-b-2 hover:text-blue-400 hover:font-semibold hover:border-blue-400" [class]="module != 2? '' : 'text-blue-400 font-semibold border-blue-400'" (click)="switchTab(2)">Post</a>
          </li>
      </ul>
  </div>
  <!-- [class]="module != 2? '' : 'active'" (click)="switchTab(2)" -->
  <div *ngIf="module == 1">
    <div class="w-12/12 px-8 py-5 border-solid border-2 border-zinc-100 border-l-0 border-r-0 border-t-0 p-3">
      <app-mcr></app-mcr>
    </div>
  </div>

  <div *ngIf="module == 2">
    <div class="w-12/12 mb-10 px-8 py-5 border-solid border-2 border-zinc-100 border-l-0 border-r-0 border-t-0 p-3">
      <app-postpartum></app-postpartum>
    </div>
  </div>

  <div *ngIf="module == 1">
    <div class="w-12/12 mb-10 px-8 py-5 border-solid border-2 border-zinc-100 border-l-0 border-r-0 border-t-0 p-3">
      <app-riskfactors></app-riskfactors>
    </div>
  </div>

  </div>
</div>