<div class="flex">
  <nav class="mt-4 flex flex-row border-b border-slate-300 text-xs">
    <button (click)="switchPage(1)" class="tabs-main w-36"
      [class]="pages===1? 'tabs-main-true rounded-t-md' : 'tabs-main-false' ">
      HISTORY
    </button>
    <button *ngIf="patient_id && mcr" (click)="switchPage(2)" class="tabs-main w-36"
      [class]="pages===2? 'tabs-main-true rounded-t-md' : 'tabs-main-false' ">
      VISIT DETAILS
    </button>
    <button *ngIf="patient_id && mcr" (click)="switchPage(3)" class="tabs-main w-36"
      [class]="pages===3? 'tabs-main-true rounded-t-md' : 'tabs-main-false' ">
      ECLAIMS
    </button>
  </nav>
  <div class="ml-auto">
    <button *ngIf="!consult_details?.consult_done" type="button" class="btn-end-visit ml-auto mt-5" (click)="toggleModal('end_visit')">
      <fa-icon class="mr-1" [icon]="faDoorClosed"></fa-icon>
      End Visit
    </button>
  </div>
</div>

<nav *ngIf="pages === 2" class="mt-2 flex justify-between border-b border-slate-300 text-xs">
  <div class="flex flex-row">
    <button (click)="switchTab(2)" class="tabs-main w-28"
        [class]="module === 2? 'tabs-main-true' : 'tabs-main-false' ">
        Maternal Care Record
    </button>
    <button (click)="switchTab(3)" *ngIf="patient_mc_record && prenatal" class="tabs-main w-28"
        [class]="module === 3? 'tabs-main-true' : 'tabs-main-false' ">
        Prenatal
    </button>
    <button (click)="switchTab(4)" *ngIf="patient_mc_record && prenatal" class="tabs-main w-28"
        [class]="module === 4? 'tabs-main-true' : 'tabs-main-false' ">
        Postpartum
    </button>
    <button (click)="switchTab(8)" *ngIf="patient_id" class="tabs-main w-28"
        [class]="module === 8? 'tabs-main-true' : 'tabs-main-false' ">
        Caserate
    </button>
  </div>
</nav>

<!-- <div class="w-full relative h-screen px-2 mt-5 ml-5 rounded-3xl text-gray-600 shadow-md overflow-y-scroll scrollbar-thin scrollbar-thumb-blue-300 scrollbar-track-white {{modalStats?'z-50':'z-0'}}"> -->
  <!-- <div class="text-sm font-medium text-center sticky top-0 text-gray-500 bg-white {{modalStats?'z-0':'z-10'}}">
    <ul class="flex flex-wrap ">
      <li class="mr-2">
        <a class="select-none inline-block p-4 rounded-t-lg border-b-2 hover:text-blue-400 hover:font-semibold hover:border-blue-400"
          [class]="module !== 1? '' : 'text-blue-400 font-semibold border-blue-400'" (click)="switchTab(1)">History</a>
      </li>
      <li class="mr-2" *ngIf="patient_id && mcr">
        <a class="select-none inline-block p-4 rounded-t-lg border-b-2 hover:text-blue-400 hover:font-semibold hover:border-blue-400"
          [class]="module !== 2? '' : 'text-blue-400 font-semibold border-blue-400'" (click)="switchTab(2)">
          Maternal Care Record</a>
      </li>
      <li class="mr-2" *ngIf="patient_id && patient_mc_record && prenatal">
        <a class="select-none inline-block p-4 rounded-t-lg border-b-2 hover:text-blue-400 hover:font-semibold hover:border-blue-400"
          [class]="module !== 3? '' : 'text-blue-400 font-semibold border-blue-400'"
          (click)="switchTab(3)">Prenatal</a>
      </li>
      <li class="mr-2" *ngIf="patient_id">
        <a class="select-none inline-block p-4 rounded-t-lg border-b-2 hover:text-blue-400 hover:font-semibold hover:border-blue-400"
          [class]="module !== 4? '' : 'text-blue-400 font-semibold border-blue-400'"
          (click)="switchTab(4)">Postpartum</a>
      </li>

      <li class="absolute right-3" *ngIf="consult_details?.consult_done === false">
        <button *ngIf="!consult_details?.consult_done" type="button" class="btn-end-visit ml-auto" (click)="toggleModal()">
          <fa-icon class="mr-1" [icon]="faDoorClosed"></fa-icon>
          End Visit
        </button>
      </li>
    </ul>
  </div> -->

<div class="fade-in mb-20" *ngIf="pages === 1">
  <div class="w-12/12 px-8 pb-10 border-solid border-2 border-zinc-100 border-l-0 border-r-0 border-t-0 p-3">
    <div class="grid gap-4 relative animates-dropdown" style="grid-template-columns: repeat(16, minmax(0, 1fr));"
      *ngIf="!focused">
      <div
        class="sticky top-14 z-50 border border-blue-400 col-span-2 mx-2 px-2 py-1 rounded-t-lg text-sm bg-blue-500 text-white"
        style="grid-column: span 16 / span 16;"><button class="font-bold" type="button">Records</button>
      </div>
      <div style="grid-column: span 16 / span 16;">
        <div class="grid gap-0" style="grid-template-columns: repeat(14, minmax(0, 1fr));">
          <div style="grid-column: span 14 / span 14;">
            <div
              class="grid gap-4 rounded-b-lg hover:drop-shadow-lg drop-shadow-md bg-white hover:border border-gray-300 hover:border-blue-400 p-2 m-2 border -mt-5"
              style="grid-template-columns: repeat(9, minmax(0, 1fr));">
              <div class="font-light col-span-4" *ngIf="!patient_mc_list">No records found.</div>
              <button (click)="openNew()" *ngIf="!patient_mc_list"
                class="col-start-[9] bg-green-400 rounded hover:bg-green-500 font-medium text-white my-1 mx-2">Add</button>

              <div class="text-sm pb-1 font-semibold h-max" *ngIf="patient_mc_list?(patient_mc_list.length !== 0?true:false):false"
                style="grid-column: span 9 / span 9;">

                <table class="table-auto relative w-full">
                  <thead class="sticky top-0 ">
                    <tr>
                      <th class="px-2">Registration Date</th>
                      <th class="px-2">LMP Date</th>
                      <th class="px-2">Delivery Date</th>
                      <th class="px-2">Admission Date</th>
                      <th class="px-2">Discharge Date</th>
                      <th class="px-2">Status</th>
                      <th class="px-2">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let mc of patient_mc_list" class="hover:bg-blue-100">
                      <th class="px-2 font-normal">{{mc.pre_registration?'MCR: ' + (mc.pre_registration.pre_registration_date | date: 'MM/dd/yyyy'):'Post: ' + (mc.post_registration.post_registration_date | date: 'MM/dd/yyyy') }}</th>
                      <th class="px-2 font-normal">{{mc.pre_registration?(mc.pre_registration.lmp_date | date: 'MM/dd/yyyy'):'-'}}</th>
                      <th class="px-2 font-normal">{{mc.post_registration?(mc.post_registration.delivery_date | date: 'MM/dd/yyyy'):'-'}}</th>
                      <th class="px-2 font-normal">{{mc.post_registration?(mc.post_registration.admission_date | date: 'MM/dd/yyyy'):'-'}}</th>
                      <th class="px-2 font-normal">{{mc.post_registration?(mc.post_registration.discharge_date | date: 'MM/dd/yyyy'):'-'}}</th>
                      <th class="px-2 font-normal">{{mc.post_registration?(mc.post_registration.end_pregnancy?'Closed':'Open'):'Open'}}</th>
                      <th class="px-2 font-normal">
                        <button class=" px-2 py-1 bg-blue-400 text-white font-bold rounded hover:bg-blue-500" (click)="openMCR(mc.id)">
                          <fa-icon *ngIf="loading && mc.id === view_id" class="mx-3" [icon]="faSpinner" [spin]="true"></fa-icon>
                          {{loading && mc.id === view_id?'':'View'}}
                        </button>
                      </th>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fade-in mb-20" *ngIf="pages === 2 && module === 2">
  <div class="w-12/12 px-8 pb-10 border-solid border-2 border-zinc-100 border-l-0 border-r-0 border-t-0 p-3">
    <app-mcr *ngIf="patient_id" (patient_mc_id)="showPreServ($event)" [patient_mc_record]="patient_mc_record"
      [patient_id]="patient_id"></app-mcr>
  </div>
  <div class="w-12/12 px-8 pb-10 border-solid border-2 border-zinc-100 border-l-0 border-r-0 border-t-0 p-3">
    <app-riskfactors *ngIf="risk_factors && patient_mc_record !== ''" [risk_factors]="risk_factors" [patient_mc_record]="patient_mc_record"
      [patient_id]="patient_id"></app-riskfactors>
  </div>
</div>

<div class="fade-in mb-20" *ngIf="pages === 2 && module === 3">
  <div class="w-12/12 px-8 pb-10 border-solid border-2 border-zinc-100 border-l-0 border-r-0 border-t-0 p-3">
    <app-prenatal (prenatal_mc_data)="updatePrenatal($event)" [patient_mc_record]="patient_mc_record" [patient_id]="patient_id"
      [fetals]="fetals" [fhr_lib]="fhr_lib"></app-prenatal>
  </div>
  <div class=" w-12/12 px-8 pb-10 border-solid border-2 border-zinc-100 border-l-0 border-r-0 border-t-0 p-3">
    <app-services *ngIf="visit_type" [patient_mc_record]="patient_mc_record" [module]="module"
      (modalStats)="openModal($event)" [lib_services]="lib_services" [visit_type]="visit_type"
      [patient_id]="patient_id"></app-services>
  </div>
</div>

<div class="fade-in mb-20" *ngIf="pages === 2 && module === 4">
  <div class="w-12/12 px-8 pb-10 border-solid border-2 border-zinc-100 border-l-0 border-r-0 border-t-0 p-3">
    <app-postpartum (postpartum_bool)="postValue($event)" (post_mc_data)="updatePost($event)" [patient_mc_record]="patient_mc_record"
      [delivery_location]="delivery_location" [regions]="regions" [attendants]="attendants"
      [preg_outcome]="preg_outcome" [patient_id]="patient_id"></app-postpartum>
  </div>
  <div *ngIf="post_value && patient_mc_record"
    class="w-12/12 px-8 pb-10 border-solid border-2 border-zinc-100 border-l-0 border-r-0 border-t-0 p-3">
    <app-postvisits *ngIf="patient_id" (post_visit_data)="updatePostVisit($event)" [patient_mc_record]="patient_mc_record"
      [patient_id]="patient_id"></app-postvisits>
  </div>
  <div class=" w-12/12 px-8 pb-10 border-solid border-2 border-zinc-100 border-l-0 border-r-0 border-t-0 p-3">
    <app-services *ngIf="visit_type" [patient_mc_record]="patient_mc_record" [module]="module"
      (modalStats)="openModal($event)" [lib_services]="lib_services" [visit_type]="visit_type"
      [patient_id]="patient_id"></app-services>
  </div>
</div>

<div class="fade-in mb-20 z-20" *ngIf="pages === 2 && module === 5">
  <div class=" w-12/12 px-8 pb-10 border-solid border-2 border-zinc-100 border-l-0 border-r-0 border-t-0 p-3">
    <app-services *ngIf="visit_type" [patient_mc_record]="patient_mc_record" [module]="module"
      (modalStats)="openModal($event)" [lib_services]="lib_services" [visit_type]="visit_type"
      [patient_id]="patient_id"></app-services>
  </div>
</div>
<!-- </div> -->

<app-end-visit
  *ngIf="show_end"
  [consult_id]="consult_id"
  [toggleModal]="toggleModal()"
  [consult_date]="consult_details?.consult_date"
  [patient_id]="consult_details?.patient.id"
  [pt_group]="'mc'"
></app-end-visit>

<app-caserate *ngIf="pages === 2 && module === 8"
  (switchPage)="switchPage($event)"
  [patient_id]="patient_mc_record.patient_id"
  [program_id]="patient_mc_record.id"
  [program_name]="'mc'"
  [max_date]="max_date"
></app-caserate>

<app-eclaims *ngIf="pages === 3"
  (switchPage)="switchPage($event)"
  [program_id]="patient_mc_record.id"
  [selected_case]="patient_mc_record"
  [program_name]="'mc'"
  [max_date]="max_date"
></app-eclaims>
