<div class="mt-4 leading-tight">
  <div class="flex justify-between items-center">
    <span class="block text-blue-500 font-medium text-sm">
      PHILHEALTH
    </span>
    <span>
      <fa-icon (click)="modalToggle('philhealth-list')" class="mx-0 my-0 text-green-500 mr-2 hover:cursor-pointer" [icon]="faTableList" *ngIf="philhealth_info" ></fa-icon>
      <fa-icon (click)="modalToggle('philhealth')" class="mx-0 my-0 text-blue-500 mr-2 hover:cursor-pointer" [icon]="faPlusCircle"></fa-icon>
    </span>
  </div>
  <div class="grid grid-cols-2 pl-3 w-full" [ngClass]="{'text-red-500': philhealthColor}">
    <span class="col-span-1 text-xs">
      {{ philhealth_info?.philhealth_id }}
    </span>
    <span class="col-span-1 text-xs text-right">
      {{ philhealth_info?.enlistment_date | date: 'MM/dd/yyyy':'Asia/Manila' }}
    </span>

    <span class="col-span-1 text-xs">
      ATC
    </span>
    <span class="col-span-1 text-xs text-right">
      {{ philhealth_info?.authorization_transaction_code }}
    </span>
  </div>
</div>
