<div class="flex flex-col h-screen bg-white" *ngIf="isAuthenticated">
  <app-header></app-header>

  <div class="flex-1 overflow-auto">
    <div class="w-full grid grid-cols-12 gap-4 px-4">
      <!-- <div class="col-span-1">
        <app-sidenav></app-sidenav>
      </div> -->
      <div class="col-span-12">
        <router-outlet ></router-outlet>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-col h-screen bg-white" *ngIf="!isAuthenticated">
  <div class="flex-1 overflow-auto" *ngIf="showLogin">
    <section class="bg-gray-50 dark:bg-gray-900">
      <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
          <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
              <img class="w-16 h-16 mr-2" src="./assets/img/wah_icon.png" alt="logo">
              Wireless Access for Health
          </a>
          <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
              <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                  <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                      Sign in to your account
                  </h1>
                  <form [formGroup]="loginForm" class="space-y-4 md:space-y-6" (ngSubmit)="onSubmit()">
                      <div>
                          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
                          <input type="email" name="email" id="email" formControlName="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@company.com" required="">

                          <div *ngIf="is_saving && f.email.errors" class="invalid-alert">
                            <div *ngIf="f.email.errors?.['required']">
                              email is required.
                            </div>

                            <div *ngIf="f.email.errors?.['email']">
                              Not a valid email format
                            </div>
                          </div>
                      </div>
                      <div>
                          <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                          <input type="password" name="password" id="password" formControlName="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">

                          <div *ngIf="is_saving && f.password.errors" class="invalid-alert">
                            <div *ngIf="f.password.errors?.['required']">
                              password is required.
                            </div>
                          </div>
                      </div>
                      <div class="flex items-center justify-between">
                          <div class="flex items-start" *ngIf="auth_error">
                              <!-- <div class="flex items-center h-5">
                                <input id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800" required="">
                              </div> -->
                              <div class="text-sm invalid-alert">
                                <label>{{ auth_error_message }}</label>
                              </div>
                          </div>
                          <!-- <a href="#" class="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500">Forgot password?</a> -->
                      </div>
                      <button type="submit"  class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-primary-800">Sign in</button>
                      <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                          Don’t have an account yet? <a routerLink="/user-registration" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign up</a>
                      </p>

                        <div class="flex justify-center ml-3 text-sm ">
                          <span class="font-medium text-sky-600 hover:underline cursor-pointer" (click)="showPrivacyStatement = !showPrivacyStatement">Data Privacy Statement</span>
                        </div>
                  </form>
              </div>
          </div>
      </div>
    </section>

  </div>

  <div class="flex-1 overflow-auto" *ngIf="!showLogin">
    <router-outlet></router-outlet>
  </div>
</div>

<div [@myInsertRemoveTrigger]  *ngIf="showPrivacyStatement" id="defaultModal" tabindex="-1" class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 w-full md:inset-0 h-modal md:h-full justify-center items-center flex" aria-modal="true" role="dialog" style="z-index:60">
  <div class="relative p-4 w-full max-w-3xl h-auto md:h-auto">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex justify-between items-start py-3 px-5 rounded-t border-b bg-white">
        <h3 class="mt-2 text-sm font-bold text-blue-500">
          WAHTERMELON Privacy Statement
        </h3>
      </div>
      <!-- Modal body -->
      <div class="overflow-y-auto h-96 scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100">
        <!-- PRIVACY START -->
        <div class="grid grid-cols-1 m-5">
          <!-- <div class="cols-span-1 flex justify-center font-semibold">
            WAHTERMELON Privacy Statement
          </div> -->

          <div class="cols-span-1 flex flex-col text-justify">
            <h3 class="font-semibold mb-3">Introduction</h3>
            <p class="mb-5">WAHTERMELON respects your individual privacy and protects any personal information that you share with us. We commit to secure the individual’s right to privacy and ensure the trustworthiness of processing of individual’s personal information.</p>
            <p>WAHTERMELON strives to comply with the Data Privacy Act of 2012 that is designed to protect your privacy. We intend to adhere to the principles set forth in this Privacy Statement and recognize your need for appropriate protection and management of any personal information. In other words, our goal is to provide protection for your privacy regardless of what types of device or application to access our Services. By using our Services, you consent to the collection, storage, processing, transferring, disclosure, and other usage of the Information described in this Privacy Statement and Terms of Service Agreement.</p>
          </div>

          <div class="cols-span-1 flex flex-col text-justify mt-10">
            <h3 class="font-semibold mb-3">Information Collection</h3>
            <p>We may collect, store and transfer the following information:</p>
            <ul class="list-disc ml-10">
              <li>name and address</li>
              <li>contact information including email address</li>
              <li>demographic information such as postcode, preferences and interests</li>
              <li>other information relevant to individual’s request and/or offers</li>
            </ul>
          </div>

          <div class="cols-span-1 flex flex-col text-justify mt-10">
            <h3 class="font-semibold mb-3">Purpose of Collected Data</h3>
            <p>You consent that your collected Personal Information may be used:</p>
            <ul class="list-disc ml-10">
              <li>To help improve our data and services and customize user experience;</li>
              <li>To participate in and facilitate transactions;</li>
              <li>To engage in data mining and build up activities;</li>
              <li>To deliver the products and services that you have requested;</li>
              <li>To perform research and analysis about your use of, or interest in, our products, services, or content, or products, services or content offered by others;</li>
              <li>To communicate about relevant services, ads and/or advisories through whichever means are available the Provincial Government; </li>
              <li>To provide better customer experience to the Provincial Government clients and improve, develop, identify and implement services; </li>
              <li>To follow safety, security, public service or legal requirements and processes; </li>
              <li>To process information for statistical, analytical, and research purposes; and</li>
              <li>To identify and prevent errors and inefficiencies due to misuse of the platform;</li>
              <li>To enforce our terms and conditions;</li>
            </ul>
          </div>

          <div class="cols-span-1 flex flex-col text-justify mt-10">
            <h3 class="font-semibold mb-3">Security</h3>
            <p>We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect.</p>
          </div>

          <div class="cols-span-1 flex flex-col text-justify mt-10">
            <h3 class="font-semibold mb-3">Our Disclosure of your Personal Information to Third Parties</h3>
            <p>We may share your personal information with third parties only in the ways that are described in this Privacy Statement:</p>
            <ul class="list-disc ml-10">
              <li>we may allow a potential acquirer or merger partner to review our databases, although we would restrict their use and disclosure of this data during the diligence phase;</li>
              <li>as required by law enforcement, government officials, or other third parties pursuant to a subpoena, court order, or other legal process or requirement applicable to our Agency;</li>
              <li>we may transfer personal information to third parties for any legally permissible purpose at our sole discretion; and</li>
              <li>we may share your information with third parties with your consent or direction to do so.</li>
            </ul>
          </div>

          <div class="cols-span-1 flex flex-col text-justify mt-10">
            <h3 class="font-semibold mb-3">Limiting Use, Disclosure, Retention</h3>
            <p>WAHTERMELON identifies the purposes for which the information is being collected before or at the time of collection. The collection of your personal information will be limited to that which is needed for the purposes identified by us. Unless you consent or we are required by law, we will only use the information for the purposes for which it was collected. If we will be processing your personal data for another purpose later on, we will seek your further legal permission or consent; except where the other purpose is compatible with the original purpose. We will keep your personal data only as long as required to serve those purposes. We will also retain and use your personal data for as long as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.</p>
          </div>

          <div class="cols-span-1 flex flex-col text-justify mt-10">
            <h3 class="font-semibold mb-3">Accuracy of Personal data</h3>
            <p>We do our best to ensure that the personal data we hold and use is accurate. We rely on the clients we do business with to disclose to us all relevant information and to inform us of any changes.</p>
          </div>

          <div class="cols-span-1 flex flex-col text-justify mt-10">
            <h3 class="font-semibold mb-3">Additional Rights (RA 10173 Data Privacy Act of 2012)</h3>
            <ul class="list-disc ml-10">
              <li>Right of erasure or blocking. You may have a broader right to erasure of personal data that we hold about you.</li>
              <li>Right to object. You may have the right to request that we stop processing your personal data and/or to stop sending you marketing communications.</li>
              <li>Right to restrict processing. You may have the right to request that we restrict processing of your personal data in certain circumstances.</li>
              <li>Right to access. In certain circumstances, you may have the right to be provided with your personal data in a structured, machine readable and commonly used format and to request that we transfer the personal data to another data controller without hindrance.</li>
              <li>If you would like to exercise any of the above rights, please contact our support team or contact our Data Protection Officer. We will consider your request in accordance with applicable laws. To protect your privacy and security, we may take steps to verify your identity before complying with the request.</li>
              <li>You also have the right to complain to a data protection authority about our collection and use of your personal data.</li>
            </ul>
          </div>

          <div class="cols-span-1 flex flex-col text-justify mt-10">
            <h3 class="font-semibold mb-3">Changes to our Privacy Statement</h3>
            <p>WAHTERMELON may amend this statement at any time by posting a new version. It is your responsibility to review this statement periodically as your continued use of our products and services represents your agreement with the then-current statement.</p>
          </div>
        </div>
        <!-- PRIVACY END -->
      </div>

      <!-- Modal footer -->
      <div class="flex justify-end py-4 px-5 space-x-4 rounded-b border-t border-gray-200 dark:border-gray-600">
        <!-- <button  type="button" class="text-white bg-red-500 hover:ring-2 focus:outline-none hover:ring-red-300 rounded text-sm font-medium px-6 py-2.5 transition duration-150 ease-in-out transform hover:scale-110 " (click)="closeModal()">Ok</button> -->
        <button  type="button" class="text-white bg-blue-500 hover:ring-2 focus:outline-none hover:ring-blue-300 font-medium rounded text-sm px-6 py-2.5 text-center transition duration-150 ease-in-out transform hover:scale-110" (click)="showPrivacyStatement = !showPrivacyStatement" >Ok</button>
      </div>
    </div>
  </div>
</div>


<div *ngIf="showPrivacyStatement" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
