<div class="container-xl mx-auto bg-white">
  <nav class="bg-white w-100">
    <div class="py-3 px-6 md:flex md:justify-between md:items-center">
      <div class="flex justify-between items-center">
        
        <img src="./assets/img/wah_icon.png" class="rounded-full w-12 h-12 mx-auto mr-5" />
        <div class="pt-2 relative mx-auto text-gray-600">
          <input class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-3xl text-sm focus:outline-none"
            type="search" name="search" placeholder="Search">
          <button type="submit" class="absolute right-0 top-0 mt-4 mr-4 text-gray-700 hover:text-indigo-500">
            <fa-icon class="mx-0 my-0" [icon]="faSearch"></fa-icon>
          </button>
        </div>
      </div>

      <div class="md:flex items-center">
        <div class="flex flex-col md:flex-row md:mx-2 items-center">
          <a class="my-1 text-sm text-gray-700 font-medium hover:text-indigo-500 md:mx-2 md:my-0" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 22 22" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 17V7m0 10a2 2 0 01-2 2H5a2 2 0 01-2-2V7a2 2 0 012-2h2a2 2 0 012 2m0 10a2 2 0 002 2h2a2 2 0 002-2M9 7a2 2 0 012-2h2a2 2 0 012 2m0 10V7m0 10a2 2 0 002 2h2a2 2 0 002-2V7a2 2 0 00-2-2h-2a2 2 0 00-2 2" />
            </svg>
          </a>
          <a class="my-1 text-sm text-gray-700 hover:text-indigo-500 md:mx-2 md:my-0" href="#">
            <svg class="fill-current w-6 h-6" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
              <path d="M16,4c0-1.11,0.89-2,2-2s2,0.89,2,2s-0.89,2-2,2S16,5.11,16,4z M20,22v-6h2.5l-2.54-7.63C19.68,7.55,18.92,7,18.06,7h-0.12 c-0.86,0-1.63,0.55-1.9,1.37l-0.86,2.58C16.26,11.55,17,12.68,17,14v8H20z M12.5,11.5c0.83,0,1.5-0.67,1.5-1.5s-0.67-1.5-1.5-1.5 S11,9.17,11,10S11.67,11.5,12.5,11.5z M5.5,6c1.11,0,2-0.89,2-2s-0.89-2-2-2s-2,0.89-2,2S4.39,6,5.5,6z M7.5,22v-7H9V9 c0-1.1-0.9-2-2-2H4C2.9,7,2,7.9,2,9v6h1.5v7H7.5z M14,22v-4h1v-4c0-0.82-0.68-1.5-1.5-1.5h-2c-0.82,0-1.5,0.68-1.5,1.5v4h1v4H14z" />
            </svg>
          </a>
          <span class="block text-2xl">
            |
          </span>
        </div>

        <div class="flex items-center">
          <a class="relative text-gray-700 hover:text-gray-600 mx-1" href="#">
            <fa-icon [icon]="faBell" [styles]="{'color': '#3B82F6'}" size="lg"></fa-icon>
            <span class="absolute top-0 left-0 rounded-full bg-red-600 text-white p-1 text-xs"></span>
          </a>

          <div class="flex justify-center md:block leading-tight mx-2 my-1">
            <img src="./assets/img/profile_1.jpg" class="rounded-full w-12 h-12 mx-auto" />
          </div>

          <div class="flex justify-center md:block leading-tight mx-2 my-1">
            <span class="block text-xs">
              Hello,
            </span>
            <span class="block text-blue-500 font-medium">
              Dahyun, Kim
            </span>
          </div>
          
          <div>
            <div class="dropdown inline-block relative">
              <button class="bg-gray-300 text-gray-700 font-semibold py-2 px-2 rounded-2xl rounded inline-flex items-center">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
              </button>

              <ul class="dropdown-menu absolute hidden text-gray-700 pt-1 mr-1">
                <li class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">One</a></li>
                <li class=""><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Two</a></li>
                <li class=""><a class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Three is the magic number</a></li>
              </ul>
            </div>
          </div>

          <div class="flex md:hidden">
            <button type="button" class="text-gray-500 hover:text-gray-600 focus:outline-none focus:text-gray-600" aria-label="toggle menu">
              <svg viewBox="0 0 24 24" class="h-6 w-6 fill-current">
                <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="flex flex-row h-100">
    <nav class="bg-blue-500 w-20 justify-between flex flex-col rounded-tr-3xl">
      <div class="mt-15 mb-0">
        <div class="mt-20">
          <ul>
            <li class="mb-10">
              <a href="#">
                <span>
                  <svg
                    class="fill-current h-5 w-5 text-gray-300 mx-auto hover:text-green-500 "
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M14 3V3.28988C16.8915 4.15043 19 6.82898 19 10V17H20V19H4V17H5V10C5 6.82898 7.10851 4.15043 10 3.28988V3C10 1.89543 10.8954 1 12 1C13.1046 1 14 1.89543 14 3ZM7 17H17V10C17 7.23858 14.7614 5 12 5C9.23858 5 7 7.23858 7 10V17ZM14 21V20H10V21C10 22.1046 10.8954 23 12 23C13.1046 23 14 22.1046 14 21Z"
                      fill="currentColor"
                    />
                  </svg>
                </span>
              </a>
            </li>
            <li class="mb-10">
              <a href="#">
                <span>
                  <svg
                    class="fill-current h-5 w-5 mx-auto text-gray-300 hover:text-green-500"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M12 4a4 4 0 014 4 4 4 0 01-4 4 4 4 0 01-4-4 4 4 0
                        014-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4
                        8-4z"
                    ></path>
                  </svg>
                </span>
              </a>
            </li>
            <li class="mb-10">
              <a href="#">
                <span>
                  <svg
                    class="fill-current h-5 w-5 text-gray-300 mx-auto hover:text-green-500"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M12 13H7v5h5v2H5V10h2v1h5v2M8
                        4v2H4V4h4m2-2H2v6h8V2m10 9v2h-4v-2h4m2-2h-8v6h8V9m-2
                        9v2h-4v-2h4m2-2h-8v6h8v-6z"
                    ></path>
                  </svg>
                </span>
              </a>
            </li>
            <li>
              <a href="#">
                <span>
                  <svg
                    class="fill-current h-5 w-5 text-gray-300 mx-auto hover:text-green-500"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M22.775 8C22.9242 8.65461 23 9.32542 23 10H14V1C14.6746 1 15.3454 1.07584 16 1.22504C16.4923 1.33724 16.9754 1.49094 17.4442 1.68508C18.5361 2.13738 19.5282 2.80031 20.364 3.63604C21.1997 4.47177 21.8626 5.46392 22.3149 6.55585C22.5091 7.02455 22.6628 7.5077 22.775 8ZM20.7082 8C20.6397 7.77018 20.5593 7.54361 20.4672 7.32122C20.1154 6.47194 19.5998 5.70026 18.9497 5.05025C18.2997 4.40024 17.5281 3.88463 16.6788 3.53284C16.4564 3.44073 16.2298 3.36031 16 3.2918V8H20.7082Z"
                      fill="currentColor"
                    />
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M1 14C1 9.02944 5.02944 5 10 5C10.6746 5 11.3454 5.07584 12 5.22504V12H18.775C18.9242 12.6546 19 13.3254 19 14C19 18.9706 14.9706 23 10 23C5.02944 23 1 18.9706 1 14ZM16.8035 14H10V7.19648C6.24252 7.19648 3.19648 10.2425 3.19648 14C3.19648 17.7575 6.24252 20.8035 10 20.8035C13.7575 20.8035 16.8035 17.7575 16.8035 14Z"
                      fill="currentColor"
                    />
                  </svg>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
    <div class="px-8 py-4 ml-5 rounded-3xl bg-gray-800 text-gray-700 h-screen w-3/5 shadow-xl">
      
    </div>

    <div class="px-8 py-4 ml-5 rounded-3xl bg-gray-800 text-gray-700 h-screen w-2/5 shadow-xl">
      
    </div>
  </div>

</div>
