<div class="flex item-start flex-wrap shadow-md rounded-xl pb-5 mt-5">

  <div class="flex justify-between w-full bg-blue-500 px-5 py-3 rounded-tl rounded-tr">
    <h4 class="col-start-1 col-span-12 font-bold text-white text-md mt-2">Exposure History</h4>
  
    <button type="button" class="mt-1 px-4 py-1.5 bg-white text-gray-600 font-semibold text-md leading-normal rounded shadow-md hover:shadow-lg hover:ring-2 hover:ring-gray-300 transition duration-150 ease-in-out flex align-center transform hover:scale-110" (click)="toggleExpModal()">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon-tabler icon-tabler-pencil-plus mr-2" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M8 20l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4h4z"></path>
        <path d="M13.5 6.5l4 4"></path>
        <path d="M16 18h4m-2 -2v4"></path>
     </svg>Add
    </button> 

        <!-- <button type="submit" class="py-2 px-4 rounded-full bg-white text-gray-600 font-bold drop-shadow-md hoverborder-white-600 hoverbg-blue-400 hovertext-white shadow-md inline-flex items-center" name="add-btn">
          <label>Update</label>
        </button> -->
  </div>
  <p class="mt-4 px-5" *ngIf="patientid==null">No Patient Record Found!</p>
  <p class="mt-4 px-5" *ngIf="patientid==1">Patient Record Found!</p>
</div>

<!-- Modal Header -->
<div *ngIf="showExpModal" id="defaultModal" tabindex="-1" class=" fixed top-0 right-0 left-0 w-full md:inset-0 h-modal md:h-full justify-center items-center flex" aria-modal="true" role="dialog" style="z-index:60">
  <div class="relative p-4 w-full max-w-3xl h-auto md:h-auto">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div class="flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600 bg-white">
              <h3 class="mt-1 font-bold text-blue-500 text-md dark:text-white">
                Exposure History Consultation
              </h3>
              <button type="button" class="text-gray-900 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" (click)="toggleExpModal()">
                  <svg aria-hidden="true" class="w-5 h-5 rounded" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                  <span class="sr-only">Close modal</span>
              </button>
          </div>
          <!-- Modal body -->
        <div class="overflow-y-auto h-96 scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100">
          <div class="grid grid-cols-12 mb-4">

            <div class="relative col-start-1 col-span-4 mt-5 px-5">
              <h4 class="mb-2 text-sm">Date of Consultation</h4>
              <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon-tabler icon-tabler-calendar-event text-blue-500 mt-7 ml-5" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <rect x="4" y="5" width="16" height="16" rx="2"></rect>
                  <line x1="16" y1="3" x2="16" y2="7"></line>
                  <line x1="8" y1="3" x2="8" y2="7"></line>
                  <line x1="4" y1="11" x2="20" y2="11"></line>
                  <rect x="8" y="15" width="2" height="2"></rect>
               </svg>
              </div>
             <input type="text" placeholder="Input text here" onfocus="(this.type='date')" class="mt-1 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input" placeholder="Select Date">
            
          </div>
            
              <div class="col-start-5 col-span-4 w-full px-5 mt-5">
                    <h1 class="mb-2 text-sm">Type of Animal</h1>
                    <select class="bg-white border-gray-300 p-2.5 text-sm rounded-lg w-full" ng-model="vm.ncd.family_hx_hypertension" name="family_hx_hypertension">
                      <option value="" disabled selected>Select Type</option>
                      <option ng-value="animals.desc" *ngFor="let animals of animal_type">
                    {{animals.desc}}
                    </option>    
                    </select>
              </div>
            
              <div class="col-start-9 col-span-4 w-full px-5 mt-5">
                <h1 class="mb-2 text-sm">Ownership</h1>
                <select class="bg-white border-gray-300 p-2.5 text-sm rounded-lg w-full" ng-model="vm.ncd.family_hx_hypertension" name="family_hx_hypertension">
                  <option value="" disabled selected>Select Ownership</option>
                  <option ng-value="ownerships.desc" *ngFor="let ownerships of ownership">
                {{ownerships.desc}}
                </option>    
                </select>
            </div>
            
            <div class=" row-start-2 col-start-1 col-span-4 px-5 mt-5">
              <h4 class="mb-2 text-sm">Place of Exposure</h4>
              <input class="border-gray-300 p-2.5 text-sm rounded-lg w-full bg-white"
                      type="text" name="date" formControlName="aDate" required="true">
            </div>
            
            <div class="row-start-2 col-start-5 col-span-4 w-full px-5 mt-5">
              <h1 class="mb-2 text-sm">Anatomical Location</h1>
              <select class="bg-white border-gray-300 p-2.5 text-sm rounded-lg w-full" ng-model="vm.ncd.family_hx_hypertension" name="family_hx_hypertension">
                <option value="" disabled selected>Select Location</option>
                <option ng-value="ana_loc.desc" *ngFor="let ana_loc of anatomical_loc">
              {{ana_loc.desc}}
              </option>    
              </select>
            </div>
            
            
              <div class=" row-start-2 col-start-9 col-span-4 px-5 mt-5">
                  <h4 class="mb-2 text-sm">If others please specify</h4>
                  <input class="border-gray-300 p-2.5 text-sm rounded-lg w-full bg-white"
                          type="text" name="date" formControlName="aDate" required="true">
              </div>
            
              <div class="col-start-1 col-span-12 row-start-3 border-b-2 border-dashed border-gray-300 mt-5 mb-5 mx-5"></div>
            
              <div class="row-start-4 col-start-1 col-span-4 w-full px-5">
                <h1 class="mb-2 text-sm">Type of Exposure</h1>
                <select class="form-select text-ellipsis bg-white border-gray-300 p-2.5 text-sm rounded-lg w-full" ng-model="vm.ncd.family_hx_hypertension" name="family_hx_hypertension">
                  <option value="" disabled selected>Select Type</option>
                  <option ng-value="exp_type.desc" *ngFor="let exp_type of exposure_type">
                {{exp_type.desc}}
                </option>    
                </select>
              </div>
            
              <div class="row-start-4 col-start-5 col-span-4 w-full px-5">
                <h1 class="mb-2 text-sm">Washing of Bite</h1>
                <select class="bg-white  border-gray-300 p-2.5 text-sm rounded-lg w-full" ng-model="vm.ncd.family_hx_hypertension" name="family_hx_hypertension">
                <option ng-value="washes.desc" *ngFor="let washes of wash">
                {{washes.desc}}
                </option>    
                </select>
              </div>
            
              <div class="row-start-4 col-start-9 col-span-4 w-full px-5">
                <h1 class="mb-2 text-sm">with PEP?</h1>
                <select class="bg-white  border-gray-300 p-2.5 text-sm rounded-lg w-full" ng-model="vm.ncd.family_hx_hypertension" name="family_hx_hypertension">
                <option ng-value="wpep.desc" *ngFor="let wpep of withpep">
                {{wpep.desc}}
                </option>    
                </select>
              </div>
            
              <div class=" row-start-5 col-start-1 col-span-12 px-5 mt-5">
                <h4 class="mb-2 text-sm">Name of Tandok</h4>
                <input class="border-gray-300 p-2.5 text-sm rounded-lg w-full bg-white"
                        type="text" name="date" formControlName="aDate" required="true">
              </div>
            
              <div class=" row-start-6 col-start-1 col-span-12 px-5 mt-5">
                <h4 class="mb-2 text-sm">Address</h4>
                <input class="border-gray-300 p-2.5 text-sm rounded-lg w-full bg-white"
                        type="text" name="date" formControlName="aDate" required="true">
              </div>
            
              <div class=" row-start-7 col-start-1 col-span-12 px-5 mt-5 mb-4">
                <h4 class="mb-2 text-sm">Remarks</h4>
                <input class="border-gray-300 p-2.5 text-sm rounded-lg w-full bg-white"
                        type="text" name="date" formControlName="aDate" required="true">
              </div>
              
            </div>
          </div>  

          <!-- Modal footer -->
          <div class="flex justify-end py-4 px-6 space-x-4 rounded-b border-t border-gray-200 dark:border-gray-600">
              <button  type="button" class="text-white bg-red-500 hover:ring-2 hover:ring-red-300 focus:outline-none rounded text-sm font-medium px-6 py-2.5 transition duration-150 ease-in-out transform hover:scale-110" (click)="toggleExpModal()">Close</button>
              <button  type="button" class="text-white bg-blue-500 hover:ring-2 hover:ring-blue-300 focus:outline-none font-medium rounded text-sm px-6 py-2.5 text-center transition duration-150 ease-in-out transform hover:scale-110" (click)="toggleExpModal()">Save</button>
          </div>
      </div>
  </div>
</div>

<div *ngIf="showExpModal" class="opacity-50 fixed inset-0 z-50 bg-black"></div>