<div class="flex item-start flex-wrap shadow-md rounded-xl pb-5 mt-5">

    <div class=" flex justify-between w-full bg-blue-500 px-5 py-3 rounded-tl rounded-tr">
      <h4 class="col-start-1 col-span-12 font-bold text-white text-md mt-2">Exposure History</h4>
    
      <button class="py-2 px-4 rounded-full bg-white text-gray-600 font-bold drop-shadow-md hover:border-white-600 hover:bg-blue-400 hover:text-white shadow-md inline-flex items-center" name="add-btn" (click)="toggleExpModal()">
        <label> <fa-icon class="text-sm" [icon]="faPlus"></fa-icon> Add</label>
      </button>  

    </div>
    <p class="mt-4 px-5" *ngIf="patientid==null">No Patient Record Found!</p>
    <p class="mt-4 px-5" *ngIf="patientid==1">Patient Record Found!</p>
</div>

<!-- Modal Header -->

<div *ngIf="showExpModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 outline-none focusoutline-none justify-center items-center flex" style="z-index:60">
  <div class="relative w-auto my-6 mx-auto max-w-6xl">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focusoutline-none">
      <!--header-->
      <div class="flex items-start justify-between bg-blue-500 p-5 border-b border-solid border-gray-300 rounded-t">
        <h4 class="font-bold text-white align-middle text-md mt-2">
          Exposure History Consultation
        </h4>
      </div>

<!-- Modal Body -->

<div class="grid grid-cols-12 modal-body mb-4">

  <div class="relative col-start-1 col-span-4 px-5 mt-8">
      <h4 class="mb-2 text-blue-500 font-semibold">Date of Consultation</h4>
      <input class="border-gray-300 px-2 pt-1 pb-1 rounded-md w-full bg-white"
      type="text" placeholder="SELECT DATE" onfocus="(this.type='date')" name="date" formControlName="aDate" required="true">
      <span class="icon"><fa-icon [icon]="faCalendarDay" class="text-blue-500"></fa-icon></span>
  </div>

  <div class="col-start-5 col-span-4 w-full px-5 mt-8">
        <h1 class="mb-2 text-blue-500 font-semibold">Type of Animal</h1>
        <select class="bg-white  border-gray-300 px-2 pt-1 pb-1 rounded w-full" ng-model="vm.ncd.family_hx_hypertension" name="family_hx_hypertension">
        <option ng-value="animals.desc" *ngFor="let animals of animal_type">
        {{animals.desc}}
        </option>    
        </select>
  </div>

  <div class="col-start-9 col-span-4 w-full px-5 mt-8">
    <h1 class="mb-2 text-blue-500 font-semibold">Ownership</h1>
    <select class="bg-white  border-gray-300 px-2 pt-1 pb-1 rounded w-full" ng-model="vm.ncd.family_hx_hypertension" name="family_hx_hypertension">
    <option ng-value="ownerships.desc" *ngFor="let ownerships of ownership">
    {{ownerships.desc}}
    </option>    
    </select>
</div>

<div class=" row-start-2 col-start-1 col-span-4 px-5 mt-8">
  <h4 class="mb-2 text-blue-500 font-semibold">Place of Exposure</h4>
  <input class="border-gray-300 px-2 pt-1 rounded-md w-full bg-white"
          type="text" name="date" formControlName="aDate" required="true">
</div>

<div class="row-start-2 col-start-5 col-span-4 w-full px-5 mt-8">
  <h1 class="mb-2 text-blue-500 font-semibold">Anatomical Location</h1>
  <select class="bg-white  border-gray-300 px-2 pt-1 pb-1 rounded w-full" ng-model="vm.ncd.family_hx_hypertension" name="family_hx_hypertension">
  <option ng-value="ana_loc.desc" *ngFor="let ana_loc of anatomical_loc">
  {{ana_loc.desc}}
  </option>    
  </select>
</div>


  <div class=" row-start-2 col-start-9 col-span-4 px-5 mt-8">
      <h4 class="mb-2 text-blue-500 font-semibold">If others please specify</h4>
      <input class="border-gray-300 px-2 pt-1 rounded-md w-full bg-white"
              type="text" name="date" formControlName="aDate" required="true">
  </div>

  <div class="col-start-1 col-span-12 row-start-3 border-b-2 border-dashed border-gray-300 my-8 mx-5"></div>

  <div class="row-start-4 col-start-1 col-span-4 w-full px-5">
    <h1 class="mb-2 text-blue-500 font-semibold">Type of Exposure</h1>
    <select class="form-select text-ellipsis bg-white border-gray-300 px-2 pt-1 pb-1 rounded w-full" ng-model="vm.ncd.family_hx_hypertension" name="family_hx_hypertension">
    <option ng-value="exp_type.desc" *ngFor="let exp_type of exposure_type">
    {{exp_type.desc}}
    </option>    
    </select>
  </div>

  <div class="row-start-4 col-start-5 col-span-4 w-full px-5">
    <h1 class="mb-2 text-blue-500 font-semibold">Washing of Bite</h1>
    <select class="bg-white  border-gray-300 px-2 pt-1 pb-1 rounded w-full" ng-model="vm.ncd.family_hx_hypertension" name="family_hx_hypertension">
    <option ng-value="washes.desc" *ngFor="let washes of wash">
    {{washes.desc}}
    </option>    
    </select>
  </div>

  <div class="row-start-4 col-start-9 col-span-4 w-full px-5">
    <h1 class="mb-2 text-blue-500 font-semibold">with PEP?</h1>
    <select class="bg-white  border-gray-300 px-2 pt-1 pb-1 rounded w-full" ng-model="vm.ncd.family_hx_hypertension" name="family_hx_hypertension">
    <option ng-value="wpep.desc" *ngFor="let wpep of withpep">
    {{wpep.desc}}
    </option>    
    </select>
  </div>

  <div class=" row-start-5 col-start-1 col-span-12 px-5 mt-8">
    <h4 class="mb-2 text-blue-500 font-semibold">Name of Tandok</h4>
    <input class="border-gray-300 px-2 pt-1 rounded-md w-full bg-white"
            type="text" name="date" formControlName="aDate" required="true">
  </div>

  <div class=" row-start-6 col-start-1 col-span-12 px-5 mt-8">
    <h4 class="mb-2 text-blue-500 font-semibold">Address</h4>
    <input class="border-gray-300 px-2 pt-1 rounded-md w-full bg-white"
            type="text" name="date" formControlName="aDate" required="true">
  </div>

  <div class=" row-start-7 col-start-1 col-span-12 px-5 mt-8 mb-4">
    <h4 class="mb-2 text-blue-500 font-semibold">Remarks</h4>
    <input class="border-gray-300 px-2 pt-1 rounded-md w-full bg-white"
            type="text" name="date" formControlName="aDate" required="true">
  </div>
  
</div>

<!--footer-->
<div class="flex items-center justify-end py-2 px-9 border-t-2 border-solid border-gray-300 rounded-b">
  <button class="text-red-500 background-transparent font-bold uppercase px-6 py-6 text-sm outline-none focusoutline-none mr-1 mb-1" type="button" style="transition: all .15s ease" (click)="toggleExpModal()">
    Close
  </button>
  <button class="bg-blue-500 text-white activebg-green-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hovershadow-lg outline-none focusoutline-none mr-1 mb-1" type="button" style="transition :all .15s ease"  (click)="toggleExpModal()">
    Save
  </button>
</div>
</div>
</div>
</div>
<div *ngIf="showExpModal" class="opacity-75 fixed inset-0 z-50 bg-black"></div>