<div id="defaultModal" tabindex="-1" class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 w-full md:inset-0 h-modal md:h-full justify-center items-center flex" aria-modal="true" role="dialog" style="z-index:60">
  <div class="relative p-4 w-full max-w-3xl h-auto md:h-auto">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow">
      <!-- Modal header -->
      <div class="flex justify-between items-start py-3 px-5 rounded-t border-b bg-sky-500">
        <h3 class="text-sm font-bold text-white">
          Alleged Perpetrator Details
        </h3>
      </div>
      <!-- Modal body -->
      <div class="overflow-y-auto h-[500px] scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100">
        <form [formGroup]="perpetratorForm" *ngIf="show_form"  (submit)="onSubmit()" class="text-left text-gray-500 m-5">
          <div class="grid grid-cols-4 gap-4">
            <div class="col-span-2">
              <label for="gender" [ngClass]="{'text-red-500': show_error && f.case_number.errors}">Gender</label>
              <select name="gender" id="gender" formControlName="gender" class="input" [ngClass]="{'invalid-input': show_error && f.gender.errors}">
                <option *ngFor="let gender of genders" [value]="gender.id">{{ gender.desc }}</option>
              </select>
            </div>

            <div class="col-span-2 mt-7">
              <input type="checkbox" id="lgbtq_flag" formControlName="lgbtq_flag" class="input-checkbox" />
              <label for="lgbtq_flag" class="pl-3 py-0.5">LGBTQ</label>
            </div>

            <div class="col-span-4 mt-7">
              <input type="checkbox" id="perpetrator_unknown_flag" formControlName="perpetrator_unknown_flag" class="input-checkbox" />
              <label for="perpetrator_unknown_flag" class="pl-3 py-0.5">Is the perpetrator unknown?</label>
            </div>

            <div class="col-span-4 grid grid-cols-2 gap-4" *ngIf="!perpetratorForm.value.perpetrator_unknown_flag">
              <div class="col-span-2">
                <label for="perpetrator_name" [ngClass]="{'text-red-500': show_error && f.perpetrator_name.errors}">Full name</label>
                <input type="text" name="perpetrator_name" id="perpetrator_name" formControlName="perpetrator_name" class="input" [ngClass]="{'invalid-input': show_error && f.perpetrator_name.errors}">
              </div>

              <div>
                <label for="perpetrator_nickname" [ngClass]="{'text-red-500': show_error && f.perpetrator_nickname.errors}">Nickname</label>
                <input type="text" name="perpetrator_nickname" id="perpetrator_nickname" formControlName="perpetrator_nickname" class="input" [ngClass]="{'invalid-input': show_error && f.perpetrator_nickname.errors}">
              </div>

              <div>
                <label for="perpetrator_age" [ngClass]="{'text-red-500': show_error && f.perpetrator_age.errors}">Age</label>
                <input type="number" name="perpetrator_age" id="perpetrator_age" formControlName="perpetrator_age" class="input" [ngClass]="{'invalid-input': show_error && f.perpetrator_age.errors}">
              </div>

              <div>
                <label for="occupation_code" [ngClass]="{'text-red-500': show_error && f.occupation_code.errors}">Occupation</label>
                <select name="occupation_code" id="occupation_code" formControlName="occupation_code" class="input" [ngClass]="{'invalid-input': show_error && f.occupation_code.errors}">
                  <option *ngFor="let occupation of occupations" [value]="occupation.code">{{ occupation.occupation_desc }}</option>
                </select>
              </div>

              <div>
                <label for="education_code" [ngClass]="{'text-red-500': show_error && f.education_code.errors}">Education</label>
                <select name="education_code" id="education_code" formControlName="education_code" class="input" [ngClass]="{'invalid-input': show_error && f.education_code.errors}">
                  <option *ngFor="let education of educations" [value]="education.code">{{ education.education_desc }}</option>
                </select>
              </div>

              <div class="col-span-2">
                <input type="checkbox" formControlName="known_to_child_flag" class="input-checkbox" />
                <label for="known_to_child_flag" class="pl-3 py-0.5">Is the person known to child/adolescent/woman?</label>
              </div>

              <div>
                <label for="relation_to_child_id" [ngClass]="{'text-red-500': show_error && f.relation_to_child_id.errors}">Relation to child</label>
                <select name="relation_to_child_id" id="relation_to_child_id" formControlName="relation_to_child_id" class="input" [ngClass]="{'invalid-input': show_error && f.relation_to_child_id.errors}">
                  <option *ngFor="let relation of child_relations" [value]="relation.id">{{ relation.desc }}</option>
                </select>
              </div>

              <div>
                <label for="location_id" [ngClass]="{'text-red-500': show_error && f.location_id.errors}">Current location</label>
                <select name="location_id" id="location_id" formControlName="location_id" class="input" [ngClass]="{'invalid-input': show_error && f.location_id.errors}">
                  <option *ngFor="let loc of perpetrator_locations" [value]="loc.id">{{ loc.desc }}</option>
                </select>
              </div>

              <div class="col-span-2">
                <label for="perpetrator_address" [ngClass]="{'text-red-500': show_error && f.perpetrator_address.errors}">Permanent Address/location</label>
                <input type="text" name="perpetrator_address" id="perpetrator_address" formControlName="perpetrator_address" class="input" [ngClass]="{'invalid-input': show_error && f.perpetrator_address.errors}">
              </div>

              <div class="col-span-2">
                <label for="perpetrator_current_address" [ngClass]="{'text-red-500': show_error && f.perpetrator_address.errors}">Current Address/location</label>
                <input type="text" name="perpetrator_current_address" id="perpetrator_current_address" formControlName="perpetrator_current_address" class="input" [ngClass]="{'invalid-input': show_error && f.perpetrator_address.errors}">
              </div>

              <div class="col-span-2 text-sky-500 font-semibold">
                History of substance abuse
              </div>

              <div class="col-span-2 grid grid-cols-4 gap-4">
                <!-- <div>
                  <input type="checkbox" formControlName="unknown_abused_flag" class="input-checkbox" />
                  <label for="unknown_abused_flag" class="pl-3 py-0.5">Unkown</label>
                </div> -->

                <div>
                  <input type="checkbox" formControlName=abuse_alcohol_flag class="input-checkbox" />
                  <label for="abuse_alcohol_flag" class="pl-3 py-0.5">Alcohol</label>
                </div>

                <div>
                  <input type="checkbox" formControlName="abuse_drugs_flag" class="input-checkbox" />
                  <label for="abuse_drugs_flag" class="pl-3 py-0.5">Drugs</label>
                </div>

                <div>
                  <input type="checkbox" formControlName="abuse_others_flag" class="input-checkbox" />
                  <label for="abuse_others_flag" class="pl-3 py-0.5">Other substance</label>
                </div>
              </div>

              <div>
                <label for="abuse_drugs_remarks" [ngClass]="{'text-red-500': show_error && f.abuse_drugs_remarks.errors}">Name of drugs</label>
                <input type="text" name="abuse_drugs_remarks" id="abuse_drugs_remarks" formControlName="abuse_drugs_remarks" class="input" [ngClass]="{'invalid-input': show_error && f.abuse_drugs_remarks.errors}">
              </div>

              <div>
                <label for="abuse_others_remarks" [ngClass]="{'text-red-500': show_error && f.abuse_others_remarks.errors}">Name of substance</label>
                <input type="text" name="abuse_others_remarks" id="abuse_others_remarks" formControlName="abuse_others_remarks" class="input" [ngClass]="{'invalid-input': show_error && f.abuse_others_remarks.errors}">
              </div>

              <div class="col-span-2 text-sky-500 font-semibold">
                History of violence
              </div>

              <div class="col-span-2 grid grid-cols-3 gap-4">
                <!-- <div>
                  <input type="checkbox" class="input-checkbox" />
                  <label class="pl-3 py-0.5">Unknown</label>
                </div> -->

                <div>
                  <input type="checkbox"formControlName=abused_as_child_flag class="input-checkbox" />
                  <label for="abused_as_child_flag" class="pl-3 py-0.5">Abused as a child</label>
                </div>

                <div>
                  <input type="checkbox" formControlName="abused_as_spouse_flag" class="input-checkbox" />
                  <label for="abused_as_spouse_flag" class="pl-3 py-0.5">Abused as a spouse</label>
                </div>

                <div>
                  <input type="checkbox" formControlName="spouse_abuser_flag" class="input-checkbox" />
                  <label for="spouse_abuser_flag" class="pl-3 py-0.5">Spouse abuser</label>
                </div>

                <div class="col-span-2">
                  <input type="checkbox" formControlName="family_violence_flag" class="input-checkbox" />
                  <label for="family_violence_flag" class="pl-3 py-0.5">Withness family violence</label>
                </div>
              </div>

              <div class="col-span-2 text-sky-500 font-semibold">
                Criminal History
              </div>

              <!-- <div>
                <input type="checkbox" class="input-checkbox" />
                <label class="pl-3 py-0.5">Unknown</label>
              </div> -->

              <div>
                <input type="checkbox" formControlName="criminal_conviction_similar_flag" class="input-checkbox" />
                <label for="criminal_conviction_similar_flag" class="pl-3 py-0.5">Previous conviction for similar offense</label>
              </div>

              <div>
                <input type="checkbox" formControlName="criminal_conviction_other_flag" class="input-checkbox" />
                <label for="criminal_conviction_other_flag" class="pl-3 py-0.5">Previous conviction for other offense</label>
              </div>

              <div>
                <input type="checkbox" formControlName="criminal_barangay_flag" class="input-checkbox" />
                <label for="criminal_barangay_flag" class="pl-3 py-0.5">Previous police blotter/barangay report</label>
              </div>

              <div class="col-span-2">
                <label for="criminal_barangay_remarks" [ngClass]="{'text-red-500': show_error && f.criminal_barangay_remarks.errors}">Reported for</label>
                <input type="text" name="criminal_barangay_remarks" id="criminal_barangay_remarks" formControlName="criminal_barangay_remarks" class="input" [ngClass]="{'invalid-input': show_error && f.criminal_barangay_remarks.errors}">
              </div>

            </div>

          </div>
        </form>

        <div class="grid grid-cols-1  mt-32" *ngIf="!show_form">
          <span class="flex justify-center text-sky-500">
            <fa-icon [icon]="faCircleNotch" spin="true" class=""></fa-icon>
          </span>
          <span class="flex justify-center">
            Loading...
          </span>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="flex justify-end py-4 px-5 space-x-4 rounded-b border-t border-gray-200">
        <button type="button" class="btn-save bg-gray-400" (click)="closeModal()">Close</button>
        <button [disabled]="is_saving || perpetratorForm.invalid" type="submit" class="btn-save px-10 disabled:bg-gray-300" (click)="onSubmit()" >
          <fa-icon [icon]="faSave" *ngIf="!is_saving"></fa-icon>
          <fa-icon [icon]="faCircleNotch" *ngIf="is_saving" animation="spin"></fa-icon>
          {{ perpetratorForm.value.id ? (is_saving ? 'Updating' : 'Update') : (is_saving ? 'Saving' : 'Save') }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="opacity-50 fixed inset-0 z-50 bg-black"></div>
