<div class="block  mx-5 mb-5">
  <div class="flex justify-between items-center">
    <span class="block text-blue-500 font-medium text-sm select-none" [ngClass]="{'opacity-70': (vaccine_list?.length === 0 || !vaccine_list)}">
      <fa-icon *ngIf="vaccine_list?.length > 0" (click)="toggle('vaccines')" class="mx-0 my-0 mr-2 hover:cursor-pointer" [icon]="accordions['vaccines'] ? faChevronUp : faChevronDown"></fa-icon>
      <fa-icon *ngIf="vaccine_list?.length === 0 || !vaccine_list" class="mx-0 my-0 mr-2" [icon]="faMinus"></fa-icon>
      VACCINES {{ vaccine_list?.length > 0 ? '('+vaccine_list.length+')' : '' }}
    </span>
    <fa-icon (click)="modalToggle('vaccine')" class="mx-0 my-0 text-blue-500 mr-2 hover:cursor-pointer" [icon]="faPlusCircle"></fa-icon>
  </div>

  <div *ngIf="!show_vaccines" >
    <div class="p-4 mx-auto">
      <div class="animate-pulse grid grid-cols-2 gap-x-20 gap-y-4 justify-between">
        <div class="h-2 bg-slate-200 rounded"></div>
        <div class="h-2 bg-slate-200 rounded"></div>
        <div class="h-2 bg-slate-200 rounded"></div>
        <div class="h-2 bg-slate-200 rounded"></div>
        <div class="h-2 bg-slate-200 rounded"></div>
        <div class="h-2 bg-slate-200 rounded"></div>
      </div>
    </div>
  </div>

  <div *ngIf="show_vaccines && vaccine_list?.length > 0" >
    <div [@openCloseAccordion] *ngIf="accordions['vaccines']" class="block">
      <div class="flex pl-3 justify-between items-center mb-5 border-b border-b-gray-100">
        <span class="font-medium text-xs flex-auto">
          <span class="font-semibold">IMMUNIZATION STATUS: </span> <br /><span class="font-bold text-l">{{ immunization_status?.immunization_status ?? '-' }}</span>
        </span>
        <span class="italic text-xs flex-auto text-right"><br />{{ immunization_status?.immunization_status ? (immunization_status?.vaccine_date | date: 'MM/dd/yyyy':'Asia/Manila') : '-' }}</span>
      </div>
      <div class="flex pl-3 justify-between items-center mb-3 border-b border-b-gray-100" *ngFor="let vaccine of vaccine_list">

        <fa-icon (click)="toggleActionModal('vaccine-action', vaccine)" class="mx-0 my-0 text-amber-400 hover:cursor-pointer flex-none mr-2" [icon]="faPenToSquare"></fa-icon>
        <span class="font-medium text-xs flex-auto">
          <span class="font-bold">{{ covid_array.includes(vaccine.vaccine_id) ? vaccine.vaccines.vaccine_desc : vaccine.vaccine_id }} - {{ vaccine.dose }} Dose</span> <br />({{ vaccine.status_id === 1 ? 'Done' : (vaccine.status_id === 2 ? 'Done Outside - Private' : 'Done Outside - Public') }})
        </span>
        <span class="italic text-xs flex-auto text-right">
          {{ !vaccine.vaccine_date ? '-' : vaccine.vaccine_date | date: 'MM/dd/yyyy':'Asia/Manila'}}
        </span>
      </div>
    </div>
  </div>
</div>
