<div class="flex w-full" >
  

  <div class="w-9/12 h-screen shadow px-2 mt-5 ml-5 rounded-3xl text-gray-600 shadow-md overflow-y-scroll">
   
    <div class="w-12/12 px-8 pb-10 ">
      <app-firsvisit></app-firsvisit>
    </div>

    <div class="w-12/12 px-8 pb-10 ">
      <app-fphx></app-fphx>
    </div>

    <div class="w-12/12 px-8 pb-10 ">
      <app-obshx></app-obshx>
    </div> 

    <div class="w-12/12 px-8 pb-10 ">
      <app-fppe></app-fppe>
    </div> 

    <div  class="w-12/12 px-8 pb-10 "> 
        <app-pelvic></app-pelvic> 
    </div>

    <div  class="w-12/12 px-8 pb-10 "> 
      <app-methods></app-methods> 
    </div>
    <div class="w-12/12 px-8 pb-24 mb-10 ">
      <app-fpchart></app-fpchart>
    </div>

  </div>
  <div class="w-3/12">
    <app-patient-info></app-patient-info>

  </div>
</div>




