<div class="flex w-full" >
  <div class="w-3/12">
    <app-patient-itr></app-patient-itr>
  </div>

  <div class="w-9/12 h-screen shadow px-2 py-4 ml-5 rounded-3xl text-gray-600 shadow-md overflow-y-scroll">
   
    <div class="w-12/12 h-2/3 min-h-1/8 px-8 py-5 border-b border-gray-400">
      <app-firstvisit></app-firstvisit>
    </div>

    <div class="w-12/12 h-2/3 min-h-1/8 px-8 py-5 border-b border-gray-400">
      <app-fpchart></app-fpchart>
    </div>

    <div class="w-12/12 h-2/3 px-8 border-b py-5 border-gray-400">
      <app-fphx></app-fphx>
    </div>

    <div class="w-12/12 h-2/3 px-8 border-b py-5 border-gray-400">
      <app-fppe></app-fppe>
    </div>

    <div class="w-12/12 h-2/3 px-8 border-b py-5 border-gray-400"> 
        <app-pelvicexam ></app-pelvicexam> <!-- modal -->
    </div>
      
      

    
    <div class="text-white w-12/12 h-32 px-8 border-b py-5 border-gray-400">
      sqsqsqsqsqs
    </div>
  </div>
</div>
  
  <script> 
  showModal.addEventListener('click', function (){
    modal.classList.remove('hidden')
  });

  closeModal.forEach(close => {
    close.addEventListener('click', function (){
      modal.classList.add('hidden')
    });
  });
</script>



