<form [formGroup]="risk_form" (ngSubmit)="saveForm(risk_form.value)">
    <div class="grid gap-4 relative" style="grid-template-columns: repeat(16, minmax(0, 1fr));" *ngIf="!focused">
        <div class="sticky top-0 z-50 border border-blue-400 col-span-2 relative mx-2 px-2 py-1 rounded-t-lg text-sm bg-blue-500 text-white"
            style="grid-column: span 16 / span 16;"><button class="font-bold" type="button">Risk Factors</button>
            <div class="absolute top-1" style="left: 5.5rem;">
                <fa-icon [icon]="faInfoCircle" class=" peer ml-4 text-white hover:text-gray-500 z-50"></fa-icon>
                <div
                    class="absolute text-sm bg-gradient-to-b from-stone-500 to-gray-400 p-2 rounded-md border border-gray-500  text-white drop-shadow-lg opacity-90 border-check z-50 w-64 invisible peer-hover:visible">
                    <h1 class="font-bold drop-shadow-lg">IMPORTANT</h1>
                    <p class="font-light drop-shadow-lg">Once saved, the information will be displayed in the input
                        boxes and shall not be editable unless Edit button is pressed.</p>
                </div>
            </div>
        </div>

        <div style="grid-column: span 16 / span 16;" class="relative drop-modal">
            <div class=" drop-modal grid gap-4 hover:drop-shadow-lg drop-shadow-md bg-white rounded-b-lg hover:border border-gray-300 hover:border-blue-400 p-2 m-2 border -mt-5"
                style="grid-template-columns: repeat(14, minmax(0, 1fr));">

                <div class=" col-span-10 border-check relative select-none" *ngIf="!focused">
                    <h3 for="risk_id">Risk Factors</h3>
                    <select formControlName="risk_id" (change)="onKeyUp($event.target.value, $event.target.id)"

                        (keyup)="onKeyUp($event.target.value, $event.target.id)"
                        (keyup.escape)="$event.target.value = ''; onKeyUp($event.target.value, $event.target.id)"
                        id="risk_id"
                        class="z-50 peer text-ellipsis bg-white text-align-left drop_btn border-check focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none rounded border-solid border border-zinc-300 placeholder-black placeholder-opacity-100 disabled:cursor-not-allowed">
                    <!-- <input type="text" id="searchbar" placeholder="search.." value="a" (blur)="searchblur()" class="z-40 absolute left-0 top-10 text-ellipsis bg-white text-align-left drop_btn border-check focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none rounded border-solid border border-zinc-300 placeholder-black placeholder-opacity-100 disabled:cursor-not-allowed"> -->
                        <option *ngFor="let factors of risk_factors" class="p-2 flex-wrap"
                            [class]="factors.hospital_flag == false && factors.monitor_flag == true? 'text-blue-500' : ''"
                            [style]="factors.hospital_flag == true && factors.monitor_flag == false?'color: rgb(220 38 38);':''"
                            value="{{factors.id}}">
                            {{ factors.risk_name }}
                        </option>
                    </select>
                    <div *ngIf="is_saving && risk_form.controls.risk_id.errors" class="invalid-alert">
                        <div *ngIf="risk_form.controls.risk_id.errors?.['required']">
                            Required field
                        </div>
                    </div>
                </div>

                <div class=" col-span-4" *ngIf="!focused">
                    <h3 for="date_detected">Date Detected</h3>
                    <div class="grid grid-cols-10">
                        <div class="icon-height col-span-2 p-2 pt-1 rounded-l border-solid border border-zinc-300">
                            <fa-icon [icon]="faCalendarDay" size="lg" class="text-blue-500" for="date_detected">
                            </fa-icon>
                        </div>
                        <input formControlName="date_detected" id="date_detected" name="date_detected" type="date" max="{{today.toLocaleDateString('en-CA')}}"
                            class="col-span-8 rounded-r border-solid border border-l-0 border-zinc-300 focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none disabled:cursor-not-allowed"
                            width="auto"
                            (keyup.escape)="$event.target.value = ''; onKeyUp($event.target.value, $event.target.id)"
                            (change)="onKeyUp($event.target.value, $event.target.id)">
                    </div>
                    <div *ngIf="is_saving && risk_form.controls.date_detected.errors" class="invalid-alert">
                        <div *ngIf="risk_form.controls.date_detected.errors?.['required']">
                            Required field
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="z-50 absolute top-0 drop-modal-reverse grid gap-4 rounded-lg hover:drop-shadow-lg drop-shadow-md bg-white rounded-lg hover:border border-gray-300 hover:border-blue-400 p-2 m-2 border"
                style="grid-template-columns: repeat(14, minmax(0, 1fr));">
            </div> -->
        </div>
        <div class=" drop-modal relative w-auto border-check mb-2 -mt-5"
            *ngIf="!focused && !risk_form.disabled"
            style="grid-column: span 14 / span 14; grid-column-start: 3;">
            <!-- <div class="absolute inline-flex right-0 top-0" style=" top: -0.85rem;">
                <div class="flex hover: border-check bg-white hover:bg-gray-400 text-gray-400 py-1 rounded-full hover:text-white px-2 cursor-pointer"
                    (click)="cancel()">
                    <fa-icon [icon]="faTimes" size="lg" class="mr-2">
                    </fa-icon>
                    <button type="button" class="font-bold button-out border-check-red typed-out">Cancel</button>
                </div>
                <div class="flex hover: border-check bg-white hover:bg-green-400 py-1 rounded-full text-green-500 hover:text-white px-2 cursor-pointer"
                    (click)="saveForm(risk_form.value)">
                    <fa-icon [icon]="faSave" size="lg" class="mr-2 ">
                    </fa-icon>
                    <button type="button" class="font-bold button-out border-check-red" [disabled]="risk_form.invalid"
                        (keyup.enter)="saveForm(risk_form.value)">Save</button>
                </div>
            </div> -->
            <div class="relative w-auto border-check mt-2 mb-7 w-12/12" *ngIf="!focused && risk_form.enabled">
                <div class="absolute inline-flex right-0 ">
                    <div *ngIf="saved" class="border rounded-md bg-green-200 text-green-400 px-2 ease-in-out duration-1000">Successfully Saved!</div>
                    <div (click)="cancel()"
                        class="cursor-pointer flex border-check bg-white hover:drop-shadow-md hover:bg-gray-400 py-1 rounded-full text-gray-400 hover:text-white pl-2 pr-2 peer">
                        <fa-icon [icon]="faTimes" size="lg" class="mr-2">
                        </fa-icon>
                        <button type="button" class="font-bold button-out border-check-red">Cancel</button>
                    </div>
                    <div (click)="saveForm(risk_form.value)"
                        class="cursor-pointer flex border-check hover:drop-shadow-md bg-green-300 hover:bg-green-400 py-1 rounded-full text-white px-3 peer-hover:bg-white peer-hover:text-green-400">
                        <fa-icon [icon]="faSave" size="lg" class="mr-2">
                        </fa-icon>
                        <button type="button" class="font-bold button-out border-check-red"
                            (keyup.enter)="saveForm(risk_form.value)">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="risk_catch.length > 0" style="grid-column: span 16 / span 16;">
            <div class="mb-5 grid rounded-lg hover:drop-shadow-lg drop-shadow-md bg-white rounded-lg hover:border border-gray-300 hover:border-blue-400 mx-2  border group"
                style="grid-template-columns: repeat(11, minmax(0, 1fr));">
                <div class=" px-2 py-1 text-sm font-bold border border-dashed border-gray-300 border-t-0 border-l-0 border-r-0 group-hover:border-blue-400"
                    style="grid-column: span 11 / span 11;">
                    <h1 class="select-none">
                       Summary
                    </h1>
                </div>

                <div class="text-sm grid grid-cols-11 pb-1 font-medium" style="grid-column: span 11 / span 11;">
                    <div class=" col-span-8 relative select-none mx-2"><h3>Factors</h3></div>
                    <div class=" col-span-2 relative select-none mx-2"><h3>Date</h3></div>
                    <div class=" relative select-none mx-2"><h3>Action</h3></div>
                </div>

                <div class="text-sm grid grid-cols-11 hover:bg-blue-100 hover:font-medium" style="grid-column: span 11 / span 11;" *ngFor="let catch of risk_catch">
                    <div class=" col-span-8 relative select-none mx-2 {{catch.risk.hospital_flag == false && catch.risk.monitor_flag == true? 'text-blue-500' : (catch.risk.hospital_flag == true && catch.risk.monitor_flag == false?'text-red-500':'')}}">{{catch.risk.risk_name}}</div>
                    <div class=" col-span-2 relative select-none mx-2"><h3>{{catch.date_detected}}</h3></div>
                    <div class=" relative select-none mx-2" (click)="edit(catch)">
                        <button type="button" class="w-full">
                            <fa-icon [icon]="faPencil" size="lg" class="mr-2 hover:text-orange-300"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div *ngIf="risk_catch.length > 0" style="grid-column: span 16 / span 16;"
            class=" drop-modal">
            <div class=" grid  rounded-lg hover:drop-shadow-lg drop-shadow-md bg-white rounded-lg hover:border border-gray-300 hover:border-blue-400 p-2 m-2 border"
                style="grid-template-columns: repeat(14, minmax(0, 1fr));">

                <div class=" col-span-8 border-check relative select-none">
                    <h3>Risk Factor</h3>

                </div>
                <div class=" col-span-4 border-check relative select-none">
                    <h3>Date</h3>

                </div>
                <div class=" col-span-2 border-check relative select-none">
                    <h3>Action</h3>
                </div>
                <div style="grid-column: span 16 / span 16;">
                    <div *ngFor="let catch of risk_catch">
                        <div class="grid m-2 group" style="grid-template-columns: repeat(14, minmax(0, 1fr));">

                            <div class=" col-span-8 border-check relative select-none group-hover:bg-gray-100 flex rounded-l-full"
                                [class]="hide.includes(catch.risk_id)?'bg-gray-200':''">
                                <fa-icon [icon]="faCaretRight" class=" group-hover:text-blue-500 px-2"
                                    [class]="hide.includes(catch.risk_id)?'text-blue-500':'text-gray-300'"></fa-icon>
                                <p class="group-hover:font-semibold group-hover:text-gray-500 typed-out"
                                    [class]="hide.includes(catch.risk_id)?'text-gray-500 font-semibold':'font-medium text-blue-500'">
                                    {{catch.factor}}</p>

                            </div>
                            <div class=" col-span-4 border-check relative select-none group-hover:bg-gray-100 rounded-r-full"
                                [class]="hide.includes(catch.risk_id)?'bg-gray-200':''">
                                <p class="group-hover:font-semibold group-hover:text-gray-500 typed-out"
                                    [class]="hide.includes(catch.risk_id)?'text-gray-500 font-semibold':'font-medium text-blue-500'">
                                    {{catch.date}}</p>
                            </div>
                            <div class=" col-span-2 border-check relative select-none">
                                <div class="grid grid-cols-2 relative w-auto border-check"
                                    *ngIf="!focused && risk_catch">

                                    <div (click)="edit(catch.risk_id)"
                                        class="flex bg-white hover:text-orange-400 text-gray-400 cursor-pointer"
                                        [class]="hide.includes(catch.risk_id)?'hidden':''">
                                        <fa-icon [icon]="faPencil" size="lg" class="mr-2">
                                        </fa-icon>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

    </div>
</form>
