<form [formGroup]="risk_form" (ngSubmit)="saveForm(risk_form.value)">
    <div class="grid grid-rows-2 gap-4 cursor-pointer hover:bg-gray-100 relative"
        style="grid-template-columns: repeat(16, minmax(0, 1fr));" (click)="flip();" *ngIf="focused">
        <div class="border-check row-span-2 col-span-2 rounded-r">
            <button class="font-bold text-left" type="button">Risk Factors</button>
        </div>

        <div class="absolute right-0 top-0">
            <fa-icon [icon]="faInfoCircle" class="peer ml-3 text-gray-300 hover:text-gray-500 z-50"></fa-icon>
            <div
                class="absolute text-sm bg-gradient-to-b from-stone-500 to-gray-400 p-2 rounded-md border border-gray-500  text-white drop-shadow-lg opacity-90 border-check z-50 w-64 right-0 invisible peer-hover:visible">
                <h1 class="font-bold drop-shadow-lg">IMPORTANT</h1>
                <p class="font-light drop-shadow-lg">Once saved, the information will be displayed in the input boxes
                    and shall not be editable unless Edit button is pressed.</p>
            </div>
        </div>
    </div>

    <div class="grid gap-4 relative animates-dropdown " style="grid-template-columns: repeat(16, minmax(0, 1fr));"
        *ngIf="!focused">
        <div class="border-check col-span-2 row-span-3 hover:bg-gray-100 rounded-r cursor-pointer" (click)="flip();"><button
                class="font-bold text-left" type="button">Risk Factors</button>
            <div class="absolute top-0" style="left: 4.5rem;">
                <fa-icon [icon]="faInfoCircle" class=" peer ml-5 text-gray-300 hover:text-gray-500 z-50"></fa-icon>
                <div
                    class="absolute text-sm bg-gradient-to-b from-stone-500 to-gray-400 p-2 rounded-md border border-gray-500  text-white drop-shadow-lg opacity-90 border-check z-50 w-64 invisible peer-hover:visible">
                    <h1 class="font-bold drop-shadow-lg">IMPORTANT</h1>
                    <p class="font-light drop-shadow-lg">Once saved, the information will be displayed in the input
                        boxes and shall not be editable unless Edit button is pressed.</p>
                </div>
            </div>
        </div>

        <div style="grid-column: span 14 / span 14; grid-column-start: 3;">
            <div class="grid gap-4 rounded-lg hover:drop-shadow-lg drop-shadow-md bg-white rounded-lg hover:border border-gray-300 hover:border-blue-400 p-2 m-2 border"
                style="grid-template-columns: repeat(14, minmax(0, 1fr));">

                <div class="transitions col-span-10 border-check relative select-none" *ngIf="!focused">
                    <h3 for="factor">Risk Factors</h3>
                    <select formControlName="factor" (change)="onKeyUp($event.target.value, $event.target.id)"
                        (keyup)="onKeyUp($event.target.value, $event.target.id)"
                        (keyup.escape)="$event.target.value = ''; onKeyUp($event.target.value, $event.target.id)"
                        id="factor"
                        class="text-ellipsis bg-white text-align-left drop_btn border-check focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none rounded border-solid border border-zinc-300 placeholder-black placeholder-opacity-100 disabled:cursor-not-allowed"
                        >
                        <option *ngFor="let factors of risk_factors" class="p-2 flex-wrap"
                            [class]="factors.hospital_flag == 'N' && factors.monitor_flag == 'Y'? 'text-blue-500' : ''"
                            [style]="factors.hospital_flag == 'Y' && factors.monitor_flag == ''?'color: rgb(220 38 38);':''"
                            value="{{factors.risk_name}}_{{factors.risk_id}}"
                            [selected]="risk_form.get('factor').value == factors.risk_name">
                            {{ factors.risk_name }}
                        </option>
                    </select>
                </div>
                   
                <div class="transitions col-span-4" *ngIf="!focused">
                    <h3 for="date">Date Detected</h3>
                    <div class="grid grid-cols-10">
                        <div class="icon-height col-span-2 p-2 pt-1 rounded-l border-solid border border-zinc-300">
                            <fa-icon [icon]="faCalendarDay" size="lg" class="text-blue-500" for="lmp_date">
                            </fa-icon>
                        </div>
                        <input formControlName="date" id="date" name="date" type="date"
                            class="col-span-8 rounded-r border-solid border border-l-0 border-zinc-300 focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none disabled:cursor-not-allowed"
                            width="auto"
                            (keyup.escape)="$event.target.value = ''; onKeyUp($event.target.value, $event.target.id)"
                            (change)="onKeyUp($event.target.value, $event.target.id)">
                    </div>
                </div>
            </div>

        </div>
        <div class="relative w-auto border-check mb-2" *ngIf="!focused && keyUp.length > 0 && !risk_form.disabled"
            style="grid-column: span 14 / span 14; grid-column-start: 3;">
            <div class="absolute inline-flex right-0 top-0" style=" top: -0.85rem;">
                <div class="flex hover:animate-bounce border-check bg-white hover:bg-gray-400 text-gray-400 py-1 rounded-full hover:text-white px-2 cursor-pointer"
                    (click)="cancel()" (mouseover)="buttonShow('cancel')">
                    <fa-icon [icon]="faTimes" size="lg" class="mr-2">
                    </fa-icon>
                    <button type="button" class="font-bold button-out border-check-red typed-out"
                        *ngIf="buttons.includes('cancel')">Cancel</button>
                </div>
                <div class="flex hover:animate-bounce border-check bg-white hover:bg-green-400 py-1 rounded-full text-green-500 hover:text-white px-2 cursor-pointer"
                    (mouseover)="buttonShow('save')"
                    (click)="saveForm(risk_form.value)">
                    <fa-icon [icon]="faSave" size="lg" class="mr-2 ">
                    </fa-icon>
                    <button type="button" class="font-bold button-out border-check-red" [disabled]="risk_form.invalid"
                        (keyup.enter)="saveForm(risk_form.value)" *ngIf="buttons.includes('save')">Save</button>
                </div>
            </div>
        </div>
        <div *ngIf="risk_catch.length > 0" style="grid-column: span 14 / span 14; grid-column-start: 3;">
            <div class="grid  rounded-lg hover:drop-shadow-lg drop-shadow-md bg-white rounded-lg hover:border border-gray-300 hover:border-blue-400 p-2 m-2 border"
                style="grid-template-columns: repeat(14, minmax(0, 1fr));">

                <div class="transitions col-span-8 border-check relative select-none">
                    <h3>Risk Factor</h3>

                </div>
                <div class="transitions col-span-4 border-check relative select-none">
                    <h3>Date</h3>

                </div>
                <div class="transitions col-span-2 border-check relative select-none">
                    <h3>Action</h3>
                </div>
                <div style="grid-column: span 16 / span 16;">
                    <div *ngFor="let catch of risk_catch" >
                        <div class="grid m-2 group" style="grid-template-columns: repeat(14, minmax(0, 1fr));">
                           
                            <div class="transitions col-span-8 border-check relative select-none group-hover:bg-gray-100 flex rounded-l-full"
                                [class]="hide.includes(catch.risk_id)?'bg-gray-200':''">
                                <fa-icon [icon]="faCaretRight" class=" group-hover:text-blue-500 px-2"
                                [class]="hide.includes(catch.risk_id)?'text-blue-500':'text-gray-300'"></fa-icon>
                                <p class="group-hover:font-semibold group-hover:text-gray-500 typed-out"
                                [class]="hide.includes(catch.risk_id)?'text-gray-500 font-semibold':'font-medium text-blue-500'">{{catch.factor}}</p>

                            </div>
                            <div class="transitions col-span-4 border-check relative select-none group-hover:bg-gray-100 rounded-r-full"
                            [class]="hide.includes(catch.risk_id)?'bg-gray-200':''">
                                <p class="group-hover:font-semibold group-hover:text-gray-500 typed-out"
                                [class]="hide.includes(catch.risk_id)?'text-gray-500 font-semibold':'font-medium text-blue-500'">{{catch.date}}</p>
                            </div>
                            <div class="transitions col-span-2 border-check relative select-none">
                                <div class="grid grid-cols-2 relative w-auto border-check" *ngIf="!focused && risk_catch"
                                   >
                                    
                                        <div  (click)="edit(catch.risk_id)" class="flex bg-white hover:text-orange-400 text-gray-400 cursor-pointer"
                                        [class]="hide.includes(catch.risk_id)?'hidden':''">
                                            <fa-icon [icon]="faPencil" size="lg" class="mr-2">
                                            </fa-icon>
                                        </div>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
