input, .drop_btn, li{
  padding-right: 12px;
  padding-left: 12px;
  height: 2.25rem;
  width: 100%;
}
.icon-height{
  height: 2.25rem;
}
.colButton{
  // height: 50px;
  padding-bottom: -500px;
}
h3{
  color: rgb(92, 92, 92);
  padding-top: .15rem;
  padding-bottom: .25rem;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  // font-weight: 700;
}

@keyframes type_in {
  from { width: 0 }
  to { width: 100% }
}
@keyframes button_in {
  from { width: 22% }
  to { width: 100% }
}

@keyframes visible_drop {
  from { opacity: 0 }
  to { opacity: 1 }
}

.typed-out{
  overflow: hidden;
  white-space: nowrap;
  animation: 
  type_in 0.68s steps(100, end) forwards,
  ;
  width: 0;
}

.button-out{
  overflow: hidden;
  white-space: nowrap;
  animation: 
  button_in 0.68s steps(60, end) forwards
  ;
}                    
// .drop-modal{
//   animation:
//   visible_drop 0.3s steps(100, end) forwards
// ;
// }
