<div class="flex">
  <nav class="mt-4 flex flex-row border-b border-slate-300 text-xs">
    <button (click)="switchPage(1)" class="tabs-main w-36"
      [class]="pages===1? 'tabs-main-true rounded-t-md' : 'tabs-main-false' ">
      TREATMENT ARCHIVE
    </button>
    <button *ngIf="!selected_tb_consult || (selected_tb_consult?.facility_code === user_facility)" (click)="switchPage(2)" class="tabs-main w-36"
      [class]="pages===2? 'tabs-main-true rounded-t-md' : 'tabs-main-false' ">
      TREATMENT
    </button>
  </nav>
  <div class="ml-auto">
    <button *ngIf="!consult_details?.consult_done && (selected_tb_consult?.facility_code === user_facility)" type="button" class="btn-end-visit ml-auto mt-5" (click)="toggleModal('end_visit')">
      <fa-icon class="mr-1" [icon]="faDoorClosed"></fa-icon>
      End Visit
    </button>
  </div>
</div>

<nav *ngIf="pages===2" class="mt-2 flex justify-between border-b border-slate-300 text-xs">
  <div class="flex flex-row">
    <button (click)="switchTab(1)" class="tabs-main w-28"
        [class]="module===1? 'tabs-main-true' : 'tabs-main-false' ">
        FINDINGS
    </button>
    <!-- <button (click)="switchTab(2)" class="tabs-main w-28"
        [class]="module===2? 'tabs-main-true' : 'tabs-main-false' ">
        EXAMITATION
    </button> -->
    <button (click)="switchTab(3)" *ngIf="selected_tb_consult?.id" class="tabs-main w-28"
        [class]="module===3? 'tabs-main-true' : 'tabs-main-false' ">
        CASE HOLDING
    </button>
    <!-- <button (click)="switchTab(4)" class="tabs-main w-28"
        [class]="module===4? 'tabs-main-true' : 'tabs-main-false' ">
        DOTS CHART
    </button> -->
    <!-- <button (click)="switchTab(5)" class="tabs-main w-28"
        [class]="module===5? 'tabs-main-true' : 'tabs-main-false' ">
        PRESCRIPTION
    </button> -->
    <!-- <button (click)="switchTab(6)" class="tabs-main w-28"
        [class]="module===6? 'tabs-main-true' : 'tabs-main-false' ">
        DRUG DISPENSING
    </button>
    <button (click)="switchTab(7)" class="tabs-main w-28"
        [class]="module===7? 'tabs-main-true' : 'tabs-main-false' ">
        DRUG DISPENSING
    </button> -->
    <!-- <button (click)="switchTab(8)" class="tabs-main w-28"
        [class]="module===8? 'tabs-main-true' : 'tabs-main-false' ">
        CASE RATE
    </button> -->
  </div>
  <div class="flex flex-row">
    <button type="button" *ngIf="selected_tb_consult && selected_tb_consult.treatment_done === 0" (click)="toggleModal('treatment_outcome')" class="bg-rose-500 px-3 py-2  rounded text-white hover:opacity-75">
      Treatment Outome
    </button>
  </div>
</nav>

<div class="my-5 w-full border border-gray-200 shadow-md rounded-xl" *ngIf="pages === 1">
  <div *ngIf="selected_tb_consult && (selected_tb_consult?.facility_code !== user_facility)" class="text-orange-800 border border-orange-400 bg-orange-100 rounded-md p-3 mb-2 w-full">
    There is an ongoing TB treatment for this patient on another facility.
    You are not allowed to create a new treatment or view previous treatment from other facilities.
  </div>
  <div class="flex flex-col" *ngIf="fetching_history">
    <div class="w-full flex justify-center"><fa-icon [icon]="faCircleNotch" spin="true" class="pt-10"></fa-icon></div>
    <div class="w-full flex justify-center pb-10 font-semibold">Fetching history...</div>
  </div>
  <table class="w-full text-sm text-left" *ngIf="!fetching_history && patient_tb_history">
    <thead class="text-xs text-white uppercase bg-blue-500">
      <tr>
        <th scope="col" class="py-3 px-6">Case Finding Date</th>
        <th scope="col" class="py-3 px-6">Enrollment Date</th>
        <th scope="col" class="py-3 px-6">Case number</th>
        <th scope="col" class="py-3 px-6">Enrolled as</th>
        <th scope="col" class="py-3 px-6">Treatment outcome</th>
        <th scope="col" class="py-3 px-6">Treatment status</th>
        <th scope="col" class="py-3 px-6">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white border-b" *ngFor="let tb_history of patient_tb_history">
        <td *ngIf="!patient_tb_history" colspan="7">
          <div class="text-center">
            No records to show...
          </div>
        </td>
        <td class="py-4 px-6">
          {{ tb_history.case_finding.consult_date | date: 'MM/dd/yyyy'}}
        </td>
        <td class="py-4 px-6">
          {{ tb_history.case_holding ? (tb_history.case_holding?.registration_date | date: 'MM/dd/yyyy') : '-' }}
        </td>
        <td class="py-4 px-6">
          {{ tb_history.case_holding ? tb_history.case_holding?.case_number : '-' }}
        </td>
        <td class="py-4 px-6">
          {{ tb_history.case_holding ? tb_history.case_holding?.enroll_as.desc : '-' }}
        </td>
        <td class="py-4 px-6">
          {{ tb_history.tb_treatment_outcome ? tb_history.tb_treatment_outcome.desc : '-' }}
        </td>
        <td class="py-4 px-6">
          {{ tb_history.treatment_done === 0 ? 'Open' : 'Closed' }}
        </td>
        <td class="py-4 px-6">
          <button *ngIf="user_facility === tb_history.facility_code" type="button" class="rounded-md bg-blue-500 text-white py-1 px-2" (click)="openTbConsult(tb_history)">
            {{ tb_history.treatment_done === 0 ? 'Open' : 'View' }}
          </button>
        </td>
      </tr>

      <tr class="bg-white border-b" *ngIf="!patient_tb_history[0]">
        <td  colspan="7">
          <div class="text-center py-3 flex flex-col">
            <div class="flex justify-center">No records to show...</div>
            <div class="flex justify-center">
              <button type="button" class="mt-3 bg-blue-500 px-3 py-1 rounded-md text-white hover:opacity-75" (click)="switchPage(2)">
                create record
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <app-treatment-archive *ngIf="pages === 1"
  [patient_id]="patient_id"
  [consult_id]="consult_id"
></app-treatment-archive> -->

<app-casefindings *ngIf="pages === 2 && module === 1"
  [patient_id]="patient_id"
  [selected_tb_consult]="selected_tb_consult"
  [max_date]="max_date"
  (getPatientTbHistory)="getPatientTbHistory()"
></app-casefindings>

<app-case-holding *ngIf="pages === 2 && module === 3"
  [patient_id]="patient_id"
  [selected_tb_consult]="selected_tb_consult"
  [max_date]="max_date"
  (getPatientTbHistory)="getPatientTbHistory()"
></app-case-holding>

<app-dots-chart *ngIf="pages === 2 && module === 4"
  [patient_id]="patient_id"
  [selected_tb_consult]="selected_tb_consult"
  (getPatientTbHistory)="getPatientTbHistory()"
></app-dots-chart>

<app-end-visit *ngIf="modals['end_visit']"
  (toggleModal)="toggleModal($event)"
  [consult_id]="consult_details?.id"
  [consult_date]="consult_details?.consult_date"
  [patient_id]="consult_details?.patient.id"
  [pt_group]="'tb'"
></app-end-visit>

<app-treatment-outcome *ngIf="modals['treatment_outcome']"
  [selected_tb_consult]="selected_tb_consult"
  [max_date]="max_date"
  (toggleModal)="toggleModal($event)"
  (switchPage)="switchPage($event)"
  (getPatientTbHistory)="getPatientTbHistory()"
></app-treatment-outcome>

<app-caserate *ngIf="pages === 2 && module === 8"
></app-caserate>
