<div class="relative w-full h-screen px-2 ml-5 rounded-3xl text-gray-600 shadow-md">
  <div class="text-sm font-medium text-center text-gray-500 ">
    <ul class="flex flex-wrap -mb-px ">
      <li class="mr-2">
        <a class="select-none inline-block p-4 rounded-t-lg border-b-2 hover:text-blue-400 hover:font-semibold hover:border-blue-400"
          [class]="pages !== 1? '' : 'text-blue-400 font-semibold border-blue-400'" (click)="switchPage(1)">History</a>
      </li>
      <li class="mr-2">
        <a class="select-none inline-block p-4 rounded-t-lg border-b-2 hover:text-blue-400 hover:font-semibold hover:border-blue-400"
          [class]="pages !== 2? '' : 'text-blue-400 font-semibold border-blue-400'" (click)="switchPage(2)">Treatment</a>
      </li>
      <li class="absolute right-0">
        <button type="button" class="btn-end-visit ml-auto mr-3" (click)="toggleModal()">
          <fa-icon class="mr-1" [icon]="faDoorClosed"></fa-icon>
          End Visit
        </button>
      </li>
    </ul>
  </div>

  <div class="text-sm font-medium text-center text-gray-500 " *ngIf="pages === 1">
    <ul class="flex flex-wrap -mb-px ">
      <li class="mr-2">
        <a class="select-none inline-block p-4 rounded-t-lg border-b-2 hover:text-blue-400 hover:font-semibold hover:border-blue-400"
          [class]="module !== 1? '' : 'text-blue-400 font-semibold border-blue-400'" (click)="switchTab(1)">History</a>
      </li>
    </ul>
  </div>

  <div class="text-sm font-medium text-center text-gray-500 " *ngIf="pages === 2">
    <ul class="flex flex-wrap -mb-px ">
      <li class="mr-2">
        <a class="select-none inline-block p-4 rounded-t-lg border-b-2 hover:text-blue-400 hover:font-semibold hover:border-blue-400"
          [class]="module !== 1? '' : 'text-blue-400 font-semibold border-blue-400'" (click)="switchTab(1)">Findings</a>
      </li>
      <li class="mr-2">
        <a class="select-none inline-block p-4 rounded-t-lg border-b-2 hover:text-blue-400 hover:font-semibold hover:border-blue-400"
          [class]="module !== 2? '' : 'text-blue-400 font-semibold border-blue-400'" (click)="switchTab(2)">Examination / Holdings</a>
      </li>
      <li class="mr-2">
        <a class="select-none inline-block p-4 rounded-t-lg border-b-2 hover:text-blue-400 hover:font-semibold hover:border-blue-400"
          [class]="module !== 3? '' : 'text-blue-400 font-semibold border-blue-400'" (click)="switchTab(3)">DOTS Chart</a>
      </li>
      <li class="mr-2">
        <a class="select-none inline-block p-4 rounded-t-lg border-b-2 hover:text-blue-400 hover:font-semibold hover:border-blue-400"
          [class]="module !== 4? '' : 'text-blue-400 font-semibold border-blue-400'" (click)="switchTab(3)">Prescription</a>
      </li>
    </ul>
  </div>

  <div class="fade-in w-12/12 mb-10 px-8 pb-10 border-solid border-2 border-zinc-100 border-l-0 border-r-0 border-t-0 p-3" *ngIf="pages === 2 && module === 1">
    <app-casefindings></app-casefindings>
  </div>
</div>


<app-end-visit *ngIf="show_end" (toggleModal)="toggleModal()"
  [consult_id]="consult_details?.id"
  [consult_date]="consult_details?.consult_date"
  [patient_id]="consult_details?.patient.id"
  [pt_group]="'tb'"
></app-end-visit>
