<hr class="my-4">
<div class="grid grid-cols-10">
  <div class="col-span-2 pt-2 flex justify-between">
    Prescription
  </div>
  <div class="col-span-8">
    <div class="rounded-md border border-solid border-gray-300">
      <span class="rounded-t-md m-0 p-2 font-semibold text-gray-50 bg-amber-500 flex justify-between" [ngClass]="{'rounded-b' : !show_content}">
        Prescriptions
        <div>
          <button *ngIf="prescriptions" type="button" class="text-sm bg-white text-amber-500 px-3 rounded-full" (click)="navigateTo('dispensing')">
            <fa-icon [icon]="faPrescriptionBottleMedical" class="pr-1"></fa-icon>
            dispensing
          </button>

          <button *ngIf="show_actions" type="button" class="ml-3 text-sm bg-white text-blue-500 px-3 rounded-full" (click)="toggleList()">
            <fa-icon [icon]="faAdd" class="pr-1"></fa-icon>
            add drugs
          </button>
        </div>
      </span>
      <table *ngIf="show_content" class="w-full table-auto p-5">
        <thead>

          <tr class="align-top">
            <th scope="col" class="text-center py-3 px-3 w-3/12 ">Medicine</th>
            <th scope="col" class="text-center py-3 px-3 w-3/12">Intake</th>
            <th scope="col" class="text-center py-3 px-3 w-1/12">Prescription Date</th>
            <th scope="col" class="text-center py-3 px-3 w-1/12">Quantity</th>
            <th scope="col" class="text-center py-3 px-3 w-1/12">Unit of Measurement</th>
            <th scope="col" class="text-center py-3 px-3 w-2/12">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prescription of prescriptions; trackBy:identify" class="bg-white border-b last:border-0 text-sm align-top">
            <td class="py-4 px-3">
              {{ prescription.konsulta_medicine.desc ?? prescription.added_medicine}}
            </td>
            <td scope="row" class="py-4 px-3 font-medium text-gray-900">
              {{ prescription.dosage_quantity }} {{ prescription.unit_of_measurement.desc }} {{ prescription.regimen.desc }}
              {{ prescription.duration_intake }} {{ prescription.frequency.desc }}
            </td>
            <td scope="row" class="py-4 px-3 font-medium text-gray-900">
              {{ prescription.prescription_date | date : 'MM/dd/yyyy'}}
            </td>
            <td scope="row" class="py-4 px-3 font-medium text-gray-900">
              {{ prescription.quantity }}
            </td>
            <td scope="row" class="py-4 px-3 font-medium text-gray-900">
              {{ prescription.preparation.desc }}
            </td>
            <td class="text-sm text-center mb-5  align-middle">
              <button (click)="openAddForm(prescription)">
                <fa-icon [icon]="faEdit" class="text-amber-500"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="rounded-md border border-solid border-gray-300 mt-5">
      <span class="rounded-t-md m-0 p-2 font-semibold text-gray-50 bg-cyan-500 flex justify-between" [ngClass]="{'rounded-b' : !show_content_tx }">
        Treatment Plan
        <button type="button" (click)="show_content_tx = !show_content_tx">
          <fa-icon [icon]="show_content_tx ? faChevronCircleUp : faChevronCircleDown" class="pr-2" size="lg"></fa-icon>
        </button>
      </span>

      <div *ngIf="show_content_tx">
        <div class="grid grid-cols-1 px-4 pb-4 mt-4">
          <textarea [disabled]="consult_done" rows="3" id="plan" placeholder="Treatment plan" [(ngModel)]="consult_notes.plan" class="placeholder-slate-400 w-full rounded-md border-gray-300 bg-gray-50"></textarea>
        </div>

        <div class="flex text-right">
          <button *ngIf="!consult_done" [disabled]="is_saving" type="button" class="btn-save ml-auto mr-5 mb-5 px-10 disabled:bg-gray-300" (click)="onSubmit()">
            <fa-icon *ngIf="is_saving" class="mr-2" [icon]="faSpinner" spin="true"></fa-icon>
            <fa-icon *ngIf="!is_saving" class="mr-2" [icon]="faSave"></fa-icon>
            {{ is_saving ? 'Saving' : 'Save' }}
          </button>
        </div>
      </div>
    </div>



  </div>
</div>

<app-drug-list *ngIf="show_list"
  (openAddForm)="openAddForm($event)"
  (toggleList)="toggleList()"
></app-drug-list>

<app-drug-form *ngIf="show_form"
  (toggleForm)="toggleForm()"
  [selected_drug]="selected_drug"
  [consult_details]="consult_details"
  [drug_uom]="drug_uom"
  [drug_regimen]="drug_regimen"
  [drug_purpose]="drug_purpose"
  [drug_frequency]="drug_frequency"
  [drug_preparation]="drug_preparation"
></app-drug-form>
