<div class="grid grid-cols-10">
  <div class="col-span-2 pt-2 flex justify-between">
    Prescription
  </div>
  <div class="col-span-8">
    <div class="rounded-md border border-solid border-gray-300">
      <span class="rounded-t-md m-0 p-2 font-semibold text-gray-50 block bg-orange-400">
        Prescription
      </span>
      <table class="w-full table-auto">
        <tbody>
          <tr class="text-left align-top mx-2">
            <td class="font-semibold text-center">Amoxicillin</td>
            <td>
              Table 500mg <br />
              3x a day<br />
              Sample <br />
            </td>
            <td>Increase Fluid intake</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
