<div class="grid max-h-fit relative" style="grid-template-columns: repeat(16, minmax(0, 1fr));" *ngIf="!focused">
    <div class="sticky top-0 z-50 border hover:border border-gray-300 hover:border-blue-400 col-span-2 cursor-pointer relative mx-2 px-2 py-1 rounded-lg bg-white text-blue-500 text-sm hover:bg-blue-500 hover:text-white"
        style="grid-column: span 16 / span 16;"><button class="font-bold" type="button">FP PE</button>
        <div class="absolute left-12 top-1">
            <fa-icon [icon]="faInfoCircle" class=" peer ml-4 text-white hover:text-gray-500 z-50"></fa-icon>
            <div
                class="absolute text-sm bg-gradient-to-b from-stone-500 to-gray-400 p-2 rounded-md border border-gray-500  text-white drop-shadow-lg opacity-90 border-check z-50 w-64 invisible peer-hover:visible">
                <h1 class="font-bold drop-shadow-lg">IMPORTANT</h1>
                <p class="font-light drop-shadow-lg">Once saved, the information will be displayed in the input
                    boxes and shall not be editable unless Edit button is pressed.</p>
            </div>
        </div>
    </div>
    <div style="grid-column: span 16 / span 16;" class="">

        <div *ngFor="let fppe_cat of fp_pe_cat;  let i = index;">

            <form action="">
                <div class="grid sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 mb-2 bg-white rounded-lg border m-2"
                    [style]="module_strings.includes(i) && !saved? 'border-color: rgb(96 165 250); filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1)); margin-bottom: 1.25rem; padding-bottom: 0.5rem;' : ' '"
                    [class]="saved? 'hover:drop-shadow-lg drop-shadow-md hover:border border-gray-300 hover:border-gray-500':'hover:border-gray-400 border-gray-200'">

                    <div (click)="showModule(fppe_cat, i)" (keyup.tab)="nextModule(fp_pe_cat[i+1], i+1);"
                        (keyup.enter)="selectAll('select' + fppe_cat)"
                        class="text-gray-500 form-check sm:col-span-1 md:col-span-3 lg:col-span-4 p-2 font-semibold"
                        [style]="module_strings.includes(i)? 'border-bottom-width: 1px; border-style: dashed; border-color: rgb(96 165 250); border-top-width: 0px; border-left-width: 0px; border-right-width: 0px;' : ''">
                        <div *ngFor="let cat_name of lib_cat_name" class="normal-case">
                            <h1 class="select-none" *ngIf="fppe_cat == cat_name.pe_cat_id">
                                {{cat_name.pe_cat_name}}
                            </h1>
                        </div>


                        <div *ngFor="let fppe of fp_pe_symptoms">
                            <div *ngFor="let string of fppe_strings; let x = index">
                                <div *ngIf="fppe_cat == fppe.pe_cat && fppe.pe_name == string">
                                    <h1 class="group select-none m-0.5 px-2 border-check font-normal text-sm rounded-full text-gray-600 typed-out hover:bg-blue-200 hover:text-gray-800"
                                        style="margin-top: 0;" *ngIf="!module_strings.includes(i)" id="test">
                                        <!-- <fa-icon [icon]="faCaretRight" *ngIf="!module_strings.includes(i)"
                                            class="group-hover:text-blue-400 text-gray-300"></fa-icon> -->
                                        {{fppe.pe_name}}
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="absolute right-1 top-1 hover:text-white text-green-400"
                        *ngIf="module_strings.includes(i)">
                        <div class="inline-flex float-right" *ngIf="!cat_strings.includes(fppe_cat)">
                            <div class="flex hover: border-check bg-white hover:bg-gray-400 text-gray-300 py-1 rounded-full hover:text-white px-2"
                                (click)="selectAll('select' + fppe_cat)">
                                <fa-icon [icon]="faCircleCheck" size="lg" class="mr-2"
                                    *ngIf="!cat_strings.includes(fppe_cat)">
                                </fa-icon>
                                <button type="button" class="font-bold button-out border-check-red"
                                    *ngIf="!cat_strings.includes(fppe_cat)">Select
                                    All</button>
                            </div>
                        </div>
                        <div class="inline-flex float-right"
                            *ngIf="cat_strings.includes(fppe_cat) && fppe_strings.length > 0">
                            <div class="flex hover: border-check bg-white hover:bg-gray-400 text-gray-400 py-1 rounded-full hover:text-white px-2"
                                (click)="uncheck(fppe_cat)">
                                <fa-icon [icon]="faTimes" size="lg" class="mr-2">
                                </fa-icon>
                                <button type="button" class="font-bold button-out border-check-red">Cancel</button>
                            </div>
                        </div>
                    </div>
                    <div *ngFor="let check of check_list;">
                        <div class="border-check-red p-2 group" *ngIf="module_strings.includes(i)">
                            <input
                                class=" h-6 w-6 border border-gray-400 rounded-md checked:border-2 bg-white checked:bg-blue-400 checked:border-blue-500 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                                type="checkbox" value="check" [attr.id]="check" (change)="onChange(check,fppe_cat)"
                                [checked]="fppe_strings.includes(check)" (keyup.escape)="uncheck(fppe_cat)"
                                (keyup.enter)="saveModule()" (keyup.tab)="nextModule(fp_pe_cat[i+1], i+1);">
                            <label class="text-gray-800 cursor-pointer" name="check" [attr.for]="check"
                                value="check.id">
                                {{ check }}
                            </label>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        
    </div>
</div>
<div class="relative w-auto border-check mt-2 mb-7 w-12/12" *ngIf="!saved">
    <div class="absolute inline-flex right-0 ">
        <div (click)="uncheck('')"
            class="cursor-pointer flex border-check bg-white hover:drop-shadow-md hover:bg-gray-400 py-1 rounded-full text-gray-400 hover:text-white pl-2 pr-2 peer">
            <fa-icon [icon]="faTimes" size="lg" class="mr-2">
            </fa-icon>
            <button type="button" class="font-bold button-out border-check-red">Cancel</button>
        </div>
        <div (click)="saveModule()"
            class="cursor-pointer flex border-check hover:drop-shadow-md bg-green-300 hover:bg-green-400 py-1 rounded-full text-white px-3 peer-hover:bg-white peer-hover:text-green-400">
            <fa-icon [icon]="faSave" size="lg" class="mr-2">
            </fa-icon>
            <button type="submit" class="font-bold button-out border-check-red"
                (keyup.enter)="saveModule()">Save</button>
        </div>
    </div>
</div>
<div class="relative w-auto border-check mt-2 mb-7 w-12/12" *ngIf="saved">
    <div class="absolute inline-flex right-0 cursor-pointer" (click)="editModule()">
        <div class="flex border-check bg-orange-300 hover:bg-orange-400 py-1 rounded-full  text-white px-2">
            <fa-icon [icon]="faPencil" size="lg" class="mr-2 ">
            </fa-icon>
            <button type="submit" class="font-bold button-out border-check-red typed-out"
                (keyup.enter)="editModule()">Edit</button>
        </div>
    </div>
</div>