<div class="border border-slate-200 rounded-b-lg">
  <div class="mx-5 mb-5">
    <div class="grid grid-cols-3 gap-4 w-full mt-5">
      <div class="col-span-4 grid grid-cols-4 gap-4" *ngIf="show_form">
        <div class="col-span-2">
          <label for="case_number">Date</label>
          <input type="date" [(ngModel)]="patient_gbv.gbv_date" name="gbv_date" id="gbv_date" class="input">
        </div>

        <div class="col-span-4 font-semibold text-sky-500 mt-5 border-b border-slate-200">
          Complaints
        </div>
        <div class="col-span-4 grid grid-cols-3 gap-4">
          <div *ngFor="let complaint of complaints">
            <input type="checkbox" attr.id="patient_complaints{{complaint.complaint_id}}" [(ngModel)]="patient_complaints[complaint.complaint_id]" class="input-checkbox" />
            <label attr.for="patient_complaints{{complaint.complaint_id}}" class="pl-3 py-0.5">{{ complaint.complaint_desc }}</label>
          </div>
        </div>
        <div class="col-span-4 flex">
          <label class="mt-2 pr-3">Remarks</label>
          <input type="text" [(ngModel)]="patient_gbv.gbv_complaint_remarks" class="input" />
        </div>

        <div class="col-span-4 font-semibold text-sky-500 mt-5 border-b border-slate-200">
          Behavioral Changes
        </div>
        <div class="col-span-4 grid grid-cols-3 gap-4">
          <div *ngFor="let behavioral_change of behavioral_changes">
            <input type="checkbox" attr.id="patient_behavior{{behavioral_change.id}}" [(ngModel)]="patient_behavior[behavioral_change.id]" class="input-checkbox" />
            <label attr.for="patient_behavior{{behavioral_change.id}}" class="pl-3 py-0.5">{{ behavioral_change.desc }}</label>
          </div>
        </div>
        <div class="col-span-4 flex">
          <label class="mt-2 pr-3">Remarks</label>
          <input type="text" [(ngModel)]="patient_gbv.gbv_behavioral_remarks" class="input" />
        </div>

        <div class="col-span-4 font-semibold text-sky-500 mt-5 border-b border-slate-200">
          Neglects
        </div>
        <div class="col-span-4 grid grid-cols-3 gap-4">
          <div *ngFor="let neglect of neglects">
            <input type="checkbox" attr.id="patient_neglect{{neglect.id}}" [(ngModel)]="patient_neglect[neglect.id]" class="input-checkbox" />
            <label attr.for="patient_neglect{{neglect.id}}" class="pl-3 py-0.5">{{ neglect.desc }}</label>
          </div>
        </div>
        <div class="col-span-4 flex">
          <label class="mt-2 pr-3">Remarks</label>
          <input type="text" [(ngModel)]="patient_gbv.gbv_neglect_remarks" name="patient_neglect_remarks" id="patient_neglect_remarks" class="input" />
        </div>

        <div class="col-span-4" *ngIf="patient_gbv.referral_reason">
          <label for="case_number">Referral reason</label>
          <textarea type="text" [(ngModel)]="patient_gbv.referral_reason"  name="referral_reason" id="referral_reason" class="input">
          </textarea>
        </div>
      </div>

      <div class="col-span-4 grid grid-cols-4 gap-4 mt-20" *ngIf="!show_form">
        <div class="col-span-4 flex justify-center text-blue-500">
          <fa-icon [icon]="faCircleNotch" spin="true"></fa-icon>
        </div>
        <div class="col-span-4 flex justify-center">
          Loading...
        </div>
      </div>
    </div>

    <div class="flex justify-center mt-5" *ngIf="show_form">
      <button [disabled]="is_saving || !patient_gbv.gbv_date" type="button" (click)="onSubmit()" class="btn-save mr-5 mt-4">
        <fa-icon [icon]="faSave" *ngIf="!is_saving" class="mr-2"></fa-icon>
        <fa-icon [icon]="faCircleNotch" *ngIf="is_saving" animation="spin" class="mr-2"></fa-icon>
        {{ patient_gbv.id ? (is_saving ? 'Updating' : 'Update') : (is_saving ? 'Saving' : 'Save') }}
      </button>
    </div>
  </div>
</div>
