<div id="defaultModal" tabindex="-1" class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 w-full md:inset-0 h-modal md:h-full justify-center items-center flex" aria-modal="true" role="dialog" style="z-index:60">
  <div class="relative p-4 w-full max-w-3xl h-auto md:h-auto">
      <div class="relative bg-white rounded-lg shadow">
        <div class="flex justify-between items-start py-3 px-5 rounded-t border-b bg-blue-500">
          <h3 class="mt-2 text-sm font-bold text-white">
              DEATH RECORD
          </h3>
          <!-- <button type="button" class="px-3 py-1.5 bg-white text-gray-600 text-sm font-medium leading-normal rounded shadow-md focus:shadow-lg focus:outline-none hover:ring-2 hover:ring-gray-300 active:shadow-lg transition duration-150 ease-in-out flex align-center transform hover:scale-110">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-printer mr-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2"></path>
              <path d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4"></path>
              <rect x="7" y="13" width="10" height="8" rx="2"></rect>
            </svg>Print
          </button> -->
        </div>

        <!-- Modal body -->
        <div class="overflow-y-auto h-96 scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100">
          <form [formGroup]="deathForm" class="w-full max-w-3xl text-left text-gray-500">
            <!-- <form [formGroup]="deathForm"> -->
              <div class="grid grid-cols-2 gap-x-5 pb-5 mx-5 text-sm">
                <div class="col-span-2 mt-3">
                  <h4 class="font-bold text-blue-500 mt-2">Registry Information</h4>
                </div>

                <div class="col-span-2 py-2 mt-2">
                  <label>Date & Time of Death</label>
                  <input type="datetime-local" formControlName="date_of_death" class="input" placeholder="Date if Death">
                </div>

                <!-- <div class="py-2 mt-2">
                  <label>Time of Death</label>
                  <input type="text" class="input" formControlName="date_of_death" placeholder="Time of Death">
                </div> -->

                <div class="py-2">
                  <label>Type of Death</label>
                  <select type="date" formControlName="death_type" class="input" placeholder="Select Date">
                    <option *ngFor="let item of death_type_list" [value]="item.code">{{ item.desc }}</option>
                  </select>

                </div>

                <div class="py-2">
                  <label>Place of Death</label>
                  <select type="time" formControlName="death_place" class="input" placeholder="Input Time">
                    <option *ngFor="let item of death_place_list" [value]="item.code">{{ item.desc }}</option>
                  </select>
                </div>
              </div>

              <!--border-->
              <div class="text-gray-600 border border-slate-100 mx-5"></div>

              <!--Place of Occurence Section-->
              <div class="grid grid-cols-2 gap-x-5 pb-5 mx-5 text-sm">
                <div class="col-span-2 mt-3">
                  <h4 class="font-bold text-blue-500 text-sm mt-2">Place of Occurence</h4>
                </div>

                <div class="py-2 mt-2">
                  <label>Region</label>
                  <select type="text" formControlName="region_code" (change)="loadDemog('regions', deathForm.value.region_code, 'provinces')" class="input" placeholder="Select Region">
                    <option *ngFor="let region of regions" [value]="region.code">{{ region.name }}</option>
                  </select>
                </div>

                <div class="py-2 mt-2">
                  <label>Province</label>
                  <select type="text" formControlName="province_code" (change)="loadDemog('provinces', deathForm.value.province_code, 'municipalities')"class="input" placeholder="Select Province">
                    <option *ngFor="let province of provinces" [value]="province.code">{{ province.name }}</option>
                  </select>
                </div>

                <div class="py-2">
                  <label>Municipality</label>
                  <select type="text" formControlName="muncity_code" (change)="loadDemog('municipalities', deathForm.value.muncity_code, 'barangays')"class="input" placeholder="Select Municipality">
                    <option *ngFor="let municipality of municipalities" [value]="municipality.code">{{ municipality.name }}</option>
                  </select>
                </div>

                <div class="py-2">
                  <label>Barangay</label>
                  <select type="text" formControlName="barangay_code" class="input" placeholder="Select Barangay">
                    <option *ngFor="let barangay of barangays" [value]="barangay.code">{{ barangay.name }}</option>
                  </select>
                </div>
              </div>

              <!--border-->
              <div class="text-gray-600 border border-slate-100 mx-5"></div>

              <!--Cause of Death Section-->
              <div class="grid grid-cols-2 gap-x-5 pb-5 mx-5 text-sm">
                <div class="col-span-2 mt-3">
                  <h4 class="font-bold text-blue-500 text-sm mt-2">Cause of Death</h4>
                </div>

                <div class="col-span-2 mt-2">
                  <label>Immediate Cause</label>
                  <div class="chips-container">
                    <ng-select class="select-chips" placeholder="search"
                      [items]="ic_dx$ | async"
                      [multiple]="false"
                      [loading]="icfdxLoading"
                      typeToSearchText="search..."
                      [typeahead]="icInput$"
                      bindValue="icd10_code"
                      bindLabel="icd10_desc"
                      notFoundText="No records found"
                      formControlName="immediate_cause">

                      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <div class="whitespace-normal">
                          <h5 class="text-gray-700" [ngOptionHighlight]="search"><strong>{{ item.icd10_code }}:</strong> {{ item.icd10_desc }}</h5>
                        </div>
                      </ng-template>
                    </ng-select>
                  </div>
                  <!-- <input type="text" formControlName="immediate_cause" class="input" placeholder="Input Immediate Cause"> -->
                </div>

                <div class="col-span-2 py-2">
                  <label>Antecedent Cause</label>
                  <div class="chips-container">
                    <ng-select class="select-chips" placeholder="search"
                      [items]="ac_dx$ | async"
                      [multiple]="false"
                      [loading]="acfdxLoading"
                      typeToSearchText="search..."
                      [typeahead]="acInput$"
                      bindValue="icd10_code"
                      bindLabel="icd10_desc"
                      notFoundText="No records found"
                      formControlName="antecedent_cause">

                      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <div class="whitespace-normal">
                          <h5 class="text-gray-700" [ngOptionHighlight]="search"><strong>{{ item.icd10_code }}:</strong> {{ item.icd10_desc }}</h5>
                        </div>
                      </ng-template>
                    </ng-select>
                  </div>
                  <!-- <input type="text" formControlName="antecedent_cause" class="input" placeholder="Input Antecedent Cause"> -->
                </div>

                <div class="col-span-2 py-2">
                  <label>Underlying Cause</label>
                  <div class="chips-container">
                    <ng-select class="select-chips" placeholder="search"
                      [items]="uc_dx$ | async"
                      [multiple]="false"
                      [loading]="ucfdxLoading"
                      typeToSearchText="search..."
                      [typeahead]="ucInput$"
                      bindValue="icd10_code"
                      bindLabel="icd10_desc"
                      notFoundText="No records found"
                      formControlName="underlying_cause">

                      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <div class="whitespace-normal">
                          <h5 class="text-gray-700" [ngOptionHighlight]="search"><strong>{{ item.icd10_code }}:</strong> {{ item.icd10_desc }}</h5>
                        </div>
                      </ng-template>
                    </ng-select>
                  </div>
                  <!-- <input type="text" formControlName="underlying_cause" class="input" placeholder="Input Underlying Cause"> -->
                </div>

                <div class="col-span-2 py-2">
                  <label>Remarks</label>
                  <input type="text" formControlName="remarks" class="input" placeholder="Input Remarks">
                </div>
              </div>
            <!-- </form> -->
          </form>
        </div>

          <!-- Modal footer -->
        <div class="flex justify-end py-4 px-5 space-x-4 rounded-b border-t border-gray-200">
          <button  type="button" class="btn-cancel" (click)="closeModal()">Close</button>
          <button [disabled]="deathForm.invalid" type="button" class="btn-save" (click)="onSubmit()">Save</button>
        </div>
      </div>
  </div>
</div>

<div class="opacity-50 fixed inset-0 z-50 bg-black"></div>
