
<div class="bg-white border border-solid border-slate-100 rounded-xl shadow-md">
  <div class="border border-solid border-slate-100 rounded-t-xl font-semibold justify-between">
    <div class="flex border border-solid border-slate-100 rounded-t-xl p-3 font-semibold justify-between">
      <div class="text-blue-500 text-lg pt-2 pl-5">
        Uploaded XML
      </div>
      <div>
      </div>

      <div class="flex">

        <div class="w-96">
          <input (change)="readXML($event.target.files)" class="form-control
          w-full
          px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding
          border border-solid border-gray-300
          rounded-l-lg
          transition
          ease-in-out
          m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" type="file" id="formFile">
        </div>

        <button type="button" (click)="openModal()" class="px-4 mr-5 bg-blue-500 text-white rounded-r-lg text-sm">
          <fa-icon [icon]="faUpload" class=""></fa-icon>
        </button>

        <!-- <input [(ngModel)]="xml_file" type="file" placeholder="Upload" class="border border-gray-300 rounded-l-lg text-sm w-64" /> -->
      </div>
    </div>

    <div *ngIf="submit_error" class="col-span-8 bg-red-200 rounded border border-red-300 text-red-900 text-sm">
      <div class="block p-3 pl-10" >
        <ul class="list-disc" >
          <li *ngFor="let error of submit_error | keyvalue">{{ error.value }}</li>
        </ul>
      </div>
    </div>

    <div>
      <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 mb-5">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="w-1/5 py-3 px-6">Name</th>
              <th scope="col" class="w-1/5 py-3 px-6">Birthdate</th>
              <th scope="col" class="w-1/5 py-3 px-6">Member Name</th>
              <th scope="col" class="w-1/5 py-3 px-6">Member Birthdate</th>
              <th scope="col" class="w-1/5 py-3 px-6">Transaction Number</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let uploaded of uploaded_list; let odd = odd; let i = index" class="bg-white border-t" [ngClass]="{'bg-gray-50': odd}">
              <td class="py-4 px-6">
                {{ uploaded.attr.pPatientLname }}, {{ uploaded.attr.pPatientFname }} {{ uploaded.attr.pPatientMname }} {{ uploaded.attr.pPatientExtname }}
              </td>
              <th scope="row" class="py-4 px-6 font-medium text-center">
                {{ uploaded.attr.pPatientDob | date: 'MM/dd/yyyy' }}
              </th>
              <td class="py-4 px-6">
                {{ uploaded.attr.pMemLname }}, {{ uploaded.attr.pMemFname }} {{ uploaded.attr.pMemMname }} {{ uploaded.attr.pMemExtname }}
              </td>
              <th scope="row" class="py-4 px-6 font-medium text-center">
                {{ uploaded.attr.pMemDob | date: 'MM/dd/yyyy' }}
              </th>

              <td class="py-4 px-6">
                {{ uploaded.attr.pHciCaseNo }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- <div *ngIf="konsulta_list?.length >= 1">
    <div class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6">
      <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
        <div>
          <p class="text-sm text-gray-700">
            Showing <span class="font-medium">{{ from }}</span>
            to <span class="font-medium">{{ to }}</span>
            of <span class="font-medium">{{ total }}</span> results
          </p>
        </div>
        <div>
          <nav class="relative z-0 inline-flex shadow-sm -space-x-px" aria-label="Pagination">
            <button [disabled]="current_page===1" (click)="loadList(1)" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 enabled:bg-white disabled:bg-gray-300 text-sm font-medium text-gray-500 hover:bg-gray-50">
              <fa-icon [icon]="faAnglesLeft" class="block h-15 w-15 text-gray-500 pr-1"></fa-icon>
            </button>

              <button [disabled]="current_page===1" (click)="loadList(current_page-1)" class="relative inline-flex items-center px-4 py-2 border border-gray-300 enabled:bg-white disabled:bg-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50">
                <fa-icon [icon]="faChevronLeft" class="block h-15 w-15 text-gray-500 pr-1"></fa-icon>Previous
              </button>
              <button [disabled]="current_page===last_page" (click)="loadList(current_page+1)" class="relative inline-flex items-center px-4 py-2 border border-gray-300 enabled:bg-white disabled:bg-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50">
                Next<fa-icon [icon]="faChevronRight" class="h-5 w-5 text-gray-500"></fa-icon>
              </button>

            <button [disabled]="current_page===last_page" (click)="loadList(last_page)" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 enabled:bg-white disabled:bg-gray-300 text-sm font-medium text-gray-500 hover:bg-gray-50">
              <fa-icon [icon]="faAnglesRight" class="h-5 w-5 text-gray-500"></fa-icon>
            </button>
          </nav>
        </div>
      </div>
    </div>
  </div> -->

</div>

<app-uploaded-xml *ngIf="modals['uploaded-xml']" (toggleModal)="toggleModal($event)" [xmlData]="xmlData"></app-uploaded-xml>
