<div class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
  <div id="defaultModal" tabindex="-1" class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 w-full md:inset-0 h-modal md:h-full justify-center items-center flex" aria-modal="true" role="dialog" style="z-index:60">
    <div class="relative p-4 w-full max-w-3xl h-auto md:h-auto">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <!-- Modal header -->
        <div class="flex justify-between items-start py-3 px-5 rounded-t border-b bg-blue-500 dark:border-gray-600">
          <h3 class="mt-2 text-sm font-bold text-white dark:text-white">
              Health Programs
          </h3>
        </div>
        <!-- Modal body -->
        <div class="overflow-y-auto h-96 scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100">

            <div *ngIf="!show_new">
              <div class="grid grid-cols-1 item-start flex-wrap pb-5" *ngFor="let list of list_modules">
                <div class="w-full px-5 my-3 rounded-tl rounded-tr">
                  <h4 class="font-bold text-blue-500 text-sm mt-2">{{ list.group }}</h4>
                </div>

                <div class="grid grid-cols-3 gap-4 mx-10">
                  <button *ngFor="let module of list.modules | keyvalue" type="button" [ngClass]="{'bg-green-500 hover:ring-green-300': module.value.consult_active }" class="col-span-1 text-white bg-blue-500 hover:ring-2 focus:outline-none hover:ring-blue-300 font-medium rounded text-sm px-6 py-2.5 text-center transition duration-150 ease-in-out transform hover:scale-110" (click)="onModuleSelect(module.value)" >
                    <fa-icon *ngIf="module.value.consult_active" class="mx-0 my-0 text-white mr-2" [icon]="faClipboard" size="lg"></fa-icon>
                    {{ module.value.name }}
                  </button>
                </div>
              </div>
            </div>

            <div *ngIf="show_new" class="grid grid-cols-1 item-start flex-wrap pb-5">
              <div class="px-16 py-8 leading-relaxed">
                No active visit for <span class="font-semibold">{{ selected_module.name }}</span>.
                Would you like to create a new <span class="font-semibold">{{ selected_module.name }}</span> visit?
              </div>

              <div class="flex flex-col">
                <div class="flex justify-center pb-5">
                  <label for="consult_date" class="input-label pr-5 inline-block align-middle pt-3">Consultation Date</label><br />
                  <input type="date" name="consult_date" id="consult_date" class="input w-52" placeholder="mm/dd/yyyy" max="{{ date | date:'yyyy-MM-dd HH:mm:ss'}}" [(ngModel)]="consult_date">
                  <input type="time" name="consult_date" id="consult_date" class="input w-52" placeholder="mm/dd/yyyy" max="{{ date | date:'yyyy-MM-dd HH:mm:ss'}}" [(ngModel)]="consult_time">

                </div>

                <div class="flex justify-center mt-3">
                  <button  type="button" class="text-white bg-amber-500 hover:ring-2 focus:outline-none hover:ring-amber-300 rounded text-sm font-medium px-6 py-2.5 transition duration-150 ease-in-out mr-5" (click)="onCreateCancel()">Cancel</button>
                  <button [disabled]="!consult_date || is_loading" type="button" class="text-white enabled:bg-blue-500 disabled:bg-gray-400 enabled:hover:ring-2 enabled:focus:outline-none enabled:hover:ring-blue-300 rounded text-sm font-medium px-6 py-2.5 transition duration-150 ease-in-out" (click)="onCreateNew(selected_module)">Proceed</button>
                </div>
              </div>

              <div class="flex mx-16 mt-10 p-2 rounded-md bg-blue-100 border border-blue-200 text-blue-900">
                <fa-icon class="flex-none my-0 text-blue-900 m-2" [icon]="faCircleInfo" size="lg"></fa-icon>
                Consultation date default value is today. You may change the date for backencoding.
              </div>
            </div>
        </div>
        <!-- Modal footer -->
        <div class="flex justify-end py-4 px-5 space-x-4 rounded-b border-t border-gray-200 dark:border-gray-600">
          <button  [disabled]="is_loading" type="button" class="text-white enabled:bg-red-500 disabled:bg-gray-400 enabled:hover:ring-2 focus:outline-none enabled:hover:ring-red-300 rounded text-sm font-medium px-6 py-2.5 transition duration-150 ease-in-out" (click)="closeModal()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="opacity-25 fixed inset-0 z-40 bg-black"></div>
