
<div class="m-5 border border-slate-200 rounded-lg" *ngIf="show_form">
  <div class="bg-blue-500 text-white rounded-t-md py-2 pl-3 font-semibold">
    History of TB Treatment
  </div>

  <div class="m-5">
    <form [formGroup]="previousTreatmentForm" (ngSubmit)="savePreviousTreatment()" class="grid grid-cols-3 gap-x-4 w-4/5 mx-auto">
      <div class="mx-5 col-span-3 grid grid-cols-3 gap-x-4">
        <div>
          <label for="outcome_code">Treatment Outcome</label>
          <select name="outcome_code" id="outcome_code" formControlName="outcome_code" class="input">
            <option *ngFor="let outcome of treatment_outcomes" [value]="outcome.code">{{ outcome.desc }}</option>
          </select>
        </div>

        <div>
          <label for="treatment_date">Treatment Date</label>
          <input type="date" name="treatment_date" id="treatment_date" formControlName="treatment_date" class="input">
        </div>

        <div>
          <button type="submit" class="bg-blue-500 rounded text-white px-5 py-2 mt-7 text-sm">
            <fa-icon [icon]="faAdd"></fa-icon>
            {{ previousTreatmentForm.value.id ? 'Update' : 'Add' }}
          </button>

          <button *ngIf="previousTreatmentForm.value.id" type="button" (click)="clearPreviousTreatmentForm()" class="ml-3 bg-orange-500 rounded text-white px-5 py-2 mt-7 text-sm">
            <fa-icon [icon]="faXmark"></fa-icon>
            Cancel
          </button>
        </div>
      </div>
    </form>

    <div class="w-full flex justify-center">
      <table class="w-4/5 text-sm text-left mt-5 mx-10">
        <thead class="text-xs text-white uppercase bg-blue-500">
          <tr>
            <th scope="col" class="py-3 px-6">Treatment Outcome</th>
            <th scope="col" class="py-3 px-6">Treatment Date</th>
            <th scope="col" class="py-3 px-6">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="bg-white border-b" *ngFor="let previous_treatment of previous_treatments; trackBy:identify"> <!--  -->
            <td class="py-4 px-6">
              {{  previous_treatment.outcome.desc }}
            </td>
            <td class="py-4 px-6">
              {{ previous_treatment.treatment_date | date:'MM/dd/yyyy' }}
            </td>
            <td class="py-4 px-6">
              <fa-icon (click)="editPreviousTreatment(previous_treatment)" [icon]="faEdit" class="mx-0 my-0 text-orange-400 hover:cursor-pointer flex-none mr-2"></fa-icon>

              <!-- <fa-icon (click)="editPhilhealth(philhealth)" class="mx-0 my-0 text-amber-500 hover:cursor-pointer flex-none mr-2" [icon]="faPenToSquare"></fa-icon> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="m-5 border border-slate-200 rounded-lg" *ngIf="show_form">
  <div class="bg-blue-500 text-white rounded-t-md py-2 pl-3 font-semibold">
    Case Findings
  </div>

  <div class="mx-5 mb-5">
    <form [formGroup]="casefindingForm" (ngSubmit)="saveCase()">
      <div class="grid grid-cols-3 gap-x-4 w-full">
        <div class="col-span-3 border-b border-slate-200 w-full my-2 font-semibold text-sky-500">
          Registration Details
        </div>
        <div class="mx-5 col-span-3 grid grid-cols-3 gap-x-4">
          <div>
            <label for="patient_source">Patient Source</label>
            <select name="patient_source" id="patient_source" formControlName="patient_source" class="input">
              <option *ngFor="let source of patient_sources" [value]="source.code">{{ source.desc }}</option>
            </select>
          </div>

          <div>
            <label for="reg_group">Registration Group</label>
            <select name="reg_group" id="reg_group" formControlName="reg_group" class="input">
              <option *ngFor="let group of reg_groups" [value]="group.code">{{ group.desc }}</option>
            </select>
          </div>

          <div>
            <label for="consult_date">Consultation Date</label>
            <input type="date" name="consult_date" id="consult_date" formControlName="consult_date" class="input">
          </div>
        </div>
      </div>

      <div class="mt-1 grid grid-cols-3 gap-x-4 w-full">
        <div class="col-span-3 border-b border-slate-200 w-full my-2 pt-3 font-semibold text-sky-500">
          Screening Data
        </div>
        <div class="mx-5 col-span-3 grid grid-cols-3 gap-x-4">
          <div>
            <label for="previous_tb_treatment">Previous TB Treatment</label>
            <select name="previous_tb_treatment" id="previous_tb_treatment" formControlName="previous_tb_treatment" class="input">
              <option *ngFor="let previous_treatment of previous_tb_treatments" [value]="previous_treatment.code">{{ previous_treatment.desc }}</option>
            </select>
          </div>

          <div>
            <label for="tb_exposure">Exposure to TB</label>
            <select name="tb_exposure" id="tb_exposure" formControlName="tb_exposure" class="input">
              <option *ngFor="let answer of answers_yn" [value]="answer.code">{{ answer.desc }}</option>
            </select>
          </div>

          <div>
            <label for="presumptive_drtb">Presumptive DR-TB</label>
            <select name="presumptive_drtb" id="presumptive_drtb" formControlName="presumptive_drtb" class="input">
              <option *ngFor="let answer of answers_yn" [value]="answer.code">{{ answer.desc }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="mt-1 grid grid-cols-3 gap-x-4 w-full">
        <div class="col-span-3 border-b border-slate-200 w-full my-2 pt-3 font-semibold text-sky-500">
          Symptoms
        </div>
        <div class="col-span-3 grid grid-cols-3 gap-x-4 mx-5" formGroupName="symptom">
          <div class="col-span-1" *ngFor="let symp of symptoms">
            <input type="checkbox" [id]="symp.code" class="border border-slate-500 rounded mr-3" [formControlName]="symp.code">
            <label class="font-normal" [attr.for]="symp.code">{{ symp.desc }}</label>
          </div>
        </div>

        <div class="col-span-3 mx-5 mt-3">
          <label for="symptom_remarks">Symptoms Remarks</label>
          <input type="text" name="symptom_remarks" id="symptom_remarks" formControlName="symptom_remarks" class="input">
        </div>
      </div>

      <div class="mt-1 grid grid-cols-3 gap-x-4 w-full">
        <div class="col-span-3 border-b border-slate-200 w-full my-2 pt-3 font-semibold text-sky-500">
          Physical Exam
        </div>
        <div class="col-span-3 grid grid-cols-3 gap-x-4 mx-5">
          <div *ngFor="let pe of pes" >
            <label for="previous_tb_treatment">{{ pe.desc }}</label>
            <select name="previous_tb_treatment" id="previous_tb_treatment" formControlName="previous_tb_treatment" class="input">
              <option *ngFor="let answer of pe_answers" [value]="answer.code">{{ answer.desc }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="mt-1 grid grid-cols-3 gap-x-4 w-full">
        <div class="col-span-3 border-b border-slate-200 w-full my-2 pt-3 font-semibold text-sky-500">
          Risk Factor
        </div>
        <div class="col-span-3 grid grid-cols-3 gap-x-4 mx-5" formGroupName="risk_factor">
          <div class="col-span-3" *ngFor="let risk of risk_factors">
            <input type="checkbox" [id]="risk.code" class="border border-slate-500 rounded mr-3" [formControlName]="risk.code">
            <label class="font-normal" [attr.for]="risk.code">{{ risk.desc }}</label>
          </div>
        </div>
      </div>

      <div class="flex justify-center mt-5">
        <button type="submit" class="btn-save mr-5 w-32 mt-4">
          <fa-icon [icon]="faSave" class="mr-2"></fa-icon>
          Save
        </button>
      </div>
    </form>
  </div>
</div>
