table.morbidity {
  border: 1px;
  border-color: gray;
  border-style: solid;
}

table.morbidity thead {
  border: 1px;
  border-color: gray;
  border-style: solid;
}

table.morbidity tbody {
  border: 1px;
  border-color: gray;
  border-style: solid;
}

table.morbidity tr {
  border: 1px;
  border-color: gray;
  border-style: solid;
}

table.morbidity td {
  border: 1px;
  border-color: gray;
  border-style: solid;
}

table.morbidity th {
  border: 1px;
  border-color: gray;
  border-style: solid;
}
