<div class="border border-slate-200 rounded-b-lg">
  <div class="mx-5 mb-5">
    <form [formGroup]="intakeForm" (ngSubmit)="onSubmit()">
      <div class="grid grid-cols-4 gap-4 w-full mt-5">
        <div class="col-span-4 border-b border-slate-200 w-full my-2 font-semibold text-sky-500">
          Consent Details
        </div>
        <div class="mx-5 col-span-4 grid grid-cols-4 gap-4">
          <div class="col-span-4">
            <input type="checkbox" id="consent_flag" formControlName="consent_flag" class="input-checkbox" />
            <label for="consent_flag" class="pl-3 py-0.5">The victim survivor/guardian has read, fully understood, and signed the consent form.</label>
          </div>

          <div class="col-span-2">
            <label for="consent_relation_to_child_id">Relation to child</label>
            <select name="consent_relation_to_child_id" id="consent_relation_to_child_id" formControlName="consent_relation_to_child_id" class="input">
              <option [ngValue]="null">-</option>
              <option *ngFor="let child_relation of child_relations" [value]="child_relation.id">{{ child_relation.desc }}</option>
            </select>
          </div>
        </div>

        <div class="col-span-4 flex justify-center">
          <button [disabled]="is_saving" type="submit" class="btn-save mr-5 mt-4">
            <fa-icon [icon]="is_saving ? faCircleNotch : faSave" [spin]="is_saving ? true : false" class="mr-2"></fa-icon>
            {{ is_saving ? 'Saving' : 'Save' }}
          </button>
        </div>
      </div>
    </form>

    <div class="grid grid-cols-3 gap-4 w-full mt-5" *ngIf="has_consent" >
      <div class="col-span-4 border-b border-slate-200 w-full my-2 pt-3 font-semibold text-sky-500">
        Symptoms Described by the Victim Survivor and/or Historian
      </div>
      <div class="col-span-4 grid grid-cols-1 border-slate-200 shadow-md rounded-md mx-5 mb-5">
        <div class="bg-sky-500 text-white py-1 px-3 rounded-t-md flex justify-between">
          <span>Anogenital</span>
          <button type="button" (click)="toggleModal('anogenital', 'Anogenital', 'gbv-symptoms-anogenital', 'patient-gbv-symptoms-anogenital', 'anogenital_symptoms_id', 'anogenital_array', selected_gbv_case?.gbvIntake.symptoms_anogenital)" class="bg-white text-sky-500 px-2 rounded text-xs">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
        </div>
        <div class="min-h-24" *ngIf="!anogenital_exam">
          <span class="flex italic py-5 justify-center">
            No records to show
          </span>
        </div>

        <table class="m-3">
          <thead>
            <tr>
              <td class="text-center uppercase text-xs">Description</td>
              <td class="text-center uppercase text-xs">Victim Survivor</td>
              <td class="text-center uppercase text-xs">Historian</td>
            </tr>
          </thead>
          <tbody>
            <tr class="border-t border-slate-200" *ngFor="let anogenital of anogenital_exam| keyvalue" >
              <td>
                {{ anogenital.key }}
              </td>
              <td class="text-center">
                <input type="checkbox" class="input-checkbox disabled:bg-blue-500" *ngIf="anogenital.value[1]" checked />
              </td>
              <td class="text-center">
                <input type="checkbox" class="input-checkbox disabled:bg-blue-500" *ngIf="anogenital.value[2]" checked />
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-span-4 grid grid-cols-1 border-slate-200 shadow-md rounded-md mx-5 mb-5">
        <div class="bg-sky-500 text-white py-1 px-3 rounded-t-md flex justify-between">
          <span>Corporal</span>
          <button type="button" (click)="toggleModal('anogenital', 'Corporal', 'gbv-symptoms-corporal', 'patient-gbv-symptoms-corporal', 'corporal_symptoms_id', 'corporal_array', selected_gbv_case?.gbvIntake.symptoms_corporal)" class="bg-white text-sky-500 px-2 rounded text-xs">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
        </div>
        <div class="min-h-24" *ngIf="!corporal_exam" >
          <span class="flex italic py-5 justify-center">
            No records to show
          </span>
        </div>

        <table class="m-3">
          <thead>
            <tr>
              <td class="text-center uppercase text-xs">Description</td>
              <td class="text-center uppercase text-xs">Victim Survivor</td>
              <td class="text-center uppercase text-xs">Historian</td>

            </tr>
          </thead>
          <tbody>
            <tr class="border-t border-slate-200" *ngFor="let corporal of corporal_exam | keyvalue" >
              <td> {{ corporal.key }}</td>
              <td class="text-center">
                <input type="checkbox" class="input-checkbox disabled:bg-blue-500" *ngIf="corporal.value[1]" checked />
              </td>
              <td class="text-center">
                <input type="checkbox" class="input-checkbox disabled:bg-blue-500" *ngIf="corporal.value[2]" checked />
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-span-4 grid grid-cols-1 border-slate-200 shadow-md rounded-md mx-5 mb-5">
        <div class="bg-sky-500 text-white py-1 px-3 rounded-t-md flex justify-between">
          <span>Behavioral</span>
          <button type="button" (click)="toggleModal('anogenital', 'Behavioral', 'gbv-symptoms-behavioral', 'patient-gbv-symptoms-behavioral', 'behavioral_symptoms_id', 'behavior_array', selected_gbv_case?.gbvIntake.symptoms_behavioral)"class="bg-white text-sky-500 px-2 rounded text-xs">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
        </div>
        <div class="min-h-24"*ngIf="!behavioral_exam">
          <span class="flex italic py-5 justify-center">
            No records to show
          </span>
        </div>

        <table class="m-3">
          <thead>
            <tr>
              <td class="text-center uppercase text-xs">Description</td>
              <td class="text-center uppercase text-xs">Victim Survivor</td>
              <td class="text-center uppercase text-xs">Historian</td>

            </tr>
          </thead>
          <tbody>
            <tr class="border-t border-slate-200" *ngFor="let behavioral of behavioral_exam| keyvalue" >
              <td> {{ behavioral.key }}</td>
              <td class="text-center">
                <input type="checkbox" class="input-checkbox disabled:bg-blue-500" *ngIf="behavioral.value[1]" checked />
              </td>
              <td class="text-center">
                <input type="checkbox" class="input-checkbox disabled:bg-blue-500" *ngIf="behavioral.value[2]" checked />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="grid grid-cols-3 gap-4 w-full mt-5" *ngIf="has_consent" >
      <div class="col-span-4 border-b border-slate-200 w-full my-2 pt-3 font-semibold text-sky-500">
        Documents
      </div>

      <div class="col-span-4 grid grid-cols-1 border-slate-200 shadow-md rounded-md mx-5 mb-5">

        <div class="bg-sky-500 text-white py-1 px-3 rounded-t-md flex justify-between">
          <span>Uploaded Files</span>
          <button type="button" (click)="toggleFileModal()"class="bg-white text-sky-500 px-2 rounded text-xs">
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
        </div>
        <div class="min-h-24"*ngIf="!behavioral_exam">
          <span class="flex italic py-5 justify-center">
            No records to show
          </span>
        </div>

        <table class="m-3">
          <thead>
            <tr>
              <td class="text-center uppercase text-xs w-1/12"> </td>
              <td class="text-center uppercase text-xs w-4/12">File Title</td>
              <td class="text-center uppercase text-xs w-6/12">File Description</td>
              <td class="text-center uppercase text-xs w-1/12">Action</td>
            </tr>
          </thead>
          <tbody>
            <tr class="border-t border-slate-200 my-3" *ngFor="let file of gbv_files" >
              <td>

              </td>
              <td class="text-center py-2">
                {{ file.file_title }}
              </td>
              <td class="text-center">
                {{ file.file_desc }}
              </td>
              <td class="text-center">
                <button type="button" (click)="viewFile(file.id)" class="text-xs px-3 py-1 bg-blue-500 text-white rounded-md">
                  View
                </button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>



<app-anogenital *ngIf="modals['anogenital']"
  (toggleModal)="toggleModal($event)"
  [selected_exam]="selected_exam"
  [intake_id]="selected_gbv_case?.gbvIntake.id"
  [patient_id]="patient_id"
></app-anogenital>

<app-file-upload *ngIf="modals['file_upload']"
  (toggleModal)="toggleModal($event)"
  [gbv_id]="selected_gbv_case?.id"
  [patient_id]="patient_id"
></app-file-upload>

<app-view-file *ngIf="modals['view_file']"
  (toggleModal)="toggleModal($event)"
  [selected_file_id]="selected_file_id"
></app-view-file>
<!-- <app-physical-examination *ngIf="modals['physical-examination']"
  (toggleModal)="toggleModal($event)"
></app-physical-examination> -->


