<div class="grid grid-cols-10">
  <div class="col-span-2 pt-2 font-semibold">
    Diagnosis History
  </div>
  <div class="col-span-8">
    <div class="rounded-md border border-solid border-gray-300">
      <span class="rounded-t-md m-0 p-2 font-semibold text-gray-50 block bg-teal-500">
        Previous Diagnosis
      </span>
      <table class="w-full table-auto">
        <thead>
          <tr class="border-b border-solid border-gray-200">
            <th>Date</th>
            <th>Initial Diagnosis</th>
            <th>Final Diagnosis</th>
            <th>Precription</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <td>09/01/2022</td>
            <td>Sample dx</td>
            <td>Sample dx</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
