<div class="flex w-full">
  

    <div class="w-3/12">
      <app-patient-info></app-patient-info>
    </div>
    
    <div class="flex-wrap w-9/12 h-full shadow-md px-8 py-4 ml-5 mr-1 border-gray-100 border-t-2 rounded-3xl text-gray-600">

      <nav class="flex flex-col sm:flex-row">
        <button (click)="switchTab(1)" class="    text-gray-600 border-b-2 border-gray-200 block hover:text-blue-500 hover:border-blue-500 border-b-2 border-gray-200 mr-6 pb-2"
        [class]="module==1? 'text-blue-500 border-b-2 border-blue-500 font-bold' : 'hover:-translate-y-1 hover:scale-110 transition ease-in-out delay-400 duration-300' ">
            RISK ASSESSMENT
        </button>
        <button (click)="switchTab(2)" class="transition ease-in-out delay-400 hover:-translate-y-1 hover:scale-110 duration-300 text-gray-600 border-b-2 border-gray-200 block hover:text-blue-500 hover:border-blue-500 focus:text-blue-500 focus:border-b-2 focus:border-blue-500 focus:font-bold mr-6 pb-2">
            QUESTIONNAIRE
        </button>
        <button (click)="switchTab(3)" class="transition ease-in-out delay-400 hover:-translate-y-1 hover:scale-110 duration-300 text-gray-600 border-b-2 border-gray-200 block hover:text-blue-500 hover:border-blue-500 focus:text-blue-500 focus:border-b-2 focus:border-blue-500 focus:font-bold mr-6 pb-2">
            RISK STRATIFICATION
        </button>
        <button (click)="switchTab(4)" class="transition ease-in-out delay-400 hover:-translate-y-1 hover:scale-110 duration-300 text-gray-600 border-b-2 border-gray-200 block hover:text-blue-500 hover:border-blue-500 focus:text-blue-500 focus:border-b-2 focus:border-blue-500 focus:font-bold mr-6 pb-2">
            PATIENT RECORD
        </button>
        <button (click)="switchTab(5)" class="transition ease-in-out delay-400 hover:-translate-y-1 hover:scale-110 duration-300 text-gray-600 border-b-2 border-gray-200 block hover:text-blue-500 hover:border-blue-500 focus:text-blue-500 focus:border-b-2 focus:border-blue-500 focus:font-bold mr-6 pb-2">
            CASDT
      </button>
    </nav>
    
        <!--FIRST VISIT SECTION-->
      
      <div class="grid grid-col-8" *ngIf="module==1">
        <app-risk-assessment></app-risk-assessment>
      </div>
  
      <!--border-->
      <!-- <div class="border-b-2 py-4"></div> -->
  
      

       <!--QUESTIONNAIRE SECTION-->
    
       <div class="grid grid-col-8" *ngIf="module==2">
        <app-questionnaire></app-questionnaire>
      </div>
    
      
       <!--border-->
       <!-- <div class="border-b-2 py-4"></div> -->

     <!--RISK STRATIFICATION SECTION-->

     <div class="grid grid-col-8" *ngIf="module==3">
      <app-risk-stratification></app-risk-stratification>
    </div>


       <!--border-->
       <!-- <div class="border-b-2 py-4"></div> -->

      <!--PATIENT RECORD SECTION-->
    
      <div class="grid grid-col-8" *ngIf="module==4">
        <app-patient-record></app-patient-record>
      </div>

       <!--border-->
       <!-- <div class="border-b-2 py-4"></div> -->

      <!--CASDT SECTION-->
    
      <div class="grid grid-col-8" *ngIf="module==5">
        <app-casdt></app-casdt>
      </div>
      
    </div>
  
  
      
  
  </div>