<div class="flex">
  <nav class="flex flex-row whitespace-nowrap text-sm max-w-xl mt-5">
    <button (click)="switchTabs(1)" class="text-gray-600 border-b-2 border-gray-200 block hover:text-blue-500 hover:border-blue-500 mr-6 pb-2"
    [class]="modules===1? 'text-blue-500 border-b-2 border-blue-500 font-bold' : 'hover:-translate-y-1 hover:scale-110 transition ease-in-out delay-400 duration-300' ">
        NCD HISTORY
    </button>
    <button (click)="switchTabs(2)" class="text-gray-600 border-b-2 border-gray-200 block hover:text-blue-500 hover:border-blue-500 mr-6 pb-2"
        [class]="modules===2? 'text-blue-500 border-b-2 border-blue-500 font-bold' : 'hover:-translate-y-1 hover:scale-110 transition ease-in-out delay-400 duration-300' ">
        NCD CONSULT
    </button>
  </nav>
  <div class="ml-auto">
    <button *ngIf="!consult_details?.consult_done" type="button" class="btn-end-visit ml-auto mt-5" (click)="toggleModal()">
      <fa-icon class="mr-1" [icon]="faDoorClosed"></fa-icon>
      End Visit
    </button>
  </div>
</div>

<div *ngIf="modules===2">
  <div class="text-gray-600 border border-slate-100 mt-5"></div>
  <nav class="mt-4 flex flex-row whitespace-nowrap sm:text-xs md:text-xs overflow-x-auto no-scrollbar lg:text-xs">
    <button (click)="switchTab(1)" class="text-gray-600 border-b-2 border-gray-200 block hover:text-blue-500 hover:border-blue-500 mr-6 pb-2"
        [class]="module===1? 'text-blue-500 border-b-2 border-blue-500 font-bold' : 'hover:-translate-y-1 hover:scale-110 transition ease-in-out delay-400 duration-300' ">
        RISK ASSESSMENT
    </button>
    <button *ngIf="consult_details?.assessment_date" (click)="switchTab(2)" class="text-gray-600 border-b-2 border-gray-200 block hover:text-blue-500 hover:border-blue-500 mr-6 pb-2"
        [class]="module===2? 'text-blue-500 border-b-2 border-blue-500 font-bold' : 'hover:-translate-y-1 hover:scale-110 transition ease-in-out delay-400 duration-300' ">
        RISK SCREENING
    </button>
    <button *ngIf="consult_details?.assessment_date" (click)="switchTab(3)" class="text-gray-600 border-b-2 border-gray-200 block hover:text-blue-500 hover:border-blue-500 mr-6 pb-2"
        [class]="module===3? 'text-blue-500 border-b-2 border-blue-500 font-bold' : 'hover:-translate-y-1 hover:scale-110 transition ease-in-out delay-400 duration-300' ">
        QUESTIONNAIRE
    </button>
    <button *ngIf="consult_details?.assessment_date" (click)="switchTab(4)" class="text-gray-600 border-b-2 border-gray-200 block hover:text-blue-500 hover:border-blue-500 mr-6 pb-2"
        [class]="module===4? 'text-blue-500 border-b-2 border-blue-500 font-bold' : 'hover:-translate-y-1 hover:scale-110 transition ease-in-out delay-400 duration-300' ">
        RISK STRATIFICATION
    </button>
    <button *ngIf="consult_details?.assessment_date" (click)="switchTab(5)" class="text-gray-600 border-b-2 border-gray-200 block hover:text-blue-500 hover:border-blue-500 mr-6 pb-2"
        [class]="module===5? 'text-blue-500 border-b-2 border-blue-500 font-bold' : 'hover:-translate-y-1 hover:scale-110 transition ease-in-out delay-400 duration-300' ">
        PATIENT RECORD
    </button>
<!--    <button (click)="switchTab(6)" class="text-gray-600 border-b-2 border-gray-200 block hover:text-blue-500 hover:border-blue-500 mr-6 pb-2"
        [class]="module===6? 'text-blue-500 border-b-2 border-blue-500 font-bold' : 'hover:-translate-y-1 hover:scale-110 transition ease-in-out delay-400 duration-300' ">
        CASDT
    </button>-->
    <button *ngIf="show_casdt2" (click)="switchTab(7)" class="text-gray-600 border-b-2 border-gray-200 block hover:text-blue-500 hover:border-blue-500 mr-6 pb-2"
        [class]="module===7? 'text-blue-500 border-b-2 border-blue-500 font-bold' : 'hover:-translate-y-1 hover:scale-110 transition ease-in-out delay-400 duration-300' ">
        CASDT 2
    </button>
  </nav>

  <div class="grid grid-col-8" >
    <app-risk-assessment *ngIf="module===1"
      [patient_info]="patient_info"
      [consult_details]="consult_details"
      [vitals]="vitals"
      (loadNCD)="loadNCD($event)"
      (loadRisk)="loadRisk()"
    ></app-risk-assessment>

    <app-risk-screening *ngIf="module===2"
      [patient_id]="patient_id"
      [consult_details]="consult_details"
      (loadNCD)="loadNCD($event)"
    ></app-risk-screening>

    <app-questionnaire *ngIf="module===3"
      [consult_details]="consult_details"
      (loadNCD)="loadNCD($event)"
    ></app-questionnaire>

    <app-risk-stratification *ngIf="module===4"
      [patient_id]="patient_id"
      [consult_details]="consult_details"
      (loadNCD)="loadNCD($event)"
    ></app-risk-stratification>

    <app-patient-record *ngIf="module===5"
      [patient_id]="patient_id"
      [consult_details]="consult_details"
      (loadNCD)="loadNCD($event)"
    ></app-patient-record>

    <app-casdt *ngIf="module===6"
      [patient_id]="patient_id"
      [consult_details]="consult_details"
      (loadNCD)="loadNCD($event)"
    ></app-casdt>

    <app-casdt2 *ngIf="module===7"
      [patient_id]="patient_id"
      [consult_details]="consult_details"
      [vaccine_details]="vaccine_details"
      (loadNCD)="loadNCD($event)"
    ></app-casdt2>
  </div>
</div>

<div *ngIf="modules===1">
  <div class="border border-slate-200 shadow-md rounded-xl mt-5">
    <div class="w-full bg-green-500 text-white rounded-t-xl p-3 font-semibold">
      NCD Visits
    </div>

    <div class="w-full p-5">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="text-center py-3 px-3 w-3/12">Assessment Date</th>
            <th scope="col" class="text-center py-3 px-3 w-3/12">Risk Stratification</th>
            <th scope="col" class="text-center py-3 px-3 w-3/12">Location</th>
            <th scope="col" class="text-center py-3 px-3 w-3/12">Actions</th>
          </tr>
        </thead>
        <tbody *ngIf="ncd_list">
          <tr *ngFor="let ncd of ncd_list; trackBy:identify" class="bg-white border-b last:border-0">
            <td class="py-4 px-3 text-center">
              {{ ncd.assessment_date ? (ncd.assessment_date | date: 'MM/dd/yyyy':'Asia/Manila') : (ncd.consult_date | date: 'MM/dd/yyyy':'Asia/Manila')}}
            </td>
            <td scope="row" class="py-4 px-3 font-medium text-gray-900 text-center">
              <span *ngIf="ncd.risk_stratification" class="font-semibold" [ngStyle]="{'color': ncd.risk_stratification.color }">
                {{ ncd.risk_stratification.risk_level }}
              </span>
              <span *ngIf="!ncd.risk_stratification">
                -
              </span>
            </td>
            <td scope="row" class="py-4 px-3 font-medium text-gray-900 text-center">
              {{ ncd.location ? ncd.location === 1 ? 'Community' : 'Facility' : '-' }}
            </td>
            <td scope="row" class="py-4 px-3 font-medium text-gray-900 text-center">
              <button type="button" class="btn-save" (click)="openNCD(ncd)">
                {{ ncd.consult_done ? 'View' : 'Open'}}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-end-visit *ngIf="ncd_list && show_end"
  (toggleModal)="toggleModal($event)"
  [consult_id]="consult_details_temp.id"
  [patient_id]="consult_details_temp.patient ? consult_details_temp.patient.id : consult_details_temp.patient_id"
  [consult_date]="consult_details_temp.consult_date"
  [pt_group]="'ncd'"
></app-end-visit>
