<div id="defaultModal" tabindex="-1" class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 w-full md:inset-0 h-modal md:h-full justify-center items-center flex" aria-modal="true" role="dialog" style="z-index:60">
  <div class="relative p-4 w-full max-w-xl h-auto md:h-auto">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex justify-between items-start py-3 px-5 rounded-t border-b bg-blue-500 dark:border-gray-600">
        <h3 class="mt-2 text-sm font-bold text-white dark:text-white">
          Service for Tooth (#{{selected_tooth.tooth_number}})
        </h3>
      </div>
      <!-- Modal body -->
      <div class="overflow-y-auto h-auto scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100">
        <div class="w-full max-w-3xl text-left text-gray-500 dark:text-gray-400">
          <form [formGroup]="toothServiceForm" (submit)="onSubmit()">
            <div class="m-5">
              <label for="service_code">Service Done</label>
              <select class="input" id="service_code" formControlName="service_code">
                <option *ngFor="let item of tooth_services" [value]="item.code">{{ item.desc }}</option>
              </select>
            </div>
            <div class="m-5">
              <label for="remarks">Remarks</label>
              <input type="text" id="remarks" formControlName="remarks" class="input" />
            </div>
          </form>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="flex justify-end py-4 px-5 space-x-4 rounded-b border-t border-gray-200 dark:border-gray-600">
        <button type="button" class="btn-save bg-gray-400" (click)="closeModal()">Cancel</button>
        <button type="button h-10" class="btn-save" [disabled]="toothServiceForm.invalid || is_saving" (click)="onSubmit()">
          <fa-icon [icon]="is_saving ? faCircleNotch : faSave" [spin]="is_saving"></fa-icon>
          {{ is_saving ? 'Saving' : 'Save' }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="opacity-50 fixed inset-0 z-50 bg-black"></div>
