
<div class="my-10  flex justify-center w-full">

  <div class="lg:w-3/6 md:w-5/6 bg-white border border-solid border-slate-100 rounded-xl shadow-md">
    <div class="flex border border-solid border-slate-100 rounded-t-xl p-3 font-semibold justify-between">
      <div class="text-blue-500 text-lg pt-2 pl-5">
        Create your account
      </div>
      <div>
        <button class="bg-white-500 text-blue-500 active:bg-gray-100 hover:bg-gray-200 text-sm px-4 py-2 rounded hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="backToLogin()">
          <fa-icon class="mr-3" [icon]="faArrowLeft"></fa-icon>
          Back to login
        </button>
      </div>
    </div>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="m-5">
        <div class="md:px-6 sm:px-2 bg-white">
          <div class="grid grid-cols-8 gap-x-4 gap-y-4">
            <div class="col-span-8">
              <label for="last_name" class="input-label" [ngClass]="{'text-red-500': is_saving && f.last_name.errors}">Last name</label>
              <input type="text" name="last_name" id="last_name" class="input" [ngClass]="{'invalid-input': is_saving && f.last_name.errors}" formControlName="last_name" required>

              <div *ngIf="is_saving && f.last_name.errors" class="invalid-alert">
                <div *ngIf="f.last_name.errors?.['required']">
                  {{ required_message }}
                </div>
                <div *ngIf="f.last_name.errors?.['minlength']">
                  Minimum of 2 character.
                </div>
              </div>
            </div>

            <div class="col-span-8">
              <label for="first_name" class="input-label" [ngClass]="{'text-red-500': is_saving && f.first_name.errors}">First name</label>
              <input type="text" name="first_name" id="first_name" class="input" [ngClass]="{'invalid-input': is_saving && f.first_name.errors}" formControlName="first_name">

              <div *ngIf="is_saving && f.first_name.errors" class="invalid-alert">
                <div *ngIf="f.first_name.errors?.['required']">
                  {{ required_message }}
                </div>
                <div *ngIf="f.first_name.errors?.['minlength']">
                  Minimum of 2 character.
                </div>
              </div>
            </div>

            <div class="col-span-8">
              <label for="middle_name" class="input-label" [ngClass]="{'text-red-500': is_saving && f.middle_name.errors}">Middle name</label>
              <input type="text" name="middle_name" id="middle_name" class="input" [ngClass]="{'invalid-input': is_saving && f.middle_name.errors}" formControlName="middle_name">

              <div *ngIf="is_saving && f.middle_name.errors" class="invalid-alert">
                <div *ngIf="f.middle_name.errors?.['required']">
                  {{ required_message }}
                </div>
                <div *ngIf="f.middle_name.errors?.['minlength']">
                  Minimum of 2 character.
                </div>
              </div>
            </div>

            <div class="col-span-8">
              <label for="suffix_name" class="input-label" >Suffix Name</label>
              <select id="suffix_name" name="suffix_name" class="input" formControlName="suffix_name">
                <option *ngFor="let suffix_name of suffix_names" [value]="suffix_name.code">{{ suffix_name.suffix_desc }}</option>
              </select>
            </div>

            <div class="col-span-8">
              <label for="gender" class="input-label" [ngClass]="{'text-red-500': is_saving && f.gender.errors}">Gender</label>
              <select id="gender" name="gender" class="input" [ngClass]="{'invalid-input': is_saving && f.gender.errors}" formControlName="gender">
                <option value="M">Male</option>
                <option value="F">Female</option>
              </select>

              <div *ngIf="is_saving && f.gender.errors" class="invalid-alert">
                <div *ngIf="f.gender.errors?.['required']">
                  {{ required_message }}
                </div>
              </div>
            </div>

            <div class="col-span-8">
              <label for="birthdate" class="input-label" [ngClass]="{'text-red-500': is_saving && f.birthdate.errors}">Birthdate</label>
              <input type="date" name="birthdate" id="birthdate" class="input" placeholder="mm/dd/yyyy" max="{{ date | date: 'yyyy-MM-dd' }} " [ngClass]="{'invalid-input': is_saving && f.birthdate.errors}" formControlName="birthdate">

              <div *ngIf="is_saving && f.birthdate.errors" class="invalid-alert">
                <div *ngIf="f.birthdate.errors?.['required']">
                  {{ required_message }}
                </div>
              </div>
            </div>

            <div class="col-span-8">
              <label for="email" class="input-label" [ngClass]="{'text-red-500': is_saving && f.email.errors}">email</label>
              <input type="email" name="email" id="email" class="input" [ngClass]="{'invalid-input': is_saving && f.email.errors}" formControlName="email">

              <div *ngIf="is_saving && f.email.errors" class="invalid-alert">
                <div *ngIf="f.email.errors?.['required']">
                  {{ required_message }}
                </div>
                <div *ngIf="f.email.errors?.['email']">
                  Not a valid email format
                </div>
              </div>
            </div>

            <div class="col-span-8">
              <label for="contact_number" class="input-label" [ngClass]="{'text-red-500': is_saving && f.contact_number.errors}">Mobile Number (0912) 354-6789</label>
              <input type="text" mask="(9999) 999-9999" [showMaskTyped]="true" name="contact_number" id="contact_number" class="input" [ngClass]="{'invalid-input': is_saving && f.contact_number.errors}" formControlName="contact_number">

              <div *ngIf="is_saving && f.contact_number.errors" class="invalid-alert">
                <div *ngIf="f.contact_number.errors?.['required']">
                  {{ required_message }}
                </div>
              </div>
            </div>

            <div class="col-span-8">
              <label for="password" class="input-label" [ngClass]="{'text-red-500': is_saving && f.password.errors}">Password</label>
              <input type="password" name="password" id="password" class="input" [ngClass]="{'invalid-input': is_saving && f.password.errors}" formControlName="password">

              <div *ngIf="!is_saving ">
                <ol class="list-disc pl-5 text-sm">
                  <li>Password must have at least 6 characters</li>
                  <li>Password must have at least 1 capital letter</li>
                  <li>Password must have at least 1 small letter</li>
                  <li>Password must have at least 1 number</li>
                  <li>Password must have at least 1 special character</li>
                </ol>
              </div>

              <div *ngIf="is_saving && f.password.errors" class="invalid-alert">
                <div *ngIf="f.password.errors?.['required']">
                  {{ required_message }}
                </div>
                <div *ngIf="f.password.errors?.['pattern']">
                  <ol class="list-disc pl-5 text-sm">
                    <li>Password must have at least 6 characters</li>
                    <li>Password must have at least 1 capital letter</li>
                    <li>Password must have at least 1 small letter</li>
                    <li>Password must have at least 1 number</li>
                    <li>Password must have at least 1 special character</li>
                  </ol>
                </div>
              </div>
            </div>

            <div class="col-span-8">
              <label for="password_confirmation" class="input-label" [ngClass]="{'text-red-500': is_saving && f.password_confirmation.errors}">Password Confirmation</label>
              <input type="password" name="password_confirmation" id="password_confirmation" class="input" [ngClass]="{'invalid-input': is_saving && f.password_confirmation.errors}" formControlName="password_confirmation">

              <div *ngIf="passwordMatchError" class="invalid-alert">
                <div>
                  Password does not match
                </div>
              </div>

              <div *ngIf="is_saving && f.password_confirmation.errors" class="invalid-alert">
                <div *ngIf="f.password_confirmation.errors?.['required']">
                  {{ required_message }}
                </div>
              </div>

            </div>

            <div class="col-span-8">
              <div class="flex items-start">
                <div class="flex items-center h-5">
                  <input id="terms" aria-describedby="terms" type="checkbox" [ngClass]="{'border-red-500': is_saving && f.privacy.errors}" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300">
                </div>
                <div class="ml-3 text-sm">
                  <span class="text-gray-500" [ngClass]="{'text-red-500': is_saving && f.privacy.errors}" >I accept the <span class="font-medium text-sky-600 hover:underline cursor-pointer" [ngClass]="{'text-red-500': is_saving && f.privacy.errors}" (click)="showPrivacyStatement = !showPrivacyStatement">Terms and Conditions</span></span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="text-right pt-5 ">
          <button type="submit" class="btn-save mr-6 w-48 mb-10">
            <fa-icon *ngIf="loading" class="mr-3" [icon]="faSpinner" [spin]="true"></fa-icon>
            {{ loading ? 'Saving' : 'Create Account' }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div [@myInsertRemoveTrigger] *ngIf="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
  <div class="relative w-auto my-6 mx-auto max-w-6xl">
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <div class="relative p-6 pb-10 pr-40 flex-auto">
          <span>New account was created succesfully.</span>
      </div>
      <div class="flex items-center justify-end p-3 rounded-b">
        <!-- <button class="bg-blue-500 text-white active:bg-blue-500 hover:bg-blue-600 text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="newPatient()">
          <fa-icon class="mr-3" [icon]="faFolderPlus"></fa-icon>New Patient
        </button> -->
        <button class="bg-blue-500 text-white active:bg-blue-500 hover:bg-blue-600 text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="backToLogin()">
          Back to login
        </button>
      </div>
    </div>
  </div>
</div>


<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>

<div [@myInsertRemoveTrigger]  *ngIf="showPrivacyStatement" id="defaultModal" tabindex="-1" class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 w-full md:inset-0 h-modal md:h-full justify-center items-center flex" aria-modal="true" role="dialog" style="z-index:60">
  <div class="relative p-4 w-full max-w-3xl h-auto md:h-auto">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex justify-between items-start py-3 px-5 rounded-t border-b bg-blue-500 dark:border-gray-600">
        <h3 class="mt-2 text-sm font-bold text-white dark:text-white">
            Social/Personal History
        </h3>
      </div>
      <!-- Modal body -->
      <div class="overflow-y-auto h-96 scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100">

      </div>

      <!-- Modal footer -->
      <div class="flex justify-end py-4 px-5 space-x-4 rounded-b border-t border-gray-200 dark:border-gray-600">
        <!-- <button  type="button" class="text-white bg-red-500 hover:ring-2 focus:outline-none hover:ring-red-300 rounded text-sm font-medium px-6 py-2.5 transition duration-150 ease-in-out transform hover:scale-110 " (click)="closeModal()">Ok</button> -->
        <button  type="button" class="text-white bg-blue-500 hover:ring-2 focus:outline-none hover:ring-blue-300 font-medium rounded text-sm px-6 py-2.5 text-center transition duration-150 ease-in-out transform hover:scale-110" (click)="showPrivacyStatement = !showPrivacyStatement" >Ok</button>
      </div>
    </div>
  </div>
</div>


<div *ngIf="showPrivacyStatement" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
