<div class="block pt-4  mx-5 pb-5">
  <div class="flex justify-between items-center">
    <span class="block text-blue-500 font-medium text-sm">
      <fa-icon (click)="toggle('vitals')" class="mx-0 my-0 mr-2 hover:cursor-pointer" [icon]="accordions['vitals'] ? faChevronUp : faChevronDown"></fa-icon>
      VITAL SIGNS <span *ngIf="latest_vitals">({{ latest_vitals?.vitals_date | date: 'MM/dd/yyyy hh:mm:ss a' }})</span>
    </span>
    <span>
      <fa-icon (click)="modalToggle('vitals-list')" class="mx-0 my-0 text-green-500 mr-2 hover:cursor-pointer" [icon]="faTableList" *ngIf="latest_vitals" ></fa-icon>
      <fa-icon (click)="modalToggle('vitals')" class="mx-0 my-0 text-blue-500 mr-2 hover:cursor-pointer" [icon]="faPlusCircle"></fa-icon>
    </span>
  </div>

  <div *ngIf="!show_vitals" >
    <div class="p-4 mx-auto">
      <div class="animate-pulse grid grid-cols-2 gap-x-20 gap-y-4 justify-between">
        <div class="h-2 bg-slate-200 rounded"></div>
        <div class="h-2 bg-slate-200 rounded"></div>
        <div class="h-2 bg-slate-200 rounded"></div>
        <div class="h-2 bg-slate-200 rounded"></div>
        <div class="h-2 bg-slate-200 rounded"></div>
        <div class="h-2 bg-slate-200 rounded"></div>
      </div>
    </div>
  </div>
  <div *ngIf="show_vitals" >
    <div [@openCloseAccordion] *ngIf="accordions['vitals']" class="block">
      <div class="flex pl-3 justify-between items-center">
        <span class="block font-medium text-xs">
          Weight
        </span>
        <span class="block text-xs">
          {{ latest_vitals?.patient_weight ? latest_vitals?.patient_weight+' kg' : '-' }}
        </span>
      </div>

      <div class="flex pl-3 justify-between items-center">
        <span class="block font-medium text-xs">
          {{ latest_vitals?.patient_weight_for_age || latest_vitals?.patient_height_for_age || latest_vitals?.patient_weight_for_height ? 'Length' : 'Height' }}
        </span>
        <span class="block text-xs">
          {{ latest_vitals?.patient_height ? latest_vitals?.patient_height+' cm' : '-' }}
        </span>
      </div>

      <div *ngIf="!latest_vitals?.patient_weight_for_age" class="flex pl-3 justify-between items-center" [ngClass]="{'text-red-500': latest_vitals?.patient_bmi ? (latest_vitals?.patient_bmi_class !== 'Normal') : false}">
        <span class="block font-medium text-xs" >
          BMI
        </span>
        <span class="block text-xs" >
          {{ latest_vitals?.patient_bmi ? latest_vitals?.patient_bmi : '-' }} {{ latest_vitals?.patient_bmi_class ? '('+latest_vitals?.patient_bmi_class+')' : '' }}
        </span>
      </div>

      <div *ngIf="latest_vitals?.patient_weight_for_age" class="flex pl-3 justify-between items-center" [ngClass]="{'text-red-500': latest_vitals?.patient_weight_for_age ? (latest_vitals?.patient_weight_for_age !== 'Normal') : false}">
        <span class="block font-medium text-xs" >
          Weight for age
        </span>
        <span class="block text-xs" >
          {{ latest_vitals?.patient_weight_for_age ? latest_vitals?.patient_weight_for_age : '' }}
        </span>
      </div>

      <div *ngIf="latest_vitals?.patient_height_for_age" class="flex pl-3 justify-between items-center" [ngClass]="{'text-red-500': latest_vitals?.patient_height_for_age ? (latest_vitals?.patient_height_for_age !== 'Normal') : false}">
        <span class="block font-medium text-xs" >
          Height for age
        </span>
        <span class="block text-xs" >
          {{ latest_vitals?.patient_height_for_age ? latest_vitals?.patient_height_for_age : '' }}
        </span>
      </div>

      <div *ngIf="latest_vitals?.patient_weight_for_height" class="flex pl-3 justify-between items-center" [ngClass]="{'text-red-500': latest_vitals?.patient_weight_for_height ? (latest_vitals?.patient_weight_for_height !== 'Normal') : false}">
        <span class="block font-medium text-xs" >
          Weight for Height
        </span>
        <span class="block text-xs" >
          {{ latest_vitals?.patient_weight_for_height ? latest_vitals?.patient_weight_for_height : '' }}
        </span>
      </div>

      <div class="flex pl-3 justify-between items-center" [ngClass]="latest_vitals?.bp_color">
        <span class="block font-medium text-xs">
          Blood Pressure
        </span>
        <span class="block text-xs">
          {{ latest_vitals?.bp_systolic ? latest_vitals?.bp_systolic+'/'+latest_vitals?.bp_diastolic : '-' }}
        </span>
      </div>

      <div class="flex pl-3 justify-between items-center" [ngClass]="latest_vitals?.oxygen_color">
        <span class="block font-medium text-xs">
          Blood Oxygen (SpO2)
        </span>
        <span class="block text-xs">
          {{ (latest_vitals?.patient_spo2 ? (latest_vitals?.patient_spo2 | number: '1.0-0')+' %' : '-') }}
        </span>
      </div>

      <div class="flex pl-3 justify-between items-center" [ngClass]="latest_vitals?.temp_color">
        <span class="block font-medium text-xs">
          Temperature
        </span>
        <span class="block text-xs">
          {{ latest_vitals?.patient_temp ? latest_vitals?.patient_temp + ' C': '-' }}
        </span>
      </div>

      <div class="flex pl-3 justify-between items-center">
        <span class="block font-medium text-xs">
          Heart Rate
        </span>
        <span class="block text-xs">
          {{ (latest_vitals?.patient_heart_rate ? (latest_vitals?.patient_heart_rate | number: '1.0-0' )  : '-') }}
        </span>
      </div>

      <div class="flex pl-3 justify-between items-center">
        <span class="block font-medium text-xs">
          Respiratory Rate
        </span>
        <span class="block text-xs">
          {{ (latest_vitals?.patient_respiratory_rate ? (latest_vitals?.patient_respiratory_rate | number: '1.0-0') : '-')}}
        </span>
      </div>

      <div class="flex pl-3 justify-between items-center">
        <span class="block font-medium text-xs">
          Pulse Rate
        </span>
        <span class="block text-xs">
          {{ (latest_vitals?.patient_pulse_rate ? (latest_vitals?.patient_pulse_rate | number: '1.0-0') : '-') }}
        </span>
      </div>

      <!-- <div class="flex pl-3 pb-5 justify-between items-center">
        <span class="block font-medium text-xs">
          Visual Acuity (Right | Left)
        </span>
        <span class="block text-xs" *ngIf="latest_vitals?.patient_right_vision_acuity && latest_vitals?.patient_right_vision_acuity">
          {{ (latest_vitals?.patient_right_vision_acuity ? (latest_vitals?.patient_right_vision_acuity | number: '1.0-0') : '-') }} |
          {{ (latest_vitals?.patient_left_vision_acuity ? (latest_vitals?.patient_left_vision_acuity | number: '1.0-0') : '-') }}
        </span>
      </div> -->

      <div class="flex pl-3 justify-between items-center">
        <span class="block font-medium text-xs">
          Visual Acuity (Right)
        </span>
        <span class="block text-xs" *ngIf="latest_vitals?.patient_right_vision_acuity">
          {{ (latest_vitals?.patient_right_vision_acuity_distance ? (latest_vitals?.patient_right_vision_acuity_distance | number: '1.0-0') : '-') }} |
          {{ (latest_vitals?.patient_right_vision_acuity ? (latest_vitals?.patient_right_vision_acuity | number: '1.0-0') : '-') }}
        </span>
      </div>

      <div class="flex pl-3 pb-5 justify-between items-center">
        <span class="block font-medium text-xs">
          Visual Acuity (Left)
        </span>
        <span class="block text-xs" *ngIf="latest_vitals?.patient_left_vision_acuity">
          {{ (latest_vitals?.patient_left_vision_acuity_distance ? (latest_vitals?.patient_left_vision_acuity_distance | number: '1.0-0') : '-') }} |
          {{ (latest_vitals?.patient_left_vision_acuity ? (latest_vitals?.patient_left_vision_acuity | number: '1.0-0') : '-') }}
        </span>
      </div>

      <div *ngIf="latest_vitals?.patient_head_circumference" class="flex pl-3 justify-between items-center">
        <span class="block font-medium text-xs" >
          Head Circumference
        </span>
        <span class="block text-xs" >
          {{ latest_vitals?.patient_head_circumference ? latest_vitals?.patient_head_circumference+' cm' : '' }}
        </span>
      </div>

      <div *ngIf="latest_vitals?.patient_muac" class="flex pl-3 justify-between items-center">
        <span class="block font-medium text-xs" >
          Mid-Upper Arm Circumference
        </span>
        <span class="block text-xs" >
          {{ latest_vitals?.patient_muac ? latest_vitals?.patient_muac+' cm' : '' }}
        </span>
      </div>


      <div *ngIf="latest_vitals?.patient_chest" class="flex pl-3 justify-between items-center">
        <span class="block font-medium text-xs" >
          Chest Circumference
        </span>
        <span class="block text-xs" >
          {{ latest_vitals?.patient_chest ? latest_vitals?.patient_chest+' cm' : '' }}
        </span>
      </div>

      <div *ngIf="latest_vitals?.patient_abdomen" class="flex pl-3 justify-between items-center">
        <span class="block font-medium text-xs" >
          Abdominal Circumference
        </span>
        <span class="block text-xs" >
          {{ latest_vitals?.patient_abdomen ? latest_vitals?.patient_abdomen+' cm' : '' }}
        </span>
      </div>

      <div *ngIf="latest_vitals?.patient_waist" class="flex pl-3 justify-between items-center">
        <span class="block font-medium text-xs">
          Waist Circumference
        </span>
        <span class="block text-xs">
          {{ latest_vitals?.patient_waist ? latest_vitals?.patient_waist+' cm' : '-' }}
        </span>
      </div>

      <div *ngIf="latest_vitals?.patient_hip" class="flex pl-3 justify-between items-center">
        <span class="block font-medium text-xs">
          Hip Circumference
        </span>
        <span class="block text-xs">
          {{ latest_vitals?.patient_hip ? latest_vitals?.patient_hip+' cm' : '-' }}
        </span>
      </div>

      <div *ngIf="latest_vitals?.patient_limbs" class="flex pl-3 justify-between items-center">
        <span class="block font-medium text-xs" >
          Limbs Circumference
        </span>
        <span class="block text-xs" >
          {{ latest_vitals?.patient_limbs ? latest_vitals?.patient_limbs+' cm' : '' }}
        </span>
      </div>

      <div *ngIf="latest_vitals?.patient_skinfold_thickness" class="flex pl-3 justify-between items-center">
        <span class="block font-medium text-xs" >
          Skinfold Thickness
        </span>
        <span class="block text-xs" >
          {{ latest_vitals?.patient_skinfold_thickness ? latest_vitals?.patient_skinfold_thickness+' cm' : '' }}
        </span>
      </div>
    </div>
  </div>
</div>
