<app-med-cert> </app-med-cert>
<div class="flex min-h-screen w-full items-center justify-center p-4 overflow-auto">
  <div class="w-[794px] h-[1123px] shadow-lg px-12 py-10">
    <!-- Facility -->
    <div class="text-center mb-6">
      <h4 class="text-lg">City of Test</h4>
      <h4 class="text-lg">Test Health Department</h4>
      <h4 class="font-semibold text-lg">Test Health Center</h4>
    </div>

    <!-- Date -->
    <div class="text-right mb-4">
      Date:
    </div>

    <!-- Description -->
    <div class="mb-4">
      <p>
        <span class="font-semibold uppercase">To Whom It May Concern</span><br>
        <span>
          This is to certify that we have on record the following data from the patient's consultation, to wit:
        </span>
      </p>
    </div>

    <!-- Patient Information -->
    <div class="flex flex-col gap-3 border-b py-4">
        <p class="flex justify-between">
        <span class="font-semibold">Name:</span>
        <span>Test Name</span>
        </p>

      <p class="flex justify-between">
        <span class="font-semibold">Age:</span>
        <span>1000</span>
    </p>
      <p class="flex justify-between">
        <span class="font-semibold">Sex:</span>
        <span>Female</span>
    </p>
      <p class="flex justify-between">
        <span class="font-semibold">Civil Status:</span>
        <span>Married</span>
    </p>
      <p class="flex justify-between">
        <span class="font-semibold">Address:</span>
        <span>San Vicente, Diwa ng Tarlac</span>
    </p>
      <p class="flex justify-between">
        <span class="font-semibold">Occupation:</span>
        <span>Saleslady</span>
    </p>
      <p class="flex justify-between">
        <span class="font-semibold">Date of Consultation:</span>
        <span>12/12/12</span>
    </p>
      <p class="flex justify-between">
        <span class="font-semibold">Diagnosis:</span>
        <span>Flu</span>
    </p>
      <p class="flex justify-between mt-5">
        <span class="font-semibold">Remarks:</span>
        <span> Take Vitamins and Exercise Regularly </span>
    </p>
    </div>

    <!-- Footer -->
    <div class="mt-10">
      <p>
        This document is issued upon the request of the patient for work/school/travel purposes only and is not intended for medico-legal use.
      </p>
    </div>

    <!-- Physician Signature -->
    <div class="flex justify-end mt-16">
      <div class="text-right">
        <p class="font-semibold text-center">Juan Dela Cruz, MD</p>
        <div class="w-auto border-t border-black ml-auto mb-1"></div>
        <p class="text-sm text-gray-700 text-center">Attending Physician</p>
      </div>
    </div>
  </div>
</div>
