
<div class="m-5 border border-slate-200 rounded-lg">
    <div class="bg-blue-500 text-sm text-white rounded-t-md py-2 pl-3 font-semibold">
     Family Planning Method
    </div>

    <div class="grid grid-cols-12">
  
    <div class="col-span-6 px-10 pt-5">
        <label for="case_number" class="text-sm font-semibold">Enrollment Date</label>
        <input type="date" name="case_number" id="case_number"  class="input">

        <!-- <div *ngIf="show_error && f.case_number.errors" class="invalid-alert">
          <div *ngIf="f.case_number.errors?.['required']">
            {{ required_message }}
          </div> -->

          <!-- <div *ngIf="f.case_number.errors?.['pattern']">
            Only letters and numbers are allowed.
          </div> -->
    </div>

    <div class="col-span-6 px-10 pt-5">
      <div>
        <label for="source_code">Family Planning Method</label>
        <select name="source_code" id="source_code" class="input">
          <option *ngFor="let method of fp_methods" [value]="method.code">{{ method.desc }}</option>
        </select>
      </div>

        <!-- <div *ngIf="show_error && f.case_number.errors" class="invalid-alert">
          <div *ngIf="f.case_number.errors?.['required']">
            {{ required_message }}
          </div> -->

          <!-- <div *ngIf="f.case_number.errors?.['pattern']">
            Only letters and numbers are allowed.
          </div> -->
    </div>

    <div class="col-span-6 px-10 pt-6">
        <label for="case_number" class="text-sm font-semibold">Treatment Partner</label>
        <input type="text" name="case_number" id="case_number"  class="input">

        <!-- <div *ngIf="show_error && f.case_number.errors" class="invalid-alert">
          <div *ngIf="f.case_number.errors?.['required']">
            {{ required_message }}
          </div> -->

          <!-- <div *ngIf="f.case_number.errors?.['pattern']">
            Only letters and numbers are allowed.
          </div> -->
    </div>

    <div class="col-span-6 px-10 pt-6">
      <div>
        <label for="source_code">Client Type</label>
        <select name="source_code" id="source_code" class="input">
          <option *ngFor="let client of client_list" [value]="client.code">{{ client.desc }}</option>
        </select>
      </div>

        <!-- <div *ngIf="show_error && f.case_number.errors" class="invalid-alert">
          <div *ngIf="f.case_number.errors?.['required']">
            {{ required_message }}
          </div> -->

          <!-- <div *ngIf="f.case_number.errors?.['pattern']">
            Only letters and numbers are allowed.
          </div> -->
    </div>

    

    </div>

    <div class="flex justify-center py-5">
      <button class="btn-save mr-5 mt-4">
        <fa-icon [icon]="is_saving ? faSpinner : faSave" [spin]="is_saving ? true : false" class="mr-2"></fa-icon>
        Save
      </button>
    </div>

</div>


<div class="m-5 border border-slate-200 rounded-lg">

    <div class="bg-blue-500 text-sm text-white rounded-t-md py-2 pl-3 font-semibold">
        Family Planning Method History
       </div>
   
       <div class="flex justify-center">
        <div class="py-3 flex flex-col">
            <div class="flex justify-center text-sm py-5">No records to show...</div>
          </div>
   
       </div>
</div>       
      


  
  <!-- <app-delete-item *ngIf="modals['delete-item']"
    [delete_id]="delete_id"
    [delete_desc]="delete_desc"
    [url]="url"
    (toggleModal)="toggleModal($event)"></app-delete-item> -->
  