<form [formGroup]="methods_form" (ngSubmit)="saveForm(methods_form.value)">
    <div class="grid grid-rows-2 gap-4 cursor-pointer hover:bg-gray-100 relative"
        style="grid-template-columns: repeat(16, minmax(0, 1fr));" (click)="flip()" *ngIf="focused">
        <div class="border-check row-span-2 col-span-2 rounded-r">
            <button class="font-bold" type="button">Methods</button>
        </div>
        <div class="absolute right-0 top-0">
            <fa-icon [icon]="faInfoCircle" class="peer ml-3 text-gray-300 hover:text-gray-500 z-50"></fa-icon>
            <div
                class="absolute text-sm bg-gradient-to-b from-stone-500 to-gray-400 p-2 rounded-md border border-gray-500  text-white drop-shadow-lg opacity-90 border-check z-50 w-64 right-0 invisible peer-hover:visible">
                <h1 class="font-bold drop-shadow-lg">IMPORTANT</h1>
                <p class="font-light drop-shadow-lg">Once saved, the information will be displayed in the input boxes
                    and shall not be editable unless Edit button is pressed.</p>
            </div>
        </div>
    </div>

    <div class="grid gap-4 relative animates-dropdown m-2" style="grid-template-columns: repeat(16, minmax(0, 1fr));"
        *ngIf="!focused">
        <div class="border-check col-span-2 hover:bg-gray-100 rounded-r cursor-pointer" (click)="flip();"><button
                class="font-bold" type="button">Methods</button>
            <div class="absolute left-16 top-0">
                <fa-icon [icon]="faInfoCircle" class=" peer ml-3 text-gray-300 hover:text-gray-500 z-50"></fa-icon>
                <div
                    class="absolute text-sm bg-gradient-to-b from-stone-500 to-gray-400 p-2 rounded-md border border-gray-500  text-white drop-shadow-lg opacity-90 border-check z-50 w-64 invisible peer-hover:visible">
                    <h1 class="font-bold drop-shadow-lg">IMPORTANT</h1>
                    <p class="font-light drop-shadow-lg">Once saved, the information will be displayed in the input
                        boxes and shall not be editable unless Edit button is pressed.</p>
                </div>
            </div>

        </div>
        <div style="grid-column: span 14 / span 14;">
            <div class="grid gap-4 rounded-lg hover:drop-shadow-lg drop-shadow-md bg-white rounded-lg hover:border border-gray-300 hover:border-blue-400 p-2 m-2 border"
                style="grid-template-columns: repeat(14, minmax(0, 1fr));">
                <div class="transitions col-span-4" *ngIf="!focused">
                    <h3>Enrollment Date</h3>
                    <div class="grid grid-cols-10">
                        <div class="icon-height col-span-2 p-2 pt-1 rounded-l border-solid border border-zinc-300">
                            <fa-icon [icon]="faCalendarDay" size="lg" class="text-blue-500"></fa-icon>
                        </div>
                        <input datepicker name="next_service" type="date" formControlName="date" id="date" name="date"
                            class="focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none col-span-8 rounded-r border-solid border border-l-0 border-zinc-300 disabled:cursor-not-allowed"
                            width="auto" id="next_service"
                            (keyup.escape)="$event.target.value = ''; onKeyUp($event.target.value, $event.target.id)"
                            (change)="onKeyUp($event.target.value, $event.target.id)">
                    </div>
                </div>
                <div class="transitions col-span-4 border-check relative select-none" *ngIf="!focused">
                    <h3>Family Planning Method</h3>
                    <select formControlName="method" (change)="onKeyUp($event.target.value, $event.target.id)"
                        (keyup)="onKeyUp($event.target.value, $event.target.id)"
                        (keyup.escape)="$event.target.value = ''; onKeyUp($event.target.value, $event.target.id)"
                        id="method"
                        class="bg-white text-align-left drop_btn border-check focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none rounded border-solid border border-zinc-300 placeholder-black placeholder-opacity-100 disabled:cursor-not-allowed">
                        <option *ngFor="let fp_method of fp_methods" class="p-2" (click)="drop()">
                            {{ fp_method.method }}
                        </option>
                    </select>
                </div>
                <div class="transitions col-span-6 border-check relative select-none" *ngIf="!focused">
                    <h3>Treatment Partner</h3>
                    <!-- <input type="text" class="border-check focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none rounded border-solid border border-zinc-300" *ngIf="!fv_form.alc" > -->
                    <input type="text" formControlName="partner" id="partner"
                        class="invalid:border-red-500 border-check focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none rounded border-solid border border-zinc-300 placeholder-black placeholder-opacity-100 disabled:cursor-not-allowed"
                        (keyup)="onKeyUp($event.target.value, $event.target.id)"
                        (keyup.escape)="$event.target.value = ''; onKeyUp($event.target.value, $event.target.id)">
                    <fa-icon [icon]="faTimesCircle" (click)="clearForm('partner')"
                        class="absolute right-0 py-1 px-2 text-gray-400 hover:text-gray-600"
                        *ngIf="keyUp.includes('partner') && !methods_form.disabled">
                    </fa-icon>
                    <!-- <span *ngIf="keyUp.includes('alc')" class="text-red-400">Error!!!!</span> -->
                </div>
                <div class="transitions col-span-4 border-check relative select-none" *ngIf="!focused">
                    <h3>Client Type</h3>
                    <select formControlName="type" (change)="onKeyUp($event.target.value, $event.target.id)"
                        (keyup)="onKeyUp($event.target.value, $event.target.id)"
                        (keyup.escape)="$event.target.value = ''; onKeyUp($event.target.value, $event.target.id)"
                        id="type"
                        class="bg-white text-align-left drop_btn border-check focus:border-blue-300 focus:ring-1 focus:ring-blue-300 outline-none rounded border-solid border border-zinc-300 placeholder-black placeholder-opacity-100 disabled:cursor-not-allowed">
                        <option *ngFor="let fp_method of fp_methods" class="p-2" (click)="drop()">
                            {{ fp_method.method }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="relative w-auto border-check mb-7" *ngIf="!focused && methods_form.enabled && keyUp.length > 0"
        style="grid-column: span 16 / span 16;">
        <div class="absolute inline-flex m-2 right-0 top-0" style=" top: -0.85rem;">
            <div class="flex hover:animate-bounce border-check bg-white hover:bg-gray-400 text-gray-400 py-1 rounded-full hover:text-white px-2"
                (click)="cancel()" (mouseover)="buttonShow('cancel')">
                <fa-icon [icon]="faTimes" size="lg" class="mr-2">
                </fa-icon>
                <button type="button" class="font-bold button-out border-check-red"
                    *ngIf="buttons.includes('cancel')">Cancel</button>
            </div>
            <div class="flex hover:animate-bounce border-check bg-white hover:bg-green-400 py-1 rounded-full text-green-500 hover:text-white px-2"
                (mouseover)="buttonShow('save')">
                <fa-icon [icon]="faSave" size="lg" class="mr-2 ">
                </fa-icon>
                <button type="submit" class="font-bold button-out border-check-red"
                    (keyup.enter)="saveForm(methods_form.value)" *ngIf="buttons.includes('save')">Save</button>
            </div>
        </div>
    </div>
    <div class="relative w-auto border-check mb-7" *ngIf="!focused && methods_form.disabled"
        style="grid-column: span 16 / span 16;">
        <div class="absolute inline-flex m-2 right-0 top-0" style=" top: -0.85rem;" (click)="edit()">
            <div class="flex hover:animate-bounce border-check bg-white hover:bg-orange-400 py-1 rounded-full text-orange-500 hover:text-white px-2"
                (mouseover)="buttonShow('edit')" (mouseleave)="buttonShow()">
                <fa-icon [icon]="faPencil" size="lg" class="mr-2 ">
                </fa-icon>
                <button type="submit" class="font-bold button-out border-check-red"
                    (keyup.enter)="uncheck($event.target.id + fphx_cat)" *ngIf="buttons.includes('edit')">Edit</button>
            </div>
        </div>
    </div>
</form>