<div class="flex w-full justify-center">
  <div class="w-1/2 border border-gray-300 rounded-lg mt-36 bg-gray-100">
    <div class="flex justify-center text-gray-700 font-semibold">
      <fa-icon [icon]="faEnvelope" class="text-8xl my-14"></fa-icon>
    </div>
    <div class="flex justify-center text-gray-700 text-xl font-semibold">
      Verify your email address
    </div>
    <div class="flex justify-center text-gray-700">
      <div class="w-60 text-center">
        To start using WAHtermelon we need to verify your email:
        <span></span>
      </div>
    </div>
  </div>
</div>
