<div class="flex flex-wrap justify-center my-5 first:mt-24" *ngFor="let adult_tooth_condition of adult_tooth_conditions">
  <div class="w-14" *ngFor="let tooth_n of adult_tooth_condition">
    <span class="ml-5">{{ tooth_n.tooth_number }}</span>

    <svg class="cursor-pointer opacity-50 hover:opacity-100" viewBox="0 0 965 960" style="enable-background:new 0 0 965 960"
          (click)="toggleModal()"
          (contextmenu)="onRightClick(tooth_n.tooth_number)">
      <g>
        <path fill="#FFFF00" d="M339.5,336.5l-174-175c0,0-133,121-133,318c0,195,132,318,132,318l174-175c0,0-58-51-58-144 S339.5,336.5,339.5,336.5z"/>
        <path fill="#FFFF00" d="M625.49,337.55l175-174c0,0-121-133-318-133c-195,0-318,132-318,132l175,174c0,0,51-58,144-58 S625.49,337.55,625.49,337.55z"/>
        <path fill="#FFFF00" d="M625.96,623.64l174,175c0,0,133-121,133-318c0-195-132-318-132-318l-174,175c0,0,58,51,58,144 S625.96,623.64,625.96,623.64z"/>
        <path fill="#FFFF00" d="M340.44,623.21l-175,174c0,0,121,133,318,133c195,0,318-132,318-132l-175-174c0,0-51,58-144,58 S340.44,623.21,340.44,623.21z"/>
        <circle fill="#FFFF00" cx="483.5" cy="480.5" r="212.63"/>
      </g>
      <g>
        <circle stroke="#090909" stroke-width="10" fill="none" cx="483.5" cy="480.5" r="212.63"/>
        <circle stroke="#090909" stroke-width="10" fill="none" cx="483.5" cy="480.5" r="440"/>

        <line stroke="#090909" stroke-width="10" x1="165" y1="162" x2="333" y2="329"/>
        <line stroke="#090909" stroke-width="10" x1="333" y1="630" x2="164" y2="797"/>
        <line stroke="#090909" stroke-width="10" x1="801" y1="162" x2="633" y2="330"/>
        <line stroke="#090909" stroke-width="10" x1="632" y1="630" x2="800.13" y2="798.72"/>
      </g>
    </svg>
  </div>
</div>

<div *ngIf="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
  <div class="relative w-1/2 my-6 mx-auto max-w-6xl">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <!--header-->
      <div class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t">
        <h3 class="text-xl font-semibold">
          Update Tooth Condition
        </h3>
        <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="toggleModal()">
          <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
            ×
          </span>
        </button>
      </div>
      <!--body-->
      <div class="relative p-6 flex-auto">
        <p class="my-4 text-slate-500 text-lg leading-relaxed">
          I always felt like I could do anything. That’s the main
          thing people are controlled by! Thoughts- their perception
          of themselves! They're slowed down by their perception of
          themselves. If you're taught you can’t do anything, you
          won’t do anything. I was taught I could do everything.
        </p>
      </div>
      <!--footer-->
      <div class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b">
        <button class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModal()">
          Close
        </button>
        <button class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModal()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
