<div class="flex mt-5 mb-5">
  <h4 class="font-bold text-gray-600 text-sm">BREASTFEEDING</h4>
  <div class="relative">
    <fa-icon [icon]="faInfoCircle" class="peer ml-3 text-gray-300 hover:text-gray-500 z-50"></fa-icon>
    <div
        class="absolute text-sm bg-gradient-to-b from-stone-500 to-gray-400 p-2 rounded-md border border-gray-500  text-white drop-shadow-lg opacity-90 border-check z-50 w-60 invisible peer-hover:visible">
        <h1 class="font-bold drop-shadow-lg">IMPORTANT</h1>
        <p class="font-light drop-shadow-lg">Once saved, the information will be displayed in the input boxes
            and shall not be editable unless Edit button is pressed.</p>
    </div>
</div>
</div>

<!--Essential Newborn Care Section-->
  <div class="flex item-start flex-wrap shadow-md rounded-xl mt-5">

    <div class="flex justify-between w-full bg-orange-400 px-5 py-3 rounded-tl rounded-tr ">
      <h4 class="font-bold text-white text-md mt-2 mb-2">Breastfeeding Date</h4>
      <button class="py-0 px-4 rounded-full bg-white text-gray-600 font-bold drop-shadow-md hover:border-white-600 hover:bg-blue-400 hover:text-white shadow-md inline-flex items-center" name="add-btn" (click)="toggleBreastfeedingModal()">
      <label> <fa-icon class="text-sm" [icon]="faPlus"></fa-icon> Add</label>
      </button>  
    </div>

    <div *ngFor="let m of month" class="relative w-full md:w-1/2 lg:w-1/2 px-5 mt-4 mb-4">
      <label>{{m.name}} - {{m.date}}</label>
    </div>

    <!--Breastfeeding Modal-->
    <div *ngIf="showBreastfeedingModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
      <div class="relative w-auto my-6 mx-auto max-w-6xl">
        <!--content-->
        <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
          <!--header-->
          <div class="flex items-start justify-between p-5 border-b border-solid border-gray-300 rounded-t">
            <h4 class="font-bold text-gray-600 text-md mt-2">
              Breastfeeding Date
            </h4>
            <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="toggleBreastfeedingModal()">
              <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
                ×
              </span>
            </button>
          </div>
          <!--body-->
          <div class="modal-body relative flex-auto px-12">
            <table class="w-full flex justify-between text-md bg-white rounded">
              <tbody>
                  <tr class="border-b items-center">
                      <th class="text-center p-3 px-5">Select Month</th>
                      <th class="text-center p-3 px-5">Status</th>
                      <th class="text-center p-3 px-5">Reason</th>
                  </tr>
                  
                    <tr *ngFor="let month of ccdev" class="border-b hover:bg-yellow-100 bg-transparent">
                      
                      <!-- <td class="p-3 px-5">{{month.name}} - ({{month.date}})</td> -->
                      <td class="py-6">
                        <input type="checkbox" class="rounded-full h-5 w-5" name="" id="" (change)="changeSelection()" [(ngModel)]="month.ischecked" [checked]="month.ischecked">
                        <label class="ml-2">{{month.name}} - ({{month.date}})</label>
                      </td>

                      <td class="text-center" *ngIf="month.ischecked"> 
                      <select class="select rounded-md" name="" id="">
                      <option  value="" *ngFor="let items of ebf">
                        {{items.code}}
                      </option>
                      </select>
                      </td>



                  <form [formGroup]="breastfedForm" (ngSubmit)="submit()">

                      <td class="p-3 text-center">
                        <input class="items-center"
                        type="date" name="date" formControlName="breastfedDate" *ngIf="month.ischecked">

                    </form>
                  </tr>
                

                 
                  
                  

              </tbody>
          </table>
          </div>
          <!--footer-->
          <div class="flex items-center justify-end p-6 border-t border-solid border-gray-300 rounded-b">
            <button class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1" type="button" style="transition: all .15s ease" (click)="toggleBreastfeedingModal()">
              Close
            </button>
            <button class="bg-green-500 text-white active:bg-green-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1" type="button" style="transition: all .15s ease" (click)="submit()" (click)="toggleBreastfeedingModal()" >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showBreastfeedingModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>

  </div>