<div class="flex justify-center">
  <div class="w-4/6">
    <div class="rounded-md border border-solid border-gray-300">
      <span class="rounded-t-md m-0 p-2 font-semibold text-gray-50 bg-cyan-500 flex justify-between">
        Consultation Summary (Date here)
        <!-- <button type="button" (click)="show_content = !show_content"> -->
          <!-- <fa-icon [icon]="show_content ? faChevronCircleUp : faChevronCircleDown" class="pr-2" size="lg"></fa-icon> -->
        <!-- </button> -->
      </span>

      <div class="grid grid-cols-5 m-5">
        <div class="col-span-1 font-semibold">
          Chief Complaint:
        </div>
        <div class="col-span-4 ml-5">
          test
        </div>

        <div class="col-span-1 font-semibold mt-5">
          Complaint Notes:
        </div>
        <div class="col-span-4 mt-5 ml-5">
          test
        </div>

        <div class="col-span-1 font-semibold mt-5">
          History of Current Illness
        </div>
        <div class="col-span-4 mt-5 ml-5">
          test
        </div>

        <div class="col-span-1 font-semibold mt-5">
          Physical Exam
        </div>
        <div class="col-span-4 mt-5 ml-5">
          test
        </div>

        <div class="col-span-1 font-semibold mt-5">
          Initial Diagnosis
        </div>
        <div class="col-span-4 mt-5 ml-5">
          test
        </div>

        <div class="col-span-1 font-semibold mt-5">
          Final Diagnosis
        </div>
        <div class="col-span-4 mt-5 ml-5">
          test
        </div>

        <div class="col-span-1 font-semibold mt-5">
          Prescription
        </div>
        <div class="col-span-4 mt-5 ml-5">
          test
        </div>
      </div>

    </div>
  </div>
</div>
