@import "@ng-select/ng-select/themes/default.theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.ng-select.search {
  border:0px;
  height: 40px;
  border-radius: 25px;
  min-width: 27em;
}
.ng-select.search .ng-select-container  {
  height: 40px;
  border-radius: 25px;
}

.ng-select.search .ng-arrow-wrapper .ng-arrow {
  border-color: none !important;
  border-style: none !important;
  border-width: 0 !important;
}

.ng-select.search .ng-arrow-wrapper {
  background-image: url('/assets/icons/search.svg');
  background-repeat: no-repeat;
  background-size: 16px 16px;
  margin-top: 5px;
  margin-right: 5px
}

.ng-select.search.ng-select-opened>.ng-select-container {
  border-radius: 25px;
}

.ng-select.search.ng-select-opened>.ng-select-container:hover {
  border-radius: 25px;
}

@layer components {
  .chips {
    @apply my-2 ml-2 p-1 px-4 text-sm bg-blue-500 rounded-full text-gray-50 border select-none;
    overflow:hidden;
    white-space: nowrap;
  };
  .chips-container {
    @apply flex border w-full border-solid rounded-r-md border-gray-300 border-l-0;
  };
  .chips-close {
    @apply text-white hover:text-gray-200 ml-3 cursor-pointer;
  };
  .input {
    @apply mt-1 py-2 px-3 focus:ring-blue-500 focus:border-indigo-500 block w-full border-gray-300 border rounded-md sm:text-sm
  };
  .input-label {
    @apply block text-sm font-medium text-gray-700 select-none
  };
  .btn-add {
    @apply text-white bg-blue-500 hover:ring-2 hover:ring-blue-300 focus:outline-none font-medium rounded text-sm px-6 py-2.5 text-center transition duration-100 ease-in-out transform active:scale-90
  };
  .btn-icon {
    @apply text-white transition duration-100 ease-in-out transform active:scale-90
  };
  .btn-save {
    @apply text-white bg-blue-500 hover:ring-2 hover:ring-blue-300 focus:outline-none font-medium rounded text-sm px-6 py-2.5 text-center transition duration-100 ease-in-out transform active:scale-90
  };
  .btn-cancel {
    @apply text-white bg-rose-500 hover:ring-2 hover:ring-rose-300 focus:outline-none font-medium rounded text-sm px-6 py-2.5 text-center transition duration-100 ease-in-out transform active:scale-90
  };
  .btn-end-visit {
    @apply text-white bg-amber-500 hover:ring-2 hover:ring-amber-300 focus:outline-none font-medium rounded text-sm px-6 py-2.5 text-center transition duration-100 ease-in-out transform active:scale-90
  };
  .card {
    @apply flex flex-wrap shadow-md rounded-xl pb-5
  };
  .card-header {
    @apply w-full pl-5 px-5 py-2 rounded-tl rounded-tr
  };
  .card-header-services {
    @apply w-full pl-5 py-2 rounded-tl rounded-tr
  };
  .invalid-input {
    @apply border-red-500 text-red-500 focus:border-red-500 focus:ring-red-600
  };
  .invalid-alert {
    @apply text-red-500 text-sm
  }
}
/* .ng-select.ng-select.search .ng-select-container  {
  min-height: 700px;
  border-radius: 24px;
} */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

select option:disabled {
  display:none;
}