<div id="defaultModal" tabindex="-1" class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 w-full md:inset-0 h-modal md:h-full justify-center items-center flex" aria-modal="true" role="dialog" style="z-index:60">
  <div class="relative p-4 w-full max-w-4xl h-auto md:h-auto">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex justify-between items-start py-3 px-5 rounded-t border-b bg-blue-500 dark:border-gray-600">
        <h3 class="mt-2 text-sm font-bold text-white dark:text-white">
          {{ selected_lab.lab_code }}
        </h3>

      </div>
      <!-- Modal body -->
      <div class=" h-96 overflow-y-auto">
        <div class="flex item-start flex-wrap pb-5">
          <div class="grid grid-cols-2 px-3 py-3 gap-5 w-full mx-5 mt-5 rounded-lg">
            <div *ngFor="let field of fields">
              <div class="text-sm col-span-1">
                <label class="font-semibold" [for]="lab_form[field.field_name]">{{ field.field_desc }}</label>
                <input [name]="lab_form[field.field_name]"  [(ngModel)]="lab_form[field.field_name]"  [type]="field.nv_min !== null ? 'number' : 'text'" class="mt-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal footer  -->
      <div class="flex justify-end pb-5 px-5 space-x-4 rounded-b mb-5">

        <button  type="button" class="btn-save bg-gray-400 px-10" (click)="closeModal()">Cancel</button>
        <button type="button" class="btn-save px-10" (click)="onSubmit()" >
          <fa-icon [icon]="is_saving ? faSpinner : faSave" class="mr-2" [spin]="is_saving"></fa-icon>
          {{ is_saving ? 'Saving' : 'Save' }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="opacity-50 fixed inset-0 z-50 bg-black"></div>
