<div class="mt-10  flex justify-center w-full">
  <div class="w-5/6 bg-white border border-solid border-slate-100 rounded-xl shadow-md">
    <div class="border border-solid border-slate-100 rounded-t-xl bg-blue-400 text-white text-lg p-3 font-semibold">
      Patient Registration
    </div>
    <form action="#" method="POST">
      <div class="m-10">
        <div class="px-4 py-5 bg-white sm:p-6">
          <div class="grid grid-cols-8 gap-x-4 gap-y-6">
            <div class="col-span-6 sm:col-span-2">
              <label for="last-name" class="input-label">Last name</label>
              <input type="text" name="last-name" id="last-name" class="input">
            </div>

            <div class="col-span-6 sm:col-span-2">
              <label for="first-name" class="input-label">First name</label>
              <input type="text" name="first-name" id="first-name" class="input">
            </div>

            <div class="col-span-6 sm:col-span-2">
              <label for="first-name" class="input-label">Middle name</label>
              <input type="text" name="first-name" id="first-name" class="input">
            </div>

            <div class="col-span-6 sm:col-span-2">
              <label for="country" class="input-label">Suffix Name</label>
              <select id="country" name="country" class="input">
                <option *ngFor="let suffix_name of suffix_names" [value]="code">{{ suffix_name.suffix_desc }}</option>
              </select>
            </div>

            <div class="col-span-6 sm:col-span-2">
              <label for="gender" class="input-label">Gender</label>
              <select id="gender" name="gender" class="input">
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>

            <div class="col-span-6 sm:col-span-2">
              <label for="civil_status" class="input-label">Civil Status</label>
              <select id="civil_status" name="civil_status" class="input">
                <option *ngFor="let civil_status of civil_statuses" [value]="civil_status.code">{{ civil_status.status_desc}}</option>
              </select>
            </div>

            <div class="col-span-6 sm:col-span-2">
              <label for="blood_type" class="input-label">Blood Type</label>
              <select id="blood_type" name="blood_type" class="input">
                <option *ngFor="let blood_type of blood_types" [value]="blood_type.code">{{ blood_type.code }}</option>
              </select>
            </div>

            <div class="col-span-6  sm:col-span-2">
              <label for="birthdate" class="input-label">Birthdate</label>
              <input type="date" name="birthdate" id="birthdate" class="input">
            </div>

            <div class="col-span-6  sm:col-span-2">
              <label for="mobile_number" class="input-label">Mobile Number (0912-354-6789)</label>
              <input type="text" pattern="[0-9]{4}-[0-9]{3}-[0-9]{4}" name="mobile_number" id="mobile_number" class="input">
            </div>

            <div class="col-span-6  sm:col-span-2">
              <label for="mothers_maiden_name" class="input-label">Mothers Maiden Name</label>
              <input type="text" name="mothers_maiden_name" id="mothers_maiden_name" class="input">
            </div>

            <div class="col-span-6 sm:col-span-2">
              <label for="education" class="input-label">Education</label>
              <select id="education" name="education" class="input">
                <option *ngFor="let education of educations" [value]="education.code">{{ education.education_desc }}</option>
              </select>
            </div>

            <div class="col-span-6 sm:col-span-2">
              <label for="religion" class="input-label">Religion</label>
              <select id="religion" name="religion" class="input">
                <option *ngFor="let religion of religions" [value]="religion.code">{{ religion.religion_desc }}</option>
              </select>
            </div>

            <div class="col-span-6 sm:col-span-2">
              <label for="occupation" class="input-label">Occupation</label>
              <select id="occupation" name="occupation" class="input">
                <option *ngFor="let occupation of occupations" [value]="occupation.code">{{ occupation.occupation_desc }}</option>
              </select>
            </div>

            <div class="col-span-6 sm:col-span-2">
              <label for="pwd" class="input-label">Person with Disabililties</label>
              <select id="pwd" name="pwd" class="input">
                <option>N</option>
                <option>Y</option>
              </select>
            </div>

            <div class="col-span-6 sm:col-span-2">
              <label for="ind_flag" class="input-label">Indigenous People</label>
              <select id="ind_flag" name="ind_flag" class="input">
                <option>N</option>
                <option>Y</option>
              </select>
            </div>

            <div class="col-span-6 sm:col-span-2">
              <label for="consent" class="input-label">Has Consent</label>
              <select id="consent" name="consent" class="input">
                <option>N</option>
                <option>Y</option>
              </select>
            </div>

            <div class="col-span-8 border-b-2 border-slate-100"></div>

            <div class="col-span-6 sm:col-span-2">
              <label for="region" class="input-label">Region</label>
              <select id="region" name="region" class="input" (click)="loadProvince()" >
                <option *ngFor="let region of regions" [value]="region.code" >{{ region.name }}</option>
              </select>
            </div>

            <div class="col-span-6 sm:col-span-2">
              <label for="province" class="input-label">Province</label>
              <select id="province" name="province" class="input">
                <option>-</option>
              </select>
            </div>

            <div class="col-span-6 sm:col-span-2">
              <label for="muncity" class="input-label">Municipality/City</label>
              <select id="muncity" name="muncity" class="input">
                <option>-</option>
              </select>
            </div>

            <div class="col-span-6 sm:col-span-2">
              <label for="brgy" class="input-label">Brgy</label>
              <select id="brgy" name="brgy" class="input">
                <option>-</option>
              </select>
            </div>

            <div class="col-span-6">
              <label for="address" class="input-label">Address</label>
              <input type="text" name="address" id="address" class="input">
            </div>

            <div class="col-span-8 sm:col-span-2">
              <label for="head" class="input-label">Head of the family</label>
              <select id="head" name="head" class="input">
                <option>N</option>
                <option>Y</option>
              </select>
            </div>
          </div>
        </div>

        <div class="bg-gray-50 text-right">
          <button type="button" (click)="savePatient()" class="btn-save">
            <fa-icon *ngIf="is_saving" class="mr-3" [icon]="faSpinner" [spin]="true"></fa-icon>
            {{ is_saving ? 'Saving' : 'Save' }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
