<div class="mt-10">
  <form action="#" method="POST">
    <div class="mx-10">
      <div class="px-4 py-5 bg-white sm:p-6">
        <div class="grid grid-cols-8 gap-x-4 gap-y-6">
          <div class="col-span-6 sm:col-span-2">
            <label for="last-name" class="block text-sm font-medium text-gray-700">Last name</label>
            <input type="text" name="last-name" id="last-name" class="mt-1 py-2 px-3 focus:ring-indigo-500 focus:border-indigo-500 block w-full border-gray-300 border rounded-md sm:text-sm">
          </div>

          <div class="col-span-6 sm:col-span-2">
            <label for="first-name" class="block text-sm font-medium text-gray-700">First name</label>
            <input type="text" name="first-name" id="first-name" class="mt-1 py-2 px-3 focus:ring-indigo-500 focus:border-indigo-500 block w-full border-gray-300 border rounded-md sm:text-sm">
          </div>

          <div class="col-span-6 sm:col-span-2">
            <label for="first-name" class="block text-sm font-medium text-gray-700">Middle name</label>
            <input type="text" name="first-name" id="first-name" class="mt-1 py-2 px-3 focus:ring-indigo-500 focus:border-indigo-500 block w-full border-gray-300 border rounded-md sm:text-sm">
          </div>

          <div class="col-span-6 sm:col-span-2">
            <label for="country" class="block text-sm font-medium text-gray-700">Suffix Name</label>
            <select id="country" name="country" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              <option>N/A</option>
              <option>Sr.</option>
              <option>Jr.</option>
              <option>III</option>
              <option>IV</option>
              <option>V</option>
              <option>VI</option>
              <option>VII</option>
              <option>VIII</option>
            </select>
          </div>

          <div class="col-span-6 sm:col-span-2">
            <label for="gender" class="block text-sm font-medium text-gray-700">Gender</label>
            <select id="gender" name="gender" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              <option>Male</option>
              <option>Female</option>
            </select>
          </div>

          <div class="col-span-6 sm:col-span-2">
            <label for="civil_status" class="block text-sm font-medium text-gray-700">Civil Status</label>
            <select id="civil_status" name="civil_status" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              <option>Single</option>
              <option>Married</option>
            </select>
          </div>

          <div class="col-span-6 sm:col-span-2">
            <label for="blood_type" class="block text-sm font-medium text-gray-700">Blood Type</label>
            <select id="blood_type" name="blood_type" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              <option>N/A</option>
              <option>A-</option>
              <option>A+</option>
              <option>AB-</option>
              <option>AB+</option>
              <option>B-</option>
              <option>B+</option>
              <option>O-</option>
              <option>O+</option>
            </select>
          </div>

          <div class="col-span-6  sm:col-span-2">
            <label for="birthdate" class="block text-sm font-medium text-gray-700">Birthdate</label>
            <input type="date" name="birthdate" id="birthdate" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          </div>

          <div class="col-span-6  sm:col-span-2">
            <label for="mobile_number" class="block text-sm font-medium text-gray-700">Mobile Number (0912-354-6789)</label>
            <input type="text" pattern="[0-9]{4}-[0-9]{3}-[0-9]{4}" name="mobile_number" id="mobile_number" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          </div>

          <div class="col-span-6  sm:col-span-2">
            <label for="mothers_maiden_name" class="block text-sm font-medium text-gray-700">Mothers Maiden Name</label>
            <input type="text" name="mothers_maiden_name" id="mothers_maiden_name" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          </div>

          <div class="col-span-6 sm:col-span-2">
            <label for="education" class="block text-sm font-medium text-gray-700">Education</label>
            <select id="education" name="education" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              <option>N/A</option>
            </select>
          </div>

          <div class="col-span-6 sm:col-span-2">
            <label for="religion" class="block text-sm font-medium text-gray-700">Religion</label>
            <select id="religion" name="religion" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              <option>N/A</option>
            </select>
          </div>

          <div class="col-span-6 sm:col-span-2">
            <label for="occupation" class="block text-sm font-medium text-gray-700">Occupation</label>
            <select id="occupation" name="occupation" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              <option>N/A</option>
            </select>
          </div>

          <div class="col-span-6 sm:col-span-2">
            <label for="pwd" class="block text-sm font-medium text-gray-700">Person with Disabililties</label>
            <select id="pwd" name="pwd" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              <option>N</option>
              <option>Y</option>
            </select>
          </div>

          <div class="col-span-6 sm:col-span-2">
            <label for="ind_flag" class="block text-sm font-medium text-gray-700">Indigenous People</label>
            <select id="ind_flag" name="ind_flag" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              <option>N</option>
              <option>Y</option>
            </select>
          </div>

          <div class="col-span-6 sm:col-span-2">
            <label for="consent" class="block text-sm font-medium text-gray-700">Has Consent</label>
            <select id="consent" name="consent" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              <option>N</option>
              <option>Y</option>
            </select>
          </div>

          <div class="col-span-8 border-b-2 border-slate-100"></div>

          <div class="col-span-6 sm:col-span-2">
            <label for="region" class="block text-sm font-medium text-gray-700">Region</label>
            <select id="region" name="region" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              <option>-</option>
            </select>
          </div>

          <div class="col-span-6 sm:col-span-2">
            <label for="province" class="block text-sm font-medium text-gray-700">Province</label>
            <select id="province" name="province" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              <option>-</option>
            </select>
          </div>

          <div class="col-span-6 sm:col-span-2">
            <label for="muncity" class="block text-sm font-medium text-gray-700">Municipality/City</label>
            <select id="muncity" name="muncity" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              <option>-</option>
            </select>
          </div>

          <div class="col-span-6 sm:col-span-2">
            <label for="brgy" class="block text-sm font-medium text-gray-700">Brgy</label>
            <select id="brgy" name="brgy" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              <option>-</option>
            </select>
          </div>

          <div class="col-span-6">
            <label for="address" class="block text-sm font-medium text-gray-700">Address</label>
            <input type="text" name="address" id="address" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          </div>

          <div class="col-span-8 sm:col-span-2">
            <label for="head" class="block text-sm font-medium text-gray-700">Head of the family</label>
            <select id="head" name="head" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
              <option>N</option>
              <option>Y</option>
            </select>
          </div>
        </div>
      </div>
      <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
        <button type="submit" class="md:w-40 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Save</button>
      </div>
    </div>
  </form>
</div>
