<div class="my-5 mx-10 border border-gray-200 shadow-md rounded-xl">
  <table class="w-full text-sm text-left">
    <thead class="text-xs text-white uppercase bg-blue-500">
      <tr>
        <th scope="col" class="py-3 px-6">Registration Date</th>
        <th scope="col" class="py-3 px-6">Case number</th>
        <th scope="col" class="py-3 px-6">Enrolled as</th>
        <th scope="col" class="py-3 px-6">Treatment outcome</th>
        <th scope="col" class="py-3 px-6">Treatment status</th>
        <th scope="col" class="py-3 px-6">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white border-b">
        <td class="py-4 px-6">
          test
        </td>
        <td class="py-4 px-6">
          test
        </td>
        <td class="py-4 px-6">
          test
        </td>
        <td class="py-4 px-6">
          test
        </td>
        <td class="py-4 px-6">
          test
        </td>
        <td class="py-4 px-6">
          <!-- <fa-icon (click)="editPhilhealth(philhealth)" class="mx-0 my-0 text-amber-500 hover:cursor-pointer flex-none mr-2" [icon]="faPenToSquare"></fa-icon> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
