<hr class="my-4">
<div class="grid grid-cols-10">
  <div class="col-span-2 pt-2 font-semibold">
    Physical Exam
  </div>
  <div class="col-span-8">
    <div class="rounded-md border border-solid border-gray-300">
      <span class="rounded-t-md m-0 p-2 font-semibold text-gray-50 bg-cyan-500 flex justify-between" [ngClass]="{'rounded-b' : !show_content}">
        Observations
        <button type="button" (click)="show_content = !show_content">
          <fa-icon [icon]="show_content ? faChevronCircleUp : faChevronCircleDown" class="pr-2" size="lg"></fa-icon>
        </button>
      </span>

      <div *ngIf="show_content">
        <div class="w-full p-5">
          <div class="grid grid-cols-1 gap-3 mb-3 border-b border-slate-200 pb-3 last:border-b-0" *ngFor="let pe of pe_grouped | keyvalue">
            <div class="col-span-1 font-bold">
              <button type="button" (click)="toggleItems(pe.key)">
                <fa-icon [icon]="pe_item[pe.key] ? faChevronUp : faChevronDown" class="pr-2" size="md"></fa-icon>
              </button>
              <span *ngIf="pe.key !== 'heent'">{{ pe.key | titlecase}}</span>
              <span *ngIf="pe.key === 'heent'">{{ pe.key | uppercase}}</span>
            </div>
            <div *ngIf="pe_item[pe.key] === undefined ? false : pe_item[pe.key]" class="col-span-1 grid grid-cols-2 gap-y-2">
              <div *ngFor="let val of pe.value">
                <input [disabled]="consult_done || !allowed_to_edit" type="checkbox" [(ngModel)]="physical_codes[val.pe_id]" class="rounded-md border border-gray-400 p-2" >
                <span class="pl-2" [ngClass]="{'text-blue-500' : val.konsulta_library_status === 1}">{{ val.pe_desc }}</span>
              </div>
            </div>
            <div *ngIf="pe_item[pe.key] === undefined ? false : pe_item[pe.key]" class="flex col-span-1">
              <span class="font-semibold mt-3 mr-2 text-sm">Remarks: </span>
              <input rows="2" type="textarea" [disabled]="consult_done || !allowed_to_edit" [(ngModel)]="physical_remarks[pe.key+'_remarks']" class="input placeholder-slate-400 placeholder:italic" placeholder="remarks">
            </div>
          </div>
          <div>
            <label for="">PE Remarks</label>
            <input type="text" class="input" [(ngModel)]="physical_remarks.remarks" />
          </div>
        </div>

        <div class="flex text-right">
          <button *ngIf="!consult_done && allowed_to_edit" [disabled]="is_saving" type="button" class="btn-save ml-auto mr-5 mb-5 px-10 disabled:bg-gray-300" (click)="onSubmit()">
            <fa-icon *ngIf="is_saving" class="mr-2" [icon]="faSpinner" spin="true"></fa-icon>
            <fa-icon *ngIf="!is_saving" class="mr-2" [icon]="faSave"></fa-icon>
            {{ is_saving ? 'Saving' : 'Save' }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
