<div class="border border-slate-200 rounded-b-lg" *ngIf="show_form">
  <!-- <div class="bg-blue-500 text-white rounded-t-md py-2 pl-3 font-semibold">
    Treatment Form
  </div> -->

  <div class="mx-5 mb-5">
    <form [formGroup]="interviewForm" (ngSubmit)="saveCaseFindings()">
      <div class="grid grid-cols-3 gap-4 w-full mt-5">

        <div class="col-span-3 grid grid-cols-4 gap-4">
          <div class="col-span-2">
            <div class="ml-5">
              <input type="checkbox" formControlName="deferred" class="rounded w-4 h-4 border border-slate-400" />
              <label class="pl-3 py-0.5">Deferring interview?</label>
            </div>
          </div>

          <div class="col-span-2" *ngIf="interviewForm.value.deferred">
            <!-- <label for="deferred">Other chronological clues</label> -->
            <select name="deferral_reason_id" id="deferral_reason_id" formControlName="deferral_reason_id" class="input">
              <option *ngFor="let deferral_reason of deferral_reasons" [value]="deferral_reason.id">{{ deferral_reason.desc }}</option>
            </select>
          </div>

          <div class="col-span-2" *ngIf="interviewForm.value.deferral_reason_id === '3'">
            <label for="deferral_previous_interviewer_id">Previous Interviewer</label>
            <select name="deferral_previous_interviewer_id" id="deferral_previous_interviewer_id" formControlName="deferral_previous_interviewer_id" class="input">
              <option *ngFor="let previous_interviewer of previous_interviewers" [value]="previous_interviewer.id">{{ previous_interviewer.desc }}</option>
            </select>
          </div>

          <div class="col-span-2" *ngIf="interviewForm.value.deferral_previous_interviewer_id === '4'">
            <label for="deferral_interviewer_remarks">Others</label>
            <input type="text" name="deferral_interviewer_remarks" id="deferral_interviewer_remarks" formControlName="deferral_interviewer_remarks" class="input">
          </div>
        </div>

        <div class="col-span-3 border-b border-slate-200 w-full my-2 font-semibold text-sky-500">
          History of Abuse
        </div>
        <div class="mx-5 col-span-3 grid grid-cols-4 gap-4">
          <div class="col-span-4">
            <div class="w-1/2">
              <label for="enroll_as_code" [ngClass]="{'text-red-500': show_error && f.enroll_as_code.errors}">Information source</label>
              <select name="enroll_as_code" id="enroll_as_code" formControlName="enroll_as_code" class="input" [ngClass]="{'invalid-input': show_error && f.enroll_as_code.errors}">
                <option *ngFor="let info_source of info_sources" [value]="info_source.id">{{ info_source.desc }}</option>
              </select>
            </div>
          </div>

          <div class="col-span-2">
            <label for="case_number" [ngClass]="{'text-red-500': show_error && f.case_number.errors}">Date and time of most recent abuse</label>
            <input type="datetime-local" name="case_number" id="case_number" formControlName="case_number" class="input" [ngClass]="{'invalid-input': show_error && f.case_number.errors}">
          </div>

          <div class="col-span-2">
            <label for="case_number" [ngClass]="{'text-red-500': show_error && f.case_number.errors}">Other chronological clues</label>
            <input type="text" name="case_number" id="case_number" formControlName="case_number" class="input" [ngClass]="{'invalid-input': show_error && f.case_number.errors}">
          </div>

          <div class="col-span-2">
            <label for="case_number" [ngClass]="{'text-red-500': show_error && f.case_number.errors}">Date and time of first abuse</label>
            <input type="datetime-local" name="case_number" id="case_number" formControlName="case_number" class="input" [ngClass]="{'invalid-input': show_error && f.case_number.errors}">
          </div>

          <div class="col-span-2">
            <label for="case_number" [ngClass]="{'text-red-500': show_error && f.case_number.errors}">Other chronological clues</label>
            <input type="text" name="case_number" id="case_number" formControlName="case_number" class="input" [ngClass]="{'invalid-input': show_error && f.case_number.errors}">
          </div>

          <div class="col-span-2">
            <label for="enroll_as_code" [ngClass]="{'text-red-500': show_error && f.enroll_as_code.errors}">Episodes of abuse</label>
            <select name="enroll_as_code" id="enroll_as_code" formControlName="enroll_as_code" class="input" [ngClass]="{'invalid-input': show_error && f.enroll_as_code.errors}">
              <option *ngFor="let abused_episode of abused_episodes" [value]="abused_episode.id">{{ abused_episode.desc }}</option>
            </select>
          </div>

          <div class="col-span-2">
            <label for="case_number" [ngClass]="{'text-red-500': show_error && f.case_number.errors}">Number of episode</label>
            <input type="text" name="case_number" id="case_number" formControlName="case_number" class="input" [ngClass]="{'invalid-input': show_error && f.case_number.errors}">
          </div>

          <div class="col-span-2">
            <label for="enroll_as_code" [ngClass]="{'text-red-500': show_error && f.enroll_as_code.errors}">Site of abuse</label>
            <select name="enroll_as_code" id="enroll_as_code" formControlName="enroll_as_code" class="input" [ngClass]="{'invalid-input': show_error && f.enroll_as_code.errors}">
              <option *ngFor="let abused_site of abused_sites" [value]="abused_site.id">{{ abused_site.desc }}</option>
            </select>
          </div>

          <div class="col-span-2">
            <label for="enroll_as_code" [ngClass]="{'text-red-500': show_error && f.enroll_as_code.errors}">Address</label>
            <input type="text" name="case_number" id="case_number" formControlName="case_number" class="input" [ngClass]="{'invalid-input': show_error && f.case_number.errors}">
          </div>

          <div class="col-span-4">
            <label for="case_number" [ngClass]="{'text-red-500': show_error && f.case_number.errors}">Direction to address</label>
            <input type="text" name="case_number" id="case_number" formControlName="case_number" class="input" [ngClass]="{'invalid-input': show_error && f.case_number.errors}">
          </div>

          <!-- <div>
            <input type="checkbox" class="rounded w-4 h-4 border border-slate-400" />
            <label for=""></label>
          </div> -->
          <div class="col-span-4 grid grid-cols-1 border-slate-200 shadow-md rounded-md">
            <div class="bg-sky-500 text-white py-1 pl-3 rounded-t-md">
              Disclosure
            </div>

            <div class="grid grid-cols-4 gap-4 mt-3 mb-5 mx-5">
              <div class="col-span-2 mt-5">
                <input type="checkbox" class="rounded w-4 h-4 border border-slate-400" />
                <label class="pl-3 py-0.5">Did the victim survivor disclose?</label>
              </div>

              <div class="col-span-2">
                <label for="enroll_as_code" [ngClass]="{'text-red-500': show_error && f.enroll_as_code.errors}">Type of disclosure</label>
                <select name="enroll_as_code" id="enroll_as_code" formControlName="enroll_as_code" class="input" [ngClass]="{'invalid-input': show_error && f.enroll_as_code.errors}">
                  <option *ngFor="let disclosed_type of disclosed_types" [value]="disclosed_type.id">{{ disclosed_type.desc }}</option>
                </select>
              </div>

              <!-- <div class="col-span-2 mt-5">
                <input type="checkbox" class="rounded w-4 h-4 border border-slate-400" />
                <label class="pl-3 py-0.5">Did the patient recant?</label>
              </div> -->

              <div class="col-span-3">
                <label for="enroll_as_code" [ngClass]="{'text-red-500': show_error && f.enroll_as_code.errors}">To whom did the victim survivor disclose first?</label>
                <select name="enroll_as_code" id="enroll_as_code" formControlName="enroll_as_code" class="input" [ngClass]="{'invalid-input': show_error && f.enroll_as_code.errors}">
                  <option *ngFor="let child_relation of child_relations" [value]="child_relation.id">{{ child_relation.desc }}</option>
                </select>
              </div>

              <div class="col-span-4">
                <label for="registration_date" [ngClass]="{'text-red-500': show_error && f.registration_date.errors}">Describe circumstances surrounding the initial disclosure:</label>
                <textarea rows="4" name="registration_date" id="registration_date" formControlName="registration_date" class="input" [ngClass]="{'invalid-input': show_error && f.registration_date.errors}">
                </textarea>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-1 grid grid-cols-4 gap-x-4 w-full">
        <div class="col-span-4 border-b border-slate-200 w-full my-2 pt-3 font-semibold text-sky-500">
          Acts of abuse
        </div>
        <div class="col-span-4 grid grid-cols-1 border-slate-200 shadow-md rounded-md mx-5 mb-5">
          <div class="bg-sky-500 text-white py-1 px-3 rounded-t-md flex justify-between">
            <spa>Sexual Abuse</spa>
            <button type="button" (click)="toggleModal('abuse_acts', 'Sexual Abuse', 'gbv-sexual-abuse')" class="bg-white text-sky-500 px-2 rounded text-xs">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>
          </div>
          <div class="min-h-24">
            <span class="flex italic py-5 justify-center">
              No records to show
            </span>
          </div>
        </div>

        <div class="col-span-4 grid grid-cols-1 border-slate-200 shadow-md rounded-md mx-5 mb-5">
          <div class="bg-sky-500 text-white py-1 px-3 rounded-t-md flex justify-between">
            <spa>Physical Abuse</spa>
            <button type="button" (click)="toggleModal('abuse_acts', 'Physical Abuse', 'gbv-physical-abuse')" class="bg-white text-sky-500 px-2 rounded text-xs">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>
          </div>
          <div class="min-h-24">
            <span class="flex italic py-5 justify-center">
              No records to show
            </span>
          </div>
        </div>

        <div class="col-span-4 grid grid-cols-1 border-slate-200 shadow-md rounded-md mx-5 mb-5">
          <div class="bg-sky-500 text-white py-1 px-3 rounded-t-md flex justify-between">
            <spa>Neglect</spa>
            <button type="button" (click)="toggleModal('abuse_acts', 'Neglects', 'gbv-neglect')" class="bg-white text-sky-500 px-2 rounded text-xs">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>
          </div>
          <div class="min-h-24">
            <span class="flex italic py-5 justify-center">
              No records to show
            </span>
          </div>
        </div>

        <div class="col-span-4 grid grid-cols-1 border-slate-200 shadow-md rounded-md mx-5 mb-5">
          <div class="bg-sky-500 text-white py-1 px-3 rounded-t-md flex justify-between">
            <spa>Emotional Abuse</spa>
            <button type="button" (click)="toggleModal('abuse_acts', 'Emotional Abuse', 'gbv-emotional-abuse')" class="bg-white text-sky-500 px-2 rounded text-xs">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>
          </div>
          <div class="min-h-24">
            <span class="flex italic py-5 justify-center">
              No records to show
            </span>
          </div>
        </div>
      </div>

      <div class="-mt-1 grid grid-cols-4 gap-x-4 w-full">
        <div class="col-span-4 border-b border-slate-200 w-full my-2 pt-2 font-semibold text-sky-500">
          Behavior during the interview
        </div>
        <div class="mx-5 col-span-4 grid grid-cols-4 gap-4">
          <div class="col-span-2">
            <label for="enroll_as_code" [ngClass]="{'text-red-500': show_error && f.enroll_as_code.errors}">Behavior during the interview</label>
            <select name="enroll_as_code" id="enroll_as_code" formControlName="enroll_as_code" class="input" [ngClass]="{'invalid-input': show_error && f.enroll_as_code.errors}">
              <option *ngFor="let child_behavior of child_behaviors" [value]="child_behavior.id">{{ child_behavior.desc }}</option>
            </select>
          </div>

          <div class="col-span-2">
            <label for="continuation_start" [ngClass]="{'text-red-500': show_error && f.continuation_start.errors}">Is the caretaker present?</label>
            <input type="text" name="continuation_start" id="continuation_start" formControlName="continuation_start" class="input" [ngClass]="{'invalid-input': show_error && f.continuation_start.errors}">
          </div>

          <div class="col-span-4">
            <label for="continuation_start" [ngClass]="{'text-red-500': show_error && f.continuation_start.errors}">Decribe the behavior and interviewer/caretaker</label>
            <textarea row="3" name="continuation_start" id="continuation_start" formControlName="continuation_start" class="input" [ngClass]="{'invalid-input': show_error && f.continuation_start.errors}"></textarea>
          </div>
        </div>
      </div>



      <div class="mt-1 grid grid-cols-4 gap-x-4 w-full">
        <div class="col-span-4 border-b border-slate-200 w-full my-2 pt-3 font-semibold text-sky-500">
          Developmental Screening
        </div>

        <div class="mx-5 col-span-4 grid grid-cols-4 gap-4">
          <div class="col-span-2">
            <label for="enroll_as_code" [ngClass]="{'text-red-500': show_error && f.enroll_as_code.errors}">Further developmental assessment needed</label>
            <select name="enroll_as_code" id="enroll_as_code" formControlName="enroll_as_code" class="input" [ngClass]="{'invalid-input': show_error && f.enroll_as_code.errors}">
              <option *ngFor="let developmental_screening of developmental_screenings" [value]="developmental_screening.id">{{ developmental_screening.desc }}</option>
            </select>
          </div>

          <div class="col-span-2">
            <label for="continuation_start" [ngClass]="{'text-red-500': show_error && f.continuation_start.errors}">Decribe</label>
            <input type="text" row="3" name="continuation_start" id="continuation_start" formControlName="continuation_start" class="input" [ngClass]="{'invalid-input': show_error && f.continuation_start.errors}">
          </div>
        </div>
      </div>

      <div class="mt-1 grid grid-cols-4 gap-x-4 w-full">
        <div class="col-span-4 border-b border-slate-200 w-full my-2 pt-3 font-semibold text-sky-500">
          Perpetrator (s)
        </div>
        <div class="col-span-4 grid grid-cols-1 border-slate-200 shadow-md rounded-md mx-5 mb-5">
          <div class="bg-sky-500 text-white py-1 px-3 rounded-t-md flex justify-between">
            <spa>Alleged Perpetrator</spa>
            <button type="button" (click)="toggleModal('perpetrators')" class="bg-white text-sky-500 px-2 rounded text-xs">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>
          </div>
          <div class="min-h-24">
            <span class="flex italic py-5 justify-center">
              No records to show
            </span>
          </div>
        </div>
      </div>

      <div class="mt-1 grid grid-cols-4 gap-x-4 w-full">
        <div class="col-span-4 border-b border-slate-200 w-full my-2 pt-3 font-semibold text-sky-500">
          Interview summary and social worker notes
        </div>
        <div class="col-span-4 grid grid-cols-1 border-slate-200 shadow-md rounded-md mx-5 mb-5">
          <div class="bg-sky-500 text-white py-1 px-3 rounded-t-md flex justify-between">
            <spa>Interview Summary</spa>
            <button type="button" (click)="toggleModal('add_interview_notes')" class="bg-white text-sky-500 px-2 rounded text-xs">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>
          </div>
          <div class="min-h-24">
            <span class="flex italic py-5 justify-center">
              No records to show
            </span>
          </div>
        </div>

        <div class="col-span-4 grid grid-cols-1 border-slate-200 shadow-md rounded-md mx-5 mb-5">
          <div class="bg-sky-500 text-white py-1 px-3 rounded-t-md flex justify-between">
            <spa>Social Worker Notes</spa>
            <button type="button" (click)="toggleModal('add_interview_notes')" class="bg-white text-sky-500 px-2 rounded text-xs">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>
          </div>
          <div class="min-h-24">
            <span class="flex italic py-5 justify-center">
              No records to show
            </span>
          </div>
        </div>
      </div>

      <div class="flex justify-center mt-5" *ngIf="!selected_tb_consult || selected_tb_consult.treatment_done === 0">
        <button [disabled]="is_saving" type="submit" class="btn-save mr-5 mt-4">
          <fa-icon [icon]="is_saving ? faCircleNotch : faSave" [spin]="is_saving ? true : false" class="mr-2"></fa-icon>
          {{ interviewForm.value.id ? (is_saving ? 'Updating' : 'Update') : (is_saving ? 'Saving' : 'Save') }}
        </button>
      </div>
    </form>
  </div>
</div>

<app-inteview-notes *ngIf="modals['add_interview_notes']"
  (toggleModal)="toggleModal($event)"
></app-inteview-notes>

<app-abuse-acts *ngIf="modals['abuse_acts']"
  (toggleModal)="toggleModal($event)"
  [selected_abused]="selected_abused"
></app-abuse-acts>

<app-perpetrators *ngIf="modals['perpetrators']"
  (toggleModal)="toggleModal($event)"
></app-perpetrators>
<!-- <app-family-composition *ngIf="modals['add_family']"
  (toggleModal)="toggleModal($event)"
></app-family-composition> -->
