<div class="grid grid-cols-12 shadow-md rounded-xl mb-8 mt-8">
  <div class="col-span-12 flex justify-between w-full bg-yellow-500 px-5 py-3 rounded-tl rounded-tr">
    <h4 class="font-bold text-white text-md mt-2 mb-1">Patient have the following symptoms:</h4>
  </div>

  <div class="text-sm col-span-3 w-full px-5 mt-5 mb-4 relative">
    <h1 class="mb-1">Obesity:</h1>
    <label *ngIf="!riskAssessForm.value.bmi" class="text-red-500">N/A</label>
    <label *ngIf="riskAssessForm.value.bmi">{{ riskAssessForm.value.obesity ? 'Yes' :'No' }}</label>
  </div>

  <div class="text-sm col-span-3 w-full px-5 mt-5 mb-4 relative">
    <h1 class="mb-1">BMI:</h1>
    <label>{{ riskAssessForm.value.bmi }} </label>
  </div>

  <div class="text-sm col-span-3 w-full px-5 mt-5 mb-4 relative">
    <h1 class="mb-1">Central Adiposity:</h1>
    <label *ngIf="!riskAssessForm.value.waist_line" class="text-red-500">N/A</label>
    <label *ngIf="riskAssessForm.value.waist_line">{{ riskAssessForm.value.central_adiposity ? 'Yes (at risk)' : 'No (not at risk)' }}</label>
  </div>

  <div class="text-sm col-span-3 w-full px-5 mt-5 mb-4 relative">
    <h1 class="mb-1">Waist Circumference:</h1>
    <label *ngIf="!riskAssessForm.value.waist_line" class="text-red-500">N/A</label>
    <label *ngIf="riskAssessForm.value.waist_line">{{ riskAssessForm.value.waist_line+' cm' }}</label>
  </div>

  <div class="text-sm col-span-3 w-full px-5 mb-5 relative">
    <h1 class="mb-1">BP 1st Reading:</h1>
    <label *ngIf="!riskAssessForm.value.systolic_1st" class="text-red-500">No 1st BP reading</label>
    <label *ngIf="riskAssessForm.value.systolic_1st">{{ riskAssessForm.value.systolic_1st+'/'+riskAssessForm.value.diastolic_1st }}</label>
  </div>

  <div class="text-sm col-span-3 w-full px-5 mb-5 relative">
    <h1 class="mb-1">BP 2nd Reading:</h1>
    <label *ngIf="!riskAssessForm.value.systolic_2nd" class="text-red-500">No 2nd BP reading</label>
    <label *ngIf="riskAssessForm.value.systolic_2nd">{{ riskAssessForm.value.systolic_2nd+'/'+riskAssessForm.value.diastolic_2nd }}</label>
  </div>

  <div class="text-sm col-span-3 w-full px-5 mb-5 relative">
    <h1 class="mb-1">Average Blood Pressure:</h1>
    <label *ngIf="!riskAssessForm.value.systolic_2nd" class="text-red-500">N/A</label>
    <label *ngIf="riskAssessForm.value.avg_systolic">
      {{ riskAssessForm.value.avg_systolic+'/'+riskAssessForm.value.avg_diastolic }}
    </label>
  </div>

  <div class="text-sm col-span-3 w-full px-5 mb-5 relative">
    <h1 class="mb-1">Raised Blood Pressure (>=140/90): </h1>
    <label *ngIf="!riskAssessForm.value.avg_systolic" class="text-red-500">N/A</label>
    <label *ngIf="riskAssessForm.value.avg_systolic">{{ riskAssessForm.value.raised_bp ? 'Yes' : 'No'}}</label>
  </div>
</div>

<form [formGroup]="riskAssessForm" (ngSubmit)="onSubmit()" *ngIf="show_form">
  <div class="grid grid-cols-12  item-start flex-wrap shadow-md rounded-xl mb-8 mt-8">
    <div class="col-span-12 flex bg-blue-500 px-5 py-2 rounded-tl rounded-tr">
      <h4 class="font-bold text-white text-md mt-2 mb-1">NCD High Risk Assessment</h4>
    </div>

    <div class="text-sm col-span-4 px-5 mt-4 mb-4" >
      <h4 class="mb-1" >Location:</h4>
      <select [ngClass]="{'invalid-input': is_saving && f.location.errors }" (change)="checkDiabetes()" class="text-sm border-gray-200 border p-2.5 rounded-md w-full" formControlName="location" name="location">
        <option *ngFor="let loc of location" [ngValue]="loc.id">{{loc.desc}}</option>
      </select>
    </div>

    <div class="text-sm col-span-4 px-5 mt-4 mb-4">
      <h4 class="mb-1" >Client Type: </h4>
      <select class="text-sm border-gray-200 border p-2.5 rounded-md w-full" formControlName="client_type">
        <option *ngFor="let client of clients" [value]="client.id">{{client.desc}}</option>
      </select>
    </div>

    <div class="text-sm col-span-4 px-5 mt-4 mb-6">
      <h4 class="mb-1">Assessment Date:</h4>
      <input class="text-sm  border-gray-200 border p-2.5 rounded-md w-full disabled:bg-gray-300" formControlName="assessment_date"
              type="date" name="assessment_date" disabled>
    </div>
  </div>

  <div class="grid grid-cols-12 shadow-md rounded-xl mb-8">
    <div class="col-span-12 flex justify-between w-full bg-blue-500 px-5 py-3 rounded-tl rounded-tr">
      <h4 class="font-bold text-white text-md mt-2 mb-1">Family History:</h4>
    </div>

    <div class="text-sm col-span-4 w-full px-5 mt-4 mb-4" *ngFor="let hx of family_history">
      <h4 class="mb-1">{{ hx.desc }}:</h4>
      <select class="text-sm border-gray-200 border p-2.5 rounded-md w-full" [formControlName]="hx.id" [name]="hx.id">
        <option  [value]="logic.id" *ngFor="let logic of logical">
          {{logic.desc}}
        </option>
      </select>
    </div>
  </div>

  <div class="grid grid-cols-12 shadow-md rounded-xl mb-8">
    <div class="col-span-12 flex justify-between w-full bg-blue-500 px-5 py-3 rounded-tl rounded-tr">
      <h4 class="font-bold text-white text-md mt-2 mb-1">Personal / Socio History:</h4>
    </div>

    <div class="text-sm col-span-4 w-full px-5 mt-4 mb-4 relative">
      <h1 class="mb-1">Smoking:</h1>
      <select class="text-sm border-gray-200 border p-2.5 rounded-md w-full" formControlName="smoking" name="smoking">
        <option  [value]="smoke.id" *ngFor="let smoke of smoking">
          {{smoke.desc}}
        </option>
      </select>
    </div>

    <div class="text-sm col-span-4 w-full px-5 mt-4 mb-4 relative">
      <h1 class="mb-1">Alcohol Intake:</h1>
      <select class="text-sm -select border-gray-200 border p-2.5 rounded-md w-full" formControlName="alcohol_intake" name="alcohol_intake">
        <option  [value]="alco.id" *ngFor="let alco of alcohol">
          {{alco.desc}}
        </option>
      </select>
    </div>

    <div class="text-sm col-span-4 w-full px-5 mt-4 mb-4 relative">
      <h1 class="mb-1">Excessive Alcohol Intake:</h1>
      <select class="text-sm border-gray-200 border p-2.5 rounded-md w-full" formControlName="excessive_alcohol_intake" name="excessive_alcohol_intake">
        <option  [value]="logic2.id" *ngFor="let logic2 of logical2" >
          {{logic2.desc}}
        </option>
      </select>
    </div>

    <div class="text-sm col-span-4 w-full px-5 mt-4 mb-4 relative">
      <h1 class="mb-1">High Fat / High Salt Intake:</h1>
      <select class="text-sm border-gray-200 border p-2.5 rounded-md w-full" formControlName="high_fat" name="high_fat">
        <option  [value]="logic2.id" *ngFor="let logic2 of logical2" >
          {{logic2.desc}}
        </option>
      </select>
    </div>

    <div class="text-sm col-span-4 w-full px-5 mt-4 mb-4 relative">
      <h1 class="mb-1">Dietary Fiber Intake of Fruits:</h1>
      <select class="text-sm border-gray-200 border p-2.5 rounded-md w-full" formControlName="intake_fruits" name="intake_fruits">
        <option  [value]="logic2.id" *ngFor="let logic2 of logical2" >
          {{logic2.desc}}
        </option>
      </select>
    </div>

    <div class="text-sm col-span-4 w-full px-5 mt-4 mb-4 relative">
      <h1 class="mb-1">Physical Activity:</h1>
      <select class="text-sm border-gray-200 border p-2.5 rounded-md w-full" formControlName="physical_activity" name="physical_activity">
        <option  [value]="logic2.id" *ngFor="let logic2 of logical2" >
          {{logic2.desc}}
        </option>
      </select>
    </div>

    <div class="text-sm col-span-4 w-full px-5 mt-4 mb-6 relative">
      <h1 class="mb-1">Dietary Fiber Intake of Vegetables:</h1>
      <select class="text-sm border-gray-200 border p-2.5 rounded-md w-full" formControlName="intake_vegetables" name="intake_vegetables">
        <option  [value]="logic2.id" *ngFor="let logic2 of logical2" >
          {{logic2.desc}}
        </option>
      </select>
    </div>
  </div>

  <div class="grid grid-cols-12 shadow-md rounded-xl mb-8">
    <div class="col-span-12 flex justify-between w-full bg-blue-500 px-5 py-3 rounded-tl rounded-tr">
      <h4 class="font-bold text-white text-md mt-2 mb-1">Presence or Absence of Diabetes:</h4>
    </div>

    <div class="text-sm col-span-6 w-full px-5 mt-4 mb-6 relative">
      <h1 class="mb-1">Diagnose with Diabetes</h1>
      <select class="text-sm border-gray-200 border p-2.5 rounded-md w-full" (change)="checkDiabetes()" formControlName="presence_diabetes" name="presence_diabetes">
        <option  [value]="logic.id" *ngFor="let logic of logical">
          {{logic.desc}}
        </option>
      </select>
    </div>

    <div class="text-sm col-span-6 w-full px-5 mt-4 mb-6 relative">
      <h1 class="mb-1">Undertaking medications:</h1>
      <select class="text-sm border-gray-200 border p-2.5 rounded-md w-full" formControlName="diabetes_medications" name="diabetes_medications">
        <option  [value]="logic.id" *ngFor="let logic of logical">
          {{logic.desc}}
        </option>
      </select>
    </div>

    <div class="text-sm col-span-4 w-full px-5 mt-4 mb-6 relative">
      <h1 class="mb-1">Polyphagia</h1>
      <select class="text-sm border-gray-200 border p-2.5 rounded-md w-full" formControlName="polyphagia" name="polyphagia">
        <option  [value]="logic.id" *ngFor="let logic of logical">
          {{logic.desc}}
        </option>
      </select>
    </div>

    <div class="text-sm col-span-4 w-full px-5 mt-4 mb-6 relative">
      <h1 class="mb-1">Polydipsia</h1>
      <select class="text-sm border-gray-200 border p-2.5 rounded-md w-full" formControlName="polydipsia" name="polydipsia">
        <option  [value]="logic.id" *ngFor="let logic of logical">
          {{logic.desc}}
        </option>
      </select>
    </div>

    <div class="text-sm col-span-4 w-full px-5 mt-4 mb-6 relative">
      <h1 class="mb-1">Polyuria</h1>
      <select class="text-sm border-gray-200 border p-2.5 rounded-md w-full" formControlName="polyuria" name="polyuria">
        <option  [value]="logic.id" *ngFor="let logic of logical">
          {{logic.desc}}
        </option>
      </select>
    </div>
  </div>

  <div class="flex justify-end"> <!-- [disabled]="riskAssessForm.invalid" -->
    <button  type="submit" class="btn-save px-10 disabled:bg-gray-300" name="add-btn" [disabled]="riskAssessForm.invalid">
      <fa-icon [icon]="faSave" *ngIf="!is_saving"></fa-icon>
      <fa-icon [icon]="faSpinner" *ngIf="is_saving" animation="spin"></fa-icon>
      {{ is_saving ? 'Saving' : 'Save'}}
    </button>
  </div>
</form>
