<div id="defaultModal" tabindex="-1" class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 w-full md:inset-0 h-modal md:h-full justify-center items-center flex" aria-modal="true" role="dialog" style="z-index:60">
  <div class="relative p-4 w-full max-w-3xl h-auto md:h-auto">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex justify-between items-start py-3 px-5 rounded-t border-b bg-blue-500 dark:border-gray-600">
        <h3 class="mt-2 text-sm font-bold text-white dark:text-white">
            Menstrual History
        </h3>
      </div>
      <!-- Modal body -->
      <div class="overflow-y-auto h-96 scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-100">
        <form [formGroup]="menstrualForm" class="w-full max-w-3xl text-left text-gray-500 dark:text-gray-400">
          <div class="flex item-start flex-wrap pb-5">
            <div class="flex px-5 w-full">
              <div class="relative text-sm w-1/2 px-5 py-2 mt-2">
                <label for="smoking">Menarche</label>
                <input name="menarche" id="menarche" formControlName="menarche" type="number" class="input disabled:bg-gray-300">
              </div>

              <div class="relative text-sm w-1/2 px-5 py-2 mt-2">
                <label for="lmp">Last menstrual period</label>
                <input name="lmp" id="lmp" formControlName="lmp" type="date" placeholder="mm/dd/yyyy" [max]="max_date" class="input disabled:bg-gray-300">
              </div>
            </div>

            <div class="flex px-5 w-full">
              <div class="relative text-sm w-1/2 px-5 py-2 mt-2">
                <label for="period_duration">Period duration</label>
                <input name="period_duration" id="period_duration" formControlName="period_duration" type="number" class="input disabled:bg-gray-300">
              </div>

              <div class="relative text-sm w-1/2 px-5 py-2 mt-2">
                <label for="cycle">Cycle</label>
                <input name="cycle" id="cycle" formControlName="cycle" type="number" class="input disabled:bg-gray-300">
              </div>
            </div>

            <div class="flex px-5 w-full">
              <div class="relative text-sm w-1/2 px-5 py-2 mt-2">
                <label for="pads_per_day">Pads per day</label>
                <input name="pads_per_day" id="pads_per_day" formControlName="pads_per_day" type="number" class="input disabled:bg-gray-300">
              </div>

              <div class="relative text-sm w-1/2 px-5 py-2 mt-2">
                <label for="onset_sexual_intercourse">Onset sexual intercourse</label>
                <input name="onset_sexual_intercourse" id="onset_sexual_intercourse" formControlName="onset_sexual_intercourse" type="number" class="input disabled:bg-gray-300">
              </div>
            </div>

            <div class="flex px-5 w-full">
              <div class="relative text-sm w-1/2 px-5 py-2 mt-2">
                <label for="method">Family planning method</label>
                <select name="method" id="method" formControlName="method" class="input disabled:bg-gray-300">
                  <option *ngFor="let fp of fp_method" [value]="fp.id">{{ fp.method_desc }}</option>
                </select>
              </div>
            </div>

            <div class="flex px-5 w-full">
              <div class="relative text-sm w-1/2 px-5 py-2 mt-2">
                <label for="menopause">Menopause</label>
                <select name="menopause" id="menopause" formControlName="menopause" class="input disabled:bg-gray-300">
                  <option [ngValue]="true">Yes</option>
                  <option [ngValue]="false">No</option>
                </select>
              </div>

              <div *ngIf="menstrualForm.value.menopause === true" class="relative text-sm w-1/2 px-5 py-2 mt-2">
                <label for="menopause_age">Menopause age</label>
                <input name="menopause_age" id="menopause_age" formControlName="menopause_age" type="number" class="input disabled:bg-gray-300">
              </div>
            </div>
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="flex justify-end py-4 px-5 space-x-4 rounded-b border-t border-gray-200 dark:border-gray-600">
        <button type="button" class="btn-save bg-gray-400" (click)="closeModal()">Close</button>
        <button [disabled]="is_saving || menstrualForm.invalid" type="submit" class="btn-save px-10 disabled:bg-gray-300" (click)="onSubmit()" >
          {{ is_saving ? 'Saving' : 'Save' }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="opacity-50 fixed inset-0 z-50 bg-black"></div>
<!--   -->
