<div class="px-4 py-2 mb-10 rounded-xl text-gray-600 h-100 border border-slate-100">
  <div class="md:flex md:justify-between md:items-center pb-2 border-b-2">
    <span class="font-semibold pt-2" [ngClass]="{'text-blue-500':todays_appointment?.length === 0}">Todays Appointment {{ todays_appointment?.length >= 1 ? '('+total+')' : '' }}</span>
  </div>

  <div class="pt-3" *ngIf="show_form">
    <div class="flex justify-between items-center mb-3  pb-3 border-b border-gray-200" *ngFor="let patient of todays_appointment | keyvalue">
      <div class="flex cursor-pointer w-3/5 hover:opacity-75">
        <div class="flex justify-center text-blue-500 md:block leading-tight mx-2 my-1 w-full p-1 rounded-md">
          <span class="w-full block font-medium my-0 py-0 text-sm">
            {{ patient.key }}
          </span>
        </div>
      </div>

      <div class="grid grid-cols-12 text-left w-2/5">
        <div *ngFor="let apt of patient.value | keyvalue" class="col-span-12 text-gray-700 hover:bg-green-500 hover:text-white hover:cursor-pointer p-3 rounded-md text-[.85em]" (click)="openItr(apt.value[0].patient_id, 'itr')">
          {{ apt.key }}
        </div>
      </div>
    </div>
  </div>

  <div class="pt-3" *ngIf="todays_appointment?.length === 0">
    <div class="text-center items-center mb-3 italic" >
      No record to show
    </div>
  </div>

  <!-- <div *ngIf="todays_appointment?.length >= 1">
    <div class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6">
      <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
        <div>
          <p class="text-sm text-gray-700">
            Showing <span class="font-medium">{{ from }}</span>
            to <span class="font-medium">{{ to }}</span>
            of <span class="font-medium">{{ total }}</span> results
          </p>
        </div>
        <div *ngIf="total >= 6">
          <nav class="relative z-0 inline-flex shadow-sm -space-x-px" aria-label="Pagination">
            <button [disabled]="current_page===1" (click)="getTodaysConsult(1)" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 enabled:bg-white disabled:bg-gray-300 text-sm font-medium text-gray-500 hover:bg-gray-50">
              <fa-icon [icon]="faAnglesLeft" class="block h-15 w-15 text-gray-500 pr-1"></fa-icon>
            </button>

              <button [disabled]="current_page===1" (click)="getTodaysConsult(current_page-1)" class="relative inline-flex items-center px-4 py-2 border border-gray-300 enabled:bg-white disabled:bg-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50">
                <fa-icon [icon]="faChevronLeft" class="block h-15 w-15 text-gray-500 pr-1"></fa-icon>Previous
              </button>
              <button [disabled]="current_page===last_page" (click)="getTodaysConsult(current_page+1)" class="relative inline-flex items-center px-4 py-2 border border-gray-300 enabled:bg-white disabled:bg-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50">
                Next<fa-icon [icon]="faChevronRight" class="h-5 w-5 text-gray-500"></fa-icon>
              </button>

            <button [disabled]="current_page===last_page" (click)="getTodaysConsult(last_page)" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 enabled:bg-white disabled:bg-gray-300 text-sm font-medium text-gray-500 hover:bg-gray-50">
              <fa-icon [icon]="faAnglesRight" class="h-5 w-5 text-gray-500"></fa-icon>
            </button>
          </nav>
        </div>
      </div>
    </div>
  </div> -->
</div>
